// RESPONSIVE
// -----------------------------------------------------------------------------
// At the moment, design has hard breakpoints for the various form factors, and
// a vastly different design for mobile.  This makes the mobile-first approach
// difficult to implement as the majority of design choices are desktop-first,
// with mobile exceptions.

$xui-breakpoint-narrow: 520px;
$xui-breakpoint-medium: 940px;
$xui-breakpoint-wide: 1160px;

// Content will be applied for narrow screen widths
@mixin xui-breakpoint-narrow {
	@media screen and (max-width: $xui-breakpoint-narrow) {
		@content;
	}
}

// Content will be applied for medium to wide screen widths
@mixin xui-breakpoint-medium {
	@media screen and (min-width: $xui-breakpoint-narrow) and (max-width: $xui-breakpoint-medium) {
		@content;
	}
}

// Content will be applied for medium and above screen widths
@mixin xui-breakpoint-medium-and-wide {
	@media screen and (min-width: $xui-breakpoint-narrow) {
		@content;
	}
}

// Content will be applied for medium and below screen widths
@mixin xui-breakpoint-medium-and-narrow {
	@media screen and (max-width: $xui-breakpoint-medium) {
		@content;
	}
}

// Content will be applied for medium and above screen widths
@mixin xui-breakpoint-wide {
	@media screen and (min-width: $xui-breakpoint-medium){
		@content;
	}
}

// Content will be applied for huge and above screen widths
@mixin xui-breakpoint-huge {
	@media screen and (min-width: $xui-breakpoint-wide){
		@content;
	}
}
