@import "mixins.layout.breakpoints";
@import "mixins.layout.marginpadding";
@import "mixins.layout.grids";
@import "mixins.layout.utilities";
@import "../vars";

/**
 * A collection of mixins for the Xero design.
 */

// Center components horizontally while allowing them to set
// their own vertical margins
@mixin xui-margin-auto-horizontal {
	margin-left: auto;
	margin-right: auto;
}

@mixin xui-container {
	@include xui-font-smooth;
	box-sizing: border-box;
	color: $xui-color-primary-text;
	font-family: $xui-font-family;
	font-size: $xui-font-size-text;
	line-height: $xui-line-height;
}
