// RESPONSIVE
// -----------------------------------------------------------------------------
// At the moment, design has hard breakpoints for the various form factors, and
// a vastly different design for mobile.  This makes the mobile-first approach
// difficult to implement as the majority of design choices are desktop-first,
// with mobile exceptions.

$xui-breakpoint-narrow: 520px;
$xui-breakpoint-medium: 940px;
$xui-breakpoint-wide: 1160px;

@mixin xui-breakpoint-narrow {
	@media screen and (max-width: $xui-breakpoint-narrow) {
		@content;
	}
}

// This is an effective alias to what I think the medium-and-wide should be but isn't currently.
@mixin xui-breakpoint-narrow-up {
	@media screen and (min-width: $xui-breakpoint-narrow) {
		@content;
	}
}

@mixin xui-breakpoint-medium {
	@media screen and (min-width: $xui-breakpoint-narrow) and (max-width: $xui-breakpoint-medium) {
		@content;
	}
}

@mixin xui-breakpoint-medium-and-wide {
	@media screen and (min-width: $xui-breakpoint-medium) {
		@content;
	}
}

@mixin xui-breakpoint-medium-and-narrow {
	@media screen and (max-width: $xui-breakpoint-medium) {
		@content;
	}
}

@mixin xui-breakpoint-wide {
	@media screen and (min-width: $xui-breakpoint-medium){
		@content;
	}
}
