// Other Mixin utilities

@mixin xui-font-smooth {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

@mixin xui-listreset {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@mixin xui-disabled-form {
	background-color: $xui-color-grey-alpha-6;
	border-color: $xui-color-grey-alpha-4;
	color: $xui-color-grey-alpha-2;
	-webkit-text-fill-color: $xui-color-grey-alpha-2;
}
