@mixin xui-clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

@mixin xui-position-offscreen {
	// position: fixed is more robust than position: absolute. See #1343.
	position: fixed;
	left: -9999em;
}
