@import "../vars";

@mixin xui-clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

@mixin xui-position-offscreen {
	display: inline;
	height: 1px;
	left: 0 !important;
	margin: 0 -1px 0 0;
	opacity: 0.01;
	padding: 0;
	position: relative !important;
	width: 1px;
	z-index: -1;
}

@mixin xui-position-offscreen-input {
	@include xui-position-offscreen;

	height: $xui-icon-standard;
	margin: 0 -4px 0 0; // Undo the width below so the element does not take up extra space
	width: 4px; // Min width of radios/checkboxes on Firefox, which sets 2px borders that cannot be undone
}
