@mixin xui-clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

@mixin xui-position-offscreen {
	// If you use this, ensure parent has position: relative.
	// At one point we use position: fixed here but that affected browsers'
	// auto-scrolling behaviour on focus.
	position: absolute;
	left: -9999em;
}
