@mixin xui-tab-variation($color, $bg-color, $hover-color, $hover-bg-color) {
	&::after {
		background-color: $bg-color;
	}

	.#{$ns}-tab--body {
		color: $color;

		&:hover {
			color: $hover-color;
		}
	}
}
