/**
 * A collection of general-purpose utility rules.
 */

@import "mixins";

.#{$ns}-u-hidden {
	display: none;
}

.#{$ns}-u-hidden-mobile {
	@include mobile {
		display: none;
	}
}

.#{$ns}-u-flex {
	display: flex;
}

.#{$ns}-u-flex-col {
	flex-direction: row;

	& + & {
		margin-left: 16px;
	}
}

.#{$ns}-u-flex-grow {
	flex: 1;
}
