/**
 * A collection of general-purpose utility rules.
 */

@import "mixins";

// Utility classes
//
// Styleguide: Utilities

// Display
//
// Classes that can be added to any element to hide it from view.
//
// Markup:
// <section class="xui-u-container">
// 	<h1 class="xui-sectionheading xui-text-sectionheading">Today</h1>
//
// </section>
//
// Styleguide: Utilities.1

.#{$ns}-u-hidden {
	display: none;
}

.#{$ns}-u-hidden-mobile {
	@include mobile {
		display: none;
	}
}

.#{$ns}-u-flex {
	display: flex;
}

.#{$ns}-u-flex-col {
	flex-direction: row;

	& + & {
		margin-left: 16px;
	}
}

.#{$ns}-u-flex-grow {
	flex: 1;
}

.#{$ns}-container {
	margin: 0 auto;
	width: calc(100% - 20px);
}

.#{$ns}-container-large {
	max-width: 1160px;
	width: 100%;
}

.#{$ns}-container-small {
	max-width: 940px;
	width: 100%;
}

@include tablet {
	.#{$ns}-container-small {
		padding: 0 10px;
	}
}

@include desktop {
	.#{$ns}-container-large {
		padding: 0 10px;
	}
}
