@import "../vars";
@import "../mixins";

/*
Composition category
Setup for the grid
Used along side a composition variant (no-header, with-header)
*/
.#{$ns}-composition {
	display: grid;
}

.#{$ns}-composition-is-finite {
	max-width: $xui-breakpoint-xlarge;
	@include xui-breakpoint-xlarge-up {
		margin-left: auto;
		margin-right: auto;
	}
}
