@import "../vars";
@import "../mixins";

@include xui-breakpoint-medium-up {
	.#{$ns}-gridarea-nav {
		grid-area: nav;
	}
}

@include xui-breakpoint-small-down {
	.#{$ns}-gridarea-nav {
		height: 100%;
		left: 0;
		position: fixed;
		width: 100%;
		z-index: 9999;
	}
}

@include xui-breakpoint-medium-up {
	.#{$ns}-gridarea-nav-mobile {
		background-color: $xui-panel-bg-color;
		border-radius: $xui-radius;
		box-shadow: $xui-shadow-border-all;
	}
}

@keyframes #{$ns}-gridarea-nav-mobile-show {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes #{$ns}-gridarea-nav-mobile-hide {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
}


@include xui-breakpoint-small-down {

	.#{$ns}-gridarea-nav-mobile--mask {
		/*
		Top and bottom are supposed to be -60px;  If they're not, unmasked content may become visible
		while the address bar slides out of view on Android Chrome, Android Opera, and iOS Safari.
		*/
		background-color: $xui-dropdown-mask-bg-color;
		bottom: -60px;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: -60px;
		transition: opacity $xui-motion-speed-fast $xui-motion-curve-standard;
		width: 100%;
	}

	.#{$ns}-gridarea-nav-mobile--body {
		background-color: $xui-panel-bg-color;
		border: 0;
		border-radius: 0;
		bottom: 0;
		box-shadow: none;
		display: flex;
		flex-direction: column;
		flex-grow: 0;
		left: 0;
		max-height: 100%;
		max-width: 100%;
		overflow: hidden;
		position: absolute;
		transform: translateY(100%);
		transform-origin: top;
		width: 100vw;
	}

	.#{$ns}-gridarea-nav-mobile-is-open {
		display: flex;

		.#{$ns}-gridarea-nav-mobile--mask {
			flex-grow: 1;
			opacity: 1;
		}

		.#{$ns}-gridarea-nav-mobile--body {
			flex-grow: 0;
			transform: translateY(0);
		}
	}

}
