@import '../../../../sass/vars';
@import '../../../../sass/mixins';

.dropdown-static-wrapper {
  position: relative;
  z-index: 0;
  //fix so inline dropdowns are visible.
  .xui-dropdown--body {
    bottom: 0;
    position: relative;
    width: 100%;
  }

  //override for inline dropdown
  .xui-dropdown--mask {
    display: none;
  }
}

.dropdown-zindex-override {
  z-index: 100;
}

.xui-nesteddropdown-medium {
  width: 300px;
}

.xui-nesteddropdown-large {
  width: 380px;
}

//Override for header border 10.22.4
.xui-dropdown-layout .xui-dropdown--header {
  .xui-dropdown--header-container {
    border-bottom: none;
    //Currently a hex value
    box-shadow: 0 1px 0 0 $xui-color-grey-alpha-6;
  }
}

.xui-dropdown-layout .xui-dropdown--footer {
  border-top: none;
  //Currently too light, makes this darker and matches the header.
  box-shadow: 0 -1px 0 0 $xui-color-grey-alpha-6;
  //Any padding should be in a layout class, if we even want to dictate that.
  padding: none;
}
