@import '../../../../sass/vars';
@import '../../../../sass/mixins';

//Override for header border 10.22.4
.xui-dropdown-layout .xui-dropdown--header {
	.xui-dropdown--header-container {
		border-bottom: none;
		//Currently a hex value
		box-shadow: 0 1px 0 0 $xui-color-shadow-medium;
	}
}

.xui-dropdown-layout .xui-dropdown--footer {
	border-top: none;
	//Currently too light, makes this darker and matches the header.
	box-shadow: 0 -1px 0 0 $xui-color-shadow-medium;
}
