/**
 * Due to the current state of our CSS, we often clash with other parts.  This
 * file contains all the styles needed to resolve these clashes.
 */

@import "settings/colours";

// Xero Header
// -----------------------------------------------------------------------------

// scss-lint:disable IdSelector
#xero-nav {
	box-sizing: content-box;

	input,
	textarea {
		color: $xui-color-primary-text;
	}

	// scss-lint:disable QualifyingElement, SelectorDepth
	.xn-h-task-list-search input {
		padding: 0 0 0 10px;
	}

	.myxero-link {
		box-sizing: content-box;
	}
}

// scss-lint:disable QualifyingElement
input.xn-h-textbox {
	max-width: none;
	padding: 0 0 0 10px;
}

// Header modals assume a different line height, and have built components
// around that value.
.xn-h-modal-dialog {
	box-sizing: content-box;
	line-height: 16px;
}
