{
	"env": {
		"development": {
			"presets": [["@xero/babel-preset-xero", {
				"wrapPropTypes": true
			}]]
		},
		"production": {
			"presets": [["@xero/babel-preset-xero", {
				"wrapPropTypes": true
			}]]
		},
		"test": {
			"presets": [["@xero/babel-preset-xero", {
				"wrapPropTypes": true
			}]],
			"plugins": [
				[
					"babel-plugin-transform-require-ignore",
					{
						"extensions": [".scss"]
					}
				]
			]
		}
	}
}
