
# Library and framework files/directories
/bower_components
/.bundle
/node_modules
/vendor/bundle/
/styleguide/styleguide.md
npm-debug.log

# Build/Output files/directories
/*.html
/dist
/public
/styleguide/images
/styleguide/kss-style.css
/styleguide/kss-style.css.map

# IDE files/directores
/.idea
*.iml

#OSX
.DS_Store
