
# Library and framework files/directories
/bower_components
/.bundle
/node_modules
/vendor/bundle/
npm-debug.log

# gh-pages branch stuff
/docs
/origin

# Build/Output files/directories
/dist
/kss/styleguide/styleguide.md
/react
/sass
/umd/assets
src/react/umd.js

# IDE files/directores
/.idea
*.iml

#OSX
.DS_Store

# Generated Colours Page
src/sass/tmp
