# Prettier is configured to use .gitignore instead of .prettierignore. If you want Prettier to
# ignore a specific path or file, please add it to the ignorePatterns array in
# scripts/lint/prettier.js.