.github/*
.kss/*
.storybook/*
.styleguidist/*
.umd/*
.visual-testing/*
.vscode/*
coverage/*
node_modules/*
src/*
dist/*
.tmp/*
.eslintrc.js
jest.config.js
jest.setup.js
stylelint.config.js
webpack.umd.config.js
changes.md
