#kss-node {
	background: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 24px;
}

#kss-node .kss-sidebar {
	background: #fff;
	background-image: linear-gradient(to right, #fff, #fff 100%);
	max-height: 100vh;
	overflow: auto;
	position: fixed;
	top: 0;
	padding: 0;
	border-right: 1px solid rgba( 208, 218, 226, 0.5);
	width: 20%;
	z-index: 1000;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#kss-node .kss-sidebar {
		height: 48px;
	}

	#kss-node .kss-main {
		margin-top: 48px;
	}
}

#kss-node .kss-sidebar:hover {
	height: auto;
}

#kss-node .kss-header,
#kss-node .kss-nav{
	margin-top: 0;
}

#kss-node .kss-sidebar h1,
#kss-node .kss-sidebar a {
	color: #32465a;
	padding: 8px 15px;
}

#kss-node .kss-sidebar h1 {
	background: #2baaed;
	color: #fff;
	font-size: 16px;
}

#kss-node .kss-sidebar h1:before{
	content: '';
	display: inline-block;
	width: 28px;
	height: 32px; /* hack to get text vertically centered */
	background: url(xero_white.svg) top left no-repeat;
	vertical-align: middle;
	margin-right: 8px;
}

#kss-node .kss-sidebar .kss-nav__menu-item {
	font-size: 16px;
	font-weight: 100;
	line-height: 1.5;
}

#kss-node .kss-sidebar .kss-nav__menu-item a {
	width: 100%;
	display: inline-block;
	text-decoration: none;
}

#kss-node .kss-sidebar .kss-nav__menu-item a:hover {
	background: #f6f9fc;
}

#kss-node .kss-nav__menu-child li:first-child,
#kss-node .kss-nav__menu-child li:last-child{
	border: 0;
	margin: 0;
	padding: 0;
}

#kss-node .kss-nav__menu-child li:last-child{
	margin-bottom: 10px
}

#kss-node .kss-nav__menu-child li a{
	padding-left: 40px;
}


#kss-node .kss-sidebar .kss-nav__ref {
	display: none;
}

#kss-node .kss-markup {
	font-size: 12px;
}

.kss-main {
	background-color: #fff;
}
