// Import XUI variables
@import "../src/sass/vars";


// ------------------------------------------------------------------------------
//   $group Variables - Colors, Fonts, etc.
// ------------------------------------------------------------------------------
$kss-background:  $color-white;

$kss-sidebar-width: 200px;
$kss-sidebar-background-color: $color-white;

$kss-content-padding: 50px;





// ------------------------------------------------------------------------------
// Layout and page background
// ------------------------------------------------------------------------------

#kss-node {
  background: $kss-background;
  margin: 0;
  padding: 0;

  .kss-main,
  .kss-sidebar {
    float: left;
    box-sizing: border-box;
  }


  .kss-main {
      width: calc(100% - #{$kss-sidebar-width});
      // width: 80%;
      margin-left: $kss-sidebar-width;
  }

}

// ------------------------------------------------------------------------------
// Sidebar-area components
// ------------------------------------------------------------------------------

#kss-node .kss-sidebar{

  background: $kss-sidebar-background-color;
  max-height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  padding: 0;
  border-right: 1px solid $color-borders;

  width: $kss-sidebar-width;
  border-bottom: 0;

  height: 100%;

  .kss-doc-title{
    margin: 0;
    padding: 7px 0 3px 50px;
    background: url(xero.svg) 15px center no-repeat;
    font-weight: normal;
  }

  a{
    color: $color-grey-1;

    // override xui to tighten the spacing up a bit
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .menu-item-selected{

    ul{
      display: none;
    }

    .menu-header{
      border-left: 4px solid $color-xero-blue;
      padding-left: 11px;
    }

    // &:hover{
    //   background-color: $kss-sidebar-background-color;
    // }

    // .menu-header{
    //   border-left: 4px solid $color-xero-blue;
    //   font-weight: bold;
    //   padding-left: 11px;
    // }

    // // override xui styles to get nested menu
    // .xui-menugroup{
    //   flex-direction: column;
    //   align-items: initial;
    //   padding: 0;

    //   a{padding-left: 30px;}
    // }
  }

}



// ------------------------------------------------------------------------------
// Content-area components
// ------------------------------------------------------------------------------

#kss-node {

  .kss-section{
    padding: $kss-content-padding;
    border-top: 1px solid $color-borders;

    // dont show top border on title, or on next section
    &:nth-child(-n+2){
      border-top: 0;
    }
  }

  // Title of component
  .kss-section--title{
    background: $color-grey-1;
    color: $color-white;
    position: relative;
    padding-bottom: 0;

    h1{
      margin: 0;
      padding: 20px 0;
      font-weight: normal;
      font-size: 22px;
    }

    .xui-menugroup--item a{
      color: $color-white;
      &:hover{
        color: $color-grey-1;
        background: $color-white;
      }
    }
  }


  .kss-modifier__default-name {
    font-weight: bold;
    // margin-bottom: ($kss-vertical-rhythm / 2);
  }
  .kss-modifier__name {
    float: left;
    padding-right: 10px;
    font-weight: bold;
  }

  .kss-description{
    max-width: 600px;
  }

}


// ------------------------------------------------------------------------------
//   $group prettyprint.js styling
// ------------------------------------------------------------------------------

#kss-node {

  .kss-markup{
    margin-top: 20px;
  }

  pre{
    overflow: scroll;
  }
  /* Pretty printing styles. Used with prettify.js. */

  /* SPAN elements with the classes below are added by prettyprint. */
  .pln { color: #000 }  /* plain text */

  .str { color: #080 }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #800 }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */

  /* Use higher contrast and text-weight for printable form. */
  // @media print, projection {
  //   .str { color: #060 }
  //   .kwd { color: #006; font-weight: bold }
  //   .com { color: #600; font-style: italic }
  //   .typ { color: #404; font-weight: bold }
  //   .lit { color: #044 }
  //   .pun, .opn, .clo { color: #440 }
  //   .tag { color: #006; font-weight: bold }
  //   .atn { color: #404 }
  //   .atv { color: #060 }
  // }


  .prettyprint {
    background: $color-grey-6;
  }

  .linenums {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      // border-bottom: 1px solid #eee;
      padding: 0 10px;

      // &:nth-child(2) {
      //   background-color: #fcfcfc;
      // }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}




// ------------------------------------------------------------------------------
// XUI stuff – Does this need to be in this file?
// ------------------------------------------------------------------------------

#kss-node {

  .kss-main .xui-toast {
  	display: inline-block;
  	position: relative;
  }

  //   Demo styles for the XUI grid documentation
  .xui-grid {
    margin: 20px 0;
  }

  .xui-grid > .xui-grid--cell, div[class*='xui-layout'] {
    background-color: rgba(4, 138, 187, 0.3);
    border: 1px solid rgba(4, 138, 187, 0.3);
  }

}
