/**
 * Our customizations to the KSS style sheet.
 */

@import "../src/sass/xui";


$kss-sidebar-width: 13rem;

@mixin sidebar-hide-breakpoint {
	@media screen and (min-width: 37.5rem) {
		@content;
	}
}

// -----------------------------------------------------------------------------
// Layout and page background
// -----------------------------------------------------------------------------

.kss-node {
	background: $color-white;
	box-sizing: border-box;

	@include sidebar-hide-breakpoint {
		display: flex;
	}
}

.kss-node-is-showing-sidebar {
	overflow: hidden;
}


// -----------------------------------------------------------------------------
// Sidebar-area components
// -----------------------------------------------------------------------------

.kss-sidebar {
	background: $color-white;
	border-right: $border-standard;
	height: 100vh;
	left: calc(-13rem - 1px);
	min-width: $kss-sidebar-width;
	overflow: auto;
	position: fixed;
	top: 0;
	transition: left 0.2s;
	z-index: 10;

	@include sidebar-hide-breakpoint {
		left: 0;
		position: fixed;
	}

	a {
		color: $color-grey-1;

		// override xui to tighten the spacing up a bit
		padding-top: 6px;
		padding-bottom: 6px;
	}

	.menu-item-selected {
		ul {
			display: none;
		}

		.menu-header {
			border-left: 4px solid $color-xero-blue;
			padding-left: 11px;
		}
	}
}

.kss-sidebar-is-showing {
	left: 0;
}

.kss-doc-title {
	background: url(xero.svg) 0.85em center no-repeat;
	font-weight: normal;
	margin: 0;
	padding: 0.5em 0 0.5em 3em;
}


// -----------------------------------------------------------------------------
// Content-area
// -----------------------------------------------------------------------------

.kss-main {
	left: 0;
	padding-top: 3.75rem;
	position: relative;
	transition: left 0.2s;
	width: 100vw;

	@include sidebar-hide-breakpoint {
		left: $kss-sidebar-width;
		width: calc(100% - 13rem);
	}
}

.kss-main-is-showing-sidebar {
	left: $kss-sidebar-width;
}

.kss-hamburger {
	background: url('hamburger.png') center center / 2rem auto no-repeat $color-grey-2;
	width: 3.5rem;

	&:hover {
		background-color: $color-grey-3;
	}

	@include sidebar-hide-breakpoint {
		display: none;
	}
}

.kss-overview {
	margin: 2em 1em;
}

.kss-section:empty {
	display: none;
}

.kss-section {
	border-top: $border-standard;

	// dont show top border on title, or on next section
	&:nth-child(-n+2) {
		border-top: 0;
	}

	+ .kss-section {
		margin-top: 2em;
	}

	.content {
		margin: 1em;
	}
}

.kss-section--title {
	background: $color-grey-1;
	color: $color-white;

	h1 {
		font-weight: normal;
		margin: 0;
		padding: 1em;
	}

	.xui-menugroup--item a {
		color: $color-white;

		&:hover {
			color: $color-grey-1;
			background: $color-white;
		}
	}
}

.kss-section--header {
	background-color: $color-grey-1;
	display: flex;
	left: 0;
	position: fixed;
	top: 0;
	transition: left 0.2s;
	width: 100%;
	z-index: 10;

	@include sidebar-hide-breakpoint {
		left: $kss-sidebar-width;
		width: calc(100% - 13rem);
	}
}

.kss-section--header-is-showing-sidebar {
	left: $kss-sidebar-width;
}


.kss-modifier__default-name {
	font-weight: bold;
	// margin-bottom: ($kss-vertical-rhythm / 2);
}
.kss-modifier__name {
	float: left;
	padding-right: 10px;
	font-weight: bold;
}

.kss-description{
	max-width: 600px;
}


// ------------------------------------------------------------------------------
//   $group prettyprint.js styling
// ------------------------------------------------------------------------------

.kss-markup {
	border: $border-standard;
	border-radius: $radius;
	margin-top: 20px;
}

pre{
	overflow: scroll;
}
/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

.str { color: #080 }  /* string content */
.kwd { color: #008 }  /* a keyword */
.com { color: #800 }  /* a comment */
.typ { color: #606 }  /* a type name */
.lit { color: #066 }  /* a literal value */
/* punctuation, lisp open bracket, lisp close bracket */
.pun, .opn, .clo { color: #660 }
.tag { color: #008 }  /* a markup tag name */
.atn { color: #606 }  /* a markup attribute name */
.atv { color: #080 }  /* a markup attribute value */
.dec, .var { color: #606 }  /* a declaration; a variable name */
.fun { color: red }  /* a function name */

/* Use higher contrast and text-weight for printable form. */
// @media print, projection {
//   .str { color: #060 }
//   .kwd { color: #006; font-weight: bold }
//   .com { color: #600; font-style: italic }
//   .typ { color: #404; font-weight: bold }
//   .lit { color: #044 }
//   .pun, .opn, .clo { color: #440 }
//   .tag { color: #006; font-weight: bold }
//   .atn { color: #404 }
//   .atv { color: #060 }
// }


.prettyprint {
	background: $color-grey-6;
}

.linenums {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		// border-bottom: 1px solid #eee;
		padding: 0 10px;

		// &:nth-child(2) {
		//   background-color: #fcfcfc;
		// }

		&:last-of-type {
			border-bottom: none;
		}
	}
}

@import 'xui-overrides';