@import '../src/sass/xui.scss';

#app {
	p a {
	display: inline;
	}

	ul ul li {
		padding-left: calc(0.7em + .7vw);
	}

	main h1 {
		margin-top: 3em;
	}

	li code,
	p code {
		font-size: 13px;
		background: $xui-color-grey-6;
		color: $xui-color-grey-1;
		border-radius: 3px;
		padding: 0 4px;
	}
	h3 {
		font-weight: bold;
	}

	code, pre, [class*="pathline-"] {
		overflow-x: auto;
	}
}
