// ------------------------------------------------------------------------------
// XUI overrides. Used to undo KSS-specific styling,
// or add styling for demo purposes
// ------------------------------------------------------------------------------

#kss-node {

	.kss-main .xui-toast {
		display: inline-block;
		position: relative;
	}

	//   Demo styles for the XUI grid documentation
	[id*="kssref-grid-layout"] .xui-grid {
		margin: 20px 0;
	}

	[id*="kssref-grid-layout"] .xui-grid > .xui-grid--cell, div[class*='xui-layout'] {
		background-color: rgba(4, 138, 187, 0.3);
		border: 1px solid rgba(4, 138, 187, 0.3);
	}

}

.kss-modifier__example {

	// Position the side drawer on the right side of its container
	.xui-sidedrawer {
		float: right;
		position: relative;
	}

	&::after {
		content: '';
		display: table;
		clear: both;
	}

	.xui-mask {
		border-radius: 3px;
		opacity: 1;
		padding: 20px 0;
		position: relative;
		width: 100%;
		z-index: 0;
	}

}

.kss-section--title {

	.xui-menugroup--item {

		a {
			color: $color-white;
		}
		&:hover {
			background: $color-white;
			a {
				color: $color-grey-1;
				background: $color-white;
			}
		}
	}
}

.kss-main .xui-dropdownmenu {
	position: relative;
}

//Double override due to specificity rules
.xui-inputgroup .xui-dropdownmenu {
	position: absolute;
}

.xui-popover {
	margin: 10px;
	width: 360px;
}
