@import '../vars';
@import './elements';
@import './states';
@import './typography';

@mixin xui-input-base {
  appearance: none; // For removing default input styling in Safari
  background-color: transparent;
  border-radius: $xui-radius;
  color: inherit;
  font: inherit;
  margin: 0; // For removing default input styling in Safari
  outline: none;
  &::-ms-clear {
    display: none;
    height: 0;
    width: 0;
  }
}

/*
Applies hover button styling and given contents on hover.
*/
@mixin xui-commoninput {
  @include xui-state-focus {
    z-index: $xui-z-index-focus;
  }
  @include xui-text-line-height; // 1.5
  appearance: none; // For removing drop-shadow on iOS and select arrows in Firefox
  background-color: $xui-input-bg-color;
  border: $xui-border-control;
  border-radius: $xui-radius;
  box-shadow: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0; // Safari's default UA styles set 2px vertical padding
  min-height: $xui-control-size-standard;
  outline: none;
  padding: $xui-input-padding;
  position: relative;
  width: 100%;

  &:hover {
    border-color: $xui-control-hover-border-color;
  }

  &:disabled {
    @include xui-disabled-form-control;
  }
  *::placeholder {
    color: $xui-input-placeholder-color;
    opacity: 1;
  }

  &::-ms-clear,
  &::-ms-reveal {
    display: none;
    height: 0;
    width: 0;
  }
}

/*
Adds a before selector which is used to highlight the left side of a component with a certain colour

$bg-color - The colour to use for the highlight
$left-border-radius - Border radius to use - should match the border radius of the element using this
$has-border - Whether the element using this has a border
*/
@mixin xui-highlight-left($bg-color: $xui-color-green, $left-border-radius: 0, $has-border: false) {
  &:before {
    @if $left-border-radius != 0 {
      border-radius: $left-border-radius 0 0 $left-border-radius;
    }
    $alignment: 0;
    @if $has-border {
      $alignment: -1px;
    }
    background-color: $bg-color;
    bottom: $alignment;
    content: '';
    left: $alignment;
    position: absolute;
    top: $alignment;
    width: $xui-s-2xsmall;
  }
}

// Provides a shadow which indicates there's overflown content that can be scrolled into view
@mixin xui-overflow-shadow {
  background: linear-gradient($xui-color-white, $xui-color-white) 100% 0 / 100% 3px local no-repeat,
    linear-gradient($xui-color-white, $xui-color-white) 0 100% / 100% 3px local no-repeat,
    linear-gradient($xui-color-grey-alpha-6, $xui-color-grey-alpha-6) 100% 0 / 100% 1px scroll
      no-repeat,
    linear-gradient($xui-color-grey-alpha-6, $xui-color-grey-alpha-6) 0 100% / 100% 1px scroll
      no-repeat,
    linear-gradient($xui-color-grey-alpha-7, $xui-color-grey-alpha-7) 100% 0 / 100% 3px scroll
      no-repeat,
    linear-gradient($xui-color-grey-alpha-7, $xui-color-grey-alpha-7) 0 100% / 100% 3px scroll
      no-repeat,
    $xui-color-white;
}

/*
Flex aligns children

$align - Property to use for align-items
$justify - Property to use for justify-content
*/
@mixin xui-flex-children($align: center, $justify: center) {
  align-items: $align;
  display: flex;
  justify-content: $justify;
}

// Unified styling for content blocks and accordion triggers
@mixin xui-content-block-item($classname) {
  border-top: $xui-border-standard;
  min-height: inherit; // IE11 bug fix TODO: Link to docs on what the bugfix is
  position: relative;
  text-decoration: none;
  &:first-of-type {
    border-top: 0;
  }
  &-rowlink {
    color: inherit; // Remove default link color
    text-decoration: none; // Remove default link underline
    &.#{$classname}-rowlink:hover,
    &.#{$classname}-rowlink:focus {
      background-color: $xui-color-grey-8;
    }
    &.#{$classname}-rowlink:active {
      background-color: $xui-color-grey-7;
    }
  }
  &-has-top-radius {
    border-top-left-radius: $xui-radius;
    border-top-right-radius: $xui-radius;
  }
  &-has-bottom-radius {
    border-bottom-left-radius: $xui-radius;
    border-bottom-right-radius: $xui-radius;
  }
  &-layout {
    align-items: center;
    display: flex;
    .#{$classname}--actions {
      margin-left: $xui-s-xsmall;
      margin-right: $xui-s-xsmall;

      // This is to fix a bug where in actions, we assume that the buttons stack at smaller
      // Viewport sizes, meaning that in the case of contentblocks, it gets weird top margin
      // Applied and therefore causes a bug.
      // TODO: work out a way to get another class on the element, instead of targeting this specific child
      .#{$ns}-actions--secondary {
        margin-top: 0;
      }
    }
    .#{$classname}--maincontent {
      flex: 1;
      padding: $xui-s-small $xui-s-standard;
    }

    .#{$classname}--rightcontent,
    .#{$classname}--leftcontent {
      height: 1px; // Haxx to make flexbox vertical alignment behave in IE11
      min-height: $xui-control-size-standard + ($xui-s-xsmall * 2);
    }
    .#{$classname}--rightcontent {
      align-items: center;
      align-self: flex-start;
      display: flex;
      margin-left: $xui-s-xsmall;
      margin-right: $xui-s-xsmall;
    }
    .#{$classname}--leftcontent {
      align-self: flex-start;
      @include xui-flex-children;
    }
    .#{$classname}--leftcontent + .#{$classname}--maincontent {
      padding: $xui-s-small $xui-s-standard $xui-s-small 0;
    }
    .#{$classname}--headings {
      align-items: baseline;
      display: flex;
      flex-flow: wrap;
    }
    .#{$classname}--pinnedvalue {
      margin-right: $xui-s-small;
      text-align: right;
    }
  }
  &--primaryheading {
    @include xui-text-medium;
    color: $xui-text-primary-color;
    font-weight: $xui-font-weight-emphasis;
    margin-right: $xui-s-small;
  }
  &--secondaryheading {
    @include xui-text-medium;
    color: $xui-text-primary-color;
    margin-right: $xui-s-small;
  }
  &--rightcontent {
    color: $xui-text-primary-color;
  }
  &--pinnedvalue {
    font-size: $xui-font-size-medium;
    font-weight: $xui-font-weight-deemphasis;
    line-height: $xui-line-height-compact;
  }
  &--description {
    display: block;
    line-height: 1;
  }
  &--description--text {
    color: $xui-color-grey-2;
    @include xui-text-small;
    margin-right: $xui-s-small;
  }
}
