// RESPONSIVE
// -----------------------------------------------------------------------------
// At the moment, design has hard breakpoints for the various form factors, and
// a vastly different design for mobile.  This makes the mobile-first approach
// difficult to implement as the majority of design choices are desktop-first,
// with mobile exceptions.

// Also, as mixin files partially fuel the docs, it's impossible to put comments inline
// without them getting hosed by mixinparser.js

// Due to a bug in Webkit which rounds up from .99, the upper range value for ranged breakpoints is set to <width-size> - 0.02 to prevent rounding. Link to issue: https://bugs.webkit.org/show_bug.cgi?id=178261

$xui-breakpoint-small: 600px;
$xui-breakpoint-medium: 800px;
$xui-breakpoint-large: 1000px;
$xui-breakpoint-xlarge: 1200px;
$xui-breakpoint-2xlarge: 1600px;

// Styles to be applied when the viewport is at the "small" breakpoint or larger.
@mixin xui-breakpoint-small-up {
  @media screen and (min-width: $xui-breakpoint-small) {
    @content;
  }
}

// Styles to be applied when the viewport is at the "medium" breakpoint or larger.
@mixin xui-breakpoint-medium-up {
  @media screen and (min-width: $xui-breakpoint-medium) {
    @content;
  }
}

// Styles to be applied when the viewport is at the "large" breakpoint or larger.
@mixin xui-breakpoint-large-up {
  @media screen and (min-width: $xui-breakpoint-large) {
    @content;
  }
}

// Styles to be applied when the viewport is at the "xlarge" breakpoint or larger.
@mixin xui-breakpoint-xlarge-up {
  @media screen and (min-width: $xui-breakpoint-xlarge) {
    @content;
  }
}

// Styles to be applied when the viewport is at the "2xlarge" breakpoint or larger.
@mixin xui-breakpoint-2xlarge-up {
  @media screen and (min-width: $xui-breakpoint-2xlarge) {
    @content;
  }
}

// Styles to be applied when the viewport is narrower than the "small" breakpoint.
@mixin xui-breakpoint-small-down {
  @media screen and (max-width: $xui-breakpoint-small - 0.02) {
    @content;
  }
}

// Styles to be applied when the viewport is as wide as the "small" breakpoint but narrower than the "medium" breakpoint.
@mixin xui-breakpoint-small-to-medium {
  @media screen and (min-width: $xui-breakpoint-small) and (max-width: $xui-breakpoint-medium - 0.02) {
    @content;
  }
}

// Styles to be applied when the viewport is as wide as the "medium" breakpoint but narrower than the "large" breakpoint.
@mixin xui-breakpoint-medium-to-large {
  @media screen and (min-width: $xui-breakpoint-medium) and (max-width: $xui-breakpoint-large - 0.02) {
    @content;
  }
}

// Styles to be applied when the viewport is as wide as the "large" breakpoint but narrower than the "xlarge" breakpoint.
@mixin xui-breakpoint-large-to-xlarge {
  @media screen and (min-width: $xui-breakpoint-large) and (max-width: $xui-breakpoint-xlarge - 0.02) {
    @content;
  }
}

// Styles to be applied when the viewport is as wide as the "xlarge" breakpoint but narrower than the "2xlarge" breakpoint.
@mixin xui-breakpoint-xlarge-to-2xlarge {
  @media screen and (min-width: $xui-breakpoint-xlarge) and (max-width: $xui-breakpoint-2xlarge - 0.02) {
    @content;
  }
}
