// TAKE EXTRA CARE WHEN CHANGING ELEMENT SELECTOR PROPERTIES
// While XUI is namespaced, element selectors aren't!
// Consider what may happen if there is more than one version of XUI's element selectors on the page

/**
 * Styles affecting the entire page.
 */

@import "../vars";
@import "../mixins";

html {
	font-size: 100%; // Explicitly set font-size for rems - same as the UA default (usually 16px)
	-webkit-text-size-adjust: 100%; // Prevent font size adjustments from orientation changes in iOS
}

// Generally we don't use * selectors, however as this is a CSS WG
// https://wiki.csswg.org/ideas/mistakes mistake, It's perfectly
// reasonable to undo the mistake in this instance.
*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
form {
	margin: 0;
	padding: 0;
}

// If you plan on changing any of these, please ensure you test with modals and dropdowns (incl. with scrolling content)
// on mobile (on pages that scroll and that don't scroll) in both landscape and portrait mode
.#{$ns}-html {
	height: 100%;
	min-height: 100%; // For android
}

.#{$ns}-body {
	@include xui-container;
	background-color: $xui-color-grey-6;
	min-height: 100%;
	overflow-y: scroll;
}

/*
Should work with or without the xui-html class on the html element so long as xui-html has
a min-height and not a height.
*/
html.#{$ns}-u-lockscroll {
	overflow: hidden;

	&.#{$ns}-html {
		// Undoes the height set in xui-html. Without this, the scroll-locking CSS will cause the page to scroll
		// to the top when a modal or mobile dropdown is opened
		height: auto;
	}

	/*
	We have to set overflow: hidden on both the body and html elements.  If only the body
	or html element is set by itself, then dropdown lists with no header or footer may cause excessive
	whitespace above or below the dropdown body in Android Chrome (which seems to depend on whether or
	not the address bar is open when you open the dropdown).  That causes lots of scrolling
	and/or content not being visible when the dropdown/modal opens.

	@author dev-johnsanders
	*/
	& body {
		overflow: hidden;
	}
}

// Alternative to xui-body for legacy pages
.#{$ns}-container {
	@include xui-container;
}

main {
	display: block; // Needed for IE11 which thinks it should be inline...
}
