/**
 * Styles affecting the entire page.
 */

@import "../settings/colours";
@import "../settings/typography";
@import "../mixins";

// Better best practices for altering the box-sizing property.
// Here, the code matches the better best practices in this article
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
	box-sizing: border-box;
	font-size: 100%; // Explicitly set font-size for rems - same as the UA default (usually 16px)
}

// Generally we don't use * selectors, however as this is a CSS WG
// https://wiki.csswg.org/ideas/mistakes mistake, It's perfectly
// reasonable to undo the mistake in this instance.
*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
form {
	margin: 0;
	padding: 0;
}

.#{$ns}-body {
	background-color: $xui-color-background;
	color: $xui-color-primary-text;
	font-family: $xui-font-family;
	font-size: $xui-font-size-text;
	line-height: $xui-line-height;
}

// The following styles can be moved to `.xui-body` when the Xero Shared Header
// is updated to use `box-sizing: border-box;` everywhere
main {
	box-sizing: border-box;
	display: block; // Needed for IE11 which thinks it should be inline...
}
