/**
 * Styles for form inputs.
 */

@import "../tools/functions";
@import "../tools/mixins";
@import "../settings/animation";
@import "../settings/structure";
@import "../settings/typography";

// Inputs
//
// Styleguide: Inputs

// Standard Inputs
//
//
// Markup:
// <input type="text" placeholder="Username"/>
// <input type="password" placeholder="Password"/>
//
// Styleguide: Inputs.1
input[type="text"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
textarea {
	-webkit-appearance: none;	// For removing drop-shadow on iOS
	border: $border-standard;
	border-radius: $radius;
	box-shadow: none;
	box-sizing: border-box;
	outline: none;
	width: 100%;

	&:hover {
		// TODO: I don't like how we specify this directly instead of an alias.
		//       Either we decide on some hover colours, or have a scheme where
		//       hover colours are some percentage darker than a base colour.
		border-color: $color-grey-3;
	}

	&:focus {
		border-color: $color-xero-blue;
	}

	&.xui-u-invalid {
		border-color: $color-xero-red;
	}
}

// Removes the 'spinner' elements in a number input
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"] {
	padding: px-to-rem(9) 0.5em;

	@include mobile {
		padding: px-to-rem(12) 0.5em;
	}
}

textarea {
	display: block;
	height: 70px;
	padding: px-to-rem(5) 0.5em;
	resize: none;

	@include mobile {
		height: 90px;
	}
}

// Checkboxes and Radios
// 
// Markup:
// <label>
//   <input type="checkbox" name="checkbox"/>
//   Tick me!
// </label>
// <label>
//   <input type="radio" name="radio"/>
//   Pick me!
// </label>
// 
// Styleguide: Inputs.2

input[type="checkbox"],
input[type="radio"] {
	box-shadow: none;
	height: px-to-rem(18);
	margin-right: 0.5em;
	position: relative;
	top: px-to-rem(4);
	vertical-align: top;
	width: px-to-rem(18);
}
