/**
 * Most input stylings can be found in objects/_inputs.*.scss files.  This file
 * contains just a few element selectors that we either haven't yet decided how
 * to deal with and turn into class selectors, or specific oddities that we want
 * to smooth out.
 */

// Removes the 'spinner' elements in a number input
input[type=number] {
	-moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
