/**
 * Styles related to content, in particular text content.
 *
 * NOTE: Not sure if this is the best name for the file.  Might want to rename
 *       it.
 */

@import "../tools/mixins";

p {
	margin: 0 0 1em;
}

// Typography
//
// Styleguide: Typography

// Text Styles
//
//
// Markup:
// <p class="xui-heading">Heading</p>
// <p class="xui-page-title">Page Titles</p>
// <p class="xui-section-title">Section Title</p>
// <p class="xui-text-panelheading">Panel Heading</p>
// <p class="xui-text-sectionheading">Section Heading</p>
// <p class="xui-text-primary">Some primary text</p>
// <p>More primary text</p>
// <p class="xui-text-secondary">Some secondary text</p>
// <p class="xui-placeholder">Placeholders</p>
// <p class="xui-heading-mini">Headers</p>
// <a>Links</a>
//
// Styleguide: Typography.1
.#{$ns}-heading {
	color: $color-primary-text;
	font-size: $font-size-heading;
}

.#{$ns}-page-title {
	color: $color-primary-text;
	font-size: $font-size-page-title;
}

.#{$ns}-section-title {
	color: $color-primary-text;
	font-size: $font-size-section-title;
}

/* FIXME: why would be need this? */
.#{$ns}-text-primary {
	color: $color-primary-text;
}

.#{$ns}-text-secondary {
	color: $color-secondary-text;
}

/* FIXME: should this be .#{$ns}-text-placeholder ? */
.#{$ns}-placeholder {
	color: $color-placeholders;
}

.#{$ns}-heading-mini {
	color: $color-secondary-text;
	font-size: $font-size-heading-mini;
}

.#{$ns}-text-panelheading {
	font-size: $font-size-section-title;
	font-weight: bold;
}

.#{$ns}-text-sectionheading {
	color: $color-secondary-text;
	font-size: $font-size-heading-mini;
	font-weight: bold;
}

.#{$ns}-text-cell {
	padding: 16px;
}

.#{$ns}-text-number {
	text-align: right;
}
