@import "../mixins";
@import "../vars";

/**
 * Styles related to content, in particular text content.
 *
 * NOTE: Not sure if this is the best name for the file.  Might want to rename
 *       it.
 */

p {
	margin: 0 0 1em;
}

// Typography
//
// Styleguide: Typography

// Text Styles
//
//
// Markup:
// <p class="xui-heading">Heading</p>
// <p class="xui-page-title">Page Titles</p>
// <p class="xui-section-title">Section Title</p>
// <p class="xui-text-panelheading">Panel Heading</p>
// <p class="xui-text-sectionheading">Section Heading</p>
// <p>Some primary text</p>
// <p class="xui-text-label">Form Label</p>
// <p class="xui-text-secondary">Some secondary text</p>
// <p class="xui-text-placeholder">Placeholders</p>
// <p class="xui-heading-mini">Headers</p>
// <a>Links</a>
//
// Styleguide: Typography.1
.#{$ns}-heading {
	@include xui-bold;
	color: $xui-color-primary-text;
	font-size: $xui-font-size-heading;
}

.#{$ns}-page-title {
	@include xui-bold;
	color: $xui-color-primary-text;
	font-size: $xui-font-size-page-title;
}

.#{$ns}-section-title {
	@include xui-bold;
	color: $xui-color-primary-text;
	font-size: $xui-font-size-section-title;
}

.#{$ns}-text-label {
	@include xui-bold;
	color: $xui-color-secondary-text;
}

.#{$ns}-text-secondary {
	color: $xui-color-secondary-text;
}

.#{$ns}-text-placeholder {
	color: $xui-color-placeholder;
}

.#{$ns}-heading-mini {
	color: $xui-color-secondary-text;
	font-size: $xui-font-size-heading-small;
}

.#{$ns}-text-panelheading {
	@include xui-bold;
	font-size: $xui-font-size-section-title;
}

.#{$ns}-text-sectionheading {
	color: $xui-color-secondary-text;
	font-size: $xui-font-size-heading-small;
	font-weight: normal;
}


// Text Alignment
//
// Classes that can be added to change the alignment of text.
//
// Markup:
//	<p class="xui-text-leftaligned">Left-aligned text</p>
//	<p class="xui-text-centered">Centered text</p>
//	<p class="xui-text-rightaligned">Right aligned text</p>
//
// Styleguide: Typography.2

.#{$ns}-text-leftaligned {
	text-align: left;
}

.#{$ns}-text-centered {
	text-align: center;
}

.#{$ns}-text-number,
.#{$ns}-text-rightaligned {
	text-align: right;
}

// Text Truncation
//
// Useful for truncating a single line of text with an ellipsis. To truncate after an arbitrary number of lines,
// you will need a JavaScript component such as [line-clamping](https://github.dev.xero.com/reactlabs/line-clamping)
//
// Markup:
//	<p class="xui-text-truncated">Pak n' Save holds the most nuclear-free community in the country. Every time I see those rip-off Monopoly money, from the New Zealand version with Queen Street and stuff it's like the op shop all over again aye, fully. Put the jug on will you bro, all these primo giant wekas can wait till later. Eh, rack off, nek minnit.</p>
//
// Styleguide: Typography.3

.#{$ns}-text-truncated {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


//	Statuses
//
//	Markup:
//	<span class="xui-text-status">
//		DRAFT
//	</span>
//	<span class="xui-text-status xui-text-status-positive">
//		ACCEPTED
//	</span>
//	<span class="xui-text-status xui-text-status-negative">
//		DECLINED
//	</span>
//	<p class="xui-heading">
//		Heading
//		<span class="xui-text-status">DRAFT</span>
//	</p>
//	<p class="xui-page-title">
//		Page Titles
//		<span class="xui-text-status xui-text-status-positive">APPROVED</span>
//	</p>
//	<p class="xui-heading-mini">
//		Headers
//		<span class="xui-text-status xui-text-status-negative">OVERDUE</span>
//	</p>
//
// Styleguide: Typography.4

// Parent container
// The coloured background goes full width of the page
.#{$ns}-text-status {
	color: $xui-color-secondary-text;
}

.#{$ns}-text-status-positive {
	color: $xui-color-xero-light-green;
}

.#{$ns}-text-status-negative {
	color: $xui-color-xero-red;
}
