@import "../settings/typography";
@import "../mixins";

// Text Content
//
// Use the `xui-textcontent` wrapper class to enclose content that is represented by simple HTML elements.
//
// HTML elements inside `xui-textcontent` will be basically formatted in a way that makes sense for displaying user generated content.
//
// Markup:
// <div class="xui-panel xui-padding-horizontal xui-textcontent">
//   <h1>First level heading</h1>
//   <p>This is a paragraph within text content</p>
//   <p >Xero is great for your clients and great for you. It has everything your clients need - invoicing, bank reconciliation, reporting, contacts and more. And everything you need to run an efficient practice online.</p>
//   <h2>Second level heading</h2>
//   <ul>
//     <li>First list item</li>
//     <li>A second list item
//       <ul>
//         <li>With a secondary list item</li>
//       </ul>
//     </li>
//     <li>Third list item</li>
//   </ul>
//   <h3>Third level heading</h3>
//   <dl>
//     <dt>XUI</dt>
//     <dd>A shared stylesheet for Xero applications that implements the Xero Pattern Library.</dd>
//   </dl>
//   <h4>Fourth level heading</h4>
// </div>
//
// Styleguide: Typography.10

.#{$ns}-textcontent {
	line-height: $xui-line-height-text;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include xui-bold;
		margin: 1.25em 0;
	}

	h1 {
		font-size: $xui-font-size-xlarge;
	}

	h2 {
		font-size: $xui-font-size-large;
	}

	h3 {
		font-size: $xui-font-size-medium;
	}

	h4,
	h5,
	h6 {
		font-size: $xui-font-size-small;
	}

	p {
		margin: 0 0 1em;
	}

	ol,
	ul {
		margin: 0 0 1em;
		padding: 0 0 0 1.5em;
	}

	// scss-lint:disable SelectorDepth
	ul ul {
		margin: 0;
	}

	li {
		display: list-item;
	}

	dl {
		margin: 1em 0;
		padding: 0;
	}

	dt {
		@include xui-bold;

		&::after {
			content: ":";
		}
	}

	dd {
		margin-left: 1em;
	}
}
