@import "../../vars";
@import "../../mixins";

// Base grid templates
@mixin composition-dsh-small {
	grid-template:
		"header"
		"summary"
		"detail" / 1fr;
}

@mixin composition-dsh-medium {
	grid-template:
		"header header"
		"detail summary" / 1fr min-content;
	&.#{$ns}-composition-has-auto-widths {
		grid-template-columns: 1fr 25%;
	}
}

// Gap template variants (necessary for IE & Autoprefixer)
@mixin composition-dsh-small-gap {
	@include xui-composition-grid-gap;
	@include composition-dsh-small;
}

@mixin composition-dsh-medium-gap {
	@include xui-composition-grid-gap;
	@include composition-dsh-medium;
}

// Classes using templates at various breakpoints
.#{$ns}-composition-detailsummaryheader {
	@include composition-dsh-small;
	&.#{$ns}-composition-has-grid-gap {
		@include composition-dsh-small-gap;
	}

	&.#{$ns}-composition-auto-template {
		@include xui-breakpoint-medium-up {
			@include composition-dsh-medium;
			&.#{$ns}-composition-has-grid-gap {
				@include composition-dsh-medium-gap;
			}
		}
		@include xui-breakpoint-xlarge-up {
			@include xui-composition-narrow-right-max-widths;
		}
	}
}

// No styles are needed for retain-small. When the auto-template class is
// not present, layout will remain with the small template.
// .#{$ns}-composition-detailsummaryheader-retain-small {}
