@import "../../vars";
@import "../../mixins";

.#{$ns}-composition-detailsplit {
	@include xui-breakpoint-small-down {
		grid-gap: $xui-s-small $xui-s-small;
		grid-template:
				"media media" min-content
				"main main" min-content;
	}

	@include xui-breakpoint-medium-up {
		grid-gap: $xui-s-small $xui-s-small;
		grid-template:
			"media main" / 1fr 1fr;
	}
}
