@import "../../vars";
@import "../../mixins";

.#{$ns}-composition-detailsummaryheader {

	@include xui-breakpoint-small-down {
		grid-gap: $xui-s-small $xui-s-small;
		grid-template:
			"header"
			"summary"
			"detail" / 1fr;
	}

	@include xui-breakpoint-medium-up {
		grid-gap: $xui-s-small $xui-s-small;
		grid-template:
			"header header" 1fr
			"detail summary" / 1fr min-content;
	}
}
