@import "../../vars";
@import "../../mixins";

.#{$ns}-composition-masterdetailsummary {
	@include xui-breakpoint-small-down {
		grid-gap: $xui-s-small $xui-s-small;
		grid-template:
			"summary summary summary" min-content
			"main main main" 1fr;
		-ms-grid-columns: 1fr;
	}

	@include xui-breakpoint-medium-only {
		grid-gap: $xui-s-small $xui-s-small;
		grid-template:
			"summary summary summary" 1fr
			"nav main main" / min-content 1fr 1fr;
		}

	@include xui-breakpoint-large-up {
		grid-gap: $xui-s-small $xui-s-small;
		grid-template:
			"nav main summary" / min-content 1fr min-content;
	}
}
