@import "../../vars";
@import "../../mixins";

// Base grid templates
@mixin composition-mdsh-small {
	grid-template:
		"header"
		"summary"
		"detail" / 1fr;
}

@mixin composition-mdsh-medium {
	grid-template:
		"header header"
		"summary summary"
		"master detail" / min-content 1fr;
	&.#{$ns}-composition-has-auto-widths {
		grid-template-columns: 25% 1fr;
	}
}

@mixin composition-mdsh-large {
	grid-template:
		"header header header"
		"master detail summary" / min-content 1fr min-content;
	&.#{$ns}-composition-has-auto-widths {
		grid-template-columns: 25% 1fr 25%;
	}
}

// Gap template variants (necessary for IE & Autoprefixer)
@mixin composition-mdsh-small-gap {
	@include xui-composition-grid-gap;
	@include composition-mdsh-small;
}

@mixin composition-mdsh-medium-gap {
	@include xui-composition-grid-gap;
	@include composition-mdsh-medium;
	&.#{$ns}-composition-has-auto-widths {
		-ms-grid-columns: 25% $xui-grid-gutter 1fr;
	}
}

@mixin composition-mdsh-large-gap {
	@include xui-composition-grid-gap;
	@include composition-mdsh-large;
	&.#{$ns}-composition-has-auto-widths {
		-ms-grid-columns: 25% $xui-grid-gutter 1fr $xui-grid-gutter 25%;
	}
}

// Classes using templates at various breakpoints
.#{$ns}-composition-masterdetailsummaryheader {
	@include composition-mdsh-small;
	&.#{$ns}-composition-has-grid-gap {
		@include composition-mdsh-small-gap;
	}

	&.#{$ns}-composition-auto-template {
		@include xui-breakpoint-medium-to-large {
			@include composition-mdsh-medium;
			&.#{$ns}-composition-has-grid-gap {
				@include composition-mdsh-medium-gap;
			}
		}

		@include xui-breakpoint-large-up {
			@include composition-mdsh-large;
			&.#{$ns}-composition-has-grid-gap {
				@include composition-mdsh-large-gap;
			}
		}
		@include xui-breakpoint-xlarge-up {
			@include xui-composition-3-column-max-widths;
		}
	}
}

.#{$ns}-composition-masterdetailsummaryheader-retain-medium {
	@include xui-breakpoint-medium-up {
		@include composition-mdsh-medium;
		&.#{$ns}-composition-has-grid-gap {
			@include composition-mdsh-medium-gap;
		}
	}
	@include xui-breakpoint-xlarge-up {
		@include xui-composition-narrow-left-max-widths;
	}
}

.#{$ns}-composition-masterdetailsummaryheader-retain-small {
	& .#{$ns}-gridarea-master {
		@include xui-utility-hidden-visually;
	}
}
