@import "../../vars";
@import "../../mixins";

@mixin composition-sh-small {
	grid-gap: $xui-s-small $xui-s-small;
	grid-template:
		"header"
		"primary"
		"detail" / 1fr;
}

@mixin composition-sh-medium {
	grid-gap: $xui-s-small $xui-s-small;
	grid-template:
		"header header"
		"primary detail" / 1fr 1fr;
}

.#{$ns}-composition-splitheader {
	@include composition-sh-small;

	@include xui-breakpoint-medium-up {
		@include composition-sh-medium;
	}
}

.#{$ns}-composition-splitheader-retain-small {
	@include xui-breakpoint-medium-up {
		@include composition-sh-small;
	}
}
