@import '../tokens/animation';

/**
 * Global animation-related settings.
 */

/* ----- Duration ----- */
$xui-motion-speed-fast: $xui-token-motion-speed-fast;
$xui-motion-speed-medium: $xui-token-motion-speed-medium;
$xui-motion-speed-slow: $xui-token-motion-speed-slow;
$xui-motion-speed-xslow: $xui-token-motion-speed-xslow;

/* ----- Easing function ----- */
$xui-motion-curve-standard: $xui-token-motion-curve-standard;
$xui-motion-curve-enter: $xui-token-motion-curve-enter;
$xui-motion-curve-exit: $xui-token-motion-curve-exit;

/* ----- Delay ----- */
$xui-motion-delay-short: $xui-token-motion-delay-short;
$xui-motion-delay-medium: $xui-token-motion-delay-medium;
$xui-motion-delay-long: $xui-token-motion-delay-long;
