// @section Spacing
// @description Spacing units used within XUI components
// @type spacing
//
$xui-s-2xsmall: 4px;
$xui-s-xsmall: 8px;
$xui-s-small: 12px;
$xui-s-standard: 16px;
$xui-s-large: 20px;
$xui-s-xlarge: 24px;
$xui-s-2xlarge: 32px;
$xui-s-3xlarge: 40px;
$xui-s-4xlarge: 48px;
$xui-s-5xlarge: 64px;

// @section Icon Sizes
// @description Sizes used for bounding boxes of XUI icons
// @type icon
//
$xui-icon-medium: 30px;
$xui-icon-large: 40px;
$xui-icon-xlarge: 60px;

// @section Illustration Sizes
// @description Sizes used for height of XUI illustrations
// @type illustration
//
$xui-illustration-small: 160px;
$xui-illustration-medium: 280px;
$xui-illustration-large: 400px;

// @section Grid System
// @description Variables used for creating the grid system
// @type table
//
// Horizontal padding to apply between
$xui-grid-gutter: $xui-s-large;
$xui-layout-columns: 12;
$xui-layout-column-start: 1;

// @section Navigation Height
// @description Height for navigation elements such as page headings and nested dropdown headings
// @type table
//
$xui-navigation-height: 60px;

// @section Forms
// @type table
//
$xui-form-width: 400px;
$xui-input-padding-horizontal: $xui-s-standard;
$xui-input-padding-vertical: 8px;
$xui-input-padding: $xui-input-padding-vertical $xui-input-padding-horizontal;

// @section Controlls
// @type table
//
$xui-control-size-2xsmall: 16px;
$xui-control-size-xsmall: 24px;
$xui-control-size-small: 32px;
$xui-control-size-standard: 40px;
$xui-control-size-large: 80px;
$xui-control-size-xlarge: 120px;

// @section Class Suffixes
// @type table
//
$xui-class-suffix-auto: "-auto";
$xui-class-suffix-none: "-none";
$xui-class-suffix-small: "-small";
$xui-class-suffix-2xsmall: "-2xsmall";
$xui-class-suffix-xsmall: "-xsmall";
$xui-class-suffix-standard: "";
$xui-class-suffix-large: "-large";
$xui-class-suffix-xlarge: "-xlarge";
$xui-class-suffix-2xlarge: "-2xlarge";
$xui-class-suffix-3xlarge: "-3xlarge";
$xui-class-suffix-4xlarge: "-4xlarge";
$xui-class-suffix-5xlarge: "-5xlarge";
$xui-class-suffix-6xlarge: "-6xlarge";

// @tokenparserstartignore

$xui-s-actionlink: $xui-s-xsmall $xui-s-small;

$xui-width-variants-dropdown: (
	xsmall: 100px,
	small: 200px,
	medium: 300px,
	large: 400px
);

$xui-modal-widths: (
	small : 300px,
	medium : 400px,
	large : 600px,
	xlarge : 800px
);

// @tokenparserendignore

// Z-index stacking scheme.
$xui-z-index-tooltip: 9000;
$xui-z-index-toast: 8000;
$xui-z-index-sheet: 7000;
$xui-z-index-overlay: 6000;
$xui-z-index-modal: 5000;
$xui-z-index-mask: 4000;
$xui-z-index-nav: 3000;
$xui-z-index-header: 2000;
$xui-z-index-dropdown: 1000;
$xui-z-index-focus: 2;
$xui-z-index-body: 1;
$xui-z-index-html: 0;
$xui-z-index-hidden: -1;
