/**
 * Typography settings for the Xero design
 * =======================================
 *
 * This file used to have a variety of
 *       measurement units, each for a specific reason:
 *
 *  - rem: unit relative to the user agent's default em.  Used for font sizes to
 *         keep text content relative to browser defaults.
 *  - em: For when we want things relative to the current text context, eg:
 *        margins and line heights (as they are based around the text)
 *  - px: Used for very thin items, like: borders, dividers, radii, and shadows.
 *        ie: scaffolding items that aren't based on text content.
 *
 * We are often given pixel units by design, but for anybody considering the
 * vast array of internet-capable devices out there, we should be more
 * forward-thinking and opt for relative units such as rem or em instead.
 *
 * See: http://www.w3.org/Style/Examples/007/units.en.html
 */

// @section Core Font Sizes
// @type font-size
//
$xui-font-size-base: 16px;

$xui-font-size-xlarge: 1.3125rem;	// 21/16
$xui-font-size-large: 1.0625rem;	// 17/16
$xui-font-size-medium: 0.9375rem;	// 15/16
$xui-font-size-small: 0.8125rem;	// 13/16
$xui-font-size-xsmall: 0.6875rem;	// 11/16
$xui-new-font-size-3xlarge: 72px;
$xui-new-font-size-2xlarge: 48px;
$xui-new-font-size-xlarge: 21px;
$xui-new-font-size-large: 17px;
$xui-new-font-size-medium: 15px;
$xui-new-font-size-small: 13px;
$xui-new-font-size-xsmall: 11px;
$xui-new-font-size-2xsmall: 9px;

$xui-line-height-3xlarge: 96px;
$xui-line-height-2xlarge: 72px;
$xui-line-height-xlarge: 32px;
$xui-line-height-large: 28px;
$xui-line-height-standard: 24px;
$xui-line-height-small: 20px;
$xui-line-height-xsmall: 16px;
$xui-line-height-2xsmall: 12px;

// @section Weights
// @type font-weight
//
$xui-font-weight-emphasis: 700;
$xui-font-weight-deemphasis: 400;

// @section Letter spacing
// @type font-spacing
//
$xui-letter-spacing-tight: -0.005em;
$xui-letter-spacing-loose: 0.01em;

// @section Line heights
// @type line-height
//
$xui-line-height-reset: 1;
$xui-line-height-tight: 1.15;
$xui-line-height-compact: 1.3077;
$xui-line-height: 1.5;
$xui-line-height-button: 1rem;

// @section Sizing for icon text within xui
// @type font-size
//
$xui-font-size-icon-large: 1.125rem; // 18/16
$xui-font-size-icon-xlarge: 2rem; // 32/16

// @tokenparserstartignore
$xui-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$xui-font-size-extended-5xlarge: 2.25rem;		// 36/16
$xui-font-size-extended-4xlarge: 2rem;			// 32/16
$xui-font-size-extended-2xlarge: 1.625rem;	// 26/16
$xui-font-size-extended-xlarge: 1.375rem;		// 22/16
$xui-font-size-extended-large: 1.125rem;		// 18/16
$xui-font-size-extended-medium: 1rem;				// 16/16
$xui-font-size-extended-small: 0.875rem;		// 14/16
$xui-font-size-extended-xsmall: 0.75rem;		// 12/16
// @tokenparserendignore
