/**
 * Typography settings for the Xero design
 * =======================================
 *
 * This file used to have a variety of
 *       measurement units, each for a specific reason:
 *
 *  - rem: unit relative to the user agent's default em.  Used for font sizes to
 *         keep text content relative to browser defaults.
 *  - em: For when we want things relative to the current text context, eg:
 *        margins and line heights (as they are based around the text)
 *  - px: Used for very thin items, like: borders, dividers, radii, and shadows.
 *        ie: scaffolding items that aren't based on text content.
 *
 * We are often given pixel units by design, but for anybody considering the
 * vast array of internet-capable devices out there, we should be more
 * forward-thinking and opt for relative units such as rem or em instead.
 *
 * See: http://www.w3.org/Style/Examples/007/units.en.html
 */

@use 'sass:math';
@import '../tokens/typography';

// Function for converting pixel to rem.
@function prem($pixel) {
  @return math.div($pixel, 16px) * 1rem;
}

// @section Core Font Sizes
// @type font-size
//
$xui-font-size-base: prem($xui-token-font-size-base);

$xui-font-size-4xlarge: prem($xui-token-font-size-4xlarge);
$xui-font-size-3xlarge: prem($xui-token-font-size-3xlarge);
$xui-font-size-2xlarge: prem($xui-token-font-size-2xlarge);
$xui-font-size-xlarge: prem($xui-token-font-size-xlarge);
$xui-font-size-large: prem($xui-token-font-size-large);
$xui-font-size-medium: prem($xui-token-font-size-medium);
$xui-font-size-small: prem($xui-token-font-size-small);
$xui-font-size-xsmall: prem($xui-token-font-size-xsmall);
$xui-font-size-2xsmall: prem($xui-token-font-size-2xsmall);

$xui-line-height-4xlarge: prem($xui-token-font-line-height-4xlarge);
$xui-line-height-3xlarge: prem($xui-token-font-line-height-3xlarge);
$xui-line-height-2xlarge: prem($xui-token-font-line-height-2xlarge);
$xui-line-height-xlarge: prem($xui-token-font-line-height-xlarge);
$xui-line-height-large: prem($xui-token-font-line-height-large);
$xui-line-height-standard: prem($xui-token-font-line-height-standard);
$xui-line-height-small: prem($xui-token-font-line-height-small);
$xui-line-height-xsmall: prem($xui-token-font-line-height-xsmall);
$xui-line-height-2xsmall: prem($xui-token-font-line-height-2xsmall);

// @section Weights
// @type font-weight
//
$xui-font-weight-emphasis: $xui-token-font-weight-emphasis;
$xui-font-weight-deemphasis: $xui-token-font-weight-deemphasis;

// @section Letter spacing
// @type font-spacing
//
$xui-letter-spacing-tight: $xui-token-letter-spacing-tight;
$xui-letter-spacing-loose: $xui-token-letter-spacing-loose;

// @section Line heights
// @type line-height
//
$xui-line-height-reset: $xui-token-font-line-height-reset;
$xui-line-height-tight: $xui-token-font-line-height-tight;
$xui-line-height-compact: $xui-token-font-line-height-compact;
$xui-line-height: $xui-token-font-line-height;
$xui-line-height-button: prem($xui-token-font-line-height-button);

// @section Sizing for icon text within xui
// @type font-size
//
$xui-font-size-icon-large: prem($xui-token-font-size-icon-large);
$xui-font-size-icon-xlarge: prem($xui-token-font-size-icon-xlarge);

// @tokenparserstartignore
$xui-font-family: $xui-token-font-family;
// @tokenparserendignore
