/**
 * Typography settings for the Xero design
 * =======================================
 *
 * This file used to have a variety of
 *       measurement units, each for a specific reason:
 *
 *  - rem: unit relative to the user agent's default em.  Used for font sizes to
 *         keep text content relative to browser defaults.
 *  - em: For when we want things relative to the current text context, eg:
 *        margins and line heights (as they are based around the text)
 *  - px: Used for very thin items, like: borders, dividers, radii, and shadows.
 *        ie: scaffolding items that aren't based on text content.
 *
 * We are often given pixel units by design, but for anybody considering the
 * vast array of internet-capable devices out there, we should be more
 * forward-thinking and opt for relative units such as rem or em instead.
 *
 * See: http://www.w3.org/Style/Examples/007/units.en.html
 */

@use "sass:math";

// Function for converting pixel to rem.
@function prem($pixel) {
  @return math.div($pixel, 16px) * 1rem;
}

// @section Core Font Sizes
// @type font-size
//
$xui-font-size-base: prem(16px);

$xui-font-size-4xlarge: prem(72px);
$xui-font-size-3xlarge: prem(48px);
$xui-font-size-2xlarge: prem(30px);
$xui-font-size-xlarge: prem(21px);
$xui-font-size-large: prem(17px);
$xui-font-size-medium: prem(15px);
$xui-font-size-small: prem(13px);
$xui-font-size-xsmall: prem(11px);
$xui-font-size-2xsmall: prem(9px);

$xui-line-height-4xlarge: prem(96px);
$xui-line-height-3xlarge: prem(72px);
$xui-line-height-2xlarge: prem(44px);
$xui-line-height-xlarge: prem(32px);
$xui-line-height-large: prem(28px);
$xui-line-height-standard: prem(24px);
$xui-line-height-small: prem(20px);
$xui-line-height-xsmall: prem(16px);
$xui-line-height-2xsmall: prem(12px);

// @section Weights
// @type font-weight
//
$xui-font-weight-emphasis: 700;
$xui-font-weight-deemphasis: 400;

// @section Letter spacing
// @type font-spacing
//
$xui-letter-spacing-tight: -0.005em;
$xui-letter-spacing-loose: 0.01em;

// @section Line heights
// @type line-height
//
$xui-line-height-reset: 1;
$xui-line-height-tight: 1.15;
$xui-line-height-compact: 1.3077;
$xui-line-height: 1.5;
$xui-line-height-button: prem(16px);

// @section Sizing for icon text within xui
// @type font-size
//
$xui-font-size-icon-large: prem(18px);
$xui-font-size-icon-xlarge: prem(32px);

// @tokenparserstartignore
$xui-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// @tokenparserendignore
