// Detail summary
//
// Components: Detail-summary
//
// Teaser: The Summary container houses content that sums up or labels the Detail container. Summary is a right-hand column which stacks above the Detail container at smaller breakpoints.
//
// Teaser-image: composition-images/Detail-Summary_browser.svg
//
// Introduction: Detail summary composition is useful for layouts that require a small section displaying a summary of what is found in the main content area of the page. The Summary container sits above the Detail area by default, and becomes a right hand column when space allows.
//
// Image: /composition-images/Detail-Summary_devices.svg
//
// Image-caption: Detail summary composition at small-down and small-to-medium, medium-to-large, and large-up breakpoints.
//
// Tips:
// Do: Use Summary to house simple content that isn’t integral to the purpose of the page
// Warning: Avoid using Summary container to house actions, instead consider using Master Detail
// Warning: Avoid having actions above the Summary area that affect what is viewed in the Detail area
// Dont: Don’t use the Summary container to house dense, long form content
// Dont: Don’t use Compositions in conjuction with $xui-max-page-width
//
// Weight: 4.3
//
// Styleguide: Compositions.DetailSummary

// Detail summary default behaviour
//
// When the browser is narrower than `xui-breakpoint-medium`, the Summary and Detail containers are full width and stacked with the Summary on top. From `$xui-breakpoint-medium` both containers are columns with the Summary on the right. The entire composition has a max-width of 1200px.
//
// Styleguide: Compositions.DetailSummary.1

// Example
//
// Markup:
// <div class="xui-composition xui-composition-detailsummary xui-composition-auto-template xui-composition-is-finite">
//   <div class="xui-gridarea-detail">
//     <div style="background: #C5C5F6; height: 380px; padding: 20px;"> Detail </div>
//   </div>
//   <div class="xui-gridarea-summary">
//     <div style="background: #ADADF3; height: 380px; min-width: 200px; padding: 20px; width: 100%;"> Summary </div>
//   </div>
// </div>
//
// Storybook: /storybook/?selectedKind=Compositions&selectedStory=Detail%20summary&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs&knob-Include%20content%20header=&knob-Show%20example%20content=true&knob-Expand%20width%20infinitely=&knob-Retain%20a%20width=
//
// Styleguide: Compositions.DetailSummary.1.5

// Detail Summary with header
//
// When a page has a content header, include it in the composition to make use of the spacing and stacking behaviour.
//
// Styleguide: Compositions.DetailSummary.2

// Example
//
// When a page has a content header, include it in the composition to make use of the spacing and stacking behaviour.
//
// Styleguide: Compositions.DetailSummary.2

// Example
//
// Markup:
// <div class="xui-composition xui-composition-detailsummaryheader xui-composition-auto-template xui-composition-is-finite">
//   <div class="xui-gridarea-header">
//     <div style="background: #2D2D73; color: white; height: 120px; padding: 20px;"> content header </div>
//   </div>
//   <div class="xui-gridarea-detail">
//     <div style="background: #C5C5F6; height: 380px; padding: 20px;"> Detail </div>
//   </div>
//   <div class="xui-gridarea-summary">
//     <div style="background: #ADADF3; height: 380px; min-width: 200px; padding: 20px; width: 100%;"> Summary </div>
//   </div>
// </div>
//
// Storybook: /storybook/?selectedKind=Compositions&selectedStory=Detail%20summary&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs&knob-Include%20content%20header=true&knob-Show%20example%20content=true&knob-Expand%20width%20infinitely=&knob-Retain%20a%20width=
//
// Styleguide: Compositions.DetailSummary.2.5

// Anatomy
//
// Classes:
// xui-composition-detailsummary: Wraps entire composition when no content header is included
// xui-composition-detailsummaryheader: Wraps the whole composition when including a content header
// xui-gridarea-header: Wraps the content header if one is included
// xui-gridarea-detail: Wraps the Detail container
// xui-gridarea-summary: Wraps the Summary container
//
// Styleguide: Compositions.DetailSummary.3

// Composition properties
//
// Introduction: There are a number of spacing and layout properties that can be used to adjust the Detail Summary composition.
//
// Styleguide: Compositions.DetailSummary.4

// Lock Layout
//
// You can allow the composition layout to respond to the viewport width (recommended) or it can retain the "small" layout across all breakpoints, keeping the Summary container stacked above the Detail container. Include the `xui-composition-auto-template` class on the composition container for a responsive layout, or omit it for the locked layout.
//
// Tips:
// Do: Lock the small layout across breakpoints when content won't fit using the two-column layout, even at larger breakpoints
// Warning: Consider defining custom widths to allow content to fit the columns, rather than locking the small layout
//
// Classes:
// xui-composition-auto-template: Allows the layout to adjust automatically to the viewport width
//
// Styleguide: Compositions.DetailSummary.4.1

// Auto Column Widths
//
// XUI provides pre-set column widths, suitable for content that can be flexibly sized. For the Detail-Summary composition, the Summary container defaults to 25% (up to a certain maximum), and the Detail container fills the remaining space. The max-width of the Summary container will be 290px if [outer spacing](#compositions-detailsummary-4-4) is present, or 300px if not.
//
// If page content must be in specifically-sized containers, you can provide the widths yourself. The Header and Detail containers will always expand to fill the maximum width, so you should explicitly set a width on the Summary content.
//
// Tips:
// Do: Use automatic column widths to get a standard column size without extra styles
// Warning: If you choose to set your own widths, widths should be set in units, rather than percentages
//
// Classes:
// xui-composition-has-auto-widths: Applies standard column widths for flexibly sized content
//
// Styleguide: Compositions.DetailSummary.4.2

// Grid gap
//
// Applies `$xui-s-large` spacing between the composition containers. To achieve custom spacing around content within each composition container, instead add spacing outside of the content itself.
//
// Tips:
// Do: Use to set XUI defined, standard spacing between containers
// Do: Use when each container's content spans the containers full width
// Do: Consider using in conjuction with the xui-composition-has-auto-space-around class which adds $xui-s-large spacing around the outside of the composition
// Dont: Don't use in conjuction with custom spacing around content within containers
//
// Classes:
// xui-composition-grid-gap: Applies standard spacing between composition containers
//
// Styleguide: Compositions.DetailSummary.4.3

// Outer spacing
//
// Applies `$xui-s-large` spacing around the entire composition.
//
// Tips:
// Do: Use to give spacing between the entire composition and the edge of the browser
// Warning: Avoid combining with utility spacing classes. For custom spacing, use utility classes alone.
//
// Classes:
// xui-composition-has-auto-space-around: Applies $xui-s-large spacing around the outside of the composition
//
// Styleguide: Compositions.DetailSummary.4.4

// Full width
//
// By default, compositions should have the `is-finite` class which applies a max width of 1200px. Removing this class allows the composition to span the full width of the page.
//
// Tips:
// Do: Apply when the Detail container holds wide media such as maps, images or tables
// Warning: Avoid applying when content doesn't benefit from the extra space
//
// Classes:
// xui-composition-is-finite: Remove this class to have the composition span 100% width of page
//
// Styleguide: Compositions.DetailSummary.4.5

// Class list
//
// Classes:
// xui-composition-detailsummary: Style for Detail summary composition, when no content header is included
// xui-composition-detailsummaryheader: Style for Detail summary composition, when including a content header
// xui-composition-auto-template: Allows the layout to adjust automatically to the viewport width. Remove this class to lock the layout at the "small" version
// xui-composition-has-auto-widths: Applies standard column widths for flexibly sized content
// xui-composition-grid-gap: Modifier for applying standard spacing between composition containers
// xui-composition-has-auto-space-around: Modifier for applying $xui-s-large spacing around the outside of the composition
// xui-composition-is-finite: Remove this class to have the composition span 100% width of page
// xui-gridarea-header: Style for content header if the page has one
// xui-gridarea-master: Style for Master container subcomponent
// xui-gridarea-detail: Style for Detail container subcomponent
// xui-gridarea-summary: Style for Summary container subcomponent
//
// Styleguide: Compositions.DetailSummary.5
