// Master detail
//
// Components: Master-detail
//
// Teaser: The Master container houses content that controls or acts on content within the Detail area. The Master container is hidden at narrow breakpoints, and a left hand column from xui-breakpoint-medium-up.
//
// Teaser-image: composition-images/Master-Detail_browser.svg
//
// Introduction: Master detail composition is useful for layouts that consist of a set of options or controls that affect content within the main content container. The Master container holds the options/controls in a left side column, or is hidden when horizontal space is restricted. The Detail area houses the main content.
//
// Image: composition-images/Master-Detail_devices.svg
//
// Image-caption: Master Detail at breakpoints small-down and small-to-medium, medium-to-large, and large-up.
//
// Tips:
// Do: Use Master container for tertiary navigation
// Do: Use Master to house actions that change what content is viewed in the Detail
// Warning: Avoid putting first or second level navigation in the Master container
// Dont: Don’t use in conjuction with $xui-max-page-width
//
// Weight: 4.2
//
// Styleguide: Compositions.MasterDetail

// Master detail default behaviour
//
// The Master container is hidden when the browser width is below `$xui-breakpoint-medium`. From `$xui-breakpoint-medium` the Master container is a column to the left of the Detail container. The entire composition has a max-width of 1200px. To provide access to the Master content while viewing the small layout, we recommend encapsulating it and also passing it as a prop to one of the other content areas, where it can populate the panel of a DropDown.
//
// Styleguide: Compositions.MasterDetail.1

// Example
//
// Markup:
// <div class="xui-composition xui-composition-masterdetail xui-composition-auto-template xui-composition-is-finite">
//   <div class="xui-gridarea-master">
//     <div style="background: #5A5AE6; color: white; height: 380px; min-width: 200px; padding: 20px; width: 100%;"> Master </div>
//   </div>
//   <div class="xui-gridarea-detail">
//     <div style="background: #C5C5F6; height: 380px; padding: 20px;"> Detail </div>
//   </div>
// </div>
//
// Storybook: storybook/?selectedKind=Compositions&selectedStory=Master%20detail&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs&knob-Include%20content%20header=&knob-Show%20example%20content=true&knob-Expand%20width%20infinitely=&knob-Retain%20a%20width=
//
// Styleguide: Compositions.MasterDetail.1.5

// Example
//
// When a page has a content header, include it in the composition to make use of the spacing and stacking behaviour.
//
// Styleguide: Compositions.MasterDetail.2

// Example
//
// Markup:
// <div class="xui-composition xui-composition-masterdetailheader xui-composition-auto-template xui-composition-is-finite">
//   <div class="xui-gridarea-header">
//     <div style="background: #2D2D73; color: white; height: 120px; padding: 20px;"> content header </div>
//   </div>
//   <div class="xui-gridarea-master">
//   	<div style="background: #5A5AE6; color: white; height: 380px; min-width: 200px; padding: 20px; width: 100%;"> Master </div>
//   </div>
//   <div class="xui-gridarea-detail">
//     <div style="background: #C5C5F6; height: 380px; padding: 20px;"> Detail </div>
// </div>
// </div>
//
// Storybook: storybook/?selectedKind=Compositions&selectedStory=Master%20detail&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs&knob-Include%20content%20header=true&knob-Show%20example%20content=true&knob-Expand%20width%20infinitely=&knob-Retain%20a%20width=
//
// Styleguide: Compositions.MasterDetail.2.5

// Anatomy
//
// Classes:
// xui-composition-masterdetail: Wraps the entire composition when no content header is included
// xui-composition-masterdetailheader: Wraps the entire composition when including a content header
// xui-gridarea-header: Wraps the content header if one is included
// xui-gridarea-master: Master container
// xui-gridarea-detail: Detail container
//
// Styleguide: Compositions.MasterDetail.3

// Composition properties
//
// Introduction: There are a number of spacing and layout properties that can be used to adjust the Master Detail composition.
//
// Storybook: storybook/?selectedKind=Compositions&selectedStory=Master%20detail&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs
//
// Styleguide: Compositions.MasterDetail.3.5

// Composition properties
//
// Introduction: There are a number of spacing and layout properties that can be used to adjust the Master detail composition.
//
// Styleguide: Compositions.MasterDetail.4

// Lock Layout
//
// You can allow the composition layout to respond to the viewport width (recommended) or it can retain the "small" layout across all breakpoints, keeping the Master container hidden. Include the `xui-composition-auto-template` class on the composition container for a responsive layout, or omit it for the locked layout.
//
// Tips:
// Do: Lock the small layout across breakpoints when content won't fit using the two-column layout, even at larger breakpoints
// Warning: Consider defining custom widths to allow content to fit the columns, rather than locking the small layout
//
// Classes:
// xui-composition-auto-template: Allows the layout to adjust automatically to the viewport width
//
// Styleguide: Compositions.MasterDetail.4.1

// Auto Column Widths
//
// XUI provides pre-set column widths, suitable for content that can be flexibly sized. For the Master-Detail composition, the Master container defaults to 25% (up to a certain maximum), and the Detail container fills the remaining space. The max-width of the Master container will be 290px if [outer spacing](#compositions-masterdetail-4-4) is present, or 300px if not.
//
// If page content must be in specifically-sized containers, you can provide the widths yourself. The Header and Detail containers will always expand to fill the maximum width, so you should explicitly set a width on the Master content.
//
// Tips:
// Do: Use automatic column widths to get a standard column size without extra styles
// Warning: If you choose to set your own widths, widths should be set in units, rather than percentages
//
// Classes:
// xui-composition-has-auto-widths: Applies standard column widths for flexibly sized content
//
// Styleguide: Compositions.MasterDetail.4.2

// Grid gap
//
// Applies `$xui-s-large` spacing between the composition containers. To achieve custom spacing around content within each composition container, instead add spacing outside of the content itself.
//
// Tips:
// Do: Use to set XUI defined, standard spacing between containers
// Do: Use when each container's content spans the containers full width
// Do: Consider using in conjuction with the xui-composition-has-auto-space-around class which adds $xui-s-large spacing around the outside of the composition
// Dont: Don't use in conjuction with custom spacing around content within containers
//
// Classes:
// xui-composition-grid-gap: Applies standard spacing between composition containers
//
// Styleguide: Compositions.MasterDetail.4.3

// Outer spacing
//
// Applies `$xui-s-large` spacing around the entire composition.
//
// Tips:
// Do: Use to give spacing between the entire composition and the edge of the browser
// Warning: Avoid combining with utility spacing classes. For custom spacing, use utility classes alone.
//
// Classes:
// xui-composition-has-auto-space-around: Applies $xui-s-large spacing around the outside of the composition
//
// Styleguide: Compositions.MasterDetail.4.4

// Full width
//
// By default, compositions should have the `is-finite` class which applies a max width of 1200px. Removing this class allows the composition to span the full width of the page.
//
// Tips:
// Do: Apply when the Detail container holds wide media such as maps, images or tables
// Warning: Avoid applying when content doesn't benefit from the extra space
//
// Classes:
// xui-composition-is-finite: Remove this class to have the composition span 100% width of page
//
// Styleguide: Compositions.MasterDetail.4.5

// Class list
//
// Classes:
// xui-composition-masterdetail: Style for Master detail composition when no content header is included
// xui-composition-masterdetailheader: Style for Master detail composition when including a content header
// xui-composition-auto-template: Allows the layout to adjust automatically to the viewport width. Remove this class to lock the layout at the "small" version
// xui-composition-has-auto-widths: Applies standard column widths for flexibly sized content
// xui-composition-grid-gap: Modifier for applying standard spacing between composition containers
// xui-composition-has-auto-space-around: Modifier for applying $xui-s-large spacing around the outside of the composition
// xui-composition-is-finite: Remove this class to have the composition span 100% width of page
// xui-gridarea-header: Style for content header if the page has one
// xui-gridarea-master: Style for Master container subcomponent
// xui-gridarea-detail: Style for Detail container subcomponent
//
// Styleguide: Compositions.MasterDetail.5
