// Detail
//
// Teaser: The Detail container is the main content area in a composition. This composition is XUI’s most basic.
//
// Introduction: Detail is composed of a single, centered container that is used to house a page’s main content. Detail comes with some responsive behaviour and offers a range of spacing and sizing options.
//
// Weight: 4.1
//
// Styleguide: Compositions.Detail

// Best practice
//
// Tips:
// Do: Check that content stacks nicely at smaller breakpoints
// Dont: Don’t introduce side panels to the Detail container – instead, consider using a different composition
//
// Styleguide: Compositions.Detail.1

// Detail
//
// Markup:
// <div class="xui-composition xui-composition-detail xui-composition-is-finite">
//   <div class="xui-gridarea-detail xui-width-xsmall-up xui-width-small-up xui-width-medium-up">
//     <div style="background: rgb(197, 197, 246); height: 100px;"></div>
//   </div>
// </div>
//
// Weight: 4.1
//
// Styleguide: Compositions.Detail.2

// Detail with header
//
// Markup:
// <div class="xui-composition xui-composition-detailheader xui-composition-is-finite">
//   <div class="xui-gridarea-header xui-width-xsmall-up xui-width-small-up xui-width-medium-up">
//     <div style="background: rgb(180, 70, 200); height: 60px;"></div>
//   </div>
//   <div class="xui-gridarea-detail xui-width-xsmall-up xui-width-small-up xui-width-medium-up">
//     <div style="background: rgb(197, 197, 246); height: 100px;"></div>
//   </div>
// </div>
//
// Weight: 4.1
//
// Styleguide: Compositions.Detail.3

