// Detail
//
// Teaser: The Detail container is the main content area in a composition. This is XUI’s most basic composition.
//
// Teaser-image: composition-images/Detail_browser.svg
//
// Introduction: Detail is composed of a single, centered container that is used to house a page’s main content. Detail comes with some responsive behaviour and offers a range of spacing and sizing options.
//
// Image: composition-images/Detail_devices.svg
//
// Image-caption: Detail composition behaviour at breakpoints small-down and small-to-medium, medium-to-large, and large-up.
//
// Tips:
// Do: Check that content stacks nicely at smaller breakpoints
// Dont: Don’t introduce side panels to the Detail container – instead, consider using a different composition
//
// Weight: 4.1
//
// Styleguide: Compositions.Detail

// Detail default behaviour
//
// The Detail composition has a max width of 1200px by default.
//
// Styleguide: Compositions.Detail.1

// Example
//
// Markup:
// <div class="xui-composition xui-composition-detail xui-composition-is-finite">
//   <div class="xui-gridarea-detail">
//     <div style="background: #C5C5F6; width: 100%; height: 380px; padding: 20px;"> Detail </div>
//   </div>
// </div>
//
// Storybook: /storybook/?selectedKind=Compositions&selectedStory=Detail&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs&knob-Include%20content%20header=&knob-Show%20example%20content=true&knob-Expand%20width%20infinitely=
//
// Styleguide: Compositions.Detail.1.5

// Detail with header
//
// When a page has a page header, include it in the composition to make use of the spacing and stacking behaviour.
//
// Styleguide: Compositions.Detail.2

// Example
//
// Markup:
// <div class="xui-composition xui-composition-detailheader xui-composition-is-finite">
//   <div class="xui-gridarea-header">
//     <div style="background: #2D2D73; color: white; height: 120px; padding: 20px;"> Page header </div>
//   </div>
//   <div class="xui-gridarea-detail">
//     <div style="background: #C5C5F6; height: 380px; padding: 20px;"> Detail </div>
//   </div>
// </div>
//
// Storybook: /storybook/?selectedKind=Compositions&selectedStory=Detail&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs&knob-Include%20content%20header=true&knob-Show%20example%20content=true&knob-Expand%20width%20infinitely=
//
// Styleguide: Compositions.Detail.2.5

// Anatomy
//
// Classes:
// xui-composition-detail: Wraps the entire composition when no page header is included
// xui-composition-detailheader: Wraps the entire composition when including a page header
// xui-gridarea-header: Wraps the page header if one is included
// xui-gridarea-detail: Detail container
//
// Styleguide: Compositions.Detail.3

// Composition properties
//
// Introduction: There are a number of spacing and layout properties that can be used to adjust the Detail composition.
//
// Styleguide: Compositions.Detail.4

// Grid gap
//
// Applies `$xui-s-large` spacing between the Detail container and the page header (if present). To achieve custom spacing, instead add spacing outside of the content itself.
//
// Tips:
// Do: Use to set XUI defined, standard spacing between containers
// Do: Use when each container's content spans the containers full width
// Do: Consider using in conjuction with the xui-composition-has-auto-space-around class which adds $xui-s-large spacing around the outside of the composition
// Dont: Don't use in conjuction with custom spacing around content within containers
//
// Classes:
// xui-composition-grid-gap: Applies standard spacing between composition containers
//
// Styleguide: Compositions.Detail.4.1

// Outer spacing
//
// Applies `$xui-s-large` spacing around the entire composition.
//
// Tips:
// Do: Use to give spacing between the entire composition and the edge of the browser
// Warning: Avoid combining with utility spacing classes. For custom spacing, use utility classes alone.
//
// Classes:
// xui-composition-has-auto-space-around: Applies $xui-s-large spacing around the outside of the composition
//
// Styleguide: Compositions.Detail.4.2

// Full width
//
// By default, compositions should have the `is-finite` class which applies a max width of 1200px. Removing this class allows the composition to span the full width of the page.
//
// Tips:
// Do: Apply when the Detail container holds wide media such as maps, images or tables
// Warning: Avoid applying when content doesn't benefit from the extra space
//
// Classes:
// xui-composition-is-finite: Remove this class to have the composition span 100% width of page
//
// Styleguide: Compositions.Detail.4.3

// Class list
//
// Classes:
// xui-composition-detail: Style for the Detail composition when no page header is included
// xui-composition-detailheader: Style for the Detail composition when including a page header
// xui-composition-has-auto-space-around: Modifier for applying $xui-s-large spacing around the outside of the composition
// xui-composition-is-finite: Remove this class to have the composition span 100% width of page
// xui-gridarea-header: Style for page header if the page has one
// xui-gridarea-detail: Style for Detail container
//
// Styleguide: Compositions.Detail.5
