// Master detail
//
// Teaser: The Master container houses content that controls or acts on content within the Detail area. The Master container is within a dropdown at narrow breakpoints, and a left hand column from xui-breakpoint-medium-up.
//
// Teaser-image: composition-images/Master-detail_browser.svg
//
// Introduction: Master detail composition is useful for layouts that consist of a set of options or controls, that affect content within the main content container. The Master container holds the options/controls in a left side column, or within a dropdown when horizontal space is restricted. The Detail area houses the main content.
//
// Image: composition-images/Master-Detail_devices.svg
//
// Image-caption: Master Detail at breakpoints small-down and small-to-medium, medium-to-large, and large-up.
//
// Tips:
// Do: Use Master container for tertiary navigation
// Do: Use Master to house actions that change what content is viewed in the Detail
// Warning: Avoid putting first or second level navigation in the Master container
// Dont: Don’t use in conjuction with $xui-max-page-width
//
// Weight: 4.2
//
// Styleguide: Compositions.MasterDetail

// Master detail default behaviour
//
// The Master container sits within of a dropdown when the browser width is below `$xui-breakpoint-medium`. From `$xui-breakpoint-medium` the Master container is a column to the left of the Detail container. The entire composition has a max-width of 1200px.
//
// Styleguide: Compositions.MasterDetail.1

// Example
//
// Markup:
// <div class="xui-composition xui-composition-masterdetail xui-composition-is-finite">
//   <div class="xui-gridarea-master">
//     <div style="background: #5A5AE6; color: white; height: 380px; min-width: 200px; padding: 20px; width: 100%;"> Master </div>
//   </div>
//   <div class="xui-gridarea-detail">
//     <div style="background: #C5C5F6; height: 380px; padding: 20px;"> Detail </div>
//   </div>
// </div>
//
// Storybook: /storybook/?selectedKind=Compositions&selectedStory=Master%20detail&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs&knob-Include%20content%20header=&knob-Show%20example%20content=true&knob-Expand%20width%20infinitely=&knob-Retain%20a%20width=
//
// Styleguide: Compositions.MasterDetail.1.5

// Example
//
// When a page has a page header, include it in the composition to make use of the spacing and stacking behaviour.
//
// Styleguide: Compositions.MasterDetail.2

// Example
//
// Markup:
// <div class="xui-composition xui-composition-masterdetailheader xui-composition-is-finite">
//   <div class="xui-gridarea-header">
//     <div style="background: #2D2D73; color: white; height: 120px; padding: 20px;"> Page header </div>
//   </div>
//   <div class="xui-gridarea-master">
//   	<div style="background: #5A5AE6; color: white; height: 380px; min-width: 200px; padding: 20px; width: 100%;"> Master </div>
//   </div>
//   <div class="xui-gridarea-detail">
//     <div style="background: #C5C5F6; height: 380px; padding: 20px;"> Detail </div>
// </div>
// </div>
//
// Storybook: /storybook/?selectedKind=Compositions&selectedStory=Master%20detail&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs&knob-Include%20content%20header=true&knob-Show%20example%20content=true&knob-Expand%20width%20infinitely=&knob-Retain%20a%20width=
//
// Styleguide: Compositions.MasterDetail.2.5

// Anatomy
//
// Classes:
// xui-composition-masterdetail: Wraps the entire composition when no page header is included
// xui-composition-masterdetailheader: Wraps the entire composition when including a page header
// xui-gridarea-header: Wraps the page header if one is included
// xui-gridarea-master: Master container
// xui-gridarea-detail: Detail container
//
// Styleguide: Compositions.MasterDetail.3

// Composition properties
//
// Introduction: There are a number of spacing and layout properties that can be used to adjust the Master Detail composition.
//
// Storybook: /storybook/?selectedKind=Compositions&selectedStory=Master%20detail&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs
//
// Styleguide: Compositions.MasterDetail.3.5
// Composition properties
//
// Introduction: There are a number of spacing and layout properties that can be used to adjust the Master detail composition.
//
// Styleguide: Compositions.MasterDetail.4

// Grid gap
//
// Applies `$xui-s-large` spacing between the Detail container and the page header (if present). To achieve custom spacing around content within each composition container, instead add spacing outside of the content itself.
//
// Tips:
// Do: Use to set XUI defined, standard spacing between containers
// Do: Use when each container's content spans the containers full width
// Do: Consider using in conjuction with the xui-composition-has-auto-space-around class which adds $xui-s-large spacing around the outside of the composition
// Dont: Don't use in conjuction with custom spacing around content within containers
//
// Classes:
// xui-composition-grid-gap: Applies standard spacing between composition containers
//
// Styleguide: Compositions.MasterDetail.4.1

// Outer spacing
//
// Applies `$xui-s-large` spacing around the entire composition.
//
// Tips:
// Do: Use to give spacing between the entire composition and the edge of the browser
// Warning: Avoid combining with utility spacing classes. For custom spacing, use utility classes alone.
//
// Classes:
// xui-composition-has-auto-space-around: Applies $xui-s-large spacing around the outside of the composition
//
// Styleguide: Compositions.MasterDetail.4.2

// Full width
//
// By default, compositions should have the `is-finite` class which applies a max width of 1200px. Removing this class allows the composition to span the full width of the page.
//
// Tips:
// Do: Apply when the Detail container holds wide media such as maps, images or tables
// Warning: Avoid applying when content doesn't benefit from the extra space
//
// Classes:
// xui-composition-is-finite: Remove this class to have the composition span 100% width of page
//
// Styleguide: Compositions.MasterDetail.4.3

// Retain mobile layout
//
// Forces the composition to retain the mobile layout across all breakpoints, keeping the Master container hidden within a dropdown.
//
// Tips:
// Do: Use when content won't fit using the two column layout even at larger breakpoints
// Warning: Consider using the default layout and defining custom sizing on the Master container, to allow content to fit
//
// Classes:
// xui-composition-retain-small: Forces composition to retain the mobile layout across all breakpoints
//
// Styleguide: Compositions.MasterDetail.4.4

// Class list
//
// Classes:
// xui-composition-masterdetail: Style for Master detail composition when no page header is included
// xui-composition-masterdetailheader: Style for Master detail composition when including a page header
// xui-composition-grid-gap: Modifier for applying standard spacing between composition containers
// xui-composition-has-auto-space-around: Modifier for applying $xui-s-large spacing around the outside of the composition
// xui-composition-is-finite: Remove this class to have the composition span 100% width of page
// xui-composition-masterdetail-retain-small: Modifier to force composition to maintain the mobile layout across all breakpoints
// xui-composition-masterdetailheader-retain-small: Modifier to force composition to maintain the mobile layout across all breakpoints, when including a page header in the composition
// xui-gridarea-header: Style for page header if the page has one
// xui-gridarea-master: Style for Master container subcomponent
// xui-gridarea-detail: Style for Detail container subcomponent
//
// Styleguide: Compositions.MasterDetail.5
