// Split
//
// Components: Split
//
// Teaser: A 50/50 split with two Detail areas. The secondary container stacks below the primary one at smaller breakpoints.
//
// Teaser-image: composition-images/Split_browser.svg
//
// Introduction: Split is the perfect composition for when content needs to be split between two container of similar or even importance.
//
// Image: composition-images/Split_devices.svg
//
// Image-caption: Split composition at breakpoints small-down and small-to-medium, medium-to-large, and large-up.
//
// Tips:
// Do: Use the Primary container to house the most recent or important information
// Do: Use Split for comparison screens
// Don't: Don't use one of the Split containers to hold navigation, instead consider the Master Detail composition
//
// Weight: 4.5
//
// Styleguide: Compositions.Split.

// Split default behaviour
//
// The Split composition is made up of the Primary and Detail containers. The Primary container sits above the Detail container until the browser width is $xui-breakpoint-medium, from which point Detail sits to the right of the Primary container. The entire composition has a max-width of 1200px.
//
// Styleguide: Compositions.Split.1

// Example
//
// Markup:
// <div class="xui-composition xui-composition-split xui-composition-auto-template xui-composition-is-finite">
//   <div class="xui-gridarea-primary">
//     <div style="background: #C5C5F6; height: 380px; padding: 20px;"> Primary </div>
//   </div>
//   <div class="xui-gridarea-detail">
//     <div style="background: #ADADF3; height: 380px; padding: 20px;"> Detail </div>
//   </div>
// </div>
//
// Storybook: storybook/?selectedKind=Compositions&selectedStory=Split&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs&knob-Include%20content%20header=&knob-Show%20example%20content=true&knob-Expand%20width%20infinitely=&knob-Retain%20a%20width=
//
// Styleguide: Compositions.Split.1.5

// Split with header
//
// When a page has a content header, include it in the composition to make use of the spacing and stacking behaviour.
//
// Styleguide: Compositions.Split.2

//Example
//
// Markup:
// <div class="xui-composition xui-composition-splitheader xui-composition-auto-template xui-composition-is-finite">
//   <div class="xui-gridarea-header">
//     <div style="background: #2D2D73; color: white; height: 120px; padding: 20px;"> content header </div>
//   </div>
//   <div class="xui-gridarea-primary">
//     <div style="background: #C5C5F6; height: 380px; padding: 20px;"> Primary </div>
//   </div>
//   <div class="xui-gridarea-detail">
//     <div style="background: #ADADF3; height: 380px; padding: 20px;"> Detail </div>
//   </div>
// </div>
//
// Storybook: storybook/?selectedKind=Compositions&selectedStory=Split&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs&knob-Include%20content%20header=true&knob-Show%20example%20content=true&knob-Expand%20width%20infinitely=&knob-Retain%20a%20width=
//
// Styleguide: Compositions.Split.2.5

// Anatomy
//
// Classes:
// xui-composition-split: Wraps entire composition when no content header is included
// xui-composition-splitheader: Wraps the entire composition when including a content header
// xui-gridarea-header: Wraps the content header if one is included
// xui-gridarea-primary: Wraps the Primary container
// xui-gridarea-detail: Wraps the Detail container
//
// Styleguide: Compositions.Split.3

// Composition properties
//
// Introduction: There are a number of spacing and layout properties that can be used to adjust the Split composition.
//
// Styleguide: Compositions.Split.4

// Lock Layout
//
// You can allow the composition layout to respond to the viewport width (recommended) or it can retain the "small" layout across all breakpoints, keeping keeping the Primary container stacked above the Detail container. Include the `xui-composition-auto-template` class on the composition container for a responsive layout, or omit it for the locked layout.
//
// Tips:
// Do: Lock the small layout across breakpoints when content won't fit using the two-column layout, even at larger breakpoints
// Warning: Consider defining custom widths to allow content to fit the columns, rather than locking the small layout
//
// Classes:
// xui-composition-auto-template: Allows the layout to adjust automatically to the viewport width
//
// Styleguide: Compositions.Split.4.1

// Grid gap
//
// Applies `$xui-s-large` spacing between the composition containers. To achieve custom spacing around content within each composition container, instead add spacing outside of the content itself.
//
// Tips:
// Do: Use to set XUI defined, standard spacing between containers
// Do: Use when each container's content spans the containers full width
// Do: Consider using in conjuction with the xui-composition-has-auto-space-around class which adds $xui-s-large spacing around the outside of the composition
// Dont: Don't use in conjuction with custom spacing around content within containers
//
// Classes:
// xui-composition-grid-gap: Applies standard spacing between composition containers
//
// Styleguide: Compositions.Split.4.2

// Outer spacing
//
// Applies `$xui-s-large` spacing around the entire composition.
//
// Tips:
// Do: Use to give spacing between the entire composition and the edge of the browser
// Warning: Avoid combining with utility spacing classes. For custom spacing, use utility classes alone.
//
// Classes:
// xui-composition-has-auto-space-around: Applies $xui-s-large spacing around the outside of the composition
//
// Styleguide: Compositions.Split.4.3

// Full width
//
// By default, compositions should have the `is-finite` class which applies a max width of 1200px. Removing this class allows the composition to span the full width of the page.
//
// Tips:
// Do: Apply when one or both containers hold wide media such as maps, images or tables
// Warning: Avoid applying when content doesn't benefit from the extra space
//
// Classes:
// xui-composition-is-finite: Remove this class to have the composition span 100% width of page
//
// Styleguide: Compositions.Split.4.4

// Class list
//
// Classes:
// xui-composition-split: Style for Split composition when no content header is included
// xui-composition-splitheader: Style for Split composition when including a content header
// xui-composition-auto-template: Allows the layout to adjust automatically to the viewport width. Remove this class to lock the layout at the "small" version
// xui-composition-grid-gap: Modifier for applying standard spacing between composition containers
// xui-composition-has-auto-space-around: Modifier for applying $xui-s-large spacing around the outside of the composition
// xui-composition-is-finite: Remove this class to have the composition span 100% width of page
// xui-gridarea-header: Style for content header subcomponent if the page has one
// xui-gridarea-primary: Style for Primary container subcomponent
// xui-gridarea-detail: Style for Detail container subcomponent
//
// Styleguide: Compositions.Split.5
