<div class="xui-margin-vertical">
    <a href="#" isDocLink>{{displayName}} in the XUI documentation</a>
</div>

Add a description here based on the recommendations from the content team.

## Example
