.clipboard-button {
	background: rgba($xui-color-grey-1, 0.95);
	color: $xui-color-grey-5;
	border-radius: 3px;
	opacity: 0;
	padding: 3px 8px 2px 6px;
	position: absolute;
	bottom: 90%;
	left: 50%;
	transform: translateX(-50%);
	transition-property: opacity, bottom;
	transition-duration: $xui-motion-speed-fast;
	transition-timing-function: $xui-motion-curve-exit;
	transition-delay: $xui-motion-delay-long;

	.xui-icon {
		width: 24px;
		height: 24px;
	}

	&:after {
		display: block;
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid rgba($xui-color-grey-1, 0.95);
		transform: rotate(90deg) translateX(-1px) translateY(-3px);
	}

	// this element makes the hover and hit states heaps bigger
	// bit hacky but works - win!
	&:before {
		display: block;
		content: "";
		position: absolute;
		top: 5px;
		left: -250%;
		background: rgba(red, 0.1);
		background: transparent;
		width: 600%;
		height: 35px;
		z-index: -1;
	}

	&:hover {
		color: $xui-color-grey-7;
	}
}

:hover > .clipboard-button {
	opacity: 1;
	bottom: 110%;
}
