.hover-tooltip {
  background: $ds-markup-bg-color;
  color: $xui-color-white;
  border-radius: $xui-radius;
  display: flex;
  min-height: 25px;
  justify-content: center;
  opacity: 0;
  padding: $xui-s-xsmall;
  pointer-events: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition-property: opacity, bottom, top;
  transition-duration: $xui-motion-speed-fast;
  transition-timing-function: $xui-motion-curve-exit;
  transition-delay: $xui-motion-delay-long;
  width: max-content;
  max-width: 250px;
  line-height: 1.5;
  font-size: $xui-font-size-small;
  text-transform: none;

  &-below {
    top: 90%;
    &:after {
      top: 0;
      transform: rotate(-90deg) translateX(7px);
    }
  }
  &-above {
    bottom: 90%;
    &:after {
      bottom: 0;
      transform: rotate(90deg) translateX(7px);
    }
  }
  :hover > &-above {
    bottom: 110%;
  }
  :hover > &-below {
    top: 110%;
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid $ds-markup-bg-color;
    left: 50%;
  }

  &:hover {
    color: $ds-markup-hover-color;
  }

  :hover > & {
    opacity: 1;
    pointer-events: unset;
  }

  .ds-flag & {
    text-align: left;
  }
  .ds-flag &:hover {
    color: $xui-color-white;
  }
}
