/**
 * A collection of general-purpose utility rules.
 */

@import "../mixins";
@import "../vars";

// Utility classes
//
// Weight: 2.9
//
// Styleguide: Utilities

// Display
//
// Classes that can be added to any element to hide it from view.
//
// Implementation of rules here are based on the A11Y Project's [How to Hide Content](http://a11yproject.com/posts/how-to-hide-content/).
//
// #### Class Names
//
// `xui-u-hidden`	Hide the element using `display` and `visibility` properties
//
// `xui-u-hidden-mobile`	Hide the element on mobile only using `display` property
//
// `xui-u-hidden-visually`	Hide the element using `width` and `height` properties
//
// Markup:
//  <section class="xui-u-container xui-u-hidden">hidden</section>
//  <section class="xui-u-container xui-u-hidden-visually">hidden visually</section>
//  <section class="xui-u-container xui-u-hidden-mobile">hidden on mobile</section>
//
// Styleguide: Utilities.1
// scss-lint:disable ImportantRule

.#{$ns}-u-hidden {
	display: none !important;
	// Screen readers sometimes ignore display:none as per
	// http://www.456bereastreet.com/archive/200711/screen_readers_sometimes_ignore_displaynone/
	visibility: hidden !important;
}

.#{$ns}-u-hidden-visually {
	@include xui-utililty-hidden-visually;
}

// scss-lint:disable ImportantRule
.#{$ns}-u-hidden-mobile {
	@include xui-breakpoint-narrow {
		display: none !important;
	}
}


// Flex
//
// Flex classes can be used to create flexible mutli-column layouts.
//
// #### Class Names
//
// `xui-u-flex`	Container for a flex box parent
//
// `xui-u-flex-col`	Container for a flex child (inside `xui-u-flex`)
//
// `xui-u-flex-grow`	Modifier for a flex child which fills remaining space
//
// `xui-u-flex-row`	Modifier for a vertically centered flex box parent
//
// `xui-u-flex-verticalalign-center`	Modifier for a column-orientated flex box parent
//
// Markup:
// <div class="xui-panel">
//   <header class="xui-panel--header xui-u-flex xui-u-flex-row xui-padding">
//     <h3 class="xui-panel--heading xui-text-panelheading xui-u-flex-col xui-u-flex-grow">Panel Header</h3>
//     <button type="button" class="xui-button xui-button-standard xui-u-flex-col">Button</button>
//   </header>
// </div>
// <br />
// <div class="xui-u-flex">
//   <div class="xui-panel xui-u-flex-col">
//     <div class="xui-panel--header">Header</div>
//     <div class="xui-panel--section">Content</div>
//     <div class="xui-panel--footer">Footer</div>
//   </div>
//   <div class="xui-panel xui-u-flex-col xui-u-flex-grow">
//     <div class="xui-panel--header">Header</div>
//     <div class="xui-panel--section">Content</div>
//     <div class="xui-panel--footer">Footer</div>
//   </div>
//   <div class="xui-panel xui-u-flex-col">
//     <div class="xui-panel--header">Header</div>
//     <div class="xui-panel--section">Content</div>
//     <div class="xui-panel--footer">Footer</div>
//   </div>
// </div>
//
// Styleguide: Utilities.2

.#{$ns}-u-flex {
	display: flex;
}

.#{$ns}-u-flex-row {
	align-items: center;
}

.#{$ns}-u-spacebetween {
	justify-content: space-between;
}

.#{$ns}-u-flex-col {
	flex-direction: row;
}

.#{$ns}-u-flex-grow {
	flex: 1;
}

.#{$ns}-u-flex-verticalalign-center {
	flex-direction: column;
	justify-content: center;
}


// Full Width
//
// Sometimes you want an element to have full width.
//
// #### Class Names
//
// `xui-u-fullwidth`	Modifier for a full-width element
//
// Markup:
// <div>
//   <span class="xui-button xui-button-standard xui-u-fullwidth">Wide</span>
// </div>
//
// Styleguide: Utilities.3

.#{$ns}-u-fullwidth {
	display: block;
	width: 100%;
}

// Preventing Selection
//
// For textual elements where the user could perform multiple clicks in quick succession, the browser
// may end up highlighting the text (interpreting a double click as an instruction to select
// the surrounding text). If this behaviour is undesirable, use `xui-u-noselect`.
//
// #### Class Names
//
// `xui-u-noselect`		Modifier for an element that should not allow user selection
//
// Markup:
// <p class="xui-u-noselect">Text <span class="xui-caret"></span></p>
//
// Styleguide: Utilities.4

.#{$ns}-u-noselect {
	user-select: none;
}

// Transitions
//
// May be added to elements to give them a smooth transition between transforms.
//
// #### Class Names
//
// `xui-u-transition-long`	Modifier for long animation transition between transforms
//
// `xui-u-transition-medium`	Modifier for medium animation transition between transforms
//
// `xui-u-transition-short`	Modifier for short animation transition between transforms
//
// Markup:
// <div>
// 	<div><span class="xui-text-panelheading">Short transition</span><svg class="xui-icon xui-icon xui-icon-rotate-270 xui-u-transition-short"> <use xlink:href="#xui-icon-arrow" role="presentation" /></svg></div>
// 	<div><span class="xui-text-panelheading">Medium transition</span><svg class="xui-icon xui-icon xui-icon-rotate-270 xui-u-transition-medium"> <use xlink:href="#xui-icon-arrow" role="presentation" /></svg></div>
// 	<div><span class="xui-text-panelheading">Long transition</span><svg class="xui-icon xui-icon xui-icon-rotate-270 xui-u-transition-long"> <use xlink:href="#xui-icon-arrow" role="presentation" /></svg></div>
// </div>
//
// Styleguide: Utilities.5

.#{$ns}-u-transition-short {
	transition: $xui-transition-duration-short;
}

.#{$ns}-u-transition-medium {
	transition: $xui-transition-duration-medium;
}

.#{$ns}-u-transition-long {
	transition: $xui-transition-duration-long;
}

// Resizing
//
// May be applied to elements to disable resize attributes. The primary use for this is for textarea, but has been added as a utility as resize can be applied to several other
// elements.
//
// #### Class Names
//
// `xui-u-resize-none` Modifier to disable resizing completely
//
// `xui-u-resize-vertical` Modifier to enable vertical resizing and disable horizontal resizing
//
// Markup:
// <div>
//		<textarea class="xui-input xui-u-resize-none">Not resizable</textarea>
//		<textarea class="xui-input xui-u-resize-vertical">Vertically resizable</textarea>
// </div>
//
// Styleguide: Utilities.6

.#{$ns}-u-resize-none {
	resize: none;
}

.#{$ns}-u-resize-vertical {
	resize: vertical;
}
