/**
 * A collection of general-purpose utility rules.
 */

@import "../mixins";
@import "../vars";

// Utility classes
//
// Styleguide: Utilities

// Display
//
// Classes that can be added to any element to hide it from view.
//
// Implementation of rules here are based on the A11Y Project's [How to Hide Content](http://a11yproject.com/posts/how-to-hide-content/).
//
// Markup:
//  <section class="xui-u-container xui-u-hidden">hidden</section>
//  <section class="xui-u-container xui-u-hidden-visually">hidden visually</section>
//  <section class="xui-u-container xui-u-hidden-mobile">hidden on mobile</section>
//
// Styleguide: Utilities.1
// scss-lint:disable ImportantRule

.#{$ns}-u-hidden {
	display: none !important;
	// Screen readers sometimes ignore display:none as per
	// http://www.456bereastreet.com/archive/200711/screen_readers_sometimes_ignore_displaynone/
	visibility: hidden !important;
}

// scss-lint:disable ImportantRule
.#{$ns}-u-hidden-visually {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px !important;
	overflow: hidden;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}

// scss-lint:disable ImportantRule
.#{$ns}-u-hidden-mobile {
	@include xui-breakpoint-narrow {
		display: none !important;
	}
}


// Flex
//
// Flex classes can be used to create flexible mutli-column layouts.
//
// - The `.xui-u-flex` class should be applied to the parent container to enable flexible multi-column layouts
// - The `.xui-u-flex-row` class can be applied to the parent container to vertically align all children at the center
// (this is useful for cases when the children have different heights, e.g. panel headings and buttons)
// - The `.xui-u-flex-col` class should be applied to children to create flexible columns
// - The `.xui-u-flex-grow` class can be applied to children to fill the remaining horizontal space of the parent container
//
// Markup:
// <div class="xui-panel">
//   <header class="xui-panel--header xui-u-flex xui-u-flex-row xui-padding">
//     <h3 class="xui-panel--heading xui-text-panelheading xui-u-flex-col xui-u-flex-grow">Panel Header</h3>
//     <button type="button" class="xui-button xui-button-standard xui-u-flex-col">Button</button>
//   </header>
// </div>
// <br />
// <div class="xui-u-flex">
//   <div class="xui-panel xui-u-flex-col">
//     <div class="xui-panel--header">Header</div>
//     <div class="xui-panel--section">Content</div>
//     <div class="xui-panel--footer">Footer</div>
//   </div>
//   <div class="xui-panel xui-u-flex-col xui-u-flex-grow">
//     <div class="xui-panel--header">Header</div>
//     <div class="xui-panel--section">Content</div>
//     <div class="xui-panel--footer">Footer</div>
//   </div>
//   <div class="xui-panel xui-u-flex-col">
//     <div class="xui-panel--header">Header</div>
//     <div class="xui-panel--section">Content</div>
//     <div class="xui-panel--footer">Footer</div>
//   </div>
// </div>
//
// Styleguide: Utilities.2

.#{$ns}-u-flex {
	display: flex;
}

.#{$ns}-u-flex-row {
	align-items: center;
}

.#{$ns}-u-spacebetween {
	justify-content: space-between;
}

.#{$ns}-u-flex-col {
	flex-direction: row;
}

.#{$ns}-u-flex-grow {
	flex: 1;
}

.#{$ns}-u-flex-verticalalign-center {
	flex-direction: column;
	justify-content: center;
}


// Full Width
//
// Sometimes you want an element to have full width.
//
// Markup:
// <div>
//   <span class="xui-button xui-button-standard xui-u-fullwidth">Wide</span>
// </div>
//
// Styleguide: Utilities.3

.#{$ns}-u-fullwidth {
	display: block;
	width: 100%;
}
