@import "../vars";
@import "../mixins";

$pop-width: 8px;
$transition-duration: 0.15s;

.#{$ns}-accordion-new {
	width: 100%;
}

.#{$ns}-accordionitem-new--trigger {
	cursor: pointer;
	transition-duration: $transition-duration;
	transition-property: width, margin, padding;
	-ms-transition: none;

	&:hover {
		background: $xui-color-grey-alpha-7;
	}
	&:active {
		background: $xui-color-grey-alpha-6;
	}
}

.#{$ns}-accordionitem-new--trigger--caret {
	align-items: center;
	flex: none;
	padding: 5px;

	@media (max-width: $xui-breakpoint-narrow) {
		align-self: flex-start;
	}
}

.#{$ns}-accordionitem-new--trigger--rightcontent {
	align-items: center;
	align-self: stretch;
	display: flex;
	flex-shrink: 0;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;

	@media (max-width: $xui-breakpoint-narrow) {
		align-self: flex-start;
	}
}

.#{$ns}-accordionitem-new--emptystate {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 140px;
	justify-content: center;
}
