@import "../vars";
@import "../mixins";

// Avatars
//
// Avatars can be either an image or text. If no image is available then the `<abbr>` tag should be used to display the first character of the entity.
// The background color should be selected deterministically from one of the ten approved colors based on a unique attribute of the entity (not their name).
// This allows the user to associate a color/letter pair with a particular entity.
// If two entities share the same name then the color should be different.
// See the [sample solution](https://github.dev.xero.com/gist/dev-ivanm/dce61c6f9127dab0d7fa) for more more detail.
//
// #### Class Names
//
// `xui-avatar`	Style for an avatar
//
// `xui-avatar-color-[1-10]`	Modifiers for a color avatar
//
// `xui-avatargroup`	Container for a group of avatars
//
// `xui-avatar-large`	Modifier for a large avatar
//
// `xui-avatar-small`	Modifier for a small avatar
//
// `xui-avatar-counter` Modifier for an avatar counter (e.g. +3)
//
// Markup:
// <h3>Small</h3>
// <img class="xui-avatar xui-avatar-small" alt="" role="presentation" src="https://s3.amazonaws.com/uifaces/faces/twitter/kerihenare/24.jpg"/>
// <abbr class="xui-avatar xui-avatar-small" style="background-color: #FCAD59" role="presentation">X</abbr>
// <h3>Medium</h3>
// <img class="xui-avatar" alt="" role="presentation" src="https://s3.amazonaws.com/uifaces/faces/twitter/kerihenare/48.jpg"/>
// <abbr class="xui-avatar" style="background-color: #75C8F4" role="presentation">Y</abbr>
// <h3>Large</h3>
// <img class="xui-avatar xui-avatar-large" alt="" role="presentation" src="https://s3.amazonaws.com/uifaces/faces/twitter/kerihenare/48.jpg"/>
// <abbr class="xui-avatar xui-avatar-large" style="background-color: #C48FDE" role="presentation">Z</abbr>
// <h3>Multiple avatars</h3>
// <div class="xui-avatargroup">
//   <abbr class="xui-avatar xui-avatar-color-1">A</abbr>
//   <abbr class="xui-avatar xui-avatar-color-2">B</abbr>
//   <abbr class="xui-avatar xui-avatar-color-3">C</abbr>
//   <abbr class="xui-avatar xui-avatar-color-4">D</abbr>
//   <span class="xui-avatar xui-avatar-counter">+1</span>
// </div>
// <div class="xui-avatargroup">
//   <abbr class="xui-avatar xui-avatar-large xui-avatar-color-1">A</abbr>
//   <abbr class="xui-avatar xui-avatar-large xui-avatar-color-2">B</abbr>
//   <abbr class="xui-avatar xui-avatar-large xui-avatar-color-3">C</abbr>
//   <abbr class="xui-avatar xui-avatar-large xui-avatar-color-4">D</abbr>
//   <span class="xui-avatar xui-avatar-large xui-avatar-counter">+2</span>
// </div>
// <h3>Approved Colours</h3>
// <abbr class="xui-avatar xui-avatar-color-1" role="presentation">1</abbr>
// <abbr class="xui-avatar xui-avatar-color-2" role="presentation">2</abbr>
// <abbr class="xui-avatar xui-avatar-color-3" role="presentation">3</abbr>
// <abbr class="xui-avatar xui-avatar-color-4" role="presentation">4</abbr>
// <abbr class="xui-avatar xui-avatar-color-5" role="presentation">5</abbr>
// <abbr class="xui-avatar xui-avatar-color-6" role="presentation">6</abbr>
// <abbr class="xui-avatar xui-avatar-color-7" role="presentation">7</abbr>
// <abbr class="xui-avatar xui-avatar-color-8" role="presentation">8</abbr>
// <abbr class="xui-avatar xui-avatar-color-9" role="presentation">9</abbr>
// <abbr class="xui-avatar xui-avatar-color-10" role="presentation">10</abbr>
// <h3>Avatar with Descriptive Text</h3>
// <div class="xui-u-flex xui-u-flex-row">
//   <img class="xui-avatar xui-avatar-large" alt="" role="presentation" src="https://s3.amazonaws.com/uifaces/faces/twitter/kerihenare/48.jpg"/>
//   <span class="xui-margin-left-small">Sue Denim</span>
// </div>
//
// Styleguide: Avatars

.#{$ns}-avatar {
	align-items: center;
	border-radius: 50%;
	color: $xui-color-reversed-text;
	display: inline-flex;
	font-size: $xui-font-size-text;
	height: 32px;
	justify-content: center;
	overflow: hidden;
	vertical-align: middle;
	width: 32px;
}

.#{$ns}-avatar-small {
	font-size: $xui-font-size-avatar-small;
	height: 24px;
	width: 24px;
}

.#{$ns}-avatar-large {
	font-size: $xui-font-size-avatar-large;
	height: 48px;
	width: 48px;
}

// TODO: remove avatar-group in breaking change
.#{$ns}-avatar-group, .#{$ns}-avatargroup {
	.#{$ns}-avatar {
		background-clip: content-box;
		box-sizing: content-box;

		@include xui-all-but-first {
			border-left: 0.25em solid $xui-color-shadow-medium;
			margin-left: -1.25em;
		}

	}

	.#{$ns}-avatar-counter {
		background-color: $xui-color-grey-5;
		color: $xui-color-grey-2;
	}
}

.#{$ns}-avatar-color-1 {
	background-color: $xui-color-avatar-1;
}

.#{$ns}-avatar-color-2 {
	background-color: $xui-color-avatar-2;
}

.#{$ns}-avatar-color-3 {
	background-color: $xui-color-avatar-3;
}

.#{$ns}-avatar-color-4 {
	background-color: $xui-color-avatar-4;
}

.#{$ns}-avatar-color-5 {
	background-color: $xui-color-avatar-5;
}

.#{$ns}-avatar-color-6 {
	background-color: $xui-color-avatar-6;
}

.#{$ns}-avatar-color-7 {
	background-color: $xui-color-avatar-7;
}

.#{$ns}-avatar-color-8 {
	background-color: $xui-color-avatar-8;
}

.#{$ns}-avatar-color-9 {
	background-color: $xui-color-avatar-9;
}

.#{$ns}-avatar-color-10 {
	background-color: $xui-color-avatar-10;
}
