// Avatars
//
// Avatars can be either an image or text.
// If no image is available, use the `<abbr>` tag to display the first character of the entity.
// The background colour should be selected deterministically from a list of colours based on a unique
// attribute of the entity (not their name). This allows the user to associate a pair of
// colour and letter with a particular entity. If two entities share the same name, the colour should
// be different ([Sample solution](https://github.dev.xero.com/FutureRobot/avatar/blob/master/src/Avatar.js#L62)).
//
// For this reason, no background colour is provided by default; instead, one should be supplied
// via an inline style tag.
//
// Markup:
// <h3>Small</h3>
// <img class="xui-avatar xui-avatar-small" alt="" role="presentation" src="https://s3.amazonaws.com/uifaces/faces/twitter/kerihenare/24.jpg"/>
// <abbr class="xui-avatar xui-avatar-small" style="background-color: #FCAD59" role="presentation">X</abbr>
// <h3>Medium</h3>
// <img class="xui-avatar" alt="" role="presentation" src="https://s3.amazonaws.com/uifaces/faces/twitter/kerihenare/48.jpg"/>
// <abbr class="xui-avatar" style="background-color: #75C8F4" role="presentation">Y</abbr>
// <h3>Large</h3>
// <img class="xui-avatar xui-avatar-large" alt="" role="presentation" src="https://s3.amazonaws.com/uifaces/faces/twitter/kerihenare/48.jpg"/>
// <abbr class="xui-avatar xui-avatar-large" style="background-color: #C48FDE" role="presentation">Z</abbr>
// <h3>Approved Colours</h3>
// <abbr class="xui-avatar xui-avatar-medium" style="background-color: #FA908C" role="presentation">0</abbr> #FA908C
// <abbr class="xui-avatar xui-avatar-medium" style="background-color: #FCAD59" role="presentation">1</abbr> #FCAD59
// <abbr class="xui-avatar xui-avatar-medium" style="background-color: #FBC859" role="presentation">2</abbr> #FBC859
// <abbr class="xui-avatar xui-avatar-medium" style="background-color: #92D960" role="presentation">3</abbr> #92D960
// <abbr class="xui-avatar xui-avatar-medium" style="background-color: #8EE7CB" role="presentation">4</abbr> #8EE7CB
// <abbr class="xui-avatar xui-avatar-medium" style="background-color: #7FE9FA" role="presentation">5</abbr> #7FE9FA
// <abbr class="xui-avatar xui-avatar-medium" style="background-color: #75C8F4" role="presentation">6</abbr> #75C8F4
// <abbr class="xui-avatar xui-avatar-medium" style="background-color: #9595EF" role="presentation">7</abbr> #9595EF
// <abbr class="xui-avatar xui-avatar-medium" style="background-color: #C48FDE" role="presentation">8</abbr> #C48FDE
// <abbr class="xui-avatar xui-avatar-medium" style="background-color: #FF9CDE" role="presentation">9</abbr> #FF9CDE
//
// Styleguide: Avatars
.#{$ns}-avatar {
	align-items: center;
	border-radius: 50%;
	color: $color-reversed-text;
	display: flex;
	font-size: $font-size-text;
	height: px-to-rem(32);
	justify-content: center;
	overflow: hidden;
	width: px-to-rem(32);
}

.#{$ns}-avatar-small {
	font-size: $font-size-avatar-small;
	height: px-to-rem(24);
	width: px-to-rem(24);
}

.#{$ns}-avatar-large {
	font-size: $font-size-avatar-large;
	height: px-to-rem(48);
	width: px-to-rem(48);
}
