@import "../mixins";

.#{$ns}-button--caret {
	@include xui-margin-top(-7px);
	@include xui-margin-left(-6px);
	@include xui-margin-right(-10px);
	@include xui-margin-bottom(-11px);

	// The bizarre magic number BS done above is so that the caret will sit nicely inline with some text when button
	// text is the sibling of a caret button.  Until we can revamp all the icon svgs to not include enough whitespace
	// to make everything look good in a 30x30 box, we can just undo all the magic number BS above and let the svg
	// determine the width of the split button and nudge it down using top margin to line up with text consistently.
	//
	// @author dev-johnsanders
	.#{$ns}-button-split & {
		margin: 4px 0 0;
	}
	.#{$ns}-button-small & {
		margin: -1px -2px -4px -2px;
	}
}


.#{$ns}-button-split {
	min-width: 0;
	padding: 0;
}
