@import "../settings/structure";
@import "../settings/typography";
@import "../tools/functions";
@import "../tools/mixins";

// Buttons
//
// Styleguide: Buttons

// Standard Buttons
//
// Your standard button suitable for clicking.
//
// :hover - Highlights when hovering
// :focus - When focused
// :active - When active
// .xui-button - Standard styling
//
// Markup:
// <button>Text</button>
// <input type="button" value="Text"/>
// <a href="#" class="xui-button">Text</a>
//
// Styleguide: Buttons.1
button,
input[type="button"],
input[type="submit"],
.#{$ns}-button {
	background-color: $color-grey-7;
	border: $border-standard;
	border-radius: $radius;
	box-sizing: border-box;
	color: $color-xero-blue;
	cursor: pointer;
	display: inline-block;
	line-height: px-to-rem(24);	// Should be an em
	min-width: px-to-rem(120);
	padding: 0.5em 1.5em;
	text-align: center;
	text-decoration: none;

	// TODO: The following should probably be extracted to some kind of button
	//       group object.
	@include all-but-first {
		margin-left: px-to-rem(10);
	}

	@include mobile {
		display: block;
		width: 100%;

		@include all-but-first {
			margin-left: 0;
			margin-top: px-to-rem(10);
		}
	}

	// NOTE: I'm not fond of having to specify these colours directly...  Need to
	//       ask design if these are right for the hover and active states.
	&:hover {
		border-color: $color-grey-3;
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}

	&:active {
		background-color: $color-grey-6;
		border-color: $color-grey-3;
		text-decoration: none;
	}
}


// Primary Action Buttons
//
// The primary action of a form or dialog.
//
// :hover - Highlights when hovering.
// :focus - When focused
// :active - When active
// .xui-button-action-main - Primary action
//
// Markup:
// <button type="submit">Text</button>
// <input type="submit" value="Text"/>
// <button class="xui-button-action-main">Text</button>
// <a href="#" class="xui-button xui-button-action-main">Text</a>
//
// Styleguide: Buttons.2
input[type="submit"],
button[type="submit"],
.#{$ns}-button-action-main {
	background-color: $color-xero-blue;
	border-color: $color-xero-blue;
	color: $color-grey-7;

	@mixin button-shadow($fade) {
		border-color: $color-xero-blue;
		box-shadow: inset 0 0 0 40px rgba(0, 0, 0, $fade);	// TODO: Should just change background colour...
	}

	&:hover {
		@include button-shadow(0.05);
	}

	&:active {
		@include button-shadow(0.1);
		background-color: $color-xero-blue;
	}
}

// Create Action Buttons
//
// Button to use when creating things.
//
// :hover - Highlights when hovering.
// :focus - When focused
// :active - When active
// .xui-button-action-create - Primary action
//
// Markup:
// <button type="button" class="xui-button-action-create">Text</button>
// <input type="button" class="xui-button-action-create" value="Text"/>
// <button class="xui-button-action-create">Text</button>
// <a href="#" class="xui-button xui-button-action-create">Text</a>
//
// Styleguide: Buttons.3
button.#{$ns}-button-action-create,
input[type="button"].#{$ns}-button-action-create,
input[type="submit"].#{$ns}-button-action-create,
.#{$ns}-button-action-create {
	background-color: $color-xero-green;
	border-color: $color-xero-green;
	color: $color-grey-7;

	@mixin button-shadow($fade) {
		border-color: $color-xero-green;
		box-shadow: inset 0 0 0 40px rgba(0, 0, 0, $fade);	// TODO: Should just change background colour...
	}

	&:hover {
		@include button-shadow(0.05);
	}

	&:active {
		@include button-shadow(0.1);
		background-color: $color-xero-green;
	}
}

// Smaller Buttons
//
// Button to use when creating smaller more compact things.
//
// :hover - Highlights when hovering.
// :focus - When focused
// :active - When active
// .xui-button-small
//
// Markup:
// <button type="button" class="xui-button-small">Text</button>
// <button type="button" class="xui-button-action-main xui-button-small">Text</button>
// <button type="button" class="xui-button-action-create xui-button-small">Text</button>
//
// Styleguide: Buttons.4
button.#{$ns}-button-small,
input[type="button"].#{$ns}-button-small,
input[type="submit"].#{$ns}-button-small,
.#{$ns}-button-small {
	line-height: px-to-rem(16);	// Should be an em
	min-width: px-to-rem(60);
	padding: 0.5em 1em;
}
