@import "../settings/structure";
@import "../settings/typography";
@import "../tools/functions";
@import "../tools/mixins";

// Buttons
//
// Styleguide: Buttons

// Standard Buttons
//
// Your standard button suitable for clicking.
//
// :hover - Highlights when hovering
// :focus - When focused
// :active - When active
//
// Markup:
// <button type="button" class="xui-button {{modifier_class}}">Text</button>
// <input type="button" class="xui-button {{modifier_class}}" value="Text" />
// <a href="#" class="xui-button {{modifier_class}}">Text</a>
// <button type="button" class="xui-button {{modifier_class}}">A button with longer text</button>
//
// Styleguide: Buttons.1
.#{$ns}-button {
	-webkit-appearance: none;
	background-color: $color-forms;
	border: $border-standard;
	border-radius: $radius;
	color: $color-xero-blue;
	cursor: pointer;
	display: inline-block;
	font-size: $font-size-text;
	font-family: inherit;
	line-height: px-to-rem(33); // 35 px total height with borders
	min-width: px-to-rem(80);
	padding: 0 px-to-rem(10);
	text-align: center;
	text-decoration: none;

	@include mobile {
		display: block;
		width: 100%;
	}

	// NOTE: I'm not fond of having to specify these colours directly...  Need to
	//       ask design if these are right for the hover and active states.
	&:hover {
		border-color: $color-grey-3;
		text-decoration: none;
	}

	&:focus {
		border-color: $color-xero-blue;
		outline: none;
	}

	&:active {
		background-color: $color-grey-6;
		border-color: $color-grey-3;
		text-decoration: none;
	}
}

.#{$ns}-button--grouped {
	@include all-but-first {
		margin-left: px-to-rem(10);

		@include mobile {
			margin-left: 0;
			margin-top: px-to-rem(10);
		}
	}
}

// Primary Action Buttons
//
// The primary action of a form or dialog.
//
// :hover - Highlights when hovering.
// :focus - When focused
// :active - When active
//
// Markup:
// <button type="submit" class="xui-button xui-button-main {{modifier_class}}">Text</button>
// <input type="submit" class="xui-button xui-button-main {{modifier_class}}" value="Text" />
// <button type="button" class="xui-button xui-button-main {{modifier_class}}">Text</button>
// <a href="#" class="xui-button xui-button-main {{modifier_class}}">Text</a>
//
// Styleguide: Buttons.2
.#{$ns}-button-main {
	background-color: $color-xero-blue;
	border-color: $color-xero-blue;
	color: $color-reversed-text;

	@mixin button-shadow($fade) {
		border-color: $color-xero-blue;
		box-shadow: inset 0 0 0 40px rgba(0, 0, 0, $fade);	// TODO: Should just change background colour...
	}

	&:hover {
		@include button-shadow(0.05);
	}

	&:focus {
		border-color: $color-xero-blue;
		outline: 1px solid $color-white;
		outline-offset: -3px;
	}

	&:active {
		@include button-shadow(0.1);
		background-color: $color-xero-blue;
	}
}

// Create Buttons
//
// Button to use when creating things.
//
// :hover - Highlights when hovering.
// :focus - When focused
// :active - When active
//
// Markup:
// <button type="button" class="xui-button xui-button-create {{modifier_class}}">Text</button>
// <input type="button" class="xui-button xui-button-create {{modifier_class}}" value="Text"/>
// <button type="submit" class="xui-button xui-button-create {{modifier_class}}">Text</button>
// <a href="#" class="xui-button xui-button-create {{modifier_class}}">Text</a>
//
// Styleguide: Buttons.3
.#{$ns}-button-create {
	background-color: $color-xero-green;
	border-color: $color-xero-green;
	color: $color-reversed-text;

	@mixin button-shadow($fade) {
		border-color: $color-xero-green;
		box-shadow: inset 0 0 0 40px rgba(0, 0, 0, $fade);	// TODO: Should just change background colour...
	}

	&:hover {
		@include button-shadow(0.05);
	}

	&:focus {
		border-color: $color-xero-green;
		outline: 1px solid $color-white;
		outline-offset: -3px;
	}

	&:active {
		@include button-shadow(0.1);
		background-color: $color-xero-green;
	}
}

// Smaller Buttons
//
// Button to use when creating smaller more compact things.
//
// :hover - Highlights when hovering.
// :focus - When focused
// :active - When active
// .xui-button-small
//
// Markup:
// <button type="button" class="xui-button xui-button-small {{modifier_class}}">Text</button>
// <button type="button" class="xui-button xui-button-main xui-button-small {{modifier_class}}">Text</button>
// <button type="button" class="xui-button xui-button-create xui-button-small {{modifier_class}}">Text</button>
//
// Styleguide: Buttons.4
.#{$ns}-button-small {
	line-height: px-to-rem(16);	// Should be an em
	min-width: px-to-rem(60);
	padding: 0.5em 1em;
}

// Full Width Buttons
//
// Sometimes used when there is a single action.
//
// Markup:
// <button type="button" class="xui-button xui-button-main xui-u-fullwidth">Big Button</button>
//
// Styleguide: Buttons.5

// Disabled buttons
//
// Styling of buttons when disabled.
//
// Markup:
// <p>
//   <button type="button" disabled class="xui-button xui-button-main xui-button-is-disabled {{modifier_class}}">Text</button>
//   <button type="button" disabled class="xui-button xui-button-create xui-button-is-disabled {{modifier_class}}">Text</button>
//   <input type="submit" disabled class="xui-button xui-button-main xui-button-is-disabled {{modifier_class}}" value="Text" />
//   <a href="#" class="xui-button xui-button-main xui-button-is-disabled {{modifier_class}}">Text</a>
// </p>
// <p>
//   <button type="button" disabled class="xui-button xui-button-is-disabled {{modifier_class}}">Text</button>
//   <input type="button" disabled class="xui-button xui-button-is-disabled {{modifier_class}}" value="Text" />
//   <a href="#" class="xui-button xui-button-is-disabled {{modifier_class}}">Text</a>
// </p>
//
// Styleguide: Buttons.6

// Disabled styling for buttons
.#{$ns}-button-is-disabled,
.#{$ns}-button-is-disabled:focus,
.#{$ns}-button-is-disabled:hover {
	background-color: $color-reversed-text;
	border-color: $color-disabled;
	box-shadow: none;
	color: $color-disabled-text;
	cursor: default;
	pointer-events: none;
}

.#{$ns}-button-select {
	background-color: transparent;
	color: $color-primary-text;
	left: 0;
	position: absolute;
	text-align: left;
	top: 0;
}

.#{$ns}-button-select-is-selected {
	border: $border-standard;
	border-bottom: 0;
	border-color: $color-xero-blue;
	border-radius: 3px 3px 0 0;
}
