// Button Groups
//
// Styling of button groups.
//
// :hover - Highlights when hovering
// :focus - When focused
// :active - When active
//
// Markup:
// <div class="xui-button-group">
//   <button type="button" class="xui-button {{modifier_class}}">Left</button>
//   <button type="button" class="xui-button {{modifier_class}}">Middle</button>
//   <button type="button" class="xui-button {{modifier_class}}">Right</button>
// </div>
// <div class="xui-button-group">
//   <button type="button" class="xui-button xui-button-main {{modifier_class}}">Left</button>
//   <button type="button" class="xui-button xui-button-main {{modifier_class}}">Middle</button>
//   <button type="button" class="xui-button xui-button-main {{modifier_class}}">Right</button>
// </div>
// <div class="xui-button-group">
//   <button type="button" class="xui-button xui-button-create {{modifier_class}}">Left</button>
//   <button type="button" class="xui-button xui-button-create {{modifier_class}}">Middle</button>
//   <button type="button" class="xui-button xui-button-create {{modifier_class}}">Right</button>
// </div>
//
// Styleguide: Buttons.100

.#{$ns}-button-group {
  display: inline-flex;

  > .#{$ns}-button {
    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
  }
}

// Prevent double borders
.#{$ns}-button-group > .#{$ns}-button + .#{$ns}-button {
  margin-left: -1px;
}

.#{$ns}-button-group > .#{$ns}-button {
  border-radius: 0;

  &:first-child {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }

  &:last-child {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}
$color-xero-blue-divider: mix(rgba($color-xero-blue, 0.35), #fff);
$color-xero-green-divider: mix(rgba($color-xero-green, 0.35), #fff);

.#{$ns}-button-group > .#{$ns}-button:not(:first-child) {
  &.#{$ns}-button-main,
  &.#{$ns}-button-main:hover {
    border-left-color: $color-xero-blue-divider;
  }

  &.#{$ns}-button-create,
  &.#{$ns}-button-create:hover {
    border-left-color: $color-xero-green-divider;
  }
}

.#{$ns}-button-group > .#{$ns}-button:hover:not(:last-child) {
  &.#{$ns}-button-main {
    border-right-color: $color-xero-blue-divider;
  }

  &.#{$ns}-button-create {
    border-right-color: $color-xero-green-divider;
  }
}
