@import "../vars";

// Sizes
//
// Styleguide: Buttons.4

.#{$ns}-button-fullwidth-layout {
	@include xui-breakpoint-narrow {
		display: block;
		width: 100%;
	}
}

// Smaller
//
// Button to use when creating smaller more compact things.
//
//
// Markup:
// <button type="button" class="xui-button xui-button-standard xui-button-small {{modifier_class}}">Text</button>
//
// Styleguide: Buttons.4.1

.#{$ns}-button-small {
	min-height: $xui-input-height-small;
	padding: 6px $xui-s-small;
}

// Full-width
//
// Sometimes used when there is a single action.
//
// Markup:
// <button type="button" class="xui-button xui-button-main xui-u-fullwidth">Big Button</button>
//
// Styleguide: Buttons.4.2

// Full-width for mobile devices
//
// Used for creating full-width buttons for narow breakpoints.
//
// Markup:
// <button type="button" class="xui-button xui-button-main xui-button-fullwidth-layout">Mobile Button</button>
//
// Styleguide: Buttons.4.3
