@import "../tools/functions";
@import "../tools/mixins";

// Single Button Dropdowns
//
// Styling of button dropdowns.
//
// :hover - Highlights when hovering
// :focus - When focused
// :active - When active
//
// Markup:
// <button type="button" class="xui-button {{modifier_class}}">
//	 Dropdown
//   <span class="xui-button--caret"></span>
// </button>
// <button type="button" class="xui-button xui-button-main {{modifier_class}}">
//	 Dropdown
//   <span class="xui-button--caret"></span>
// </button>
// <button type="button" class="xui-button xui-button-create {{modifier_class}}">
//	 Dropdown
//   <span class="xui-button--caret"></span>
// </button>
//
// Styleguide: Buttons.200
$button-margin-left: px-to-rem(5);

.#{$ns}-button--caret {
  @include caret($color-xero-blue);
  height: 6px;
  margin-left: $button-margin-left;
}

.#{$ns}-button-main,
.#{$ns}-button-create {
  .#{$ns}-button--caret {
    @include caret($color-white);
    height: 6px;
    margin-left: $button-margin-left;
  }
}

// Split Button Dropdowns
//
// Styling of button dropdowns.
//
// :hover - Highlights when hovering
// :focus - When focused
// :active - When active
//
// Markup:
// <div class="xui-button-group">
//   <button type="button" class="xui-button {{modifier_class}}">Dropdown</button>
//   <button type="button" class="xui-button xui-button-caret {{modifier_class}}">
//     <span class="xui-button--caret"></span>
//   </button>
// </div>
// <div class="xui-button-group">
//   <button type="button" class="xui-button xui-button-main {{modifier_class}}">Dropdown</button>
//   <button type="button" class="xui-button xui-button-main xui-button-caret {{modifier_class}}">
//     <span class="xui-button--caret"></span>
//   </button>
// </div>
// <div class="xui-button-group">
//   <button type="button" class="xui-button xui-button-create {{modifier_class}}">Dropdown</button>
//   <button type="button" class="xui-button xui-button-create xui-button-caret {{modifier_class}}">
//     <span class="xui-button--caret"></span>
//   </button>
// </div>
//
// Styleguide: Buttons.201

.#{$ns}-button-caret {
  min-width: auto;
  padding-left: $button-margin-left;
}
