// Button Groups
//
// Styling of button groups.
//
// :hover - Highlights when hovering
// :focus - When focused
// :active - When active
//
// Markup:
// <div class="xui-button-group">
//   <button type="button" class="xui-button {{modifier_class}}">Left</button>
//   <button type="button" class="xui-button {{modifier_class}}">Middle</button>
//   <button type="button" class="xui-button {{modifier_class}}">Right</button>
// </div>
// <div class="xui-button-group">
//   <button type="button" class="xui-button xui-button-main {{modifier_class}}">Left</button>
//   <button type="button" class="xui-button xui-button-main {{modifier_class}}">Middle</button>
//   <button type="button" class="xui-button xui-button-main {{modifier_class}}">Right</button>
// </div>
// <div class="xui-button-group">
//   <button type="button" class="xui-button xui-button-create {{modifier_class}}">Left</button>
//   <button type="button" class="xui-button xui-button-create {{modifier_class}}">Middle</button>
//   <button type="button" class="xui-button xui-button-create {{modifier_class}}">Right</button>
// </div>
//
// Styleguide: Buttons.100

.#{$ns}-button-group {
  display: inline-flex;

  > .#{$ns}-button {
    &:hover {
      z-index: 2;
    }

    &:focus,
    &:active {
      z-index: 3;
    }
  }
}
$color-xero-blue-divider: mix(rgba($color-xero-blue, 0.35), #fff);
$color-xero-green-divider: mix(rgba($color-xero-green, 0.35), #fff);

.#{$ns}-button-group > .#{$ns}-button {
  border-radius: 0;
  margin-right: -1px; // Prevent double borders

  &.#{$ns}-button-main:not(:first-child):not(:last-child) {
    &,
    &:hover,
    &:focus,
    &:active {
      border-right-color: $color-xero-blue-divider;
      border-left-color: $color-xero-blue-divider;
    }
  }

  &.#{$ns}-button-create:not(:first-child):not(:last-child) {
    &,
    &:hover,
    &:focus,
    &:active {
      border-right-color: $color-xero-green-divider;
      border-left-color: $color-xero-green-divider;
    }
  }

  &:first-child {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;

    &.#{$ns}-button-main {
      &,
      &:hover,
      &:focus,
      &:active {
        border-right-color: $color-xero-blue-divider;
      }
    }

    &.#{$ns}-button-create {
      &,
      &:hover,
      &:focus,
      &:active {
        border-right-color: $color-xero-green-divider;
      }
    }
  }

  &:last-child {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;

    &.#{$ns}-button-main {
      &,
      &:hover,
      &:focus,
      &:active {
        border-left-color: $color-xero-blue-divider;
      }
    }

    &.#{$ns}-button-create {
      &,
      &:hover,
      &:focus,
      &:active {
        border-left-color: $color-xero-green-divider;
      }
    }
  }
}
