@import "../vars";

// Borderless
//
// Borderless buttons are buttons that take up the same amount of physical space, but are more subtle visually.
//
// Markup:
// <button type="button" class="xui-button xui-button-borderless">Borderless</button>
// <button type="button" class="xui-button xui-button-borderless xui-button-borderless-muted">Muted</button>
// <button type="button" class="xui-button xui-button-borderless xui-button-borderless-blue">Blue</button>
// <button type="button" class="xui-button xui-button-borderless xui-button-borderless-green">Green</button>
// <button type="button" class="xui-button xui-button-borderless xui-button-borderless-red">Red</button>
// <button type="button" class="xui-button xui-button-borderless xui-button-borderless-red xui-button-is-disabled">Disabled</button>
// <div class="xui-text-inverted">
//	<button type="button" class="xui-button xui-button-borderless xui-button-borderless-inverted">Inverted</button>
// 	<button type="button" class="xui-button xui-button-borderless xui-button-borderless-inverted xui-button-is-disabled">Inverted disabled</button>
// </div>
// <button type="button" class="xui-button xui-button-borderless">With icon
//	<svg focusable="false" class="xui-icon xui-button--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
// </button>
// <button type="button" class="xui-button xui-button-borderless xui-button-borderless-muted">Muted with icon
//	<svg focusable="false" class="xui-icon xui-button--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
// </button>
// <button type="button" class="xui-button xui-button-borderless xui-button-borderless-blue">Blue with icon
//	<svg focusable="false" class="xui-icon xui-button--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
// </button>
// <button type="button" class="xui-button xui-button-borderless xui-button-borderless-red">Red with icon
//	<svg focusable="false" class="xui-icon xui-button--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
// </button>
// <button type="button" class="xui-button xui-button-borderless xui-button-borderless-green">Green with icon
//	<svg focusable="false" class="xui-icon xui-button--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
// </button>
// <button type="button" class="xui-button xui-button-borderless xui-button-borderless-green xui-button-is-disabled">Disabled with icon
//	<svg focusable="false" class="xui-icon xui-button--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
// </button>
// <div class='xui-buttongroup'>
// 	<button type="button" class="xui-button xui-button-borderless xui-button-borderless-muted xui-button-grouped">One</button>
// 	<button type="button" class="xui-button xui-button-borderless xui-button-borderless-muted xui-button-grouped">Two</button>
// 	<button type="button" class="xui-button xui-button-borderless xui-button-borderless-muted xui-button-grouped">Three</button>
// </div>
// <div class="xui-text-inverted">
// <button type="button" class="xui-button xui-button-borderless xui-button-borderless-inverted">Inverted with icon
//	<svg focusable="false" class="xui-icon xui-button--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
// </button>
// <button type="button" class="xui-button xui-button-borderless xui-button-borderless-inverted xui-button-is-disabled">Inverted disabled with icon
//	<svg focusable="false" class="xui-icon xui-button--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
// </button>
// <div class='xui-buttongroup'>
// 	<button type="button" class="xui-button xui-button-borderless xui-button-borderless-inverted xui-button-grouped">One</button>
// 	<button type="button" class="xui-button xui-button-borderless xui-button-borderless-inverted xui-button-grouped">Two</button>
// 	<button type="button" class="xui-button xui-button-borderless xui-button-borderless-inverted xui-button-grouped">Three</button>
// </div>
// </div>
//
// Styleguide: Buttons.3

.#{$ns}-button-borderless {
		background: transparent;
		border-radius: $xui-radius;
		font-weight: bold;
		line-height: $xui-line-height-button; // CUSTOM FOR HEIGHT REASONS
		min-height: $xui-input-height;
		padding: 11px $xui-input-padding-horizontal;
		text-align: center;
		color: $xui-color-grey-1;
		
		&:hover {
			color: $xui-color-xero-dark-blue;
		}
		&:focus {
			background: $xui-color-grey-alpha-7;
		}
		&:active {
			background: $xui-color-grey-alpha-6;
		}

		&.#{$ns}-button-borderless-muted {
			color: $xui-color-grey-alpha-2;
			&:hover {
				color: $xui-color-grey-1;
			}
		}	
		&.#{$ns}-button-borderless-blue {
			color: $xui-color-xero-blue;
			&:hover {
				color: $xui-color-xero-dark-blue;
			}
		}
		&.#{$ns}-button-borderless-green {
			color: $xui-color-xero-green;
			&:hover {
				color: $xui-color-xero-dark-green;
			}
		}
		&.#{$ns}-button-borderless-red {
			color: $xui-color-xero-red;
			&:hover {
				color: $xui-color-xero-dark-red;
			}
		}
		&.#{$ns}-button-is-disabled {
			color: $xui-color-grey-alpha-3;
			background: none;
		}
		&.#{$ns}-button-borderless-inverted {
			color: $xui-color-inverted-alpha-2;
			&:hover {
				color: $xui-color-white;
			}
			&:focus {
				background: $xui-color-inverted-alpha-7;
			}
			&:active {
				background: $xui-color-inverted-alpha-6;
			}
			&.#{$ns}-button-is-disabled {
				color: $xui-color-inverted-alpha-3;
				background: none;
			}
		}
}
