@import "../mixins";

// Groups
//
// Styleguide: Building Blocks.Buttons.5

// Groups
//
// Button groups are use, when you have room and want to display multiple actions without hiding them behind a dropdown menu.
//
// Markup:
// <div class="xui-buttongroup">
//   <button type="button" class="xui-button xui-button-grouped xui-button-standard {{modifier_class}}">Left</button>
//   <button type="button" class="xui-button xui-button-grouped xui-button-standard {{modifier_class}}">Middle</button>
//   <button type="button" class="xui-button xui-button-grouped xui-button-standard {{modifier_class}}">Right</button>
// </div>
//
// Styleguide: Building Blocks.Buttons.5.1

.#{$ns}-buttongroup {
	display: inline-flex;
}

.#{$ns}-button-grouped {
	border-radius: 0;

	&:hover {
		z-index: 2; // show full border on hover
	}

	&:focus,
	&:active {
		z-index: 3; // override full border on focus/active
	}

	&:first-of-type {
		border-bottom-left-radius: $xui-radius;
		border-top-left-radius: $xui-radius;
	}

	&:nth-child(n+2) {
		border-left: 0;
		margin-left: 1px;

		&.#{$ns}-button-standard {
			margin-left: 0;
		}
	}

	&:last-of-type {
		border-bottom-right-radius: $xui-radius;
		border-top-right-radius: $xui-radius;
	}
}
