/**
 * Styles for grouped inputs like checkbox and radio button groups.
 */

@import "../settings/structure";
@import "../tools/mixins";

// Checkbox and Radio groups
//
// A collection of checkbox/radio items within a single container, grouped as
// such so that on mobile, their appearance resembles that of a
// single-column table to be fat-finger friendly.
//
// Markup:
// <div class="xui-checkboxgroup">
//   <label class="xui-checkbox">
//     <input type="checkbox" name="checkbox1"/>
//     Tick me!
//   </label>
//   <label class="xui-checkbox">
//     <input type="checkbox" name="checkbox2"/>
//     No, tick me!
//   </label>
//   <label class="xui-checkbox">
//     <input type="checkbox" name="checkbox3"/>
//     Don't listen to those 2 - tick me instead!
//   </label>
// </div>
// <div class="xui-radiogroup">
//   <label class="xui-radio">
//     <input type="radio" name="radio"/>
//     Pick me!
//   </label>
//   <label class="xui-radio">
//     <input type="radio" name="radio"/>
//     No, pick me!
//   </label>
//   <label class="xui-radio">
//     <input type="radio" name="radio"/>
//     Are you insane?  Pick me!
//   </label>
// </div>
//
// Styleguide: Form Elements.5

.#{$ns}-checkboxgroup,
.#{$ns}-radiogroup {
	@include mobile {
		border: $border-standard;
		border-radius: $radius;
	}
}

.#{$ns}-checkbox,
.#{$ns}-radio {
	display: block;
	line-height: px-to-rem(36);
	vertical-align: middle;

	input[type="checkbox"],
	input[type="radio"] {
		vertical-align: middle;
	}
}
