@import "../vars";
@import "../mixins";

// Date Picker
//
// Looks amazing at 350px.
// Doesn't have other states.
// Designed to style only, BYO JS framework.
//
// For accessibility, the date picker must have keyboard support as described in the [W3C documentation](https://www.w3.org/TR/2013/WD-wai-aria-practices-20130307/#kbd_focus).
// This may involve the use of the `tabindex` and `aria-activedescendant` attributes, which also requires each active cell to have an id. Examples of how these attributes can be used are given below.
// An example of a date picker with aria-attributes and keyboard support can be found [here](http://www.oaa-accessibility.org/examplep/datepicker1/).
//
// #### Class Names
//
// `xui-datepicker`	Container for a date picker
//
// `xui-datepicker--arrow-icon`	Modifier for a date picker arrow button icon
//
// `xui-datepicker--body`	Container for the body of a date picker
//
// `xui-datepicker--button-is-disabled`	Modifier for a disabled date picker button
//
// `xui-datepicker--header`	Container for a date picker header
//
// `xui-datepicker--heading`	Style for a date picker heading
//
// `xui-datepicker--nextbutton`	Style for a date picker next button
//
// `xui-datepicker--prevbutton`	Style for a date picker previous button
//
// <table class="xui-contentblock">
//   <thead>
//     <tr class="xui-sectionheading">
//       <th class="xui-separator-title xui-sectionheading-layout">Day Classes</th>
//       <th class="xui-separator-title xui-sectionheading-layout">Description</th>
//       <th class="xui-separator-title xui-sectionheading-layout">Example</th>
//     </tr>
//   </thead>
//   <tbody>
//     <tr class="xui-contentblock--item xui-contentblock--item-layout">
//       <td class="xui-text-cell xui-padding">`xui-datepicker--day`</td>
//       <td class="xui-text-cell xui-padding">Style for a date picker day</td>
//       <td class="xui-text-cell xui-padding"><div class="xui-datepicker--day xui-u-flex xui-u-flex-verticalalign-center">1</div></td>
//     </tr>
//     <tr class="xui-contentblock--item xui-contentblock--item-layout">
//       <td class="xui-text-cell xui-padding">`xui-datepicker--day-is-disabled`</td>
//       <td class="xui-text-cell xui-padding">Modifier for a disabled day</td>
//       <td class="xui-text-cell xui-padding"><div class="xui-datepicker--day xui-datepicker--day-is-disabled xui-u-flex xui-u-flex-verticalalign-center">1</div></td>
//     </tr>
//     <tr class="xui-contentblock--item xui-contentblock--item-layout">
//       <td class="xui-text-cell xui-padding">`xui-datepicker--day-is-othermonth`</td>
//       <td class="xui-text-cell xui-padding">Modifier for a day that exists outside the primarily visible month</td>
//       <td class="xui-text-cell xui-padding"><div class="xui-datepicker--day xui-datepicker--day-is-othermonth xui-u-flex xui-u-flex-verticalalign-center">1</div></td>
//     </tr>
//     <tr class="xui-contentblock--item xui-contentblock--item-layout">
//       <td class="xui-text-cell xui-padding">`xui-datepicker--day-is-selected`</td>
//       <td class="xui-text-cell xui-padding">Modifier for a selected day</td>
//       <td class="xui-text-cell xui-padding"><div class="xui-datepicker--day xui-datepicker--day-is-selected xui-u-flex xui-u-flex-verticalalign-center">1</div></td>
//     </tr>
//     <tr class="xui-contentblock--item xui-contentblock--item-layout">
//       <td class="xui-text-cell xui-padding">`xui-datepicker--day-is-selected-start`</td>
//       <td class="xui-text-cell xui-padding">Modifier for a selected date range. This is the first date. <br /><br />A `data-content` attribute is also required.</td>
//       <td class="xui-text-cell xui-padding"><div class="xui-datepicker--day xui-datepicker--day-is-selected-start xui-u-flex xui-u-flex-verticalalign-center" data-content="1">1</div></td>
//     </tr>
//     <tr class="xui-contentblock--item xui-contentblock--item-layout">
//       <td class="xui-text-cell xui-padding">`xui-datepicker--day-is-selected-middle`</td>
//       <td class="xui-text-cell xui-padding">Modifier for a selected date range. This is the dates between the first and last dates.</td>
//       <td class="xui-text-cell xui-padding"><div class="xui-datepicker--day xui-datepicker--day-is-selected-middle xui-u-flex xui-u-flex-verticalalign-center">1</div></td>
//     </tr>
//     <tr class="xui-contentblock--item xui-contentblock--item-layout">
//       <td class="xui-text-cell xui-padding">`xui-datepicker--day-is-selected-end`</td>
//       <td class="xui-text-cell xui-padding">Modifier for a selected date range. This is the last date.<br /><br />A `data-content` attribute is also required.</td>
//       <td class="xui-text-cell xui-padding"><div class="xui-datepicker--day xui-datepicker--day-is-selected-end xui-u-flex xui-u-flex-verticalalign-center" data-content="1">1</div></td>
//     </tr>
//     <tr class="xui-contentblock--item xui-contentblock--item-layout">
//       <td class="xui-text-cell xui-padding">`xui-datepicker--day-is-selected-hovered-start`</td>
//       <td class="xui-text-cell xui-padding">Modifier for a selected date range. This is when a selected date exists and the currently hovered date is after the selected date. This should be applied to the selected date.<br /><br />A `data-content` attribute is also required.</td>
//       <td class="xui-text-cell xui-padding"><div class="xui-datepicker--day xui-datepicker--day-is-selected-hovered-start xui-u-flex xui-u-flex-verticalalign-center" data-content="1">1</div></td>
//     </tr>
//     <tr class="xui-contentblock--item xui-contentblock--item-layout">
//       <td class="xui-text-cell xui-padding">`xui-datepicker--day-is-hovered-end`</td>
//       <td class="xui-text-cell xui-padding">Modifier for a selected date range. This is when a selected date exists and the currently hovered date is after the selected date. This should be applied to the hovered date.<br /><br />A `data-content` attribute is also required.</td>
//       <td class="xui-text-cell xui-padding"><div class="xui-datepicker--day xui-datepicker--day-is-hovered-end xui-u-flex xui-u-flex-verticalalign-center" data-content="1">1</div></td>
//     </tr>
//     <tr class="xui-contentblock--item xui-contentblock--item-layout">
//       <td class="xui-text-cell xui-padding">`xui-datepicker--day-is-hovered-middle`</td>
//       <td class="xui-text-cell xui-padding">Modifier for a selected date range. This is when a selected date exists and a hovered start, or end date exists. This should be applied to the dates between start and end dates.<br /><br />A `data-content` attribute is also required.</td>
//       <td class="xui-text-cell xui-padding"><div class="xui-datepicker--day xui-datepicker--day-is-hovered-middle xui-u-flex xui-u-flex-verticalalign-center" data-content="1">1</div></td>
//     </tr>
//     <tr class="xui-contentblock--item xui-contentblock--item-layout">
//       <td class="xui-text-cell xui-padding">`xui-datepicker--day-is-hovered-start`</td>
//       <td class="xui-text-cell xui-padding">Modifier for a selected date range. This is when a selected date exists and the currently hovered date is before the selected date. This should be applied to the hovered date.<br /><br />A `data-content` attribute is also required.</td>
//       <td class="xui-text-cell xui-padding"><div class="xui-datepicker--day xui-datepicker--day-is-hovered-start xui-u-flex xui-u-flex-verticalalign-center" data-content="1">1</div></td>
//     </tr>
//     <tr class="xui-contentblock--item xui-contentblock--item-layout">
//       <td class="xui-text-cell xui-padding">`xui-datepicker--day-is-selected-hovered-end`</td>
//       <td class="xui-text-cell xui-padding">Modifier for a selected date range. This is when a selected date exists and the currently hovered date is before the selected date. This should be applied to the selected date.<br /><br />A `data-content` attribute is also required.</td>
//       <td class="xui-text-cell xui-padding"><div class="xui-datepicker--day xui-datepicker--day-is-selected-hovered-end xui-u-flex xui-u-flex-verticalalign-center" data-content="1">1</div></td>
//     </tr>
//   </tbody>
// </table>
//
// `xui-datepicker--weekday`	**Deprecated** Style for weekday text
//
// `xui-datepicker--othermonth`	**Deprecated** Subcomponent for a day in a previous month, use `xui-datepicker--day-is-othermonth`
//
// Markup:
// <div class="xui-popover xui-datepicker">
//   <div class="xui-popover--arrow">
//     <svg focusable="false" viewbox="0 0 100 100">
//       <polyline points="0,50 50,0 100, 50" stroke-width="6" class="xui-popover--arrow--border"/>
//     </svg>
//   </div>
//   <header class="xui-datepicker--header">
//     <button type="button" class="xui-button xui-button-icon xui-datepicker--prevbutton" aria-label="Go to previous month" title="Go to previous month">
//       <svg focusable="false" class="xui-icon xui-datepicker--arrow-icon xui-icon-rotate-90"> <use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//     </button>
//     <div class="xui-datepicker--heading-dates">
//       <h3 class="xui-datepicker--heading xui-text-emphasis" role="heading">
//         <span class="xui-datepicker--heading--selection">
//           October
//         </span>
//         <select class="xui-datepicker--heading--selector">
//           <option value="October">October</option>
//           <option value="November">November</option>
//           <option value="December">December</option>
//         </select>
//       </h3>
//       <h3 class="xui-datepicker--heading" role="heading">
//         <span class="xui-datepicker--heading--selection">
//           2016
//         </span>
//         <select class="xui-datepicker--heading--selector">
//           <option value="2016">2016</option>
//           <option value="2017">2017</option>
//         </select>
//       </h3>
//     </div>
//     <button type="button" class="xui-button xui-button-icon xui-datepicker--nextbutton xui-datepicker--button-is-disabled" aria-label="Go to next month" title="Go to next month">
//       <svg focusable="false" class="xui-icon xui-datepicker--arrow-icon xui-icon-rotate-270 xui-u-hidden-visually"> <use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//     </button>
//   </header>
//   <table class="xui-popover--section xui-datepicker--body" role="grid" aria-label="Select a day">
//     <thead>
//       <tr role="row">
//         <th class="xui-datepicker--weekday" role="columnheader" aria-label="Sunday">S</th>
//         <th class="xui-datepicker--weekday" role="columnheader" aria-label="Monday">M</th>
//         <th class="xui-datepicker--weekday" role="columnheader" aria-label="Tuesday">T</th>
//         <th class="xui-datepicker--weekday" role="columnheader" aria-label="Wednesday">W</th>
//         <th class="xui-datepicker--weekday" role="columnheader" aria-label="Thursday">T</th>
//         <th class="xui-datepicker--weekday" role="columnheader" aria-label="Friday">F</th>
//         <th class="xui-datepicker--weekday" role="columnheader" aria-label="Saturday">S</th>
//       </tr>
//     </thead>
//     <tbody>
//       <tr role="row" class="xui-datepicker--week">
//         <td class="xui-datepicker--day xui-datepicker--day-is-othermonth" role="gridcell">
//           <time datetime="2016-9-27" class="xui-datepicker--day--time">27</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-othermonth" role="gridcell">
//           <time datetime="2016-9-28" class="xui-datepicker--day--time">28</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-othermonth" role="gridcell">
//           <time datetime="2016-9-29" class="xui-datepicker--day--time">29</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-othermonth" role="gridcell">
//           <time datetime="2016-9-30" class="xui-datepicker--day--time">30</time>
//         </td>
//         <td class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-1" class="xui-datepicker--day--time">1</time>
//         </td>
//         <td class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-2" class="xui-datepicker--day--time">2</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-selected-hovered-start" role="gridcell" aria-selected="true">
//           <time datetime="2016-10-3" class="xui-datepicker--day--time">3</time>
//         </td>
//       </tr>
//       <tr role="row" class="xui-datepicker--week">
//         <td class="xui-datepicker--day xui-datepicker--day-is-hovered-middle" role="gridcell">
//           <time datetime="2016-10-4" class="xui-datepicker--day--time">4</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-hovered-end" role="gridcell">
//           <time datetime="2016-10-5" class="xui-datepicker--day--time">5</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-today" role="gridcell">
//           <time datetime="2016-10-6" class="xui-datepicker--day--time">6</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-hovered-start" role="gridcell">
//           <time datetime="2016-10-7" class="xui-datepicker--day--time">7</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-hovered-middle" role="gridcell">
//           <time datetime="2016-10-8" class="xui-datepicker--day--time">8</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-hovered-middle" role="gridcell">
//           <time datetime="2016-10-9" class="xui-datepicker--day--time">9</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-selected-hovered-end" role="gridcell">
//           <time datetime="2016-10-10" class="xui-datepicker--day--time">10</time>
//         </td>
//       </tr>
//       <tr role="row" class="xui-datepicker--week">
//         <td class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-11" class="xui-datepicker--day--time">11</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-selected-start" role="gridcell">
//           <time datetime="2016-10-12" class="xui-datepicker--day--time">12</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-selected-middle" role="gridcell">
//           <time datetime="2016-10-13" class="xui-datepicker--day--time">13</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-selected-middle" role="gridcell">
//           <time datetime="2016-10-14" class="xui-datepicker--day--time">14</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-selected-end" role="gridcell">
//           <time datetime="2016-10-15" class="xui-datepicker--day--time">15</time>
//         </td>
//         <td class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-16" class="xui-datepicker--day--time">16</time>
//         </td>
//         <td class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-17" class="xui-datepicker--day--time">17</time>
//         </td>
//       </tr>
//       <tr role="row" class="xui-datepicker--week">
//         <td class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-18" class="xui-datepicker--day--time">18</time>
//         </td>
//         <td class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-19" class="xui-datepicker--day--time">19</time>
//         </td>
//         <td class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-20" class="xui-datepicker--day--time">20</time>
//         </td>
//         <td class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-21" class="xui-datepicker--day--time">21</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-selected" role="gridcell">
//           <time datetime="2016-10-22" class="xui-datepicker--day--time">22</time>
//         </td>
//         <td class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-23" class="xui-datepicker--day--time">23</time>
//         </td>
//         <td class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-24" class="xui-datepicker--day--time">24</time>
//         </td>
//       </tr>
//       <tr role="row" class="xui-datepicker--week">
//         <td class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-25" class="xui-datepicker--day--time">25</time>
//         </td>
//         <td class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-26" class="xui-datepicker--day--time">26</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-disabled" role="gridcell" aria-disabled="true">
//           <time datetime="2016-10-27" class="xui-datepicker--day--time">27</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-disabled" role="gridcell" aria-disabled="true">
//           <time datetime="2016-10-28" class="xui-datepicker--day--time">28</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-disabled" role="gridcell" aria-disabled="true">
//           <time datetime="2016-10-29" class="xui-datepicker--day--time">29</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-disabled" role="gridcell" aria-disabled="true">
//           <time datetime="2016-10-30" class="xui-datepicker--day--time">30</time>
//         </td>
//         <td class="xui-datepicker--day xui-datepicker--day-is-disabled" role="gridcell" aria-disabled="true">
//           <time datetime="2016-10-21" class="xui-datepicker--day--time">31</time>
//         </td>
//       </tr>
//     </tbody>
//   </table>
// </div>
//
// Weight: 4.1
//
// Styleguide: Datepicker

@mixin xui-datepicker-selection-bubble($color : $xui-color-xero-blue, $width: 0, $height: 0, $top: 0) {
	@if $width > 0 {
		&::before {
			background: $color;
			height: $height;
			top: $top;
			width: $width;
		}
	} @else {
		&::before {
			background: $color;
			border-radius: 50%;
			content: ' ';
			height: $height;
			left: 0;
			line-height: 2.4em;
			margin-left: 50%;
			position: absolute;
			top: $top;
			transform: translateX(-50%);
			transition: all 0.1s ease;
			width: $width;
			z-index: -1;
		}
	}
}

@mixin xui-selected-day-hover-rule($hover:'start', $selected: false) {
	$color-highlight: $xui-color-hover;
	$color-background: $xui-color-white;

	@if $selected {
		$color-highlight: $xui-color-xero-blue;
		$color-background: $xui-color-white;
		color: $xui-color-white;
	}

	@if $hover == 'end' {
		background: linear-gradient(90deg, $color-highlight 50%, $color-background 50%);
	} @else {
		background: linear-gradient(90deg, $color-background 50%, $color-highlight 50%);
	}

	border-radius: 0;

}

.#{$ns}-datepicker {
	font-size: 0.9375rem;
	position: relative;
	width: 20em;
}

.#{$ns}-datepicker--header {
	@include xui-flex-children(center, space-between);
	flex-flow: row nowrap;
}

.#{$ns}-datepicker--arrow-icon {
	height: 3em;
	width: 3em;
}

.#{$ns}-datepicker--prevbutton {
	@include xui-margin-left($xui-s-xsmall);
	min-width: 3em;
}

.#{$ns}-datepicker--nextbutton {
	@include xui-margin-right($xui-s-xsmall);
	min-width: 3em;
}

// This should be deprecated in favour of adding a xui-u-hidden-visually class on the button SVG
.#{$ns}-datepicker--button-is-disabled {
	cursor: default;

	&::before {
		color: $xui-color-grey-4;
	}
}

.#{$ns}-datepicker--heading {
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;
	font-size: $xui-font-size-text;
	font-weight: normal;
	margin: 0 5px 0 0;
	position: relative;
	&:focus {
		outline: none;
	}
}

.#{$ns}-datepicker--heading:last-child {
	margin: 0;
}

.#{$ns}-datepicker--heading--selection {
	pointer-events: none;
}

.#{$ns}-datepicker--heading--selector {
	appearance: none;
	background: none;
	border: none;
	color: transparent;
	cursor: pointer;
	font-family: $xui-font-family;
	font-size: 1em;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.#{$ns}-datepicker--heading--selection-bold {
	font-weight: bold;
}

.#{$ns}-datepicker--heading-dates {
	@include xui-flex-children;
}

.#{$ns}-datepicker--body {
	border: 0;
	margin: $xui-s-small auto;

	&:focus {
		outline: none;
	}
}

.#{$ns}-datepicker--week {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
}

.#{$ns}-datepicker--day {
	border: 0;
	box-sizing: content-box;
	cursor: pointer;
	font-size: inherit;
	height: 2.2em;
	padding: 2px 0 0;
	position: relative;
	text-align: center;
	user-select: none;
	width: 2.2em;
	z-index: 0;

	&:hover .#{$ns}-datepicker--day--time {
		background: $xui-color-hover;
		border-radius: 50%;
	}
}

.#{$ns}-datepicker--day--time {
	@include xui-flex-children;
	height: 100%;
	pointer-events: none;
	position: relative;
	width: 100%;
	z-index: 1;

	@include xui-datepicker-selection-bubble(
		$xui-color-hover,
		0, 0,
		42%
	)
}

.#{$ns}-datepicker--weekday {
	font-size: $xui-font-size-text;
	font-weight: normal;
	text-align: center;
}

.#{$ns}-datepicker--othermonth, .#{$ns}-datepicker--day-is-othermonth {
	color: $xui-color-secondary-text;
}

.#{$ns}-datepicker--day-is-today {
	color: $xui-color-xero-blue;
}

.#{$ns}-datepicker--day-is-selected .#{$ns}-datepicker--day--time {
	@include xui-datepicker-selection-bubble(
		$xui-color-xero-blue,
		100%, 100%,
		0
	);
	color: $xui-color-white;
}

.#{$ns}-datepicker--day-is-disabled {

	.#{$ns}-datepicker--day--time {
		color: $xui-color-grey-4;
		cursor: default;
	}

	&:hover .#{$ns}-datepicker--day--time {
		background: none;
	}
}

.#{$ns}-datepicker--day-is-selected-hovered-start .#{$ns}-datepicker--day--time,
.#{$ns}-datepicker--day-is-selected-hovered-start:hover .#{$ns}-datepicker--day--time {
	@include xui-datepicker-selection-bubble(
		$xui-color-xero-blue,
		100%, 100%,
		0
	);
	@include xui-selected-day-hover-rule('start');
	color: $xui-color-white;
}

.#{$ns}-datepicker--day-is-selected-hovered-end .#{$ns}-datepicker--day--time,
.#{$ns}-datepicker--day-is-selected-hovered-end:hover .#{$ns}-datepicker--day--time {
	@include xui-datepicker-selection-bubble(
		$xui-color-xero-blue,
		100%, 100%,
		0
	);
	@include xui-selected-day-hover-rule('end');
	color: $xui-color-white;
}

.#{$ns}-datepicker--day-is-hovered-start .#{$ns}-datepicker--day--time,
.#{$ns}-datepicker--day-is-hovered-start:hover .#{$ns}-datepicker--day--time {
	@include xui-datepicker-selection-bubble(
		$xui-color-hover,
		100%, 100%,
		0
	);
	@include xui-selected-day-hover-rule('start');
}

.#{$ns}-datepicker--day-is-hovered-middle .#{$ns}-datepicker--day--time,
.#{$ns}-datepicker--day-is-hovered-middle:hover .#{$ns}-datepicker--day--time {
	background: $xui-color-hover;
	border-radius: 0;
}

.#{$ns}-datepicker--day-is-hovered-end .#{$ns}-datepicker--day--time,
.#{$ns}-datepicker--day-is-hovered-end:hover .#{$ns}-datepicker--day--time {
	@include xui-datepicker-selection-bubble(
		$xui-color-hover,
		100%, 100%,
		0
	);
	@include xui-selected-day-hover-rule('end');
}

.#{$ns}-datepicker--day-is-selected-start .#{$ns}-datepicker--day--time,
.#{$ns}-datepicker--day-is-selected-start:hover .#{$ns}-datepicker--day--time {
	@include xui-datepicker-selection-bubble(
		$xui-color-xero-blue,
		100%, 100%,
		0
	);
	@include xui-selected-day-hover-rule('start', true);
}

.#{$ns}-datepicker--day-is-selected-middle .#{$ns}-datepicker--day--time,
.#{$ns}-datepicker--day-is-selected-middle:hover .#{$ns}-datepicker--day--time {
	background: $xui-color-xero-blue;
	border-radius: 0;
	color: $xui-color-white;

	&:hover {
		background: $xui-color-xero-blue;
	}
}

.#{$ns}-datepicker--day-is-selected-end .#{$ns}-datepicker--day--time,
.#{$ns}-datepicker--day-is-selected-end:hover .#{$ns}-datepicker--day--time {
	@include xui-datepicker-selection-bubble(
		$xui-color-xero-blue,
		100%, 100%,
		0
	);
	@include xui-selected-day-hover-rule('end', true);
}
