@import "../vars";
@import "../mixins";

// Dropdowns
//
// ### Behaviour
//
// Implementations should make the most of the screen space available when showing dropdowns.
// Scrollbars can be used when there is not enough screen space to fit all menu items. When there
// is more space above than below the dropdown trigger, the menu should be positioned above the
// trigger. The same applies for whether the menu should be left-aligned or right-aligned against
// the trigger.
//
// #### Class Names
//
// `xui-dropdown-layout` Parent dropdown layout container
//
// `xui-dropdown--mask` Mask that is displayed when dropdown takes on narrow screen responsive behaviour.
//
// `xui-dropdown--body` Container for the content section of a drop down
//
// `xui-dropdown--footer` Footer class for the dropdown.
//
// `xui-dropdown-is-open` Style for an open, visible dropdown
//
// `xui-dropdown-is-opening` Style for animating the opening of a dropdown
//
// `xui-dropdown-is-closing` Style for animating the closing of a dropdown
//
// `xui-dropdown-small` Style for a small width dropdown
//
// `xui-dropdown-medium` Style for a medium width dropdown
//
// `xui-dropdown-large` Style for a large width dropdown
//
// `xui-dropdown-xlarge` Style for an extra large width dropdown
//
// `xui-dropdown-positionright` Style for aligning the right of dropdown with the right of its nearest explictly positioned parent
//
// `xui-dropdown-positionleft` Style for aligning the left of the dropdown to the left of its nearest explictly positioned parent
//
// `xui-dropdown-positionabove` Style for positioning the dropdown above its nearest explictly positioned parent
//
// `xui-dropdown-positionbelow` Style for positioning the dropdown below its nearest explictly positioned parent
//
// ### Small dropdown
//
// Markup:
// <div class="xui-dropdown-layout xui-dropdown-small xui-dropdown-is-open xui-dropdown-is-opening">
//   <div class="xui-dropdown--mask"></div>
//   <div class="xui-dropdown--body">
//     <ul class="xui-picklist">
//       <li class="xui-pickitem" tabindex="0">
//         <button class="xui-pickitem--body" tabindex="-1">All Reports</button>
//       </li>
//       <li class="xui-pickitem" tabindex="0">
//         <button class="xui-pickitem--body" tabindex="-1">Budget Manager</button>
//       </li>
//       <li class="xui-pickitem xui-pickitem-is-selected" tabindex="0">
//         <button class="xui-pickitem--body" tabindex="-1">Account Transactions</button>
//       </li>
//       <li class="xui-pickitem" tabindex="0">
//         <button class="xui-pickitem--body" tabindex="-1">Aged Payables</button>
//       </li>
//       <li class="xui-pickitem" tabindex="0">
//         <button class="xui-pickitem--body" tabindex="-1">Aged Receivables</button>
//       </li>
//       <li class="xui-pickitem" tabindex="0">
//         <button class="xui-pickitem--body" tabindex="-1">Aged Receivables Detail</button>
//       </li>
//       <li class="xui-pickitem" tabindex="0">
//         <button class="xui-pickitem--body" tabindex="-1">Balance Sheet</button>
//       </li>
//       <li class="xui-pickitem" tabindex="0">
//         <button class="xui-pickitem--body" tabindex="-1">Cash Summary</button>
//       </li>
//       <li class="xui-pickitem" tabindex="0">
//         <button class="xui-pickitem--body" tabindex="-1">GST Reconciliation</button>
//       </li>
//       <li class="xui-pickitem" tabindex="0">
//         <button class="xui-pickitem--body" tabindex="-1">GST Return</button>
//       </li>
//     </ul>
//		<div class="xui-dropdown--footer">
//			<ul class="xui-picklist">
//				<li class="xui-pickitem" aria-selected="false" tabindex="-1" role="option" id="footer1">
//					<button type="button" class="xui-pickitem--body xui-pickitem--text" tabindex="-1">Footer Item</button>
//				</li>
//				<li class="xui-pickitem" aria-selected="false" tabindex="-1" role="option" id="footer2">
//					<button type="button" class="xui-pickitem--body xui-pickitem--text" tabindex="-1">This is a secondary footer item</button>
//				</li>
//			</ul>
//		</div>
//   </div>
// </div>
//
// Styleguide: Dropdowns.1

// Full width dropdown
//
// Markup:
// <div class="xui-dropdown-layout xui-u-fullwidth xui-dropdown-is-open xui-dropdown-is-opening">
//   <div class="xui-dropdown--mask"></div>
//   <div class="xui-dropdown--body">
//     <ul class="xui-picklist">
//       <li class="xui-pickitem" tabindex="0">
//         <button class="xui-pickitem--body" tabindex="-1">Monthly</button>
//       </li>
//       <li class="xui-pickitem xui-pickitem-is-selected" tabindex="0">
//         <button class="xui-pickitem--body" tabindex="-1">Two-monthly</button>
//       </li>
//       <li class="xui-pickitem" tabindex="0">
//         <button class="xui-pickitem--body" tabindex="-1">Six-monthly</button>
//       </li>
//     </ul>
//   </div>
// </div>
//
// Styleguide: Dropdowns.1.2


.#{$ns}-dropdown-layout {
	display: none;
	min-width: $xui-starting-width;
	position: absolute;

	@include xui-breakpoint-narrow-up {
		position: fixed;
		z-index: 1000;

		.#{$ns}-dropdown--body {
			transform: scaleY(0);
			transform-origin: top;
		}
	}

	@include xui-breakpoint-narrow {
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 9999;

		.#{$ns}-dropdown--body {
			left: 0;
			max-width: 100vw;
			position: absolute;
			top: 100vh;
			width: 100vw;
			z-index: inherit;
		}
	}

	.#{$ns}-dropdown--mask {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.#{$ns}-dropdown--body {
		max-height: 80vh;
		overflow-y: auto;
	}

	.#{$ns}-dropdown--footer {
		border-top: 1px solid rgba($xui-color-black, 0.1);
		bottom: 0;
		padding: $xui-s-small 0;
		width: 100%;
		//ToDo: Remove this in XUI11 in favour of a layout class on the picklist.
		.#{$ns}-picklist {
			padding: 0;
		}
	}
}

.#{$ns}-dropdown--mask {
	background-color: transparentize($xui-color-grey-1, 0.5);
	opacity: 0;
	pointer-events: none;
}

.#{$ns}-dropdown--body {
	background-color: $xui-color-white;

	@include xui-breakpoint-narrow-up {
		border-radius: $xui-radius;
		box-shadow: $xui-shadow-depth-2;
	}

	& :first-child {
		overflow-y: auto;
	}
}

.#{$ns}-dropdown-is-open {
	display: flex;
	flex-direction: column;
	z-index: 1;

	@include xui-breakpoint-narrow-up {

		.#{$ns}-dropdown--body {
			transform: scaleY(1);
		}
	}

	@include xui-breakpoint-narrow {

		.#{$ns}-dropdown--mask {
			flex-grow: 1;
			opacity: 1;
			pointer-events: auto;
		}

		.#{$ns}-dropdown--body {
			bottom: 0;
			flex-grow: 0;
			top: auto;
		}
	}
}

.#{$ns}-dropdown-is-opening {

	@include xui-breakpoint-narrow-up {

		.#{$ns}-dropdown--body {
			animation: xui-animation-show $xui-transition-duration-short $xui-easing-standard forwards;
		}
	}

	@include xui-breakpoint-narrow {

		.#{$ns}-dropdown--mask {
			animation: xui-animation-fadein $xui-transition-duration-short $xui-easing-standard forwards;
		}

		.#{$ns}-dropdown--body {
			animation: xui-animation-slideup $xui-transition-duration-short $xui-easing-standard forwards;
		}
	}
}

.#{$ns}-dropdown-is-closing {

	@include xui-breakpoint-narrow-up {

		.#{$ns}-dropdown--body {
			animation: xui-animation-hide $xui-transition-duration-short $xui-easing-standard forwards;
		}
	}

	@include xui-breakpoint-narrow {

		.#{$ns}-dropdown--mask {
			animation: xui-animation-fadeout $xui-transition-duration-short $xui-easing-standard forwards;
		}

		.#{$ns}-dropdown--body {
			animation: xui-animation-slidedown $xui-transition-duration-short $xui-easing-standard forwards;
		}
	}
}

@each $number, $variant in $xui-width-variants-dropdown{
	.#{$ns}-dropdown-#{$variant} {
		max-width: $xui-starting-width + ($xui-base-width * $number);
	}
}

.#{$ns}-dropdown-positionright {
	right: 0;
}

.#{$ns}-dropdown-positionleft {
	left: 0;
}

.#{$ns}-dropdown-positionabove {
	bottom: 100%;
}

.#{$ns}-dropdown-positionunder {
	top: 100%;
}
