@import "../vars";

// Popover
//
// Popover container styled with an arrow pointing at relevant content. Supports
// header, body and footer sections.
//
// Full list of modifier classes: `-topleft` (default) `-topcenter`, `-topright`,
// `-bottomleft`, `-bottomcenter`, `-bottomright`,
// `-lefttop`, `-leftcenter`, `-leftbottom`,
// `-righttop`, `-rightcenter`, `-rightbottom`.
//
// A sample of the modifiers are shown bellow.
//
// .xui-popover--arrow-topcenter  - Top center aligned  arrow
// .xui-popover--arrow-bottomright  - Bottom right aligned  arrow
// .xui-popover--arrow-lefttop    - Left top aligned arrow
// .xui-popover--arrow-rightbottom   - Right bottom aligned  arrow
//
// Markup:
//	<div class="xui-popover">
//    <div class="xui-popover--arrow {{modifier_class}}">
//      <svg viewbox="0 0 100 100">
//        <polyline points="0,50 50,0 100, 50" stroke-width="6" class="xui-popover--arrow--border"/>
//      </svg>
//    </div>
//    <header class="xui-popover--header xui-popover--header-standard">
//      <h3 class="xui-popover--heading">Notifications</h3>
//    </header>
//    <div class="xui-popover--body">
//    </div>
//    <footer class="xui-popover--footer xui-popover--footer-standard">
//      <a class="xui-popover--link" href="#">Mark as read</a>
//      <a class="xui-popover--link" href="#">Settings</a>
//    </footer>
//  </div>
//
// Styleguide: Dropdowns.2

.#{$ns}-popover {
	background-color: $color-panels;
	border: $border-standard;
	border-radius: $radius;
	box-shadow: $shadow-depth-2;
	position: relative;
}

.#{$ns}-popover--header {
	position: relative;
	z-index: 1;
 }

.#{$ns}-popover--header-standard {
	padding: 0.5rem 0.8rem;
}

.#{$ns}-popover--header-can-scroll-up {
	box-shadow: 0 2px 3px $color-borders;
}

.#{$ns}-popover--arrow-topleft,
.#{$ns}-popover--arrow {
	display: inline-block;
	fill: $color-white;
	height: 20px;
	left: 15px;
	opacity: 1;
	position: absolute;
	top: -10px;
	vertical-align: middle;
	width: 20px;

	&-topcenter {
		left: 50%;
		transform: translateX(-50%);
	}

	&-topright {
		left: auto;
		right: 15px;
	}

	&-bottomleft {
		bottom: -10px;
		top: auto;
		transform: rotate(180deg);
	}

	&-bottomcenter {
		bottom: -10px;
		left: 50%;
		top: auto;
		transform: translateX(-50%) rotate(180deg);
	}

	&-bottomright {
		bottom: -10px;
		left: auto;
		right: 15px;
		top: auto;
		transform: rotate(180deg);
	}

	&-lefttop {
		left: -10px;
		top: 15px;
		transform: rotate(270deg);
	}

	&-leftcenter {
		left: -10px;
		top: 50%;
		transform: translateY(-50%) rotate(270deg);
	}

	&-leftbottom {
		bottom: 15px;
		left: -10px;
		top: auto;
		transform: rotate(270deg);
	}

	&-righttop {
		left: auto;
		right: -10px;
		top: 15px;
		transform: rotate(90deg);
	}

	&-rightcenter {
		left: auto;
		right: -10px;
		top: 50%;
		transform: translateY(-50%) rotate(90deg);
	}

	&-rightbottom {
		bottom: 15px;
		left: auto;
		right: -10px;
		top: auto;
		transform: rotate(90deg);
	}

	&--border {
		stroke: $color-borders;

// FIXME Remove `&-fill` when merged to breaking changes
		&-fill {
			stroke: $color-white;
		}
	}
}

.#{$ns}-popover--heading {
	margin: 0;
}

.#{$ns}-popover--body {
	max-height: 400px;
	overflow: auto;
	position: relative;
	z-index: 0;
}

.#{$ns}-popover--footer {
	border-top: $divider-standard;
	position: relative;
}

.#{$ns}-popover--footer-standard {
	padding: 0.5rem 0.8rem;
}

.#{$ns}-popover--footer-can-scroll-down {
	box-shadow: 0 -2px 3px $color-borders;
}

.#{$ns}-popover--link {
	&:nth-of-type(n+2) {
		border-left: $border-standard;
		margin-left: 10px;
		padding: 0 0 0 10px;
	}
}
