@import "../vars";

// Menu
//
// ### Behaviour
//
// Implementations should make the most of the screen space available when showing dropdowns.
// Scrollbars can be used when there is not enough screen space to fit all menu items. When there
// is more space above than below the dropdown trigger, the menu should be positioned above the
// trigger. The same applies for whether the menu should be left-aligned or right-aligned against
// the trigger.
//
// ### Accessibility
// An example of applying ARIA attributes to a dropdown is given below, using the roles `menubar`, `menu` and `menuitem`.
// The dropdown must also provide keyboard support to be accessible, as described in the [W3C documentation on managing focus](https://www.w3.org/TR/wai-aria/usage#managingfocus).
//
// Markup:
//	<div class="xui-dropdownmenu" role="menubar" aria-label="dropdown menu">
//		<div class="xui-dropdownmenu--body">
//			<h3 class="xui-dropdownmenu--groupheading">Group Title</h3>
//			<ul class="xui-menugroup" role="menu" aria-label="Menu group 1 label">
//				<li class="xui-menuitem" role="menuitem" aria-selected="false">
//					<button class="xui-button xui-menuitem--body">
//						Menu item 1
//					</button>
//				</li>
//				<li class="xui-menuitem xui-menuitem-is-selected" role="menuitem" aria-selected="true">
//					<button class="xui-button xui-menuitem--body">
//						Menu item 2
//					</button>
//				</li>
//				<li class="xui-menuitem" role="menuitem" aria-selected="false">
//					<label class="xui-menuitem--body">
//						<input type="checkbox" class="xui-menuitem--input" role="menuitemcheckbox" />
//						Menu item 3
//					</label>
//				</li>
//				<li class="xui-menuitem" role="menuitem" aria-selected="false">
//					<label class="xui-menuitem--body">
//						<input type="checkbox" class="xui-menuitem--input" role="menuitemcheckbox" />
//						Menu item 4
//					</label>
//				</li>
//				<li class="xui-menuitem" role="menuitem" aria-selected="false">
//					<label class="xui-menuitem--body">
//						<input type="checkbox" class="xui-menuitem--input" role="menuitemcheckbox" />
//						Menu item 5
//					</label>
//				</li>
//				<li class="xui-menuitem" role="menuitem" aria-selected="false">
//					<label class="xui-menuitem--body">
//						<input type="checkbox" class="xui-menuitem--input" role="menuitemcheckbox" />
//						Menu item 6
//					</label>
//				</li>
//				<li class="xui-menuitem" role="menuitem" aria-selected="false">
//					<label class="xui-menuitem--body">
//						<input type="checkbox" class="xui-menuitem--input" role="menuitemcheckbox" />
//						Menu item 7
//					</label>
//				</li>
//			</ul>
//			<ul class="xui-menugroup" role="menu" aria-label="Menu group 2 label">
//				<li class="xui-menuitem" role="menuitem" aria-selected="false">
//					<a class="xui-menuitem--body" href="http://www.google.com">Link Menu Item 1</a>
//				</li>
//				<li class="xui-menuitem" role="menuitem" aria-selected="false">
//					<label class="xui-menuitem--body">
//						<input type="checkbox" class="xui-menuitem--input" role="menuitemcheckbox" />
//						Menu item 2
//					</label>
//				</li>
//				<li class="xui-menuitem" role="menuitem" aria-selected="false">
//					<label class="xui-menuitem--body">
//						<input type="checkbox" class="xui-menuitem--input" role="menuitemcheckbox" />
//						Menu item 3
//					</label>
//				</li>
//				<li class="xui-menuitem" role="menuitem" aria-selected="false">
//					<label class="xui-menuitem--body">
//						<input type="radio" name="radios2" class="xui-menuitem--input" role="menuitemradio" />
//						Menu item 4
//					</label>
//				</li>
//				<li class="xui-menuitem" role="menuitem" aria-selected="false">
//					<label class="xui-menuitem--body">
//						<input type="radio" name="radios2" class="xui-menuitem--input" role="menuitemradio" />
//						Menu item 5
//					</label>
//				</li>
//			</ul>
//		</div>
//		<footer class="xui-dropdownmenu--footer">
//			<ul class="xui-menugroup" role="menu" aria-label="Footer menu label">
//				<li class="xui-menuitem" role="menuitem">
//					<button class="xui-button xui-menuitem--body">+ Some action</button>
//				</li>
//			</ul>
//		</footer>
//	</div>
//
// Styleguide: Dropdowns.1

.#{$ns}-dropdownmenu {
	background-color: $xui-color-panel;
	border: $xui-border-standard;
	border-radius: $xui-radius;
	box-shadow: $xui-shadow-depth-2;
	font-size: $xui-font-size-text;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	position: absolute;
	transition: $xui-transition-duration-short opacity $xui-easing-standard;
	width: 180px;
	z-index: 1;
}

.#{$ns}-dropdownmenu-is-closed {
	opacity: 0;
}

.#{$ns}-dropdownmenu--body,
.#{$ns}-dropdownmenu--footer {
	flex: 1 1 auto;
}

.#{$ns}-dropdownmenu--body {
	max-height: 350px;
	overflow: auto;
	-ms-scroll-chaining: none;
}

.#{$ns}-dropdownmenu--footer {
	border-top: $xui-border-standard;
	box-shadow: 0 -2px 0 0 rgba($xui-color-black, 0.05); // Should be a negative shadow variable
	z-index: 1;
}

.#{$ns}-dropdownmenu-select {
	border-color: $xui-color-xero-blue;
	border-radius: 0 0 $xui-radius $xui-radius;
	border-top: 0;
	left: 1em;
	position: absolute;
	top: 100%;
	width: 100%;
}

.#{$ns}-menugroup {
	border-top: $xui-divider-standard;
	margin: 0;
	padding: $xui-padding-menu-vertical 0;

	&:first-of-type {
		border-top: 0;
	}
}

.#{$ns}-menuitem {
	list-style-type: none;

	&:hover {
		background-color: $xui-color-hover;
	}
}

.#{$ns}-menuitem--body {
	align-items: center;
	display: flex;
	line-height: 24px;
	padding: $xui-padding-menu;
	text-align: left;
	text-decoration: none;
	width: 100%;
}

.#{$ns}-dropdownmenu--groupheading {
	background-color: $xui-color-grey-6;
	border-bottom: $xui-divider-standard;
	color: $xui-color-secondary-text;
	font-size: $xui-font-size-heading-small;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	padding: 0 $xui-padding-menu-horizontal;

	&:nth-of-type(n+2) {
		border-top: 1px solid $xui-color-grey-4;
	}

	& + .#{$ns}-menugroup {
		border-top: 0;
	}
}

.#{$ns}-menuitem--input {
	margin: 0 7px 0 0;
	padding: 0;
	top: 0; // doesn't work due to odd top's in _inputs.scss
	z-index: 0;
}

.#{$ns}-menuitem-is-selected {
	background-color: $xui-color-xero-blue;
	color: $xui-color-reversed-text;

	.#{$ns}-menuitem--body {
		color: inherit;
	}

	&:hover {
		background-color: $xui-color-xero-blue;
	}
}
