/**
 * Input groups within a form follow a very set pattern: label on the left,
 * input area in the middle, with validation messages floating around it.
 */

// TODO: Inputs can appear in the context of a full-screen panel, or a modal.
//       In a modal, the items align much like they were in a mobile view.  I
//       think it needs to be set which context the input group belongs?

@import "../tools/functions";
@import "../tools/mixins";
@import "../vars";

// Input groups
//
// This object brings together other objects into a single behavioural unit.
// The pieces are:
//  - a label
//  - an input or group of inputs
//  - a validation message for the input / group of inputs
//
// Markup:
// <div class="xui-inputgroup">
//  <label class="xui-inputgroup--label" for="display-name">Name</label>
//  <div class="xui-inputgroup--inputs">
//    <input class="xui-input xui-input-is-invalid" type="text" id="display-name" placeholder="Your name"/>
//    <div class="xui-inputmessage xui-inputmessage-shown">
//      <div class="xui-inputmessage--body">
//        This field is required
//      </div>
//    </div>
//  </div>
// </div>
// <div class="xui-inputgroup">
//  <div class="xui-inputgroup--label">Notifications</div>
//  <div class="xui-inputgroup--inputs xui-checkboxgroup">
//    <label class="xui-checkbox">
//      <input type="checkbox"/>
//      When a friend comments on my post
//    </label>
//    <label class="xui-checkbox">
//      <input type="checkbox"/>
//      When a friend sends me a message
//    </label>
//    <div class="xui-inputmessage xui-inputmessage-shown">
//      <div class="xui-inputmessage--body">
//        Select at least 1 option
//      </div>
//    </div>
//  </div>
// </div>
//
// Styleguide: Form Elements.6

.#{$ns}-inputgroup {
	line-height: px-to-rem(36);
	list-style: none;
	margin: px-to-rem(20) auto;
	min-height: px-to-rem(36);
	padding: 0;
}

// TODO: Think of better naming for distinguishing between input group contexts
.#{$ns}-modal-inputgroup {
	margin: px-to-rem(20) auto;
}

// Label part
// -----------------------------------------------------------------------------

.#{$ns}-inputgroup--label {
	display: block;
	margin: 0 auto;
	max-width: $inputgroup-width;
	padding: 0 1em;
}

// Input(s) part
// -----------------------------------------------------------------------------

.#{$ns}-inputgroup--inputs {
	display: block;
	margin: 0 auto;
	max-width: $inputgroup-width;
	padding: 0 1em;
	position: relative;
}

// Native Select Boxes
//
// For use when you want to display native controls on devices that support pretty controls
// Examples include iOS and Android devices
//
// Markup:
// <div class="xui-inputgroup">
//   <label class="xui-inputgroup--label" for="group-button-example3">Native</label>
//   <div class="xui-inputgroup--inputs">
//     <select class="xui-select" id="group-button-example3">
//       <option>Value 1</option>
//       <option>Value 2</option>
//       <option>Value 3</option>
//     </select>
//   </div>
// </div>
//
// Styleguide: Form Elements.7

// Styled Select Boxes
//
// This is the intended style for select boxes.
// It requires a JS implementation / framework on top to take the selected item and
// insert it into the input. Inputs should be hidden.
//
// Rules for the `<button>`
//
// Dropdown Hidden state : Remove class `xui-select--button-is-selected`
//
// Dropdown Not hidden state : Add class `xui-select--button-is-selected`
//
//
// Rules for the `<div class="xui-dropdownmenu-select">`
//
// Dropdown Hidden state : Add class `xui-dropdownmenu-is-closed`
//
// Dropdown Not hidden state : Remove class `xui-dropdownmenu-is-closed`
//
// Markup:
// <div class="xui-inputgroup">
//  <label class="xui-inputgroup--label">Custom</label>
//  <div class="xui-inputgroup--inputs xui-select">
//		<input type="hidden" value="Select option 1"/>
//		<button type="button" class="xui-button xui-select--button xui-select--button-is-selected" aria-haspopup="true">
//			Select option 1
//			<span class="xui-select--caret"></span>
//		</button>
//		<div class="xui-dropdownmenu xui-dropdownmenu-select" aria-hidden="true">
//			<div class="xui-dropdownmenu--body">
//				<ul class="xui-menugroup" role="menu">
//					<li class="xui-menugroup--item xui-menugroup--item-is-selected" role="menuitem">
//						<a href="#">Select option 1</a>
//					</li>
//					<li class="xui-menugroup--item" role="menuitem">
//						<a href="#">Select option 2</a>
//					</li>
//					<li class="xui-menugroup--item" role="menuitem">
//						<a href="#">Select option 3</a>
//					</li>
//				</ul>
//			</div>
//		</div>
//  </div>
// </div>
//
// Styleguide: Form Elements.8

.#{$ns}-select--button {
	background-color: transparent;
	color: $color-primary-text;
	display: block;
	padding: px-to-rem(5) px-to-rem(15);
	text-align: left;
	width: $inputgroup-width;
}

.#{$ns}-select--button-is-selected {
	border: $border-standard;
	border-bottom: 0;
	border-color: $color-xero-blue;
	border-radius: $radius $radius 0 0;

	&:hover {
		border-color: $color-xero-blue;
	}
}

.#{$ns}-select .#{$ns}-dropdownmenu-select {
	border-color: $color-xero-blue;
	border-radius: 0 0 $radius $radius;
	border-top: 0;
	left: 0;
	position: absolute;
	top: 40px;
	transition: $transition-duration-quick all $easing-standard;
	width: $inputgroup-width;
	z-index: 1;
}

.#{$ns}-inputgroup--inputs .#{$ns}-dropdownmenu-select {
	left: 1em;
}
