@import "../vars";
@import "../tools/mixins";
@import "../tools/functions";

// Validation
//
// Styleguide: Form Elements.600

// Validation Styles
//
// We support the use of a manual class, or HTML5 invalid pseudo class
//
// Markup:
// <input type="text" class="xui-input xui-input-is-invalid"/>
// <textarea class="xui-textarea xui-input-is-invalid"></textarea>
//
// Styleguide: Form Elements.600.1

.#{$ns}-input-is-invalid {
	border-color: $color-xero-red;

	&:focus,
	&:hover {
		border-color: $color-xero-red;
	}
}

// Validation Messages
//
// A container is required so that text content inside the message can flow.
// Otherwise, an absolutely-positioned element has far different flow mechanics
// and leads to over-wrapped validation messages.
//
// Markup:
// <!-- NOTE: Needs to be in a relatively positioned context, which in this
//            example is provided by being in an xui-inputgroup--inputs
//            subcomponent -->
// <div class="xui-inputgroup">
//   <div class="xui-inputgroup--inputs">
//     <input class="xui-input" type="text" required/>
//     <div class="xui-inputmessage xui-inputmessage-shown">
//       <span class="xui-inputmessage--body">Please fill out this field</span>
//     </div>
//   </div>
// </div>
//
// Styleguide: Form Elements.600.2
.#{$ns}-inputmessage {
	display: flex;
	left: 100%;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: opacity $transition-duration-short $easing-standard;
	width: px-to-rem(275);

	@include tablet {
		bottom: 100%;
		left: 0;
		top: auto;
	}

	@include mobile {
		width: 100%;
	}
}

.#{$ns}-inputmessage-shown {
	opacity: 1;
	pointer-events: auto;
}

.#{$ns}-inputmessage--body {
	background-color: $color-grey-1;
	border-radius: $radius;
	color: $color-white;
	display: inline-block;
	left: 1em;
	padding: 0 1em;
	position: relative;
	text-indent: 0;

	@include tablet {
		@include margin-auto-horizontal;
		bottom: 0.5em;
		left: 0;
	}

	&:before {
		border-bottom: 5px solid transparent;
		border-left: 0;
		border-right: 5px solid $color-grey-1;
		border-top: 5px solid transparent;
		content: "";
		left: -5px;
		position: absolute;
		top: 12px;

		@include tablet {
			border-bottom: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid $color-grey-1;
			bottom: -5px;
			left: calc(50% - 2.5px);
			top: auto;
		}
	}
}
