// Switch
//
// UI Switches
//
// `.xui-switch-is-enabled` : Add this class to enable the switch
//
//	Markup:
//	<label class="xui-switch">
//		<input type="checkbox" class="xui-u-hidden-visually xui-switch--checkbox">
//		<div class="xui-switch--control"></div>
//	</label>
//
// Styleguide: Form Elements.500

@import "../tools/mixins";
@import "../settings/colours";

.#{$ns}-switch {
	display: inline-block;
}

.#{$ns}-switch--control {
	background-color: $color-disabled-text;
	border: 1px solid $color-disabled-text;
	border-radius: 40px;
	cursor: pointer;
	height: 26px;
	position: relative;
	transition: all $xui-transition-duration-super-quick $xui-easing-standard;
	user-select: none;
	width: 50px;

	&::before {
		background-color: $color-white;
		border: 1px solid $color-white;
		border-radius: 50%;
		content: " ";
		display: block;
		height: 22px;
		position: absolute;
		top: 1px;
		transform: translate(1px);
		transition: all $xui-transition-duration-super-quick $xui-easing-standard;
		width: 22px;
	}

}

.#{$ns}-switch--checkbox {
	&:focus + .#{$ns}-switch--control {
		box-shadow: $shadow-focus;
	}

	&:checked + .#{$ns}-switch--control {
		background: $color-xero-blue;
		border: 1px solid $color-xero-blue;

		&::before {
			left: auto;
			transform: translate(25px);
		}
	}
}
