/**
 * Styles for form inputs.
 */

@import "../vars";
@import "../mixins";

// Text Inputs
//
// The number inputs have had their up and down arrows removed to sync browser styles
//
// Markup:
// <input class="xui-input" type="text" placeholder="Standard Input" aria-label="Standard input"/>
// <input class="xui-input" type="password" placeholder="Password Input" aria-label="Password"/>
// <input class="xui-input" type="number" placeholder="0.00" aria-label="Number input"/>
// <input class="xui-input xui-input-search" type="search" placeholder="Search" aria-label="Search"/>
// <input class="xui-input" type="tel" placeholder="telephone #" aria-label="Telephone"/>
// <input class="xui-input" type="email" placeholder="example@xero.com" aria-label="Email"/>
// <input class="xui-input" type="url" placeholder="http://www.xero.com" aria-label="URL"/>
// <input class="xui-input xui-input-date" type="text" placeholder="13 December 1989" aria-label="Date"/><!--avoid type="date" due to webkit placeholder, styling and formatting constraints-->
// <input class="xui-input" type="text" placeholder="Disabled input" aria-label="Disabled input" disabled />
// <textarea class="xui-textarea" aria-label="Large text area input" placeholder="Standard textarea"></textarea>
//
// Styleguide: Forms.4


.#{$ns}-input {
	@extend %#{$ns}-commoninput;
}

.#{$ns}-input-search {
	background: url("#{$xui-images-path}/inputs/search.svg") right 0.8em center / 1.2em no-repeat;
	background-size: 1.22em 1.24em; // Required for background SVGs in IE11
	padding-right: 2.8em;
}

.#{$ns}-input-date {
	background: url("#{$xui-images-path}/inputs/calendar.svg") right 0.8em center / 1.2em no-repeat;
	background-size: 1.22em 1.24em; // Required for background SVGs in IE11
	padding-right: 2.8em;
}

.#{$ns}-textarea {
	@extend %#{$ns}-commoninput;

	display: block;
	margin: 0;
	min-height: 70px;
	padding: 5px 0.5em;
	resize: none;

	@include xui-breakpoint-narrow {
		height: 90px;
	}
}
