@import "../vars";

// Styled Checkboxes and Radios
//
// Teaser: Styled versions of a native Checkbox and Radio element used inside forms.
//
// Styled checkbox and radio inputs can be made with any SVG icon from the [xui-icon collection](https://github.dev.xero.com/pages/UXE/xui-icon/).
// A minimum of two layers are required to create a styled input; a main layer and a focus layer.
//
// The `xui-styledcheckboxradio--main` and `xui-styledcheckboxradio--main` classes provide the main layer for a styled input.
//
// The `xui-styledcheckboxradio--focus` and `xui-styledcheckboxradio--focus` classes provide the focus layer for a styled input.
// The focus layer is needed in order to mimic the CSS `box-shadow` property and should use the same SVG as the main layer.
//
// The `xui-styledcheckboxradio--check` and `xui-styledcheckboxradio-check` classes provide the checkmark layer for a styled input.
// They are intended for use with the `xui-icon-checkbox-check` and `xui-icon-radio-check` icons.
//
// The `xui-styledcheckboxradio--indeterminate` class provides the indeterminate layer for a styled checkbox.
// It is intended to be used with the `xui-icon-checkbox-indeterminate` icon.
// Note that JavaScript is required to [toggle the indeterminate state of a checkbox](https://developer.mozilla.org/en-US/docs/Web/CSS/:indeterminate)
// (i.e. there is no indeterminate HTML attribute).
//
// Make sure to use `role="presentation"` on each `<use>` element for greater accessibility.
//
// Components: Checkbox, Radio
//
// Classes:
// xui-styledcheckboxradio-group: Container for a group of styled checkboxes or radio
// xui-styledcheckboxradio: Container for a styled checkbox or radio
// xui-styledcheckboxradio-reversed: Modifier for a right-aligned styled checkbox or radio
// xui-styledcheckboxradio--focus: Subcomponent for focus layer of a styled checkbox or radio
// xui-styledcheckboxradio--main: Subcomponent for main layer of a styled checkbox or radio
// xui-styledcheckboxradio--check: Subcomponent for checkmark layer of a styled checkbox or radio
// xui-styledcheckboxradio--indeterminate: Subcomponent for indeterminate layer of a styled checkbox (not applicable to radios)
// xui-styledcheckboxradio--label: Subcomponent for label text of a styled checkbox or radio
//
// Weight: 4.35
//
// Styleguide: Checkboxes and Radios

// Styled Inline Checkboxes
//
// Markup:
// <label class="xui-styledcheckboxradio">
//   <input class="xui-styledcheckboxradio--input" type="checkbox">
//   <svg focusable="false" class="xui-icon">
//     <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-checkbox-main"/>
//     <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-checkbox-main"/>
//     <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-checkbox-check"/>
//     <use role="presentation" class="xui-styledcheckboxradio--indeterminate" xlink:href="#xui-icon-checkbox-indeterminate"/>
//   </svg>
//   <span class="xui-styledcheckboxradio--label">Unchecked</span>
// </label>
// <label class="xui-styledcheckboxradio">
//   <input class="xui-styledcheckboxradio--input" type="checkbox" checked>
//   <svg focusable="false" class="xui-icon">
//     <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-checkbox-main"/>
//     <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-checkbox-main"/>
//     <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-checkbox-check"/>
//     <use role="presentation" class="xui-styledcheckboxradio--indeterminate" xlink:href="#xui-icon-checkbox-indeterminate"/>
//   </svg>
//   <span class="xui-styledcheckboxradio--label">Checked</span>
// </label>
// <label class="xui-styledcheckboxradio xui-is-disabled">
//   <input class="xui-styledcheckboxradio--input" type="checkbox" disabled>
//   <svg focusable="false" class="xui-icon">
//     <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-checkbox-main"/>
//     <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-checkbox-main"/>
//     <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-checkbox-check"/>
//     <use role="presentation" class="xui-styledcheckboxradio--indeterminate" xlink:href="#xui-icon-checkbox-indeterminate"/>
//   </svg>
//   <span class="xui-styledcheckboxradio--label">Disabled</span>
// </label>
// <label class="xui-styledcheckboxradio xui-is-disabled">
//   <input class="xui-styledcheckboxradio--input" type="checkbox" checked disabled>
//   <svg focusable="false" class="xui-icon">
//     <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-checkbox-main"/>
//     <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-checkbox-main"/>
//     <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-checkbox-check"/>
//     <use role="presentation" class="xui-styledcheckboxradio--indeterminate" xlink:href="#xui-icon-checkbox-indeterminate"/>
//   </svg>
//   <span class="xui-styledcheckboxradio--label">Checked and disabled</span>
// </label>
//
// Styleguide: Checkboxes and Radios.2

// Styled Inline Radios (right-aligned)
//
// Markup:
// <label class="xui-styledcheckboxradio xui-styledcheckboxradio-reversed">
//   <input class="xui-styledcheckboxradio--input" type="checkbox" id="r0" name="rg0">
//   <svg focusable="false" class="xui-icon">
//     <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-radio-main"/>
//     <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-radio-main"/>
//     <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-radio-check"/>
//   </svg>
//   <span class="xui-styledcheckboxradio--label">Unchecked</span>
// </label>
// <label class="xui-styledcheckboxradio xui-styledcheckboxradio-reversed">
//   <input class="xui-styledcheckboxradio--input" type="checkbox" id="r1" name="rg0" checked>
//   <svg focusable="false" class="xui-icon">
//     <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-radio-main"/>
//     <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-radio-main"/>
//     <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-radio-check"/>
//   </svg>
//   <span class="xui-styledcheckboxradio--label">Checked</span>
// </label>
// <label class="xui-styledcheckboxradio xui-styledcheckboxradio-reversed xui-is-disabled">
//   <input class="xui-styledcheckboxradio--input" type="checkbox" disabled>
//   <svg focusable="false" class="xui-icon">
//     <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-radio-main"/>
//     <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-radio-main"/>
//     <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-radio-check"/>
//   </svg>
//   <span class="xui-styledcheckboxradio--label">Disabled</span>
// </label>
// <label class="xui-styledcheckboxradio xui-styledcheckboxradio-reversed xui-is-disabled">
//   <input class="xui-styledcheckboxradio--input" type="checkbox" checked disabled>
//   <svg focusable="false" class="xui-icon">
//     <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-radio-main"/>
//     <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-radio-main"/>
//     <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-radio-check"/>
//   </svg>
//   <span class="xui-styledcheckboxradio--label">Checked and disabled</span>
// </label>
//
// Styleguide: Checkboxes and Radios.3

// Styled Lonley Checkbox
//
// Markup:
// <label class="xui-text-label xui-fieldlabel-layout">Lonely checkbox</label>
// <div class="xui-styledcheckboxradio-group">
//   <label class="xui-styledcheckboxradio">
//     <input class="xui-styledcheckboxradio--input" type="checkbox" checked>
//     <svg focusable="false" class="xui-icon">
//       <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-checkbox-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-checkbox-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-checkbox-check"/>
//       <use role="presentation" class="xui-styledcheckboxradio--indeterminate" xlink:href="#xui-icon-checkbox-indeterminate"/>
//     </svg>
//     <span class="xui-styledcheckboxradio--label">So lonely...</span>
//   </label>
// </div>
//
// Styleguide: Checkboxes and Radios.4

// Styled Multiline Checkbox
//
// Markup:
// <label class="xui-text-label xui-fieldlabel-layout">Multiline checkbox</label>
// <div class="xui-styledcheckboxradio-group">
//   <label class="xui-styledcheckboxradio">
//     <input class="xui-styledcheckboxradio--input" type="checkbox" checked>
//     <svg focusable="false" class="xui-icon">
//       <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-checkbox-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-checkbox-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-checkbox-check"/>
//       <use role="presentation" class="xui-styledcheckboxradio--indeterminate" xlink:href="#xui-icon-checkbox-indeterminate"/>
//     </svg>
//     <span class="xui-styledcheckboxradio--label">Stick this in your checkbox<br>and wrap it!</span>
//   </label>
// </div>
//
// Styleguide: Checkboxes and Radios.5

// Styled Checkbox Groups
//
// Markup:
// <label class="xui-text-label xui-fieldlabel-layout">Childhood checklist</label>
// <div class="xui-styledcheckboxradio-group">
//   <label class="xui-styledcheckboxradio">
//     <input class="xui-styledcheckboxradio--input" type="checkbox">
//     <svg focusable="false" class="xui-icon">
//       <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-checkbox-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-checkbox-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-checkbox-check"/>
//       <use role="presentation" class="xui-styledcheckboxradio--indeterminate" xlink:href="#xui-icon-checkbox-indeterminate"/>
//     </svg>
//     <span class="xui-styledcheckboxradio--label">Milk</span>
//   </label>
//   <label class="xui-styledcheckboxradio">
//     <input class="xui-styledcheckboxradio--input" type="checkbox">
//     <svg focusable="false" class="xui-icon">
//       <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-checkbox-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-checkbox-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-checkbox-check"/>
//       <use role="presentation" class="xui-styledcheckboxradio--indeterminate" xlink:href="#xui-icon-checkbox-indeterminate"/>
//     </svg>
//     <span class="xui-styledcheckboxradio--label">Cookies</span>
//   </label>
//   <label class="xui-styledcheckboxradio">
//     <input class="xui-styledcheckboxradio--input" type="checkbox">
//     <svg focusable="false" class="xui-icon">
//       <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-checkbox-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-checkbox-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-checkbox-check"/>
//       <use role="presentation" class="xui-styledcheckboxradio--indeterminate" xlink:href="#xui-icon-checkbox-indeterminate"/>
//     </svg>
//     <span class="xui-styledcheckboxradio--label">View-Master!</span>
//   </label>
// </div>
//
// Styleguide: Checkboxes and Radios.6

// Styled Radio Groups
//
// Markup:
// <label class="xui-text-label xui-fieldlabel-layout">Choose your favourite Star Trek character</label>
// <div class="xui-styledcheckboxradio-group">
//   <label class="xui-styledcheckboxradio">
//     <input class="xui-styledcheckboxradio--input" type="radio" id="r2" name="rg1">
//     <svg focusable="false" class="xui-icon">
//       <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-radio-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-radio-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-radio-check"/>
//     </svg>
//     <span class="xui-styledcheckboxradio--label">Jean-Luc Picard</span>
//   </label>
//   <label class="xui-styledcheckboxradio">
//     <input class="xui-styledcheckboxradio--input" type="radio" id="r3" name="rg1" checked>
//     <svg focusable="false" class="xui-icon">
//       <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-radio-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-radio-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-radio-check"/>
//     </svg>
//     <span class="xui-styledcheckboxradio--label">Deanna Troi</span>
//   </label>
//   <label class="xui-styledcheckboxradio">
//     <input class="xui-styledcheckboxradio--input" type="radio" id="r4" name="rg1">
//     <svg focusable="false" class="xui-icon">
//       <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-radio-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-radio-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-radio-check"/>
//     </svg>
//     <span class="xui-styledcheckboxradio--label">Geordi La Forge</span>
//   </label>
//   <label class="xui-styledcheckboxradio xui-is-disabled">
//     <input class="xui-styledcheckboxradio--input" type="radio" disabled>
//     <svg focusable="false" class="xui-icon">
//       <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-radio-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-radio-main"/>
//       <use role="presentation" class="xui-styledcheckboxradio--check" xlink:href="#xui-icon-radio-check"/>
//     </svg>
//     <span class="xui-styledcheckboxradio--label">Wesley Crusher</span>
//   </label>
// </div>
//
// Styleguide: Checkboxes and Radios.7

// Styled Checkbox Stars
//
// Markup:
// <label class="xui-text-label xui-fieldlabel-layout">Tonight Matthew, I'm going to be...</label>
// <div class="xui-styledcheckboxradio-group">
//   <label class="xui-styledcheckboxradio xui-styledcheckboxradio-reversed">
//     <input class="xui-styledcheckboxradio--input" type="checkbox">
//     <svg focusable="false" class="xui-icon">
//       <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-star"/>
//       <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-star"/>
//     </svg>
//     <span class="xui-styledcheckboxradio--label">Cliff Richard</span>
//   </label>
//   <label class="xui-styledcheckboxradio xui-styledcheckboxradio-reversed">
//     <input class="xui-styledcheckboxradio--input" type="checkbox">
//     <svg focusable="false" class="xui-icon">
//       <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-star"/>
//       <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-star"/>
//     </svg>
//     <span class="xui-styledcheckboxradio--label">Celine Dion</span>
//   </label>
//   <label class="xui-styledcheckboxradio xui-styledcheckboxradio-reversed">
//     <input class="xui-styledcheckboxradio--input" type="checkbox">
//     <svg focusable="false" class="xui-icon">
//       <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-star"/>
//       <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-star"/>
//     </svg>
//     <span class="xui-styledcheckboxradio--label">Engelbert Humperdinck</span>
//   </label>
//   <label class="xui-styledcheckboxradio xui-styledcheckboxradio-reversed">
//     <input class="xui-styledcheckboxradio--input" type="checkbox">
//     <svg focusable="false" class="xui-icon">
//       <use role="presentation" class="xui-styledcheckboxradio--focus" xlink:href="#xui-icon-star"/>
//       <use role="presentation" class="xui-styledcheckboxradio--main" xlink:href="#xui-icon-star"/>
//     </svg>
//     <span class="xui-styledcheckboxradio--label">At home, eating ice cream in my pajamas</span>
//   </label>
// </div>
//
// Styleguide: Checkboxes and Radios.8


// Group styles
// ============
.#{$ns}-styledcheckboxradio-group {
	border: $xui-border-standard;
	border-radius: $xui-radius;

	.#{$ns}-styledcheckboxradio {
		display: flex; // Stacked inputs
		padding: 4px; // Border padding
	}

	.#{$ns}-styledcheckboxradio:nth-last-of-type(n+2) {
		border-bottom: $xui-border-standard;
	}
}

// Label spacing
// =============
.#{$ns}-styledcheckboxradio--label {
	flex-grow: 1;
	padding: 6px 3px 3px;

	.#{$ns}-is-disabled & {
		color: $xui-color-grey-alpha-4;
	}
}


// Right-aligned input
// ===================
.#{$ns}-styledcheckboxradio-reversed {
	flex-direction: row-reverse;
	justify-content: space-between;
}


// Main styles
// ===========
.#{$ns}-styledcheckboxradio {
	@include xui-text-line-height; // 1.5
	align-items: flex-start;
	display: inline-flex; // Inline inputs
	user-select: none;

	// TODO: Opacity override
	&.#{$ns}-is-disabled {
		fill: $xui-color-grey-alpha-4;
		opacity: 1;
	}
}

.#{$ns}-styledcheckboxradio .#{$ns}-icon {
	flex-shrink: 0; // Prevent SVG from shrinking when label text is long
	pointer-events: none;
}

.#{$ns}-styledcheckboxradio--focus,
.#{$ns}-styledcheckboxradio--main,
.#{$ns}-styledcheckboxradio--check,
.#{$ns}-styledcheckboxradio--indeterminate {
	transition: all $xui-motion-speed-fast ease;
}

.#{$ns}-styledcheckboxradio--focus {
	opacity: 0; // Hide focus
	stroke: transparent;
	stroke-linejoin: round;
	stroke-width: 6;
}

.#{$ns}-styledcheckboxradio--main {
	fill: $xui-color-white;
	stroke: $xui-color-grey-alpha-4;
	stroke-linejoin: round;
}

.#{$ns}-styledcheckboxradio--check,
.#{$ns}-styledcheckboxradio--indeterminate {
	fill: transparent;
	opacity: 0; // Hide checkmark
}


// Unchecked styles
// ================

// Hover
.#{$ns}-styledcheckboxradio--input {
	@include xui-position-offscreen-input;

	&:hover + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--main {
			stroke: $xui-color-grey-3;
		}
	}

	&:focus:not(:hover) + .#{$ns}-icon {

		// Focus layer to match box-shadow on standard HTML inputs ($xui-shadow-focus)
		// TODO: Remove focus layer and use CSS filters on main layer instead
		// 			 At time of commit (27 May 2016) CSS filters lack sufficient browser support
		// 			 https://developer.mozilla.org/en/docs/Web/CSS/filter
		.#{$ns}-styledcheckboxradio--focus {
			opacity: 1; // Show focus
			stroke: $xui-color-grey-alpha-6;
		}

		.#{$ns}-styledcheckboxradio--main {
			stroke: $xui-color-grey-3;
		}
	}

	&:active + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--focus {
			opacity: 0; // Hide focus
			stroke: transparent;
		}

		.#{$ns}-styledcheckboxradio--main {
			fill: darken($xui-color-white, 7%);
		}
	}

	&:checked + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--main {
			fill: $xui-color-xero-blue;
			stroke: $xui-color-xero-blue;
		}

		.#{$ns}-styledcheckboxradio--check {
			fill: $xui-color-white;
			opacity: 1; // Show checkmark
		}
	}

	&:checked:hover + .#{$ns}-icon,
	&:checked:focus + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--main {
			fill: darken($xui-color-xero-blue, 7%);
			stroke: darken($xui-color-xero-blue, 7%);
		}
	}

	&:checked:active + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--main {
			fill: $xui-color-xero-blue;
			stroke: darken($xui-color-xero-blue, 7%);
		}
	}

	&:indeterminate + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--main {
			fill: $xui-color-xero-blue;
			stroke: $xui-color-xero-blue;
		}

		.#{$ns}-styledcheckboxradio--check {
			fill: transparent;
			opacity: 0; // Hide checkmark
		}

		.#{$ns}-styledcheckboxradio--indeterminate {
			fill: $xui-color-white;
			opacity: 1; // Show indeterminate
		}
	}

	// Indeterminate, hover/focus
	&:indeterminate:hover + .#{$ns}-icon,
	&:indeterminate:focus + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--main {
			fill: darken($xui-color-xero-blue, 7%);
			stroke: darken($xui-color-xero-blue, 7%);
		}
	}

	// Indeterminate, active
	&:indeterminate:active + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--main {
			fill: $xui-color-xero-blue;
			stroke: darken($xui-color-xero-blue, 7%);
		}
	}

	// Disabled styles
	// ===============
	&:disabled + .#{$ns}-icon,
	&:disabled:hover + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--main {
			fill: $xui-color-grey-6; // TODO: Update $xui-color-grey-alpha-5 to use $xui-color-grey-6
			stroke: $xui-color-grey-alpha-4;
		}

		.#{$ns}-styledcheckboxradio--check,
		.#{$ns}-styledcheckboxradio--indeterminate {
			fill: $xui-color-grey-4; // TODO: Update $xui-color-grey-alpha-4 to use $xui-color-grey-4
		}
	}
}
