@import "../vars";



// Group styles
// ============
.#{$ns}-styledcheckboxradio-group {
	border: $xui-border-standard;
	border-radius: $xui-radius;

	.#{$ns}-styledcheckboxradio {
		display: flex; // Stacked inputs
		padding: 4px; // Border padding
	}

	.#{$ns}-styledcheckboxradio:nth-last-of-type(n+2) {
		border-bottom: $xui-border-standard;
	}
}

// Label spacing
// =============
.#{$ns}-styledcheckboxradio--label {
	flex-grow: 1;
	padding: 6px 3px 3px;

	.#{$ns}-is-disabled & {
		color: $xui-color-grey-alpha-4;
	}
}


// Right-aligned input
// ===================
.#{$ns}-styledcheckboxradio-reversed {
	flex-direction: row-reverse;
	justify-content: space-between;
}


// Main styles
// ===========
.#{$ns}-styledcheckboxradio {
	@include xui-text-line-height; // 1.5
	align-items: flex-start;
	display: inline-flex; // Inline inputs
	user-select: none;

	// TODO: Opacity override
	&.#{$ns}-is-disabled {
		fill: $xui-color-grey-alpha-4;
		opacity: 1;
	}
}

.#{$ns}-styledcheckboxradio .#{$ns}-icon {
	flex-shrink: 0; // Prevent SVG from shrinking when label text is long
	pointer-events: none;
}

.#{$ns}-styledcheckboxradio--focus,
.#{$ns}-styledcheckboxradio--main,
.#{$ns}-styledcheckboxradio--check,
.#{$ns}-styledcheckboxradio--indeterminate {
	transition: all $xui-motion-speed-fast ease;
}

.#{$ns}-styledcheckboxradio--focus {
	opacity: 0; // Hide focus
	stroke: transparent;
	stroke-linejoin: round;
	stroke-width: 6;
}

.#{$ns}-styledcheckboxradio--main {
	fill: $xui-color-white;
	stroke: $xui-color-grey-alpha-4;
	stroke-linejoin: round;
}

.#{$ns}-styledcheckboxradio--check,
.#{$ns}-styledcheckboxradio--indeterminate {
	fill: transparent;
	opacity: 0; // Hide checkmark
}

// Unchecked styles
// ================

// Hover
.#{$ns}-styledcheckboxradio--input {
	@include xui-position-offscreen-input;

	&:hover + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--main {
			stroke: $xui-color-grey-3;
		}
	}

	&:focus:not(:hover) + .#{$ns}-icon {

		// Focus layer to match box-shadow on standard HTML inputs ($xui-shadow-focus)
		// TODO: Remove focus layer and use CSS filters on main layer instead
		// 			 At time of commit (27 May 2016) CSS filters lack sufficient browser support
		// 			 https://developer.mozilla.org/en/docs/Web/CSS/filter
		.#{$ns}-styledcheckboxradio--focus {
			opacity: 1; // Show focus
			stroke: $xui-color-grey-alpha-6;
		}

		.#{$ns}-styledcheckboxradio--main {
			stroke: $xui-color-grey-3;
		}
	}

	&:active + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--focus {
			opacity: 0; // Hide focus
			stroke: transparent;
		}

		.#{$ns}-styledcheckboxradio--main {
			fill: darken($xui-color-white, 7%);
		}
	}

	&:checked + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--main {
			fill: $xui-color-xero-blue;
			stroke: $xui-color-xero-blue;
		}

		.#{$ns}-styledcheckboxradio--check {
			fill: $xui-color-white;
			opacity: 1; // Show checkmark
		}
	}

	&:checked:hover + .#{$ns}-icon,
	&:checked:focus + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--main {
			fill: darken($xui-color-xero-blue, 7%);
			stroke: darken($xui-color-xero-blue, 7%);
		}
	}

	&:checked:active + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--main {
			fill: $xui-color-xero-blue;
			stroke: darken($xui-color-xero-blue, 7%);
		}
	}

	&[type=checkbox]:indeterminate + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--main {
			fill: $xui-color-xero-blue;
			stroke: $xui-color-xero-blue;
		}
	}

	&:indeterminate + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--check {
			fill: transparent;
			opacity: 0; // Hide checkmark
		}

		.#{$ns}-styledcheckboxradio--indeterminate {
			fill: $xui-color-white;
			opacity: 1; // Show indeterminate
		}
	}

	// Indeterminate, hover/focus
	&:indeterminate:hover + .#{$ns}-icon,
	&:indeterminate:focus + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--main {
			stroke: $xui-color-grey-alpha-3;

			&[type=checkbox] {
				fill: darken($xui-color-xero-blue, 7%);
				stroke: darken($xui-color-xero-blue, 7%);
			}
		}
	}

	// Indeterminate, active
	&:indeterminate:active + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--main {
			fill: $xui-color-xero-blue;
			stroke: darken($xui-color-xero-blue, 7%);
		}
	}

	// Disabled styles
	// ===============
	&:disabled + .#{$ns}-icon,
	&:disabled:hover + .#{$ns}-icon {
		.#{$ns}-styledcheckboxradio--main {
			fill: $xui-color-grey-6;
			stroke: $xui-color-grey-alpha-4;
		}

		.#{$ns}-styledcheckboxradio--check,
		.#{$ns}-styledcheckboxradio--indeterminate {
			fill: $xui-color-grey-4;
		}
	}

	// HTML version of checkbox
	// ========================
	&:hover + .#{$ns}-styledcheckboxradio--checkbox {
		border-color: $xui-color-grey-3;
	}
	&:focus:not(:hover) + .#{$ns}-styledcheckboxradio--checkbox {
		box-shadow: $xui-shadow-focus;
	}
	&:active + .#{$ns}-styledcheckboxradio--checkbox {
		background-color: darken($xui-color-white, 7%);
	}
	&:checked, &:indeterminate {
		& + .#{$ns}-styledcheckboxradio--checkbox {
			background-color: $xui-color-xero-blue;
			border-color: $xui-color-xero-blue;
		}
		&:hover, &:focus, &:active {
			& + .#{$ns}-styledcheckboxradio--checkbox {
				background-color: darken($xui-color-xero-blue, 7%);
				border-color: darken($xui-color-xero-blue, 7%);
			}
		}
	}
	&:checked:not(:disabled) + .#{$ns}-styledcheckboxradio--checkbox:after {
		animation: #{$ns}-tick-checkbox $xui-motion-speed-medium $xui-motion-curve-standard both;
		opacity: 1;
	}
	&:indeterminate:not(:disabled) + .#{$ns}-styledcheckboxradio--checkbox:before {
		animation: #{$ns}-indeterminate-checkbox $xui-motion-speed-medium $xui-motion-curve-standard both;
		opacity: 1;
	}

	&:disabled {
		& + .#{$ns}-styledcheckboxradio--checkbox {
			background-color: $xui-color-grey-6;
			border-color: $xui-color-grey-alpha-4;
			&:after, &:before {
				background-color: transparent;
				border-color: transparent;
			}
		}

		&:checked + .#{$ns}-styledcheckboxradio--checkbox:after {
			border-color: $xui-color-grey-4;
			opacity: 1;
		}
		&:indeterminate + .#{$ns}-styledcheckboxradio--checkbox:before {
			background-color: $xui-color-grey-4;
			opacity: 1;
		}
	}
}

.#{$ns}-styledcheckboxradio--checkbox {
	align-self: center;
	background-color: $xui-color-white;
	border: $xui-border-standard;
	border-radius: $xui-radius;
	cursor: pointer;
	height: 19px;
	margin: 6px 5px 4px 6px;
	position: relative;
	transition: background-color $xui-motion-speed-fast $xui-motion-curve-standard;
	width: 19px;

	&:before, &:after {
		content: '';
		opacity: 0;
		position: absolute;
	}
}

.#{$ns}-styledcheckboxradio--checkbox:after {
	border-bottom: solid 2px $xui-color-white;
	border-left: solid 2px $xui-color-white;
	box-sizing: border-box;
	height: 38%;
	left: 14%;
	top: 55%;
	transform: rotate(-46deg);
	transform-origin: 0 0;
	width: 74%;
}
.#{$ns}-styledcheckboxradio--checkbox:before {
	background-color: $xui-color-white;
	height: 2px;
	left: 49%;
	margin-left: -25%;
	top: 48%;
	transform-origin: 50% 50%;
	width: 53%;
}
@keyframes #{$ns}-tick-checkbox {
	0% {
		height: 0%;
		opacity: 0;
		width: 0%;
	}
	50% {
		height: 38%;
		opacity: 1;
		width: 0%;
	}
	100% {
		height: 38%;
		opacity: 1;
		width: 74%;
	}
}
@keyframes #{$ns}-indeterminate-checkbox {
	0% {
		transform: scale(0, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}
