@import "../vars";
@import "../mixins";

.#{$ns}-select {
	position: relative;
}

.#{$ns}-select--control {
	@include xui-commoninput;

	cursor: pointer;
	padding-right: $xui-s-2xlarge;

	&::-ms-expand {
		display: none;
	}

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 $xui-color-black;
	}
}

.#{$ns}-select--caret {
	pointer-events: none;
	position: absolute;
	right: 3px;
	top: $xui-s-xsmall;
	z-index: 2;

	.#{$ns}-is-disabled ~ & {
		opacity: .4;
	}
}

.#{$ns}-select--button {
	@include xui-commoninput;
	background-color: transparent;
	border: $xui-border-standard;
	border-radius: $xui-radius;
	color: $xui-color-grey-1;
	display: block;
	font-weight: normal;
	min-height: $xui-input-height;
	overflow: hidden;
	padding: $xui-input-padding-vertical $xui-s-2xlarge $xui-input-padding-vertical $xui-input-padding-horizontal;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.#{$ns}-dropdownmenu-select {
	border-radius: 0 0 $xui-radius $xui-radius;
	border-top: 0;
}

.#{$ns}-select-layout {

	.#{$ns}-dropdown--body {
		border-top: 0;

		@include xui-breakpoint-narrow {
			border: 0;
			border-radius: 0;
		}
	}

	.#{$ns}-select--button {
		width: 100%;
	}
}
