/**
 * Styles for form inputs.
 */

@import "../vars";
@import "../mixins";

$xui-radius-iconwrapper: 2px;
$xui-input-icon-height: $xui-input-height - 2px; // height minus top and bottom borders
$xui-input-icon-width: $xui-input-height - 4px; // need to ensure enough spacing between icon wrapper and placeholder
$xui-input-icon-offset: ($xui-input-icon-width - $xui-icon-standard) / 2;
$xui-input-icon-zindex: 3; // focused inputs have zindex: 2, so icons need to have a bigger z-index

// Text Inputs
//
// The number inputs have had their up and down arrows removed to sync browser styles
//
// Components: Input, TextArea
//
// Classes:
// xui-input: Style for a text input
// xui-input-is-invalid: Modifier for an invalid text input
//
// Markup:
// <input class="xui-input" type="text" placeholder="Standard Input" aria-label="Standard input"/>
// <input class="xui-input" type="password" placeholder="Password Input" aria-label="Password"/>
// <input class="xui-input" type="number" placeholder="0.00" aria-label="Number input"/>
// <input class="xui-input" type="tel" placeholder="telephone #" aria-label="Telephone"/>
// <input class="xui-input" type="email" placeholder="example@xero.com" aria-label="Email"/>
// <input class="xui-input" type="text" placeholder="13 December 1989" aria-label="Date"/><!--avoid type="date" due to webkit placeholder, styling and formatting constraints-->
// <input class="xui-input" type="text" placeholder="Disabled input" aria-label="Disabled input" disabled />
// <textarea class="xui-input xui-u-resize-none" aria-label="Large text area input" placeholder="Standard textarea"></textarea>
//
// Styleguide: Forms.4


// Text Icon Prompts
//
// Icons may be used to prompt users on what each input is for, or as buttons to enable functionality such as clearing a field.
//
// #### Usage Requirements
//  - Icon prompt `svg` tags should be placed within the `xui-inputwrapper` at the same level as `xui-input` (if no background color is required) or within
//    `xui-input--iconwrapper` (if a background color is required). You can also use text in place of an icon, but it must be wrapped with `xui-input--iconwrapper`
//  - Buttons should be formatted like the icon buttons [shown in the docs](https://github.dev.xero.com/pages/UXE/xui/docs/10.2.0/section-buttons.html#kssref-buttons-7)
//  - Both prompts and buttons should be placed before the `input` tag to ensure the correct padding is applied to `xui-input` due to our implementation using sibling selectors
//
// Classes:
// xui-inputwrapper: Container for a text input with an icon
// xui-input--iconwrapper: Wrapper around the icon (use only if you want to apply a background color to the icon).
// xui-input--iconwrapper-left: Left-aligned icon wrapper
// xui-input--iconwrapper-right: Right-aligned icon wrapper
// xui-input--icon-left: Modifier for a left-aligned input icon
// xui-input--icon-right: Modifier for a right-aligned input icon
// xui-input--iconwrapper-facebook: Facebook color for icon wrapper
// xui-input--iconwrapper-twitter: Twitter background color for icon wrapper
// xui-input--iconwrapper-linkedin: LinkedIn background color for icon wrapper
//
// Markup:
// <div class="xui-inputwrapper xui-margin">
//   <svg focusable="false" class="xui-icon xui-input--icon-left"> <use xlink:href="#xui-icon-url" role="presentation" /></svg>
//   <input class="xui-input" type="url" placeholder="http://www.xero.com" aria-label="URL"/>
// </div>
// <div class="xui-inputwrapper xui-margin">
//   <svg focusable="false" class="xui-icon xui-input--icon-right"> <use xlink:href="#xui-icon-search" role="presentation" /></svg>
//   <input class="xui-input" type="search" placeholder="Search" aria-label="Search"/>
// </div>
// <div class="xui-inputwrapper xui-margin">
//   <svg focusable="false" class="xui-icon xui-input--icon-left"> <use xlink:href="#xui-icon-search" role="presentation" /></svg>
//   <div class="xui-input--iconwrapper xui-input--iconwrapper-right">
//     <button type="button" class="xui-button xui-button-icon" title="Clear" aria-label="Clear">
//       <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-clear" role="presentation"/></svg>
//     </button>
//   </div>
//   <input class="xui-input" type="search" placeholder="Search" aria-label="Search"/>
// </div>
// <div class="xui-inputwrapper xui-margin">
//   <div class="xui-input--iconwrapper xui-input--iconwrapper-left xui-input--iconwrapper-twitter">
//     <svg focusable="false" class="xui-icon xui-icon-color-white xui-input--icon-left"> <use xlink:href="#xui-icon-social-twitter" role="presentation" /></svg>
//   </div>
//   <input class="xui-input" type="text" placeholder="@username" aria-label="Twitter username"/>
// </div>
// <div class="xui-inputwrapper xui-margin">
//   <div class="xui-input--iconwrapper xui-input--iconwrapper-right xui-input--iconwrapper-facebook" >
//     <svg focusable="false" class="xui-icon xui-icon-color-white xui-input--icon-right"> <use xlink:href="#xui-icon-social-facebook" role="presentation" /></svg>
//   </div>
//   <input class="xui-input" type="text" placeholder="Facebook URL" aria-label="Facebook URL"/>
// </div>
// <div class="xui-inputwrapper xui-margin">
//   <div class="xui-input--iconwrapper xui-input--iconwrapper-left xui-text-color-icon">
//     €
//   </div>
//   <input class="xui-input" type="text" placeholder="X.XX" aria-label="Amount"/>
// </div>
//
// Styleguide: Forms.4.1

.#{$ns}-input {
	@extend %#{$ns}-commoninput;
}

// TODO: Remove xui-input-wrapper in XUI 12
.#{$ns}-input-wrapper,
.#{$ns}-inputwrapper {
	position: relative;

	.#{$ns}-input--icon-right ~ .#{$ns}-input,
	.#{$ns}-input--iconwrapper-right ~ .#{$ns}-input {
		padding-right: $xui-input-height + 1;
	}

	.#{$ns}-input--icon-left ~ .#{$ns}-input,
	.#{$ns}-input--iconwrapper-left ~ .#{$ns}-input {
		padding-left: $xui-input-height + 1;
	}

	.#{$ns}-icon {
		z-index: $xui-input-icon-zindex;
	}

	.#{$ns}-input--icon-left,
	.#{$ns}-input--icon-right {
		color: $xui-color-grey-3;
		height: $xui-input-icon-height; // Do not supply width so that the icon does not scale (achieves vertical centering)
		position: absolute;
		z-index: $xui-input-icon-zindex;
	}

	.#{$ns}-input--icon-left {
		left: $xui-input-icon-offset;
		top: 1px; // Border offset
	}

	.#{$ns}-input--icon-right {
		right: $xui-input-icon-offset;
		top: 1px; // Border offset
	}
}

.#{$ns}-input--iconwrapper {
	align-items: center;
	display: inline-flex;
	height: $xui-input-icon-height;
	justify-content: center;
	line-height: $xui-input-icon-height;
	position: absolute;
	text-align: center; // If text is used instead of an icon, center it
	top: 1px;
	width: $xui-input-icon-width;
	z-index: $xui-input-icon-zindex;
}

// TODO: remove in XUI 12
.#{$ns}-input-borderless-layout {
	@include xui-padding($xui-s-standard);
}

// TODO: remove in XUI 12
.#{$ns}-inputwrapper-borderless-layout {
	.#{$ns}-input--iconwrapper {
		top: $xui-s-xsmall + 1px; // Layout class adds extra vertical height
	}
}

.#{$ns}-input--iconwrapper-left {
	border-radius: $xui-radius-iconwrapper 0 0 $xui-radius-iconwrapper;
	left: 1px;
}

.#{$ns}-input--iconwrapper-right {
	border-radius: 0 $xui-radius-iconwrapper $xui-radius-iconwrapper 0;
	right: 1px;
}

.#{$ns}-input--iconwrapper-twitter {
	background-color: $xui-color-twitter;
}

.#{$ns}-input--iconwrapper-facebook {
	background-color: $xui-color-facebook;
}

.#{$ns}-input--iconwrapper-linkedin {
	background-color: $xui-color-linkedin;
}

// Borderless Text Inputs
//
// There are two borderless input variants, each with differing levels of visual impact, and each with an inverted modifier.
// One is transparent by default (but tints on focus), the other is tinted by default (and darkens on focus).
//
// Use them in contexts where a regular bordered input attracts too much visual attention.
// A common use is search, where nesting a regular input creates undesirable double borders.
//
// Gauge the level of importance of the input in the overall flow, to determine which variant to use.
// For example, if search is not a primary use case, decrease its visual significance, and use the transparent variant.
//
// Please note that this kind of input is not for use in contexts that require validation.
// Additionally, if extra space is required, consider nesting the element.
//
// Classes:
// xui-inputwrapper-borderless: Modifier for the borderless inputs container
// xui-inputwrapper-borderless-transparent: Modifier for a transparent borderless input (use with light backgrounds)
// xui-inputwrapper-borderless-solid: Modifier for a solid borderless input (use with light backgrounds)
// xui-inputwrapper-borderless-inverted: Modifier for an inverted borderless input (use with dark backgrounds)
// xui-input-borderless: Modifier for borderless input fields
//
// Markup:
// <div class="xui-padding">
//   <input class="xui-input xui-input-borderless xui-input-borderless-transparent" type="text" placeholder="Transparent input" aria-label="Transparent input" />
//   <div class="xui-inputwrapper xui-inputwrapper-borderless xui-margin-top">
//     <svg focusable="false" class="xui-icon xui-input--icon-left">
//       <use xlink:href="#xui-icon-search" role="presentation" />
//     </svg>
//     <input class="xui-input xui-input-borderless xui-input-borderless-transparent xui-padding-right-huge" type="search" placeholder="Transparent input with icons" aria-label="Transparent input with icons" />
//     <div class="xui-input--iconwrapper xui-input--iconwrapper-right">
//       <button type="button" class="xui-button xui-button-icon" title="Clear" aria-label="Clear">
//         <svg focusable="false" class="xui-icon">
//           <use xlink:href="#xui-icon-clear" role="presentation"/>
//         </svg>
//       </button>
//     </div>
//   </div>
//   <input class="xui-margin-top xui-input xui-input-borderless xui-input-borderless-solid" type="text" placeholder="Solid input" aria-label="Solid input"/>
//   <div class="xui-inputwrapper xui-inputwrapper-borderless xui-margin-top">
//     <svg focusable="false" class="xui-icon xui-input--icon-left">
//        <use xlink:href="#xui-icon-search" role="presentation" />
//     </svg>
//     <input class="xui-input xui-input-borderless xui-input-borderless-solid xui-padding-right-huge" type="search" placeholder="Solid input with icons" aria-label="Solid input with icons"/>
//     <div class="xui-input--iconwrapper xui-input--iconwrapper-right">
//       <button type="button" class="xui-button xui-button-icon" title="Clear" aria-label="Clear">
//         <svg focusable="false" class="xui-icon">
//           <use xlink:href="#xui-icon-clear" role="presentation"/>
//         </svg>
//       </button>
//     </div>
//   </div>
// </div>
// <div class="xui-padding xui-background-grey-1">
//   <input class="xui-input xui-input-borderless xui-input-borderless-inverted xui-input-borderless-transparent" type="text" placeholder="Transparent inverted input" aria-label="Transparent inverted input" />
//   <div class="xui-inputwrapper xui-inputwrapper-borderless xui-margin-top">
//     <svg focusable="false" class="xui-icon xui-input--icon-left">
//       <use xlink:href="#xui-icon-search" role="presentation" />
//     </svg>
//     <input class="xui-input xui-input-borderless xui-input-borderless-inverted xui-input-borderless-transparent xui-padding-right-huge" type="search" placeholder="Transparent inverted input with icons" aria-label="Transparent inverted input with icons" />
//     <div class="xui-input--iconwrapper xui-input--iconwrapper-right">
//       <button type="button" class="xui-button xui-button-icon xui-button-icon-inverted" title="Clear" aria-label="Clear">
//         <svg focusable="false" class="xui-icon">
//           <use xlink:href="#xui-icon-clear" role="presentation"/>
//         </svg>
//       </button>
//     </div>
//   </div>
//   <input class="xui-margin-top xui-input xui-input-borderless-inverted xui-input-borderless xui-input-borderless-solid" type="text" placeholder="Solid inverted input" aria-label="Solid inverted input"/>
//   <div class="xui-inputwrapper xui-inputwrapper-borderless xui-margin-top">
//     <svg focusable="false" class="xui-icon xui-input--icon-left">
//        <use xlink:href="#xui-icon-search" role="presentation" />
//     </svg>
//     <input class="xui-input xui-input-borderless xui-input-borderless-inverted xui-input-borderless-solid xui-padding-right-huge" type="search" placeholder="Solid inverted input with icons" aria-label="Solid inverted input with icons"/>
//     <div class="xui-input--iconwrapper xui-input--iconwrapper-right">
//       <button type="button" class="xui-button xui-button-icon xui-button-icon-inverted" title="Clear" aria-label="Clear">
//         <svg focusable="false" class="xui-icon">
//           <use xlink:href="#xui-icon-clear" role="presentation"/>
//         </svg>
//       </button>
//     </div>
//   </div>
// </div>
//
// Styleguide: Forms.4.2

// Deprecated Text Input classes
//
// ![](https://img.shields.io/badge/Deprecated%20in-10.24.0-%23f6534e.svg)
// ![](https://img.shields.io/badge/Removed%20in-12.0.0-lightgrey.svg)
//
// Classes:
// xui-inputwrapper-borderless-layout: Layout of the borderless input wrapper, mainly padding changes to alter icons
// xui-input-borderless-layout: Layout of the borderless input, mainly padding
//
// Styleguide: Forms.99.2

.#{$ns}-input-borderless {
	border: 0;

	&:focus {
		box-shadow: none;
	}
}

.#{$ns}-input-borderless-transparent {
	background-color: transparent;

	&:focus {
		background-color: rgba($xui-color-black, 0.05);
	}

	&.#{$ns}-input-borderless-inverted {
		&:focus {
			background-color: rgba($xui-color-white, 0.1);
		}
	}
}

.#{$ns}-input-borderless-solid {
	background-color: rgba($xui-color-black, 0.05);

	&:focus {
		background-color: rgba($xui-color-black, 0.1);
	}

	&.#{$ns}-input-borderless-inverted {
		background-color: rgba($xui-color-white, 0.1);

		&:focus {
			background-color: rgba($xui-color-white, 0.2);
		}
	}
}

.#{$ns}-input-borderless-inverted {
	color: $xui-color-white;

	&::placeholder {
		color: $xui-color-white;
		opacity: .5;
	}
}

// TODO: Remove xui-input-wrapper-borderless in XUI 12
.#{$ns}-input-wrapper-borderless,
.#{$ns}-inputwrapper-borderless {

	.#{$ns}-input--icon-left {
		left: $xui-s-xsmall + $xui-input-icon-offset;
	}

	.#{$ns}-input--icon-right {
		right: $xui-s-xsmall + $xui-input-icon-offset;
	}
}

// TODO: Remove xui-input-wrapper-borderless-layout in XUI 12
.#{$ns}-input-wrapper-borderless-layout,
.#{$ns}-inputwrapper-borderless-layout {
	.#{$ns}-input--icon-left ~ .#{$ns}-input {
		@include xui-padding-left($xui-s-5xlarge);
	}

	.#{$ns}-icon {
		top: 6px;
	}
}

// Vertically Grouped Inputs
//
// Inputs can be grouped vertically.
//
// Classes:
// xui-verticalinputgroup: Wrapper class to go around a set of vertically grouped inputs
//
// Markup
// <div class="xui-verticalinputgroup">
//   <input class="xui-input" />
//   <input class="xui-input" />
//   <input class="xui-input" />
// </div>
// <div class="xui-verticalinputgroup xui-margin-top-large">
//   <div class="xui-inputwrapper">
//     <svg focusable="false" class="xui-icon xui-input--icon-left"><use xlink:href="#xui-icon-email" role="presentation" /></svg>
//     <input class="xui-input" placeholder="Email" />
//   </div>
//   <div class="xui-inputwrapper">
//     <svg focusable="false" class="xui-icon xui-input--icon-left"><use xlink:href="#xui-icon-lock" role="presentation" /></svg>
//     <input class="xui-input" placeholder="Password" />
//   </div>
// </div>
//
// Styleguide: Forms.4.4

.#{$ns}-verticalinputgroup {
	// Only add top border radius to the first element
	.#{$ns}-input:first-of-type,
	.#{$ns}-inputwrapper:first-of-type > .#{$ns}-input {
		border-radius: 3px 3px 0 0;
	}

	// Add the margin adjustment to all elements but the first
	.#{$ns}-input:nth-of-type(n+2),
	.#{$ns}-inputwrapper:nth-of-type(n+2) > .#{$ns}-input {
		margin-top: -1px;
	}

	// On all elements except the first and last one, border radius 0 is required
	.#{$ns}-input:nth-of-type(n+2):nth-last-of-type(n+2),
	.#{$ns}-inputwrapper:nth-of-type(n+2):nth-last-of-type(n+2) > .#{$ns}-input {
		border-radius: 0;
	}

	// Only add bottom border radius to the last element
	.#{$ns}-input:last-of-type,
	.#{$ns}-inputwrapper:last-of-type > .#{$ns}-input {
		border-radius: 0 0 3px 3px;
	}
}

// Horizontally Grouped Inputs
//
// Inputs can be grouped horizontally
//
// Classes:
// xui-inputgroup: Container for the inputs you wish to join. It is recommended that you use the `xui-column-*-of-*` classes to give each input a certain percentage of the width.
//
// Markup:
// <div class="xui-field-layout">
//   <label for="horizontaldemofield1" class="xui-text-label xui-fieldlabel-layout">Inputs only</label>
//   <div class="xui-inputgroup">
//     <input id="horizontaldemofield1" class="xui-input xui-column-2-of-12" placeholder="2 columns"/>
//     <input class="xui-input xui-column-5-of-12" placeholder="5 columns"/>
//     <input class="xui-input xui-column-5-of-12" placeholder="5 columns"/>
//   </div>
// </div>
// <div class="xui-field-layout">
//   <label for="horizontaldemofield2" class="xui-text-label xui-fieldlabel-layout">Mix of select, input and button</label>
//   <div class="xui-inputgroup">
//     <div class="xui-select xui-column-2-of-12">
//       <select id="horizontaldemofield2" class="xui-select--control">
//         <option>Value 1</option>
//         <option>Value 2</option>
//         <option>Value 3</option>
//       </select>
//       <svg focusable="false" class="xui-icon xui-icon-color-standard xui-select--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
//     </div>
//     <input class="xui-input xui-column-2-of-12"/>
//     <input class="xui-input xui-column-2-of-12"/>
//     <input class="xui-input xui-input-is-invalid xui-column-2-of-12" placeholder="Invalid input" />
//     <input class="xui-input xui-column-2-of-12"/>
//     <button class="xui-button xui-button-main xui-column-2-of-12">Action</button>
//   </div>
// </div>
// <div class="xui-field-layout">
//   <label for="horizontaldemofield3" class="xui-text-label xui-fieldlabel-layout">Another mix of select, input and button</label>
//   <div class="xui-inputgroup">
//     <button id="horizontaldemofield3" class="xui-button xui-button-standard xui-column-2-of-12">Action</button>
//     <input class="xui-input xui-column-2-of-12"/>
//     <input class="xui-input xui-column-2-of-12"/>
//     <input class="xui-input xui-column-2-of-12" />
//     <input class="xui-input xui-column-2-of-12"/>
//     <div class="xui-select xui-column-2-of-12">
//       <select class="xui-select--control xui-input-is-invalid">
//         <option>Invalid</option>
//         <option>Value 2</option>
//         <option>Value 3</option>
//       </select>
//       <svg focusable="false" class="xui-icon xui-icon-color-standard xui-select--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
//     </div>
//   </div>
// </div>
// <div class="xui-field-layout">
//   <label for="horizontaldemofield3" class="xui-text-label xui-fieldlabel-layout">Mix with input wrappers</label>
//   <div class="xui-inputgroup">
//     <button id="horizontaldemofield3" class="xui-button xui-button-standard xui-column-2-of-12">Action</button>
//     <div class="xui-column-2-of-12 xui-inputwrapper">
//       <input class="xui-input" />
//     </div>
//     <div class="xui-column-2-of-12 xui-inputwrapper">
//       <input class="xui-input" />
//     </div>
//     <div class="xui-column-2-of-12 xui-inputwrapper">
//       <input class="xui-input" />
//     </div>
//     <div class="xui-column-2-of-12 xui-inputwrapper">
//       <input class="xui-input" />
//     </div>
//     <div class="xui-select xui-column-2-of-12">
//       <select class="xui-select--control xui-input-is-invalid">
//         <option>Invalid</option>
//         <option>Value 2</option>
//         <option>Value 3</option>
//       </select>
//       <svg focusable="false" class="xui-icon xui-icon-color-standard xui-select--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
//     </div>
//   </div>
// </div>
// <div class="xui-field-layout">
//   <label for="horizontaldemofield3" class="xui-text-label xui-fieldlabel-layout">Inputgroup with a single child (not recommended, just for regression testing)</label>
//   <div class="xui-inputgroup">
//     <div class="xui-select xui-column-2-of-12">
//       <select class="xui-select--control">
//         <option>Invalid</option>
//         <option>Value 2</option>
//         <option>Value 3</option>
//       </select>
//       <svg focusable="false" class="xui-icon xui-icon-color-standard xui-select--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
//     </div>
//   </div>
// </div>
//
// Styleguide: Forms.4.5

// TODO: Remove xui-input-group in XUI 12
.#{$ns}-input-group,
.#{$ns}-inputgroup {
	@include xui-clearfix;
}

.#{$ns}-input-group > .#{$ns}-input,
.#{$ns}-inputgroup > .#{$ns}-input,
.#{$ns}-inputgroup > .#{$ns}-button,
.#{$ns}-inputgroup .#{$ns}-select--control {
	border-radius: 0;

	// All but the first child have a left border
	// There is an exception for invalid styling further down
	&:nth-child(n+2) {
		border-left: 0;
	}
}

// This is excluded from the list above to prevent the nth-child selector kicking in unnecessarily on the wrong element
.#{$ns}-inputgroup > .#{$ns}-inputwrapper > .#{$ns}-input {
	border-radius: 0;
}

.#{$ns}-inputgroup > .#{$ns}-inputwrapper:nth-child(n+2) > .#{$ns}-input {
	border-left: 0;
}

.#{$ns}-inputgroup > .#{$ns}-select:nth-child(n+2) {
	.#{$ns}-select--control {
		border-left: 0;
	}
}

.#{$ns}-inputgroup {
	.#{$ns}-input-is-invalid:nth-child(n+2),
	.#{$ns}-inputwrapper:nth-child(n+2) .#{$ns}-input-is-invalid,
	.#{$ns}-select:nth-child(n+2) > .#{$ns}-select--control.#{$ns}-input-is-invalid {
		border-left: 1px solid $xui-color-xero-red;
		margin-left: -1px;
	}
}

// TODO: Remove input-group
.#{$ns}-input-group > .#{$ns}-input:first-child,
.#{$ns}-inputgroup > .#{$ns}-input:first-child,
.#{$ns}-inputgroup > .#{$ns}-inputwrapper:first-child > .#{$ns}-input,
.#{$ns}-inputgroup > .#{$ns}-button:first-child,
.#{$ns}-inputgroup > .#{$ns}-select:first-child > .#{$ns}-select--control {
	border-bottom-left-radius: $xui-radius;
	border-top-left-radius: $xui-radius;
}

.#{$ns}-input-group > .#{$ns}-input:last-child,
.#{$ns}-inputgroup > .#{$ns}-input:last-child,
.#{$ns}-inputgroup > .#{$ns}-inputwrapper:last-child > .#{$ns}-input,
.#{$ns}-inputgroup > .#{$ns}-button:last-child,
.#{$ns}-inputgroup > .#{$ns}-select:last-child > .#{$ns}-select--control {
	border-bottom-right-radius: $xui-radius;
	border-top-right-radius: $xui-radius;
}

// TODO: This is deprecated, text areas should use xui-input
.#{$ns}-textarea {
	@extend %#{$ns}-commoninput;

	display: block;
	margin: 0;
	min-height: 90px;
	padding: 5px 0.5em;
	resize: none;
}
