/**
 * An aggregator stylesheet of input elements that can be found in forms.
 */

@import "../tools/functions";
@import "../tools/mixins";

// Form Elements
//
// Styleguide: Form Elements

%#{$ns}-commoninput {
	-webkit-appearance: none;	// For removing drop-shadow on iOS
	background-color: $color-white;
	border: $border-standard;
	border-radius: $radius;
	box-shadow: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	outline: none;
	padding: px-to-rem(9) 0.5em;
	width: 100%;

	@include mobile {
		padding: px-to-rem(12) 0.5em;
	}

	&:hover {
		// TODO: I don't like how we specify this directly instead of an alias.
		//       Either we decide on some hover colours, or have a scheme where
		//       hover colours are some percentage darker than a base colour.
		border-color: $color-grey-3;
	}

	&:disabled {
		background-color: $color-backgrounds;
		border-color: $color-borders;
		color: $color-secondary-text;
	}

	&:focus {
		border-color: $color-xero-blue;
		box-shadow: $shadow-focus;
		transition: box-shadow $transition-duration-super-quick;
	}

	&::placeholder {
		color: $color-placeholders;
		opacity: 1;
	}
}

@import "formelements.checkboxesradios";
@import "formelements.inputs";
@import "formelements.selects";
@import "formelements.grouped";
@import "formelements.switch";
@import "formelements.validationmessages";
