// Form Layout
//
// Styleguide: Forms.1

// Stacked Forms
//
// Use the `.xui-form` class with a `<form>` element to create the default stacked form.
//
// Use the `.xui-field` class as a container for related form elements (e.g. `<label>` and `<input>`)
// to give the suggested spacing between form fields.
//
// Stacked forms use the suggested width of `400px` and are responsive by default.
//
// Markup:
// <form class="xui-form">
//   <p class="xui-text-panelheading">Stacked Form</p>
//   <div class="xui-field">
//     <label class="xui-text-label xui-fieldlabel-layout" for="field1">Field One</label>
//     <input class="xui-input" type="text" id="field1" placeholder="Placeholder for field one" />
//   </div>
//   <div class="xui-field">
//     <label class="xui-text-label xui-fieldlabel-layout" for="field2">Field Two</label>
//     <input class="xui-input" type="text" id="field2" placeholder="Placeholder for field two" />
//   </div>
//   <input class="xui-button xui-button-main" type="submit" value="Submit" />
// </form>
//
// Styleguide: Forms.1.1

.#{$ns}-form {
	margin: auto;
	max-width: $xui-form-width;
}

.#{$ns}-field {
	margin-bottom: $xui-s-xxlarge;
}

// Inline Forms
//
// Use the `.xui-form-inline` class with a `<form>` element to create an inline form.
//
// Use the `.xui-u-hidden` utility class if you only want screen-readers to see `<label>` elements.
//
// Inline forms will stack at the smallest breakpoint by default.
//
// Markup:
// <!-- Inline Form -->
// <form class="xui-form-inline">
//   <p class="xui-text-panelheading">Inline Form</p>
//   <div class="xui-field">
//     <label class="xui-text-label xui-fieldlabel-layout" for="field3">Field One</label>
//     <input class="xui-input" type="text" id="field3" placeholder="Placeholder for field one" />
//   </div>
//   <div class="xui-field">
//     <label class="xui-text-label xui-fieldlabel-layout" for="field4">Field Two</label>
//     <input class="xui-input" type="text" id="field4" placeholder="Placeholder for field two" />
//   </div>
//   <input class="xui-button xui-button-main" type="submit" value="Submit" />
// </form>
// <!-- Hidden Labels -->
// <form class="xui-form-inline">
//   <p class="xui-text-panelheading">Hidden Labels</p>
//   <div class="xui-field">
//     <label class="xui-text-label xui-u-hidden" for="field5">Field One</label>
//     <input class="xui-input" type="text" id="field5" placeholder="Field One" />
//   </div>
//   <div class="xui-field">
//     <label class="xui-text-label xui-u-hidden" for="field6">Field Two</label>
//     <input class="xui-input" type="text" id="field6" placeholder="Field Two" />
//   </div>
//   <input class="xui-button xui-button-main" type="submit" value="Submit" />
// </form>
//
// Styleguide: Forms.1.2

.#{$ns}-form-inline {
	// Narrow-first breakpoint style
	margin: auto;
	max-width: $xui-form-width;

	// Medium and wide breakpoint style
	@media screen and (min-width: $xui-breakpoint-narrow) {
		padding: 0;
		max-width: none;

		.#{$ns}-field {
			display: inline-block;
		}
	}
}
