/**
 * Styles for form text inputs.
 */

@import "../vars";
@import "../mixins";

$xui-input-icon-height: $xui-input-height - 2px; // height minus top and bottom borders
$xui-input-icon-width: $xui-input-height - 4px; // need to ensure enough spacing between icon wrapper and placeholder
$xui-input-icon-offset: ($xui-input-icon-width - $xui-icon-standard) / 2;
$xui-input-icon-zindex: 3; // focused inputs have zindex: 2, so icons need to have a bigger z-index
$xui-input-avatar-padding-size: ($xui-input-height - 24px) / 2;

.#{$ns}-textinput--input {
	@include xui-input-base;
	border: none;
	flex: 1 1 auto;
	min-width: 0; // Required for inputs to be able to shrink in IE 11
	overflow: hidden;
}

.#{$ns}-textinput {
	@include xui-commoninput;
	align-items: center;
	cursor: text;
	display: flex;
	padding: 0;
}

.#{$ns}-textinputwrapper {
	display: block;
}

/* stylelint-disable no-duplicate-selectors  */
// This is defined below xui-textinput to ensure the correct padding is applied
.#{$ns}-textinput--input {
	@include xui-padding-vertical(8px);
	@include xui-padding-horizontal($xui-s-standard);
}
/* stylelint-enable no-duplicate-selectors  */

.#{$ns}-textinput-focus {
	box-shadow: $xui-shadow-focus;
	outline: none;
	transition: box-shadow 0.1s;
	z-index: 2;
}

.#{$ns}-textinput-is-disabled {
	@include xui-disabled-form;
}

.#{$ns}-textinput--sideelement {
	align-self: stretch;
	cursor: text;
	display: flex;
	flex-shrink: 0;
	margin: -1px;
}

.#{$ns}-textinput--sideelement-icon {
	padding: $xui-s-xsmall;
}

.#{$ns}-textinput--sideelement-text {
	padding: $xui-s-small $xui-s-standard;
	pointer-events: none;
}

.#{$ns}-textinput--sideelement-avatar {
	padding: $xui-input-avatar-padding-size;
	pointer-events: none;
}

.#{$ns}-textinput--sideelement-button {
	@include xui-padding-vertical($xui-s-xsmall);

	&:first-child {
		padding-left: $xui-s-xsmall;
		padding-right: $xui-s-standard;
	}

	&:last-child {
		padding-left: $xui-s-standard;
		padding-right: $xui-s-xsmall;
	}
}

.#{$ns}-textinput--sideelement-has-background {
	&:first-child {
		border-radius: $xui-radius 0 0 $xui-radius;
		margin-right: $xui-s-standard;
	}

	&:last-child {
		border-radius: 0 $xui-radius $xui-radius 0;
		margin-left: $xui-s-standard;
	}
}

.#{$ns}-textinput--sideelement-twitter {
	background-color: $xui-color-twitter;
	color: $xui-color-white;
}

.#{$ns}-textinput--sideelement-facebook {
	background-color: $xui-color-facebook;
	color: $xui-color-white;
}

.#{$ns}-textinput--sideelement-linkedin {
	background-color: $xui-color-linkedin;
	color: $xui-color-white;
}

// Borderless inputs

.#{$ns}-textinput-borderless {
	border: 0;

	&:focus {
		box-shadow: none;
	}
}

.#{$ns}-textinput-borderless-transparent {
	background-color: transparent;

	&.#{$ns}-textinput-focus {
		background-color: rgba($xui-color-black, 0.05);
		box-shadow: none;
	}

	&.#{$ns}-textinput-borderless-inverted.#{$ns}-textinput-focus {
		background-color: $xui-color-white-alpha-6;
	}
}

.#{$ns}-textinput-borderless-solid {
	background-color: rgba($xui-color-black, 0.05);

	&.#{$ns}-textinput-focus {
		background-color: rgba($xui-color-black, 0.1);
		box-shadow: none;
	}

	&.#{$ns}-textinput-borderless-inverted {
		background-color: $xui-color-white-alpha-6;

		&.#{$ns}-textinput-focus {
			background-color: $xui-color-white-alpha-5;
		}
	}
}

.#{$ns}-textinput-borderless-inverted {
	color: $xui-color-white;

	&.#{$ns}-textinput--input,
	.#{$ns}-textinput--input {
		color: $xui-color-white;

		&::placeholder {
			color: $xui-color-white;
			opacity: 0.5;
		}
	}
}

.#{$ns}-verticaltextinputgroup {
	// Only add top border radius to the first element
	> .#{$ns}-textinput:first-of-type,
	.#{$ns}-textinputwrapper:first-of-type > .#{$ns}-textinput {
		border-radius: $xui-radius $xui-radius 0 0;

		> .#{$ns}-textinput--sideelement:first-child {
			border-radius: $xui-radius 0 0 0;
		}

		> .#{$ns}-textinput--sideelement:last-child {
			border-radius: 0 $xui-radius 0 0;
		}
	}

	// Add the margin adjustment to all elements but the first
	.#{$ns}-textinput:nth-of-type(n+2),
	.#{$ns}-textinputwrapper:nth-of-type(n+2) > .#{$ns}-textinput {
		margin-top: -1px;
	}

	// On all elements except the first and last one, border radius 0 is required
	.#{$ns}-textinput:nth-of-type(n+2):nth-last-of-type(n+2),
	.#{$ns}-textinputwrapper:nth-of-type(n+2):nth-last-of-type(n+2) > .#{$ns}-textinput {
		border-radius: 0;
	}

	// Only add bottom border radius to the last element
	> .#{$ns}-textinput:last-of-type,
	.#{$ns}-textinputwrapper:last-of-type .#{$ns}-textinput {
		border-radius: 0 0 $xui-radius $xui-radius;

		> .#{$ns}-textinput--sideelement:first-child {
			border-radius: 0 0 0 $xui-radius;
		}

		> .#{$ns}-textinput--sideelement:last-child {
			border-radius: 0 0 $xui-radius 0;
		}
	}
}


.#{$ns}-textinputgroup > .#{$ns}-textinputwrapper,
.#{$ns}-textinputgroup > .#{$ns}-button,
.#{$ns}-textinputgroup .#{$ns}-select--control {
	border-radius: 0;

	// All but the first child have a left border
	// There is an exception for invalid styling further down
	&:nth-child(n+2) {
		border-left: 0;
	}
}

// This is excluded from the list above to prevent the nth-child selector kicking in unnecessarily on the wrong element
.#{$ns}-textinputgroup > .#{$ns}-textinputwrapper > .#{$ns}-textinput {
	border-radius: 0;

	.#{$ns}-textinput--sideelement {
		border-radius: 0;
	}
}

.#{$ns}-textinputgroup > .#{$ns}-textinputwrapper:nth-child(n+2) > .#{$ns}-textinput {
	border-left: 0;
}

.#{$ns}-textinputgroup .#{$ns}-select:nth-child(n+2) {
	.#{$ns}-select--control {
		border-left: 0;
	}
}

.#{$ns}-textinputgroup > .#{$ns}-textinput:first-child,
.#{$ns}-textinputgroup > .#{$ns}-textinput:first-child > .#{$ns}-textinput--sideelement:first-child,
.#{$ns}-textinputgroup > .#{$ns}-textinputwrapper:first-child > .#{$ns}-textinput,
.#{$ns}-textinputgroup > .#{$ns}-textinputwrapper:first-child .#{$ns}-textinput--sideelement:first-child,
.#{$ns}-textinputgroup > .#{$ns}-button:first-child,
.#{$ns}-textinputgroup > .#{$ns}-select:first-child > .#{$ns}-select--control {
	border-bottom-left-radius: $xui-radius;
	border-top-left-radius: $xui-radius;
}

.#{$ns}-textinputgroup > .#{$ns}-textinput:last-child,
.#{$ns}-textinputgroup > .#{$ns}-textinput:last-child > .#{$ns}-textinput--sideelement:last-child,
.#{$ns}-textinputgroup > .#{$ns}-textinputwrapper:last-child > .#{$ns}-textinput,
.#{$ns}-textinputgroup > .#{$ns}-textinputwrapper:last-child > .#{$ns}-textinput--sideelement:last-child,
.#{$ns}-textinputgroup > .#{$ns}-button:last-child,
.#{$ns}-textinputgroup > .#{$ns}-select:last-child > .#{$ns}-select--control {
	border-bottom-right-radius: $xui-radius;
	border-top-right-radius: $xui-radius;
}

.#{$ns}-textinputgroup {
	@include xui-clearfix;

	.#{$ns}-textinput-is-invalid:nth-child(n+2),
	.#{$ns}-textinputwrapper:nth-child(n+2) .#{$ns}-textinput-is-invalid,
	.#{$ns}-select:nth-child(n+2) > .#{$ns}-select--control.#{$ns}-textinput-is-invalid {
		border-left: 1px solid $xui-color-xero-red;
		margin-left: -1px;
	}
}
