/**
 * Styles for form inputs.
 */

@import "../vars";
@import "../mixins";

// Text Inputs
//
// The number inputs have had their up and down arrows removed to sync browser styles
//
// #### Class Names
//
// `xui-input`	Style for a text input
//
// `xui-input-is-invalid`	Modifier for an invalid text input
//
// Markup:
// <input class="xui-input" type="text" placeholder="Standard Input" aria-label="Standard input"/>
// <input class="xui-input" type="password" placeholder="Password Input" aria-label="Password"/>
// <input class="xui-input" type="number" placeholder="0.00" aria-label="Number input"/>
// <input class="xui-input" type="tel" placeholder="telephone #" aria-label="Telephone"/>
// <input class="xui-input" type="email" placeholder="example@xero.com" aria-label="Email"/>
// <input class="xui-input" type="text" placeholder="13 December 1989" aria-label="Date"/><!--avoid type="date" due to webkit placeholder, styling and formatting constraints-->
// <input class="xui-input" type="text" placeholder="Disabled input" aria-label="Disabled input" disabled />
// <textarea class="xui-input xui-u-resize-none" aria-label="Large text area input" placeholder="Standard textarea"></textarea>
//
// Styleguide: Forms.4


// Text Icon Prompts
//
// Icons may be used to prompt users on what each input is for, or as buttons to enable functionality such as clearing a field.
//
// #### Usage Requirements
//  - Icon prompt `svg` tags should be placed within the `xui-input-wrapper` at the same level as `xui-input` (if no background color is required) or within
//    `xui-input--iconwrapper` (if a background color is required). You can also use text in place of an icon, but it must be wrapped with `xui-input--iconwrapper`
//  - Buttons should be formatted like the icon buttons [shown in the docs](https://github.dev.xero.com/pages/UXE/xui/docs/10.2.0/section-buttons.html#kssref-buttons-7)
//  - Both prompts and buttons should be placed before the `input` tag to ensure the correct padding is applied to `xui-input` due to our implementation using sibling selectors
//
// #### Class Names
//
// `xui-input-wrapper`	Container for a text input with an icon
//
// `xui-input--iconwrapper`  Wrapper around the icon (use only if you want to apply a background color to the icon).
//
// `xui-input--iconwrapper-left`  Left-aligned icon wrapper
//
// `xui-input--iconwrapper-right`  Right-aligned icon wrapper
//
// `xui-input--icon-left`	Modifier for a left-aligned input icon
//
// `xui-input--icon-right`	Modifier for a right-aligned input icon
//
// Markup:
// <div class="xui-input-wrapper xui-margin">
//   <svg class="xui-icon xui-input--icon-left"> <use xlink:href="#xui-icon-url" role="presentation" /></svg>
//   <input class="xui-input" type="url" placeholder="http://www.xero.com" aria-label="URL"/>
// </div>
// <div class="xui-input-wrapper xui-margin">
//   <svg class="xui-icon xui-input--icon-right"> <use xlink:href="#xui-icon-search" role="presentation" /></svg>
//   <input class="xui-input" type="search" placeholder="Search" aria-label="Search"/>
// </div>
// <div class="xui-input-wrapper xui-margin">
//   <svg class="xui-icon xui-input--icon-left"> <use xlink:href="#xui-icon-search" role="presentation" /></svg>
//   <button type="button" class="xui-button xui-button-icon xui-input--icon-right" title="Close" aria-label="Close">
//     <svg class="xui-icon"> <use xlink:href="#xui-icon-clear" role="presentation"/></svg>
//   </button>
//   <input class="xui-input" type="search" placeholder="Search" aria-label="Search"/>
// </div>
// <div class="xui-input-wrapper xui-margin">
//   <div class="xui-input--iconwrapper xui-input--iconwrapper-left" style="background-color: #1dadea">
//     <svg class="xui-icon xui-icon-color-white xui-input--icon-left"> <use xlink:href="#xui-icon-social-twitter" role="presentation" /></svg>
//   </div>
//   <input class="xui-input" type="text" placeholder="@username" aria-label="Twitter username"/>
// </div>
// <div class="xui-input-wrapper xui-margin">
//   <div class="xui-input--iconwrapper xui-input--iconwrapper-right" style="background-color: #3c5a96">
//     <svg class="xui-icon xui-icon-color-white xui-input--icon-right"> <use xlink:href="#xui-icon-social-facebook" role="presentation" /></svg>
//   </div>
//   <input class="xui-input" type="text" placeholder="Facebook URL" aria-label="Facebook URL"/>
// </div>
// <div class="xui-input-wrapper xui-margin">
//   <div class="xui-input--iconwrapper xui-input--iconwrapper-left xui-text-color-icon">
//     €
//   </div>
//   <input class="xui-input" type="text" placeholder="X.XX" aria-label="Amount"/>
// </div>
//
// Styleguide: Forms.4.1

.#{$ns}-input {
	@extend %#{$ns}-commoninput;
}

.#{$ns}-input-wrapper {
	position: relative;

	.#{$ns}-input--icon-right ~ .#{$ns}-input,
	.#{$ns}-input--iconwrapper-right ~ .#{$ns}-input {
		padding-right: $xui-input-height + 1;
	}

	.#{$ns}-input--icon-left ~ .#{$ns}-input,
	.#{$ns}-input--iconwrapper-left ~ .#{$ns}-input {
		padding-left: $xui-input-height + 1;
	}

	.#{$ns}-icon {
		pointer-events: none;
	}

	.#{$ns}-input--icon-left {
		color: $xui-color-grey-3;
		height: $xui-input-height - 2; // Factor in vertical borders
		left: 1px; // Factor in left border
		position: absolute;
		top: 1px; // Factor in top border
	}

	.#{$ns}-input--icon-right {
		color: $xui-color-grey-3;
		height: $xui-input-height - 2; // Factor in vertical borders
		position: absolute;
		right: 1px;
		top: 1px; // Factor in top border
	}
}

.#{$ns}-input--iconwrapper {
	height: $xui-input-height;
	line-height: $xui-input-height;
	position: absolute;
	text-align: center;
	top: 0;
	width: 32px;
}

.#{$ns}-input--iconwrapper-left {
	border-radius: $xui-radius 0 0 $xui-radius;
	left: 0;
}

.#{$ns}-input--iconwrapper-right {
	border-radius: 0 $xui-radius $xui-radius 0;
	right: 0;
}

// Borderless Text Inputs
//
// Borderless styling of inputs for usage in modal style forms or narrow views.
//
// #### Class Names
//
// `xui-input-wrapper-borderless` Modifier for the borderless inputs container
//
// `xui-input-wrapper-borderless-layout` Layout of the borderless input wrapper, mainly padding changes to alter icons.
//
// `xui-input-borderless` Modifier for borderless input fields
//
// `xui-input-borderless-layout` Layout of the borderless input, mainly padding changes.
//
// Markup:
//<div style="background-color: #284664;" class="xui-padding">
// <input class="xui-input xui-input-borderless" type="text" placeholder="Standard Input, No Layout" aria-label="Standard input"/>
// <input class="xui-input xui-input-borderless xui-input-borderless-layout xui-margin-top" type="text" placeholder="Standard Input, With Layout" aria-label="Standard input"/>
// <div class="xui-input-wrapper xui-input-wrapper--borderless xui-input-wrapper-borderless-layout xui-margin-top">
// 	<svg class="xui-icon xui-input--icon-right"> <use xlink:href="#xui-icon-search" role="presentation" /></svg>
// 	<input class="xui-input xui-input-borderless xui-input-borderless-layout" type="search" placeholder="Search" aria-label="Search"/>
// </div>
// <div class="xui-input-wrapper xui-input-wrapper-borderless xui-input-wrapper-borderless-layout xui-margin-top">
// 	<svg class="xui-icon xui-input--icon-left"> <use xlink:href="#xui-icon-search" role="presentation" /></svg>
// 	<input class="xui-input xui-input-borderless xui-input-borderless-layout" type="search" placeholder="Search" aria-label="Search"/>
// </div>
//</div>
//
// Styleguide: Forms.4.2

.#{$ns}-input-borderless {
	border: 0;
	border-radius: 0;

	&:focus {
		box-shadow: none;
	}
}

.#{$ns}-input-borderless-layout {
	@include xui-padding($xui-s-standard);
}

.#{$ns}-input-wrapper-borderless {

	.#{$ns}-input--icon-left {
		left: $xui-s-small;
	}

	.#{$ns}-input--icon-right {
		right: $xui-s-small;
	}
}

.#{$ns}-input-wrapper-borderless-layout {
	.#{$ns}-input--icon-left ~ .#{$ns}-input {
		@include xui-padding-left($xui-s-5xlarge);
	}
}


// Grouped Inputs
//
// `xui-input-group` may be used to merge a group of inputs together. It is recommended that you use the `xui-column-*-of-*` classes to give each input a certain percentage of the width.
//
// #### Class Names
//
// `xui-input-group`	Container for the inputs you wish to join
//
// Markup:
// <div class="xui-field-layout">
//   <label class="xui-text-label xui-fieldlabel-layout" for="field1">Form label 1</label>
//   <div class="xui-input-group">
//     <input class="xui-input xui-column-2-of-12" placeholder="2 columns"/>
//     <input class="xui-input xui-column-5-of-12" placeholder="5 columns"/>
//     <input class="xui-input xui-column-5-of-12" placeholder="5 columns"/>
//   </div>
// </div>
// <div class="xui-field-layout">
//   <label class="xui-text-label xui-fieldlabel-layout" for="field1">Form label 2</label>
//   <div class="xui-input-group">
//     <input class="xui-input xui-column-2-of-12"/>
//     <input class="xui-input xui-column-2-of-12"/>
//     <input class="xui-input xui-column-2-of-12"/>
//     <input class="xui-input xui-column-2-of-12"/>
//     <input class="xui-input xui-column-2-of-12"/>
//     <input class="xui-input xui-column-2-of-12"/>
//   </div>
// </div>
//
// Styleguide: Forms.4.3

.#{$ns}-input-group {
	@include xui-clearfix;
}

.#{$ns}-input-group > .#{$ns}-input {
	border-radius: 0;
	position: relative;

	&:focus {
		z-index: 1;
	}

	&:nth-last-child(n+2) {
		border-right: 0;
	}
}

.#{$ns}-input-group :first-child {
	border-radius: $xui-radius 0 0 $xui-radius;
}

.#{$ns}-input-group :last-child {
	border-radius: 0 $xui-radius $xui-radius 0;

	&.#{$ns}-input-is-invalid {
		border-right: 1px solid $xui-color-xero-red;
	}
}

//TODO: This is depricated, text areas should use xui-input
.#{$ns}-textarea {
	@extend %#{$ns}-commoninput;

	display: block;
	margin: 0;
	min-height: 90px;
	padding: 5px 0.5em;
	resize: none;
}
