@import "../vars";
@import "../mixins";

// Selects

// Native Selects
//
// For use when you want to display native controls on devices that support pretty controls
// Examples include iOS and Android devices.
//
// #### Class Names
//
// `xui-select`	Container for a native or custom select box
//
// `xui-select--caret`	Subcomponent for a select caret icon
//
// `xui-select--control`	Style for a native select box
//
// Markup:
//  <div class="xui-select">
//    <select class="xui-select--control" id="group-button-example3">
//      <option>Value 1</option>
//      <option>Value 2</option>
//      <option>Value 3</option>
//    </select>
//    <svg class="xui-icon xui-icon-color-standard xui-select--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
//  </div>
//
// Styleguide: Forms.8

.#{$ns}-select {
	position: relative;
}

.#{$ns}-select--control {
	@extend %#{$ns}-commoninput;

	cursor: pointer;
	padding-right: 20px;

	&::-ms-expand {
		display: none;
	}

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 $xui-color-black;
	}
}

.#{$ns}-select--caret {
	pointer-events: none;
	position: absolute;
	right: 3px;
	top: calc(50% - 15px);
}

// Styled Select Boxes
//
// This is the intended style for select boxes.
// It requires a JS implementation / framework on top to take the selected item and
// insert it into the input. Inputs should be hidden.
//
// Rules for the `<button>`
//
// Dropdown Hidden state : Remove class `xui-select--button-is-selected`
//
// Dropdown Not hidden state : Add class `xui-select--button-is-selected`
//
//
// Rules for the `<div class="xui-dropdownmenu-select">`
//
// Dropdown Hidden state : Add class `xui-dropdownmenu-is-closed`
//
// Dropdown Not hidden state : Remove class `xui-dropdownmenu-is-closed`
//
// #### Class Names
//
// `xui-select-layout`	Recommended layout for a custom select box
//
// `xui-select--button`	Subcomponent for a custom select box button
//
// `xui-select--button-is-selected`	Modifier for a selected select box button
//
// `xui-dropdownmenu-select`	Style for a drop down select box
//
// Markup:
// <!-- Dropdown closed -->
// <div class="xui-field-layout">
//   <label class="xui-text-label xui-fieldlabel-layout">Custom</label>
//   <div class="xui-select xui-select-layout">
//     <input type="hidden" value="Select option 1"/>
//     <button type="button" class="xui-button xui-select--button" aria-haspopup="true">
//       Select option 1
//     </button>
//     <svg class="xui-icon xui-select--caret"> <use xlink:href="#xui-icon-chevron" role="presentation" /></svg>
//     <div class="xui-dropdownmenu xui-dropdownmenu-select xui-dropdownmenu-is-closed" aria-hidden="true">
//       <div class="xui-dropdownmenu--body">
//         <ul class="xui-menugroup xui-menugroup-layout" role="menu">
//           <li class="xui-menuitem xui-menuitem-layout xui-menuitem-is-selected" role="menuitem">
//             <button type="button" class="xui-button xui-menuitem--body">Select option 1</button>
//           </li>
//           <li class="xui-menuitem xui-menuitem-layout" role="menuitem">
//             <button type="button" class="xui-button xui-menuitem--body">Select option 2</button>
//           </li>
//           <li class="xui-menuitem xui-menuitem-layout" role="menuitem">
//             <a href="https://google.com" class="xui-menuitem--body">Select option 3</a>
//           </li>
//         </ul>
//       </div>
//     </div>
//   </div>
// </div>
// <!-- Dropdown open -->
// <div class="xui-field-layout">
//   <label class="xui-text-label xui-fieldlabel-layout">Custom</label>
//   <div class="xui-select xui-select-layout">
//     <input type="hidden" value="Select option 1"/>
//     <button type="button" class="xui-button xui-select--button xui-select--button-is-selected" aria-haspopup="true">
//       Select option 1
//     </button>
//     <svg class="xui-icon xui-select--caret"> <use xlink:href="#xui-icon-chevron" role="presentation" /></svg>
//     <div class="xui-dropdownmenu xui-dropdownmenu-select" aria-hidden="true">
//       <div class="xui-dropdownmenu--body">
//         <ul class="xui-menugroup xui-menugroup-layout" role="menu">
//           <li class="xui-menuitem xui-menuitem-layout xui-menuitem-is-selected" role="menuitem">
//             <button type="button" class="xui-button xui-menuitem--body">Select option 1</button>
//           </li>
//           <li class="xui-menuitem xui-menuitem-layout" role="menuitem">
//             <button type="button" class="xui-button xui-menuitem--body">Select option 2</button>
//           </li>
//           <li class="xui-menuitem xui-menuitem-layout" role="menuitem">
//             <a href="https://google.com" class="xui-menuitem--body">Select option 3</a>
//           </li>
//         </ul>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide: Forms.9

.#{$ns}-select--button {
	background-color: transparent;
	border: $xui-border-standard;
	border-radius: $xui-radius;
	color: $xui-color-primary-text;
	display: block;
	font-weight: normal;
	overflow: hidden;
	padding: $xui-s-small $xui-s-xxlarge $xui-s-small $xui-s-standard;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.#{$ns}-select--button-is-selected {
	border: $xui-border-standard;
	border-color: $xui-color-xero-blue $xui-color-xero-blue transparent;
	border-radius: $xui-radius $xui-radius 0 0;

	&:hover,
	&:focus,
	&:active {
		border-color: $xui-color-xero-blue $xui-color-xero-blue transparent;
	}
}

.#{$ns}-dropdownmenu-select {
	border-color: $xui-color-xero-blue;
	border-radius: 0 0 $xui-radius $xui-radius;
	border-top: 0;
}

.#{$ns}-select-layout {
	.#{$ns}-select--button {
		width: 100%;
	}

	.#{$ns}-dropdownmenu-select {
		left: 0;
		margin-top: -1px; // Ensures a seamless border
		position: absolute;
		transition: $xui-transition-duration-short all $xui-easing-standard;
		width: 100%;
		z-index: 1;
	}
}
