// Global State Classes
//
// Weight: 5.1
//
// Styleguide: Global States

// Disabled
//
// Class that can be added to any element to make it appear disabled by reducing opacity and
// preventing click/pointer events.
//
// #### Class Names
//
// `xui-is-disabled`	Modifier for disabled objects
//
// Markup:
// <section>
//   <h2 class="xui-sectionheading xui-sectionheading-layout xui-separator-title">Today</h2>
//   <ol class="xui-contentblock">
//     <li class="xui-contentblock--item xui-contentblock--item-layout xui-padding xui-u-flex">
//       <div class="xui-u-flex-col">
//         <img src="https://s3.amazonaws.com/uifaces/faces/twitter/chrismerritt/48.jpg" alt="Not Hasslehoff " class="xui-avatar"/>
//       </div>
//       <div class="xui-u-flex-col xui-margin-left xui-u-flex-grow">
//         <a href="#">Parrot Dog</a> - Workpaper available for review
//         <div class="xui-text-secondary">1 January - 28 February 2015</div>
//       </div>
//       <div class="xui-u-flex-col xui-margin-left">
//         <button type="button" class="xui-button xui-button-standard">Action</button>
//       </div>
//     </li>
//     <li class="xui-contentblock--item xui-contentblock--item-layout xui-padding xui-u-flex xui-is-disabled">
//       <div class="xui-u-flex-col">
//         <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kerihenare/48.jpg" alt="Not Hasslehoff " class="xui-avatar"/>
//       </div>
//       <div class="xui-u-flex-col xui-margin-left xui-u-flex-grow">
//         <a href="#">Garage Project</a> - Workpaper available for review
//         <div class="xui-text-secondary">1 January - 28 February 2015</div>
//       </div>
//       <div class="xui-u-flex-col xui-margin-left">
//         <button type="button" class="xui-button xui-button-standard">Action</button>
//       </div>
//     </li>
//   </ol>
// </section>
//
// Styleguide: Global States.1
.#{$ns}-is-disabled {
	cursor: default;
	opacity: 0.4;
	pointer-events: none;

	&:hover,
	&:active,
	&:focus {
		background-color: inherit;
	}

	> * {
		cursor: default;
		pointer-events: none;
	}
}
