@import "../tools/functions";
@import "../tools/mixins";
@import "../settings/animation";
@import "../settings/colours";
@import "../settings/structure";

// Validation Message
//
// A container is required so that text content inside the message can flow.
// Otherwise, an absolutely-positioned element has far different flow mechanics
// and leads to over-wrapped validation messages.
//
// Markup:
// <!-- FIXME: currently needs to be inside a relative positioned context -->
// <div style="position: relative;">
// 	<input type="text" required/>
// 	<div class="xui-inputmessage xui-inputmessage-shown">
// 		<span class="xui-inputmessage--body">Please fill out this field</span>
// 	</div>
// </div>
//
// Styleguide: Validation Messages
.#{$ns}-inputmessage {
	display: flex;
	left: 100%;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: opacity $transition-duration-short;
	width: px-to-rem(275);

	@include tablet {
		bottom: 100%;
		left: 0;
		top: auto;
	}

	@include mobile {
		width: 100%;
	}
}

.#{$ns}-inputmessage-shown {
	opacity: 1;
	pointer-events: auto;
}

.#{$ns}-inputmessage--body {
	background-color: $color-grey-1;
	border-radius: $radius;
	color: $color-white;
	display: inline-block;
	left: 1em;
	padding: 0.425em 1em;	// NOTE: top/bottom padding for Chrome's baselining issues
	position: relative;
	text-indent: 0;

	@include tablet {
		bottom: 0.5em;
		left: 0;
		margin: 0 auto;
	}

	&:before {
		border-bottom: 5px solid transparent;
		border-left: 0;
		border-right: 5px solid $color-grey-1;
		border-top: 5px solid transparent;
		content: "";
		left: -5px;
		position: absolute;
		top: 12px;

		@include tablet {
			border-bottom: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid $color-grey-1;
			bottom: -5px;
			left: calc(50% - 2.5px);
			top: auto;
		}
	}
}
