@import "../vars";

/**
 * Styles for the loader.  These typically sit inside the page
 *  or container prior to loading.
 */

// Loaders
//
// Loaders provide users with feedback that something is happening and can be used by themselves or inside other elements.
//
// ### Accessibility
// While loading, apply the `aria-busy="true"` attribute on the element that encapsulates the content being loaded
// (not on the loader itself)
//
// Classes:
// xui-loader: Container for a loader
// xui-loader--dot: Style for a loader dot
// xui-loader-large: Modifier for a large loader
// xui-loader-layout: Recommended layout for a loader
// xui-loader-small: Modifier for a small loader
// xui-button--loader: Modifier for a loader inside a button (loaders inside buttons should also use `xui-loader-small`)
//
// Markup:
// <!-- Loader -->
// <div class="xui-loader xui-loader-large xui-loader-layout" role="progressbar" aria-valuetext="Content loading">
//   <div class="xui-loader--dot"></div>
//   <div class="xui-loader--dot"></div>
//   <div class="xui-loader--dot"></div>
// </div>
// <br />
// <!-- Loader inside a button -->
// <button type="button" disabled class="xui-button xui-button-standard xui-button-is-disabled">
//   <div class="xui-button--loader xui-loader xui-loader-small" role="progressbar" aria-valuetext="Button loading">
//     <div class="xui-loader--dot"></div>
//     <div class="xui-loader--dot"></div>
//     <div class="xui-loader--dot"></div>
//   </div>
// </button>
// <button type="button" disabled class="xui-button xui-button-create xui-button-is-disabled">
//   <div class="xui-button--loader xui-loader xui-loader-small" role="progressbar" aria-valuetext="Button loading">
//     <div class="xui-loader--dot"></div>
//     <div class="xui-loader--dot"></div>
//     <div class="xui-loader--dot"></div>
//   </div>
// </button>
// <button type="button" disabled class="xui-button xui-button-main">
//   <div class="xui-button--loader xui-loader xui-loader-small" role="progressbar" aria-valuetext="Button loading">
//     <div class="xui-loader--dot"></div>
//     <div class="xui-loader--dot"></div>
//     <div class="xui-loader--dot"></div>
//   </div>
// </button>
// <button type="button" disabled class="xui-button xui-button-standard">
//   <div class="xui-button--loader xui-loader xui-loader-small" role="progressbar" aria-valuetext="Button loading">
//     <div class="xui-loader--dot"></div>
//     <div class="xui-loader--dot"></div>
//     <div class="xui-loader--dot"></div>
//   </div>
// </button>
//
// Weight: 5.1
//
// Styleguide: Loaders

.#{$ns}-loader {
	color: $xui-color-grey-alpha-3;
}

.#{$ns}-button--loader {
	color: inherit;
}

.#{$ns}-loader-layout {
	padding-bottom: $xui-s-3xlarge;
	padding-top: $xui-s-3xlarge;
	text-align: center;
}

.#{$ns}-loader--dot {
	$dot-size-small: 10px;
	$dot-size: 12px;
	$dot-size-large: 14px;
	$dot-margin: 1px;
	$dot-margin-large: 2px;
	$animation-time: 1.3s;
	$animation-delay: -0.16s;

	// easeInOutSine
	$animation-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);

	animation: xui-loader-animation $animation-time infinite $animation-easing;
	animation-fill-mode: both;
	background-color: currentColor;
	border-radius: 50%;
	display: inline-block;
	height: $dot-size;
	transform-style: preserve-3d; // Firefox jank fix
	vertical-align: middle;
	width: $dot-size;

	&:nth-child(1) {
		animation-delay: $animation-delay * 2;
	}

	&:nth-child(2) {
		animation-delay: $animation-delay * 1;
	}

	&:nth-child(3) {
		animation-delay: $animation-delay * 0;
	}

	.#{$ns}-loader-small & {
		height: $dot-size-small;
		width: $dot-size-small;
	}

	.#{$ns}-loader & {
		margin-right: $dot-margin;
	}

	.#{$ns}-loader-large & {
		height: $dot-size-large;
		margin-right: $dot-margin-large;
		width: $dot-size-large;
	}
}

@keyframes xui-loader-animation {
	0%,
	80%,
	100% {
		transform: scale(0.5);
	}

	40% {
		transform: scale(1);
	}
}
