@import "../tools/functions";
@import "../tools/mixins";
@import "../settings/animation";
@import "../settings/colours";
@import "../settings/structure";

// Modals
//
// ### Behaviour
// * The modal has a semi-transparent mask to prevent the user from clicking on other elements on the page while the modal is open
// * If the modal can be closed (should be the case for most modals), it can be done in the following ways:
//   * Clicking the &times; inside the modal
//   * Pressing ESC while the modal is open
//   * Clicking on a button in the modal footer can optionally close the modal
//   * If the modal contains no user-inputted data that could be lost, then it may also be closed by clicking on the mask (outside the modal)
// * TODO: Define behaviour for multiple modals
//
// Markup:
// <a href="#" onclick="showExampleModal();">Show Modal</a>
// <div id="example-modal" class="xui-mask">
// 	<section class="xui-modal xui-modal-medium">
// 		<header class="xui-modal--header">
// 			<h3 class="xui-text-panelheading">Smart Rule: Bank</h3>
// 			<button type="button" class="xui-iconbutton xui-iconbutton-large xui-modal--header-close">✕</button>
// 		</header>
// 		<div class="xui-modal--body">
// 			<div class="xui-inputgroup">
// 				<div class="xui-inputgroup--inputs">
// 					<select class="xui-select">
// 						<option>If items are negative</option>
// 					</select>
// 				</div>
// 				<label class="xui-inputgroup--label" for="move-to"><nobr>Move To</nobr></label>
// 				<div class="xui-inputgroup--inputs">
// 					<select id="move-to" class="xui-select">
// 						<option>Current Liabilities</option>
// 					</select>
// 				</div>
// 			</div>
// 		</div>
// 		<footer class="xui-modal--footer xui-actions">
// 			<div class="xui-actions--primary">
// 				<button type="button" class="xui-button xui-button-main">Done</button>
// 			</div>
// 			<div class="xui-actions--secondary">
// 				<button type="button" class="xui-button">Delete</button>
// 			</div>
// 		</footer>
// 	</section>
// </div>
//
// Styleguide: Modals
.#{$ns}-mask {
	align-items: center;
	background-color: transparentize($color-primary-text, 0.3);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	transition: opacity $transition-duration-short $easing-standard;
	z-index: 10;
}

.#{$ns}-modal-opened {
	opacity: 1;
	pointer-events: auto;
}

.#{$ns}-modal {
	background-color: $color-panels;
	border: $border-standard;
	border-radius: $radius;
	max-height: calc(100vh - 2.5rem);	// Allows for minimum 20px margin at the top/bottom of modal
	max-width: calc(100vw - 2.5rem);	// Allows for minimum margin at the left/right of modal
	width: px-to-rem(360);
}

.#{$ns}-modal-medium {
	width: px-to-rem(560);
}

.#{$ns}-modal-large {
	width: px-to-rem(860);
}

// Modal header
// -----------------------------------------------------------------------------

.#{$ns}-modal--header {
	align-content: stretch;
	display: flex;
	justify-content: space-between;
	padding-left: px-to-rem(20);
}

.#{$ns}-modal--header-close {
	margin: px-to-rem(16);
}

// Modal body
// -----------------------------------------------------------------------------

.#{$ns}-modal--body {
	max-height: 45vh;
	overflow-y: auto;

	// Because of how padding is handled in the context of an overflow, we can't
	// just add padding to the bottom of this container so that the content
	// doesn't push up to the edge.  Instead, I have to add margins to the inside
	// elements to push them away from the edges.
	// See: https://bugzilla.mozilla.org/show_bug.cgi?id=748518
	padding-left: px-to-rem(20);
	padding-right: px-to-rem(20);

	> *:first-child {
		margin-top: px-to-rem(20);
	}

	> *:last-child {
		margin-bottom: px-to-rem(20);
	}
}

// Modal footer
// -----------------------------------------------------------------------------

.#{$ns}-modal--footer {
}
