@import "../mixins";
@import "../vars";

// Modals
//
// ### Behaviour
// * The modal has a semi-transparent mask to prevent the user from clicking on other elements on the page while the modal is open
// * The `.xui-mask` class sets `opacity: 0;` which hides the modal by default
// * Apply the `.xui-mask-is-active` class alongside `.xui-mask` when you wish to display the modal
// * Use the `.xui-modal-medium` or `.xui-modal-large` classes alongside `.xui-modal` for larger width variations
// * Closing modals should be handled in the following ways:
//   * Clicking on the cross in the modal should close the modal
//   * Pressing ESC while the modal is open should close the modal
//   * Clicking on a button in the modal footer can optionally close the modal (e.g. 'Submit')
//   * Clicking on the mask should **not** close the modal
//
// ### Accessibility
// Adding a `dialog` role to the modal is usually not enough to make it accessible. The modal also needs to be labelled appropriately and focus around the modal needs to be managed.
//
// #### Labelling
//  * The `aria-labelledby` and `aria-describedby` attributes can be used to ensure the purpose of the modal is clear.
//
// #### Keyboard interaction
//  * When the modal is opened, the keyboard focus should be moved to a default focusable control with the modal. For example, this could be a button in the footer of the modal or the first element in a form within the modal.
//  * The main page content that the mask covers should be temporarily disabled and therefore not accessible by the keyboard while the modal is open.
//
// Markup:
// <div class="xui-mask xui-mask-is-active">
//   <section class="xui-modal xui-modal-layout xui-modal-medium" role="dialog" aria-labelledby="modal-heading" aria-describedby="modal-text">
//     <header class="xui-modal--header xui-padding-left-large">
//       <h3 id="modal-heading" class="xui-text-panelheading">Smart Rule: Bank</h3>
//       <button type="button" class="xui-button xui-button-icon xui-margin-small" title="Close" aria-label="Close">
//           <svg class="xui-icon" title="Close" aria-label="Close"> <use xlink:href="#xui-icon-close" /></svg>
//       </button>
//     </header>
//     <div class="xui-modal--body xui-padding-horizontal-large">
//       <p id="modal-text">Select which items from your bank should be automatically allocated to which account.</p>
//       <form class="xui-form-layout xui-margin-top-large xui-padding-top">
//         <div class="xui-field-layout">
//           <div class="xui-select" aria-describedby="modal-text">
//             <select class="xui-select--control" id="group-button-example3">
//               <option>If items are negative</option>
//             </select>
//             <svg class="xui-icon xui-select--caret [modifiers]"> <use xlink:href="#xui-icon-chevron" /></svg>
//           </div>
//         </div>
//         <div class="xui-field-layout">
//           <label class="xui-text-label xui-fieldlabel-layout" for="move-to">Move To</label>
//           <div class="xui-select" aria-describedby="modal-text">
//             <select id="move-to" class="xui-select--control" id="group-button-example3">
//               <option>Current Liabilities</option>
//             </select>
//             <svg class="xui-icon xui-select--caret [modifiers]"> <use xlink:href="#xui-icon-chevron" /></svg>
//           </div>
//         </div>
//       </form>
//     </div>
//     <footer class="xui-modal--footer xui-actions xui-actions-layout xui-padding-large">
//       <button type="button" class="xui-actions--primary xui-button xui-button-main">Done</button>
//       <button type="button" class="xui-actions--secondary xui-button xui-button-negative">Delete</button>
//     </footer>
//   </section>
// </div>
//
// Styleguide: Modals
.#{$ns}-mask {
	align-items: center;
	background-color: transparentize($xui-color-primary-text, 0.3);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	top: 0;
	transition: opacity $xui-transition-duration-medium $xui-easing-standard;
	z-index: 10;
}

.#{$ns}-mask-is-active {
	opacity: 1;
	pointer-events: auto;
}

.#{$ns}-modal {
	background-color: $xui-color-panel;
	border-radius: $xui-radius;
	box-shadow: $xui-shadow-depth-3;
}

.#{$ns}-modal-layout {
	max-height: calc(100vh - 2.5rem); // Allows for minimum 20px margin at the top/bottom of modal
	max-width: calc(100vw - 2.5rem);  // Allows for minimum margin at the left/right of modal
	width: 360px;

	.#{$ns}-modal--body {
		max-height: 45vh;
	}
}

.#{$ns}-modal-medium {
	width: 560px;
}

.#{$ns}-modal-large {
	width: 860px;
}

// Modal header
// -----------------------------------------------------------------------------

.#{$ns}-modal--header {
	align-content: stretch;
	align-items: flex-start;
	display: flex;
	justify-content: space-between;

	.#{$ns}-button-icon {
		flex: 0 0 30px;
	}
}

// Modal body
// -----------------------------------------------------------------------------

.#{$ns}-modal--body {
	overflow-y: auto;
}

// Modal footer
// -----------------------------------------------------------------------------

.#{$ns}-modal--footer {
}
