@import "../vars";
@import "../mixins";

// Filters
//
// ![](https://img.shields.io/badge/Deprecated%20in-10.15.0-%23f6534e.svg)
// ![](https://img.shields.io/badge/Removed%20in-11.0.0-lightgrey.svg)
//
// This component is deprecated, alternatively, use <a href="#navigation-6">picklists</a>
//
// Filters are a way to operate over a set of data, and change the view to show the new set of data based on your chosen filter
//
// Styleguide: Navigation.4

// Sidebar filters
//
// Sidebar filters are used to filter content that is displayed in an associated panel / section
//
// #### Class Names
//
// `xui-sidebarfilter`	Container for a sidebar filter
//
// `xui-sidebarfilter-is-selected`	Selected state for a sidebar filter
//
// `xui-sidebarfilter--body`	Container for the body of a sidebar filter
//
// `xui-sidebarfilter--control`	Subcomponent for a sidebar control using a checkbox
//
// `xui-sidebarfilters`	Container for a group of sidebar filters
//
// `xui-sidebarfilters-multiple`	Container for mutlitple groups of sidebar filters
//
// `xui-sidebarsummary`	Style for a sidebar summary (hidden by default)
//
// `xui-sidebarsummary--control`	Subcomponent for a sidebar summary control using a checkbox
//
// Markup:
// <div class="xui-page-width-standard xui-page-layout-sidebar-left">
//   <div class="xui-page-layout-sidebar-left--sidebar">
//     <label class="xui-sidebarsummary" for="everythingFilters">
//       <strong>I'm the selected sidebarfilter</strong>
//     </label>
//     <input type="checkbox" class="xui-sidebarsummary--control" id="everythingFilters" />
//     <div class="xui-sidebarfilters-multiple">
//       <ul class="xui-sidebarfilters">
//         <li class="xui-sidebarfilter" aria-selected="false">
//           <a class="xui-sidebarfilter--body" href="#Filter1">Filter 1</a>
//         </li>
//         <li class="xui-sidebarfilter" aria-selected="false">
//           <a class="xui-sidebarfilter--body" href="#Filter2">
//             <span class="xui-column-10-of-12 xui-text-truncated">Some filter with some more content that actually doesn't fit the space</span>
//             <span class="xui-column-2-of-12 xui-text-secondary xui-text-rightaligned">10</span>
//           </a>
//         </li>
//         <li class="xui-sidebarfilter xui-sidebarfilter-is-selected" aria-selected="true">
//           <a class="xui-sidebarfilter--body" href="#Filter3">Another filter</a>
//           <ul class="xui-sidebarfilters">
//             <li class="xui-sidebarfilter" aria-selected="false">
//               <a class="xui-sidebarfilter--body" href="#Filter1">
//                 <span class="xui-column-2-of-12"></span>
//                 <span class="xui-column-10-of-12">Sub filters!</span>
//               </a>
//             </li>
//             <li class="xui-sidebarfilter" aria-selected="false">
//               <a class="xui-sidebarfilter--body" href="#Filter1">
//                 <span class="xui-column-2-of-12"></span>
//                 <span class="xui-column-10-of-12">Sub filters!</span>
//               </a>
//             </li>
//             <li class="xui-sidebarfilter" aria-selected="false">
//               <a class="xui-sidebarfilter--body" href="#Filter1">
//                 <span class="xui-column-2-of-12"></span>
//                 <span class="xui-column-10-of-12">Sub filters!</span>
//               </a>
//             </li>
//             <li class="xui-sidebarfilter" aria-selected="false">
//               <a class="xui-sidebarfilter--body" href="#Filter1">
//                 <span class="xui-column-2-of-12"></span>
//                 <span class="xui-column-10-of-12">Sub filters!</span>
//               </a>
//             </li>
//             <li class="xui-sidebarfilter" aria-selected="false">
//               <a class="xui-sidebarfilter--body" href="#Filter1">
//                 <span class="xui-column-2-of-12"></span>
//                 <span class="xui-column-10-of-12">Sub filters!</span>
//               </a>
//             </li>
//           </ul>
//         </li>
//         <li class="xui-sidebarfilter" aria-selected="false">
//           <a class="xui-sidebarfilter--body" href="#Filter4">Filter 4</a>
//         </li>
//         <li class="xui-sidebarfilter" aria-selected="false">
//           <a class="xui-sidebarfilter--body" href="#Filter5">Fifth Element</a>
//         </li>
//       </ul>
//       <ul class="xui-sidebarfilters">
//         <li class="xui-sidebarfilter" aria-selected="false">
//           <a class="xui-sidebarfilter--body" href="#Filter1">Filter 1</a>
//         </li>
//         <li class="xui-sidebarfilter" aria-selected="false">
//           <a class="xui-sidebarfilter--body" href="#Filter2">Some filter</a>
//         </li>
//         <li class="xui-sidebarfilter" aria-selected="false">
//           <label class="xui-sidebarfilter--body" for="navControl1">
//             Click me I expand!
//           </label>
//           <input type="checkbox" class="xui-sidebarfilter--control" id="navControl1" />
//           <ul class="xui-sidebarfilters">
//             <li class="xui-sidebarfilter" aria-selected="false">
//               <a class="xui-sidebarfilter--body" href="#Filter1">
//                 <span class="xui-column-2-of-12"></span>
//                 <span class="xui-column-10-of-12">
//                   <strong>Sub filters!</strong>
//                 </span>
//               </a>
//             </li>
//             <li class="xui-sidebarfilter" aria-selected="false">
//               <a class="xui-sidebarfilter--body" href="#Filter1">
//                 <span class="xui-column-2-of-12"></span>
//                 <span class="xui-column-10-of-12">Sub filters!</span>
//               </a>
//             </li>
//             <li class="xui-sidebarfilter" aria-selected="false">
//               <a class="xui-sidebarfilter--body" href="#Filter1">
//                 <span class="xui-column-2-of-12"></span>
//                 <span class="xui-column-10-of-12">Sub filters!</span>
//               </a>
//             </li>
//             <li class="xui-sidebarfilter" aria-selected="false">
//               <a class="xui-sidebarfilter--body xui-grid" href="#Filter1">
//                 <span class="xui-column-2-of-12"></span>
//                 <span class="xui-column-10-of-12">Sub filters!</span>
//               </a>
//             </li>
//             <li class="xui-sidebarfilter" aria-selected="false">
//               <a class="xui-sidebarfilter--body xui-grid" href="#Filter1">
//                 <span class="xui-column-2-of-12"></span>
//                 <span class="xui-column-10-of-12">Sub filters!</span>
//               </a>
//             </li>
//           </ul>
//         </li>
//         <li class="xui-sidebarfilter" aria-selected="false">
//           <a class="xui-sidebarfilter--body" href="#Filter4">Filter 4</a>
//         </li>
//         <li class="xui-sidebarfilter" aria-selected="false">
//           <a class="xui-sidebarfilter--body" href="#Filter5">Fifth Element</a>
//         </li>
//       </ul>
//     </div>
//   </div><!--
//   --><div class="xui-panel xui-page-layout-sidebar-left--main">
//     A panel would live here
//   </div>
// </div>
//
// Styleguide: Navigation.4.3

.#{$ns}-sidebarfilters {
	margin: 0;
	padding: 0;
}

.#{$ns}-sidebarfilter {
	list-style: none;
}

.#{$ns}-sidebarfilter--control {
	@include xui-navigation-filters-hide-control();

	& + .#{$ns}-sidebarfilters {
		@include xui-navigation-filters-collapse-list();
	}

	&:checked + .#{$ns}-sidebarfilters {
		@include xui-navigation-filters-expand-list();
	}
}

.#{$ns}-sidebarsummary--control {
	@include xui-navigation-filters-hide-control();

	@include xui-breakpoint-narrow() {

		& + .#{$ns}-sidebarfilters,
		& + .#{$ns}-sidebarfilters-multiple {
			@include xui-navigation-filters-collapse-list();
		}

		&:checked + .#{$ns}-sidebarfilters,
		&:checked + .#{$ns}-sidebarfilters-multiple {
			@include xui-navigation-filters-expand-list();
		}

	}

}

.#{$ns}-sidebarfilter--body,
.#{$ns}-sidebarsummary {
	color: $xui-color-primary-text;
	display: flex;
	width: 100%;

	&:hover {
		background-color: darken($xui-color-background, 5%);
	}
}

.#{$ns}-sidebarfilter--body {
	@include xui-padding-vertical($xui-s-small);
	@include xui-padding-horizontal($xui-s-small / 2);
}

.#{$ns}-sidebarsummary {
	@include xui-navigation-filters-hide-control();

	@include xui-breakpoint-narrow() {
		display: flex;
	}
}

.#{$ns}-sidebarfilters-multiple {

	.#{$ns}-sidebarfilters {
		@include xui-padding-bottom($xui-s-small);

		&:last-child {
			@include xui-padding-bottom(0);
		}
	}

	.#{$ns}-sidebarfilters + .#{$ns}-sidebarfilters {
		@include xui-padding-top($xui-s-small);
		border-top: $xui-border-standard;
	}
}

.#{$ns}-sidebarfilter-is-selected > .#{$ns}-sidebarfilter--body {
	font-weight: bold;
}
