@import "../mixins";
@import "../vars";

// Tabs
//
// Styles for the tabbed elements.  These typically sit above `<section>`
// elements, controlling the display of them.
//
// ### A note on accessibility (aria)
//
// When clicking a tab results in a URL change, it is recommended to apply the `role="navigation"` and `aria-label` attributes.
// When the intent is to have a panel, that exhibits behaviour similar to on-page JS tabs (i.e switches to a
// corresponding view without changing the URL), then it is recommended to apply the `tablist` role instead of `navigation`.
//
// [Example tablist implementation](http://accessibility.athena-ict.com/aria/examples/tabpanel2.shtml)
//
// Key changes
//
// `role="tablist"` instead of `role="navigation"`
//
// Tabs should be marked up with `role="tab"` `tabindex="0"` `aria-controls="panelN"` `id="tabN"` `aria-selected="boolean"`
//   - When selected should have `aria-selected="true"`
//   - When not selected should have `aria-selected="false"`
//
// Panels should be marked up with `id="panelN"` `aria-hidden="boolean"` `aria-labelledby="tabN"`.
// Note: All Panels should be rendered to the document and should have visual states updated based on selected tabs
//   - When hidden should have `class="xui-u-hidden-visually"` and `aria-hidden="true"` or
//   - When visible should have only `aria-hidden="false"`
//
// Styleguide: Navigation.5

// Horizontal
//
// Applied to sections that have tabs in them, removes the padding so that the
// bottom of the tabs are flush with the top of the section they manage.
// NOTE: Keep an eye on this one... there might be a better way to declare a
//       tab section without having to undo existing section padding.
//
// Classes:
// xui-tabgroup: Container for a group of tabs
// xui-tabgroup-layout: Recommened layout for a tab group
// xui-tab: Container for a tab
// xui-tab--body: Container for the body of a tab
// xui-tab-is-selected: Modifier for the currently selected tab
// xui-tab-pageheading: Modifier for a page heading tab
// xui-tab-pageheading-is-selected: Modifier for the currently selected page heading tab
//
// Markup:
// <ul class="xui-tabgroup xui-tabgroup-layout" role="navigation" aria-label="Tertiary">
//   <li class="xui-tab">
//     <a class="xui-tab--body" href="#default">Default</a>
//   </li>
//   <li class="xui-tab xui-tab-is-selected" aria-selected="true">
//     <a class="xui-tab--body" href="#selected_default">Selected Default</a>
//   </li>
// </ul>
// <br />
// <ul class="xui-tabgroup xui-tabgroup-layout" role="navigation" aria-label="Secondary">
//   <li class="xui-tab xui-tab-pageheading">
//     <a class="xui-tab--body" href="#g-header">Page heading</a>
//   </li>
//   <li class="xui-tab xui-tab-pageheading xui-tab-pageheading-is-selected" aria-selected="true">
//     <a class="xui-tab--body" href="#selected_pagenav">Selected heading</a>
//   </li>
// </ul>
//
// Styleguide: Navigation.5.1

.#{$ns}-tabgroup {
	color: $xui-color-secondary-text;
	display: flex;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
}

// Put all the variations of tabs you need in here
// Makes for an easy place to store and create new variations of tabs with different colours.
//
// (text-color, border-color, hover-text-color, hover-border-color)
$xui-color-variations: (
	"#{$ns}-tab-is-selected":($xui-color-primary-text, $xui-color-primary-text, $xui-color-primary-text, $xui-color-primary-text),
	"#{$ns}-tab-pageheading":($xui-color-primary-text, transparent, $xui-color-xero-blue, $xui-color-xero-blue),
	"#{$ns}-tab-pageheading-is-selected":($xui-color-xero-blue, $xui-color-xero-blue, $xui-color-xero-blue, $xui-color-xero-blue),
	"#{$ns}-tab-inlinenav":($xui-color-primary-text, transparent, $xui-color-xero-light-green, $xui-color-xero-blue),
	"#{$ns}-tab-inlinenav-is-selected":($xui-color-primary-text, $xui-color-xero-light-green, $xui-color-xero-light-green, $xui-color-xero-blue)
);

// Individual tabs
// -----------------------------------------------------------------------------

.#{$ns}-tab {
	margin: 0;
	position: relative;

	.#{$ns}-tab--body {
		@include xui-text-line-height-compact;

		border-radius: $xui-radius;
		color: $xui-color-secondary-text;
		cursor: pointer;
		display: inline-block;
		outline: none;
		text-align: center;

		&:hover {
			color: $xui-color-primary-text;
			text-decoration: none;
		}

		&:focus {
			background: $xui-color-tab-focus;
		}

		&:focus:active {
			background: $xui-color-tab-active;
		}
	}

	&::after {
		background-color: transparent;
		bottom: 0;
		content: " ";
		display: block;
		height: 3px;
		left: 0;
		position: absolute;
		width: 100%;
	}
}

@each $variation, $colors in $xui-color-variations {
	.#{$variation} {
		@include xui-tab-variation(nth($colors, 1), nth($colors, 2), nth($colors, 3), nth($colors, 4));
	}
}

.#{$ns}-tabgroup-layout {
	.#{$ns}-tab--body {
		@include xui-padding-horizontal($xui-s-standard);
		@include xui-padding-vertical($xui-s-small);
	}
}

.#{$ns}-tabgroup-layout-inline {
	height: 100%;
}

.#{$ns}-tab-inlinenav {
	align-items: center;
	display: flex;
}

// fix the issue where ::after appears on the next tab
.#{$ns}-tab-inlinenav-is-selected {
	&::after {
		left: 0;
		right: 0;
	}
}

// Vertical
//
// ![](https://img.shields.io/badge/Deprecated%20in-10.15.0-%23f6534e.svg)
// ![](https://img.shields.io/badge/Removed%20in-11.0.0-lightgrey.svg)
//
// *This component is deprecated, alternatively, use <a href="#navigation-6">picklists</a>*
//
// Applied to sections that have tabs in them, removes the padding so that the
// bottom of the tabs are flush with the top of the section they manage.
// NOTE: Keep an eye on this one... there might be a better way to declare a
//       tab section without having to undo existing section padding.
//
// Classes:
// xui-tabgroup-vertical: Container for a group of vertical tabs, replaced by `xui-picklist`
// xui-tabgroup-vertical-layout: Recommended layout for a vertical tab group
// xui-verticaltab: Container for a vertical tab, replaced by `xui-pickitem`
// xui-verticaltab--body: Container for the body of a vertical tab, replaced by `xui-pickitem--body`
// xui-verticaltab-is-selected: Modifier for the currently selected vertical tab
//
// Markup:
// <ul class="xui-tabgroup xui-tabgroup-vertical xui-tabgroup-vertical-layout" role="navigation" aria-label="Tertiary">
//   <li class="xui-verticaltab">
//     <a class="xui-verticaltab--body" href="#default">Default</a>
//   </li>
//   <li class="xui-verticaltab xui-verticaltab-is-selected" aria-selected="true">
//     <a class="xui-verticaltab--body" href="#selected_default">Selected Default</a>
//   </li>
//   <li class="xui-verticaltab">
//     <a class="xui-verticaltab--body" href="#other">Other</a>
//   </li>
// </ul>
// <ul class="xui-tabgroup xui-tabgroup-vertical xui-tabgroup-vertical-layout">
//   <li class="xui-verticaltab">
//     <a class="xui-verticaltab--body" href="#secondgroup">Second Group</a>
//   </li>
// </ul>
//
// Styleguide: Navigation.5.2

.#{$ns}-tabgroup-vertical {
	display: flex;
	flex-flow: column nowrap;
	list-style: none;
	padding: 0;
}

/*
	:nth-child(n+2) is the same as saying,
	select all elements with this class that have the same parent,
	except for the very first one
	https://css-tricks.com/how-nth-child-works/
	https://css-tricks.com/examples/nth-child-tester/
*/
.#{$ns}-tabgroup-vertical:nth-child(n+2) {
	border-top: $xui-border-standard;
}

.#{$ns}-verticaltab {
	border-left: 4px solid transparent;
	position: relative;

	&:hover {
		background-color: $xui-color-background;
		border-left: 4px solid $xui-color-background;
	}
}

.#{$ns}-verticaltab-is-selected {
	border-left: 4px solid $xui-color-xero-blue;

	&:hover {
		border-left: 4px solid $xui-color-xero-blue;
	}
}

.#{$ns}-verticaltab--body {
	@include xui-text-line-height-compact;

	color: $xui-color-primary-text;
	display: block;
	width: 100%;

	&:hover {
		text-decoration: none;
	}
}

.#{$ns}-tabgroup-vertical-layout {
	@include xui-margin-vertical($xui-s-xsmall);

	&:nth-child(n+2) {
		@include xui-padding-top($xui-s-xsmall);
	}

	.#{$ns}-verticaltab--body {
		@include xui-padding($xui-s-small);
	}
}
