// Sub application Navigation
//
// New styles for app sub-navigation, meant to show more detail around the current page, and give optional patterns for displaying action buttons, or breadcrumbs for navigation.
//
// This component uses the `xui-page-width-standard` class to center align its navigation, and title sub-components to the widths of your content.
//
// Styleguide: Navigation.3

// Standard
//
// #### Class Names
//
// `xui-pageheading`	Container for a page heading (eg navigation)
//
// `xui-pageheading--breadcrumbs`	Container for page heading breadcrumbs
//
// `xui-pageheading--content`	Container for page heading content (eg headings and buttons)
//
// `xui-pageheading--content-layout`	Recommended layout for page heading content
//
// `xui-pageheading--title`	Style for a page heading title
//
// `xui-breadcrumb`	Style for breadcrumb text
//
// `xui-breadcrumb--icon`	Style for icons between breadcrumb text
//
// Markup:
// <header class="xui-pageheading">
//   <div class="xui-pageheading--content xui-pageheading--content-layout xui-page-width-standard">
//     <h1 class="xui-pageheading--title">Sales</h1>
//   </div>
// </header>
// <br />
// <header class="xui-pageheading">
//   <div class="xui-pageheading--content xui-pageheading--content-layout xui-page-width-standard">
//     <h1 class="xui-pageheading--title">Sales</h1>
//     <div class="xui-actions">
//        <button type="button" class="xui-button xui-button-standard" style="width:initial">
//           Options
//           <svg focusable="false" class="xui-icon xui-button--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
//        </button>
//        <button type="button" class="xui-button xui-button-create xui-margin-left-small" style="width:initial">
//           New
//           <svg focusable="false" class="xui-icon xui-button--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
//        </button>
//     </div>
//   </div>
// </header>
// <br />
// <header class="xui-pageheading">
//   <nav class="xui-pageheading--content xui-pageheading--content-layout xui-page-width-standard" role="navigation" aria-label="Sales breadcrumb">
//      <ol class="xui-pageheading--breadcrumbs">
//         <li class="xui-breadcrumb" aria-selected="false">
//         	<a href="#">Sales</a></li>
//         	<svg focusable="false" class="xui-breadcrumb--icon xui-icon xui-icon-rotate-270"><use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//         <li class="xui-breadcrumb" aria-selected="true">
//         	Invoices
//         </li>
//      </ol>
//      <div class="xui-buttongroup">
//         <button type="button" class="xui-button xui-button-grouped xui-button-create" style="width:initial">New Invoice</button>
//         <button type="button" class="xui-button xui-button-grouped xui-button-create xui-button-split" style="width:initial;">
//            <svg focusable="false" class="xui-icon xui-button--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
//         </button>
//      </div>
//   </nav>
// </header>
// <br />
// <header class="xui-pageheading">
//   <nav class="xui-pageheading--content xui-pageheading--content-layout xui-page-width-standard" role="navigation" aria-label="Sales breadcrumb 2">
//      <ol class="xui-pageheading--breadcrumbs">
//         <li class="xui-breadcrumb" aria-selected="false">
//         	<a href="#">Sales</a></li>
//         	<svg focusable="false" class="xui-breadcrumb--icon xui-icon xui-icon-rotate-270"><use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//         <li class="xui-breadcrumb" aria-selected="false">
//         	<a href="#">Invoices</a></li>
//         	<svg focusable="false" class="xui-breadcrumb--icon xui-icon xui-icon-rotate-270"><use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//         <li class="xui-breadcrumb" aria-selected="true">
//         	INV-001
//        	</li>
//       </ol>
//      <button type="button" class="xui-button xui-button-standard" style="width:initial;">
//         Options
//         <svg focusable="false" class="xui-icon xui-button--caret"> <use xlink:href="#xui-icon-caret" role="presentation" /></svg>
//      </button>
//   </nav>
// </header>
//
// Styleguide: Navigation.4

// Parent container
// The coloured background goes full width of the page
.#{$ns}-pageheading {
	align-items: center;
	background-color: $xui-color-white;
	border-bottom: $xui-border-standard;
	display: flex;
	flex-wrap: no-wrap;
	min-height: 60px;
	overflow: hidden;

	// Content container
	.#{$ns}-pageheading--content {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.#{$ns}-pageheading--breadcrumbs {
		align-items: center;
		display: flex;
		flex: 1 1 auto;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}


.#{$ns}-pageheading--content-layout {
	@include xui-margin-vertical($xui-s-small);
	flex-flow: row wrap;

	&.#{$ns}-page-width-standard {
		@media (max-width:  #{$xui-page-width-small + 2 * $xui-s-small}) {
			@include xui-margin-horizontal($xui-s-small);
		}
	}

	&.#{$ns}-page-width-large {
		@media (max-width:  #{$xui-page-width-large + 2 * $xui-s-small}) {
			@include xui-margin-horizontal($xui-s-small);
		}
	}
}

.#{$ns}-breadcrumb {
	font-size: $xui-font-size-page-title;
	font-weight: bold;
}

.#{$ns}-breadcrumb--icon {
	color: $xui-color-icon;
}

// With Tabs
//
// `xui-pageheading-has-tabs`	Modifier for a page heading with tab navigation
//
// Markup:
// <header class="xui-pageheading xui-pageheading-has-tabs">
//   <div class="xui-page-width-standard">
//     <div class="xui-pageheading--content xui-pageheading--content-layout">
//       <h1 id="page-title" class="xui-pageheading--title">Sales</h1>
//     </div>
//     <div class="xui-pageheading--tabs xui-padding-top-large" role="navigation" aria-labelledby="page-title">
//       <ul class="xui-tabgroup xui-tabgroup-layout">
//         <li class="xui-tab xui-tab-pageheading" aria-selected="false">
//           <a class="xui-tab--body" href="#g-header">Page heading</a>
//         </li>
//         <li class="xui-tab xui-tab-pageheading xui-tab-pageheading-is-selected" aria-selected="true">
//           <a class="xui-tab--body" href="#selected_pagenav">Selected heading</a>
//         </li>
//       </ul>
//     </div>
//   </div>
// </header>
//
// Styleguide: Navigation.3.2

.#{$ns}-pageheading-has-tabs {
	flex-direction: column;
	justify-content: space-between;
}

.#{$ns}-pageheading--title {
	flex: 1 1 auto;
	font-size: $xui-font-size-page-title;
	font-weight: bold;
	margin: 0 $xui-s-small 0 0;
}
