@import "../vars";
@import "../mixins";

// Overview Blocks
//
// A dashboard-style block designed to display summarised stats and figures
//
//  Markup:
// <div class="xui-overview xui-overview-layout">
//   <section class="xui-overview--section">
//     <div class="xui-text-secondary">All</div>
//     <div class="xui-heading xui-text-status">1.3m</div>
//   </section>
//   <section class="xui-overview--section">
//     <div class="xui-text-secondary">Draft</div>
//     <div class="xui-heading xui-text-status">None</div>
//   </section>
//   <section class="xui-overview--section">
//     <div class="xui-text-secondary">Paid</div>
//     <div class="xui-heading xui-text-status xui-text-status-positive">14.5k</div>
//   </section>
// </div>
// <div class="xui-overview xui-margin-vertical-large">
//   <section class="xui-overview--section xui-padding-vertical-large">
//     <div class="xui-text-secondary">All</div>
//     <div class="xui-heading xui-text-status">1.3m</div>
//   </section>
//   <section class="xui-overview--section xui-padding-vertical-large">
//     <div class="xui-text-secondary">Draft</div>
//     <div class="xui-heading xui-text-status">None</div>
//   </section>
//   <section class="xui-overview--section xui-padding-vertical-large">
//     <div class="xui-text-secondary">Paid</div>
//     <div class="xui-heading xui-text-status xui-text-status-positive">14.5k</div>
//   </section>
//   <section class="xui-overview--section xui-padding-vertical-large">
//     <div class="xui-text-secondary">Overdue</div>
//     <div class="xui-heading xui-text-status xui-text-status-negative">350.25</div>
//   </section>
//   <section class="xui-overview--section xui-padding-vertical-large">
//     <div class="xui-text-secondary">Sales</div>
//     <div class="xui-heading xui-text-status">10k</div>
//   </section>
//   <section class="xui-overview--section xui-padding-vertical-large">
//     <div class="xui-text-secondary">Marketing</div>
//     <div class="xui-heading xui-text-status xui-text-status-negative">20k</div>
//   </section>
// </div>
//
// Styleguide: Overview Blocks

.#{$ns}-overview {
	background-color: $xui-color-panel;
	border: $xui-border-standard;
	border-radius: $xui-radius;
	box-shadow: $xui-shadow-depth-1;
	display: flex;
	width: 100%;
}

.#{$ns}-overview--section {
	display: flex;
	flex: 1 0 calc(100% / 6);
	flex-flow: column nowrap;
	justify-content: center;
	text-align: center;
}

.#{$ns}-overview--section:nth-child(n+2) {
	border-left: $xui-border-standard;
}

.#{$ns}-overview-layout {
	@include xui-margin-horizontal(auto);

	@include xui-breakpoint-narrow {
		border-left: 0;
		border-radius: 0;
		border-right: 0;
	}

	.#{$ns}-overview--section {
		@include xui-padding-vertical($xui-s-large);
	}
}
