/**
 * Styles for the nav elements.  These typically sit above body content or
 * breadcrumb elements. Defaults to full page width.
 */

@import "../settings/structure";
@import "../settings/colours";
@import "../settings/typography";
@import "../tools/mixins";

// Page Headings
//
//
// Markup:
// <header class="xui-pageheading">
//   <div class="xui-pageheading--content xui-container">
//     <h1 class="xui-pageheading--title">Sales</h1>
//   </div>
// </header>
// <br />
// <header class="xui-pageheading">
//   <div class="xui-pageheading--content xui-container xui-container-small">
//     <h1 class="xui-pageheading--title">Sales</h1>
//     <button type="button" class="xui-button">Button</button>
//   </div>
// </header>
// <br />
// <header class="xui-pageheading">
//   <div class="xui-pageheading--content xui-container xui-container-large">
//      <ol class="xui-pageheading--breadcrumbs">
//         <li class="xui-breadcrumb"><a href="#">Sales</a></li>
//         <li class="xui-breadcrumb"><a href="#">Invoices</a></li>
//         <li class="xui-breadcrumb active">INV-001</li>
//       </ol>
//      <button type="button" class="xui-button">Button</button>
//   </div>
// </header>
//
// Styleguide: Page Heading.1

// Parent container
// The coloured background goes full width of the page
.#{$ns}-pageheading {
	align-items: center;
	background-color: $color-white;
	border-bottom: $border-standard;
	display: flex;
	flex-wrap: no-wrap;
	min-height: 60px;
	overflow: hidden;
}

// Page Heading with Tabs
//
//
// Markup:
// <header class="xui-pageheading xui-pageheading-has-tabs">
//   <div class="xui-pageheading--content xui-container">
//     <h1 class="xui-pageheading--title">Sales</h1>
//   </div>
//   <div class="xui-pageheading--tabs xui-container">
//     <div class="xui-tabbed-navigation">
//       <ul class="xui-tabgroup">
//         <li class="xui-tab xui-tab-pageheading">
//           <a class="xui-tab--body" href="#g-header">Page heading</a>
//         </li>
//         <li class="xui-tab xui-tab-pageheading xui-tab-pageheading-is-selected">
//           <a class="xui-tab--body" href="#selected_pagenav">Selected heading</a>
//         </li>
//       </ul>
//     </div>
//   </div>
// </header>
//
// Styleguide: Page Heading.2

.#{$ns}-pageheading-has-tabs {
	flex-direction: column;
	justify-content: space-between;
}

.#{$ns}-pageheading-has-tabs,
.#{$ns}-pageheading--tabs {
	padding: 20px 0 0;
}

.#{$ns}-pageheading--title {
	align-items: center;
	display: flex;
	font-size: $font-size-page-title;
	font-weight: bold;
	margin: 0 10px 0 0;
}

// Content container
.#{$ns}-pageheading--content {
	display: flex;
	justify-content: space-between;
}

.#{$ns}-pageheading--breadcrumbs {
	align-items: center;
	display: flex;
	margin: 0;
	padding: 0;
}

.#{$ns}-breadcrumb {
	display: inline-block;
	font-size: $font-size-page-title;
	list-style-type: none;

	&:before {
		color: $color-placeholders;
		content: ">";
		display: inline-block;
		font-weight: 400;
		margin: 0 10px;
	}

	&:first-of-type:before {
		display: none;
	}
}
