@import "../vars";
@import "../tools/mixins";

// Page Layout
//
// Styleguide: Page Layout

// Page Container
//
// Used to set the width of page-level content.
//
// `xui-pagecontainer` : Default container class, use this class in combination with one of the size classes listed below
//
// * `xui-pagecontainer-small`
//   * Regular size. This is the same as the site that exists today, use to match shared header widths.
//
// * `xui-pagecontainer-large`
//   * Larger size. This is the recommended size for your layouts.
//
// `xui-pagecontainer-spaced` : Add this modifier to ensure some spacing between the edge of the page and your content.
// You will want this for page headings with container classes, but perhaps not for panels with container classes.
//
// Markup:
// <div class="xui-pagecontainer xui-pagecontainer-large">
//		<!-- your content goes here -->
// </div>
//
// Styleguide: Page Layout.1

.#{$ns}-pagecontainer {
	@include margin-auto-horizontal;
}

.#{$ns}-pagecontainer-small {
	max-width: $page-width-small;
	width: 100%;
}

@media screen and (max-width: ($page-width-small + 20)) {
	.#{$ns}-pagecontainer-small {
		&.#{$ns}-pagecontainer-spaced {
			padding: 0 10px;
		}
	}
}

.#{$ns}-pagecontainer-large {
	max-width: $page-width-large;
	width: 100%;
}

@media screen and (max-width: $page-width-large + 20) {
	.#{$ns}-pagecontainer-large {
		&.#{$ns}-pagecontainer-spaced {
			padding: 0 10px;
		}
	}
}

// Page Nav
//
// Styles for the nav elements.  These typically sit above body content or
// breadcrumb elements. Defaults to full page width.
//
// Markup:
// <header class="xui-pagenav">
//   <div class="xui-pagecontainer xui-pagecontainer-spaced xui-pagecontainer-small">
//     <div class="xui-pagenav--main">
//       <h1 class="xui-page-title">Page Navigation Title</h1>
//     </div>
//     <nav class="xui-pagenav--nav">
//       <ul class="xui-tabgroup">
//         <li class="xui-tab xui-tab-pagenav">
//           <a class="xui-tab--body" href="#nav1">Nav 1</a>
//         </li>
//         <li class="xui-tab xui-tab-pagenav">
//         	 <a class="xui-tab--body" href="#nav2">Nav 2</a>
//         </li>
//         <li class="xui-tab xui-tab-pagenav xui-tab-pagenav-is-selected">
//           <a class="xui-tab--body" href="#nav3">Nav 3</a>
//         </li>
//         <li class="xui-tab xui-tab-pagenav">
//           <a class="xui-tab--body" href="#nav4">Nav 4</a>
//         </li>
//         <li class="xui-tab xui-tab-pagenav">
//           <a class="xui-tab--body" href="#nav5">Nav 5</a>
//         </li>
//       </ul>
//     </nav>
//   </div>
// </header>
//
// Styleguide: Page Layout.2

.#{$ns}-pagenav {
	background-color: $color-xero-blue;
	overflow: hidden;

	.#{$ns}-page-title {
		color: $color-reversed-text;
		margin: 0.75em auto 0.25em;
	}
}

// Page Headings
//
//
// Markup:
// <header class="xui-pageheading">
//   <div class="xui-pageheading--content xui-pagecontainer xui-pagecontainer-spaced xui-pagecontainer-small">
//     <h1 class="xui-pageheading--title">Sales</h1>
//   </div>
// </header>
// <br />
// <header class="xui-pageheading">
//   <div class="xui-pageheading--content xui-pagecontainer xui-pagecontainer-spaced xui-pagecontainer-small">
//     <h1 class="xui-pageheading--title">Sales</h1>
//     <button type="button" class="xui-button">Button</button>
//   </div>
// </header>
// <br />
// <header class="xui-pageheading">
//   <div class="xui-pageheading--content xui-pagecontainer xui-pagecontainer-spaced xui-pagecontainer-small">
//      <ol class="xui-pageheading--breadcrumbs">
//         <li class="xui-breadcrumb"><a href="#">Sales</a></li>
//         <li class="xui-breadcrumb"><a href="#">Invoices</a></li>
//         <li class="xui-breadcrumb active">INV-001</li>
//       </ol>
//      <button type="button" class="xui-button">Button</button>
//   </div>
// </header>
//
// Styleguide: Page Layout.3

// Parent container
// The coloured background goes full width of the page
.#{$ns}-pageheading {
	align-items: center;
	background-color: $color-white;
	border-bottom: $border-standard;
	display: flex;
	flex-wrap: no-wrap;
	min-height: 60px;
	overflow: hidden;
}

// Page Heading with Tabs
//
//
// Markup:
// <header class="xui-pageheading xui-pageheading-has-tabs">
//   <div class="xui-pagecontainer xui-pagecontainer-spaced xui-pagecontainer-small">
//     <div class="xui-pageheading--content">
//       <h1 class="xui-pageheading--title">Sales</h1>
//     </div>
//     <div class="xui-pageheading--tabs xui-tabbed-navigation">
//       <ul class="xui-tabgroup">
//         <li class="xui-tab xui-tab-pageheading">
//           <a class="xui-tab--body" href="#g-header">Page heading</a>
//         </li>
//         <li class="xui-tab xui-tab-pageheading xui-tab-pageheading-is-selected">
//           <a class="xui-tab--body" href="#selected_pagenav">Selected heading</a>
//         </li>
//       </ul>
//     </div>
//   </div>
// </header>
//
// Styleguide: Page Layout.4

.#{$ns}-pageheading-has-tabs {
	flex-direction: column;
	justify-content: space-between;
}

.#{$ns}-pageheading-has-tabs,
.#{$ns}-pageheading--tabs {
	padding: 20px 0 0;
}

.#{$ns}-pageheading--title {
	align-items: center;
	display: flex;
	font-size: $font-size-page-title;
	font-weight: bold;
	margin: 0 10px 0 0;
}

// Content container
.#{$ns}-pageheading--content {
	display: flex;
	justify-content: space-between;
}

.#{$ns}-pageheading--breadcrumbs {
	align-items: center;
	display: flex;
	margin: 0;
	padding: 0;
}

.#{$ns}-breadcrumb {
	display: inline-block;
	font-size: $font-size-page-title;
	font-weight: bold;
	list-style-type: none;

	&:before {
		color: $color-placeholders;
		content: "›";
		display: inline-block;
		margin: 0 10px;
	}

	&:first-of-type:before {
		display: none;
	}
}
