@import "../vars";
@import "../mixins";

// Pills
//
// Pill are used for signifying a selection has been made, either single or multiple. Typically used within an input box but potentially can be used elsewhere.
//
// Weight: 4.1
//
// Styleguide: Pills

// Pills Used in Multi Selections
//
// Used to highlight that more than one selection can be made.
//
// Classes:
// xui-newpill: pill container class
// xui-newpill-layout: Layout assumptions for pills, both internally and externally.
// xui-newpill--content: Any content inside the pill should truncate when it reaches it max width.
// xui-newpill--secondary: Adds an extra small horizontal margin to the secondary items within the pill.
// xui-newpill--avatar: Allows avatars to sit nicely in the initial curve of the pill.
// xui-newpill-is-invalid: Invalid state of a pill.
// xui-newpill-is-focussed: Focus state of a pill.
// xui-newpill-is-deleteable: Allows the pill to house a delete icon button.
// xui-newpill--button: Allows buttons within pills to inherit colors from their containing element.
// xui-newpill--button-icon: Allows the delete icon button to be positioned on top of other content within the pill.
// xui-pill: Deprecated in favour of `.xui-newpill`.
// xui-pill-layout: Deprecated in favour of `.xui-newpill-layout`.
// xui-pill--content: Deprecated in favour of `.xui-newpill--content`.
// xui-pill--secondary: Deprecated in favour of `.xui-newpill--secondary`.
// xui-pill--avatar: Deprecated in favour of `.xui-newpill--avatar`.
// xui-pill--text: Has now changed to `.xui-newpill--content` to imply more flexibility with this class outside of text.
// xui-pill-invalid: Deprecated in favour of `xui-newpill-is-invalid`.
//
// Markup:
// <div class="xui-newpill xui-newpill-layout xui-newpill-is-deleteable xui-margin-top-small">
//   <button class="xui-button xui-newpill--content xui-newpill--button">
//     <span class="xui-text-color-muted xui-newpill--secondary">Status</span>
//     Draft
//   </button>
//   <button class="xui-button xui-button-icon xui-newpill--button-icon">
//     <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross-small" role="presentation" /></svg>
//   </button>
// </div>
// <div class="xui-newpill xui-newpill-layout xui-newpill-is-deleteable xui-margin-top-small">
//   <span class="xui-newpill--content">
//     <abbr class="xui-avatar xui-avatar-small xui-newpill--avatar" style="background-color: #FCAD59" role="presentation">PE</abbr>
//     pill@withemailaddress.com
//   </span>
//   <button class="xui-button xui-button-icon xui-newpill--button-icon">
//     <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross-small" role="presentation" /></svg>
//   </button>
// </div>
// <div class="xui-newpill xui-newpill-layout xui-newpill-is-deleteable xui-margin-top-small">
//   <span class="xui-newpill--content">Pill with a really long piece of text, for example you might have a long name</span>
//   <button class="xui-button xui-button-icon xui-newpill--button-icon">
//     <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross-small" role="presentation" /></svg>
//   </button>
// </div>
// <div class="xui-newpill xui-newpill-layout xui-newpill-is-invalid xui-newpill-is-deleteable xui-margin-top-small">
//   <button class="xui-newpill--content xui-button xui-newpill--button">Invalid</button>
//   <button class="xui-button xui-button-icon xui-newpill--button-icon">
//     <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross-small" role="presentation" /></svg>
//   </button>
// </div>
// <div class="xui-newpill xui-newpill-layout xui-newpill-is-deleteable xui-margin-top-small">
//   <a href='#kssref-pills-2' class="xui-newpill--content">With a destination</a>
//   <button class="xui-button xui-button-icon xui-newpill--button-icon">
//     <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross-small" role="presentation" /></svg>
//   </button>
// </div>
// <div class="xui-newpill xui-newpill-layout xui-margin-top-small">
//   <span class="xui-newpill--content">Readonly</span>
// </div>
// <div class="xui-newpill xui-newpill-layout xui-newpill-is-deleteable xui-newpill-is-focussed xui-margin-top-small">
//   <button class="xui-newpill--content xui-button xui-newpill--button">Focussed</button>
//   <button class="xui-button xui-button-icon xui-newpill--button-icon">
//     <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross-small" role="presentation" /></svg>
//   </button>
// </div>
//
// Styleguide: Pills.1


.#{$ns}-pill {
	align-items: center;
	background-color: $xui-color-background;
	border-radius: $xui-s-large;
	cursor: default;
	display: inline-flex;

	.#{$ns}-pill--avatar,
	.#{$ns}-pill--secondary {
		@include xui-margin-left($xui-s-xsmall);
	}

	.#{$ns}-pill--text,
	.#{$ns}-pill--content {
		overflow: hidden;
		padding: $xui-s-xsmall $xui-s-xsmall $xui-s-xsmall 0;
		text-overflow: ellipsis;

		:not(:last-child) {
			@include xui-margin-right($xui-s-xsmall);
		}
	}
}

.#{$ns}-pill-layout {
	max-width: 200px;
	white-space: nowrap;
}

.#{$ns}-pill--text,
.#{$ns}-pill--content {
	@include xui-text-truncated;
}

.#{$ns}-newpill-layout {
	height: $xui-icon-standard;
	max-width: 200px;
	padding-right: 10px;
	position: relative;
}

&.#{$ns}-newpill {
	align-items: center;
	background-color: $xui-color-background;
	border-radius: $xui-s-large;
	cursor: default;
	display: inline-flex;
}

.#{$ns}-newpill--content {
	@include xui-text-truncated;
	min-height: $xui-icon-standard;
	padding: 5px 5px 5px 15px;
}

.#{$ns}-newpill--secondary {
	margin-right: 5px;
}

.#{$ns}-newpill--avatar {
	margin-left: -12px;
	margin-right: 10px;
}

.#{$ns}-newpill--button-icon {
	bottom: 0;
	position: absolute;
	right: 0;
}

&.#{$ns}-newpill-is-focussed {
	background-color: rgba($xui-color-black, 0.15);
}

.#{$ns}-newpill-is-deleteable {
	padding-right: $xui-icon-standard;
}

.#{$ns}-newpill-is-invalid,
.#{$ns}-pill-invalid {
	color: $xui-color-xero-red;
}

.#{$ns}-newpill--button {
	border-radius: $xui-s-large;
	color: inherit;
}


// Pills Used in Single Selection
//
// Signifies only one selection can be made here rather than multiple, typically will live inside an input field.
//
// Classes:
// xui-pill-single: Class for the case when only one selection can be made
//
// Markup:
// <div class="xui-input xui-margin-top">
//   <div class="xui-pill xui-pill-single xui-space-between">
//     <span>
//       <abbr class="xui-avatar xui-avatar-small xui-margin-right-small" style="background-color: #FCAD59" role="presentation">X</abbr>
//       pill@withemailaddress.com
//     </span>
//     <button class="xui-button xui-button-icon">
//       <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross" role="presentation" /></svg>
//     </button>
//   </div>
// </div>
// <div class="xui-input xui-margin-top">
//   <div class="xui-pill xui-pill-single xui-space-between xui-pill-invalid">
//     <span>
//       <abbr class="xui-avatar xui-avatar-small xui-margin-right-small xui-avatar-color-5">M</abbr>
//       Invalid Content
//     </span>
//     <button class="xui-button xui-button-icon">
//       <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross" role="presentation" /></svg>
//     </button>
//   </div>
// </div>
// <div class="xui-input xui-margin-top">
//   <div class="xui-pill xui-pill-single xui-space-between">
//     <span>
//       <abbr class="xui-avatar xui-avatar-small xui-margin-right-small xui-avatar-color-1">C</abbr>
//       <a href="#kssref-pills-2" class="xui-pill--text">pill@withemailaddress.com</a>
//     </span>
//     <button class="xui-button xui-button-icon">
//       <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross" role="presentation" /></svg>
//     </button>
//   </div>
// </div>
//
//
// Styleguide: Pills.2

.#{$ns}-pill-single {
	background-color: $xui-color-white;
	width: 100%;
}
