@import "../vars";
@import "../mixins";

// Pills and Tags
//
// Teaser: Used for signifying a selection has been made, either single or multiple.
//
// Styleguide: Building Blocks.Pills and Tags

// Pills vs Tags
//
// Pills are used for signifying a selection has been made, either single or multiple, and may include the option to remove the selection (via a cross).
//
// Tags are used for displaying read-only information. Their usage implies an existing selection/association.
//
// Styleguide: Building Blocks.Pills and Tags.1

// Pills Used in Multi Selections
//
// Used to highlight that more than one selection can be made.
//
// Components: Pill
//
// Classes:
// xui-pill: Pill container class
// xui-pill-layout: Layout assumptions for pills, both internally and externally.
// xui-pill--content: Any content inside the pill should truncate when it reaches it max width.
// xui-pill--secondary: Adds an extra small horizontal margin to the secondary items within the pill.
// xui-pill--avatar: Allows avatars to sit nicely in the initial curve of the pill.
// xui-pill-is-invalid: Invalid state of a pill.
// xui-pill-is-focused: Focus state of a pill.
// xui-pill-is-deleteable: Allows the pill to house a delete icon button.
// xui-pill--button: Allows buttons within pills to inherit colors from their containing element.
// xui-pill--button-icon: Allows the delete icon button to be positioned on top of other content within the pill.
//
// Markup:
// <div class="xui-pill xui-pill-layout xui-pill-is-deleteable xui-margin-top-small">
//   <button class="xui-button xui-pill--content xui-pill--button">
//     <span class="xui-color-grey-muted xui-pill--secondary">Status</span>
//     Draft
//   </button>
//   <button class="xui-button xui-button-icon xui-pill--button-icon">
//     <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross-small" role="presentation" /></svg>
//   </button>
// </div>
// <div class="xui-pill xui-pill-layout xui-pill-is-deleteable xui-margin-top-small">
//   <span class="xui-pill--content">
//     <abbr class="xui-avatar xui-avatar-small xui-pill--avatar xui-avatar-color-8" role="presentation">PE</abbr>
//     <span class="xui-pill--text">pill@withemailaddress.com</span>
//   </span>
//   <button class="xui-button xui-button-icon xui-pill--button-icon">
//     <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross-small" role="presentation" /></svg>
//   </button>
// </div>
// <div class="xui-pill xui-pill-layout xui-pill-is-deleteable xui-margin-top-small">
//   <span class="xui-pill--content">Pill with a really long piece of text, for example you might have a long name</span>
//   <button class="xui-button xui-button-icon xui-pill--button-icon">
//     <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross-small" role="presentation" /></svg>
//   </button>
// </div>
// <div class="xui-pill xui-pill-layout xui-pill-is-invalid xui-pill-is-deleteable xui-margin-top-small">
//   <button class="xui-pill--content xui-button xui-pill--button">
//     <abbr class="xui-avatar xui-avatar-small xui-pill--avatar xui-avatar-color-2" role="presentation">PE</abbr>
//     <span class="xui-color-grey-muted xui-pill--secondary">Status</span>
//     <span class="xui-pill--text">Invalid</span>
//   </button>
//   <button class="xui-button xui-button-icon xui-pill--button-icon">
//     <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross-small" role="presentation" /></svg>
//   </button>
// </div>
// <div class="xui-pill xui-pill-layout xui-pill-is-deleteable xui-margin-top-small">
//   <a href='#kssref-pills-2' class="xui-pill--content">With a destination</a>
//   <button class="xui-button xui-button-icon xui-pill--button-icon">
//     <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross-small" role="presentation" /></svg>
//   </button>
// </div>
// <div class="xui-pill xui-pill-layout xui-margin-top-small">
//   <span class="xui-pill--content">Readonly</span>
// </div>
// <div class="xui-pill xui-pill-layout xui-pill-is-deleteable xui-pill-is-focused xui-margin-top-small">
//   <button class="xui-pill--content xui-button xui-pill--button">Focused</button>
//   <button class="xui-button xui-button-icon xui-pill--button-icon">
//     <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross-small" role="presentation" /></svg>
//   </button>
// </div>
//
// Styleguide: Building Blocks.Pills and Tags.2

.#{$ns}-pill-layout {
	height: $xui-icon-standard;
	max-width: 200px;
	padding-right: 10px;
	position: relative;
}

&.#{$ns}-pill {
	align-items: center;
	background-color: $xui-color-grey-alpha-6;
	border-radius: $xui-s-large;
	cursor: default;
	display: inline-flex;
}

.#{$ns}-pill--content {
	@include xui-text-truncated;
	min-height: $xui-icon-standard;
	padding: 5px 5px 5px 15px;
}

.#{$ns}-pill--text,
.#{$ns}-pill--secondary {
	vertical-align: middle;
}

.#{$ns}-pill--secondary {
	margin-right: 5px;
}

.#{$ns}-pill--avatar {
	margin-left: -12px;
	margin-right: 10px;
	pointer-events: none;
}

.#{$ns}-pill--button-icon {
	bottom: 0;
	position: absolute;
	right: 0;
}

&.#{$ns}-pill-is-focused {
	background-color: rgba($xui-color-black, 0.15);
}

.#{$ns}-pill-is-deleteable {
	padding-right: $xui-icon-standard;
}

.#{$ns}-pill-is-invalid {
	background-color: $xui-color-xero-red;
	color: $xui-color-white;

	.#{$ns}-pill--button-icon,
	.#{$ns}-pill--content {
		color: $xui-color-white;
	}

	.#{$ns}-pill--secondary {
		color: $xui-color-inverted-alpha-2;
	}
}

.#{$ns}-pill--button {
	border-radius: $xui-s-large;
	color: inherit;
}

// Pills Used in Single Selection
//
// Signifies only one selection can be made here rather than multiple, typically will live inside an input field.
//
// Classes:
// xui-pill-single: Class for the case when only one selection can be made
//
// Markup:
// <div class="xui-input xui-margin-top">
//   <div class="xui-pill xui-pill-single xui-space-between">
//     <span>
//       <abbr class="xui-avatar xui-avatar-small xui-margin-right-small xui-avatar-color-1" role="presentation">X</abbr>
//       pill@withemailaddress.com
//     </span>
//     <button class="xui-button xui-button-icon">
//       <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross" role="presentation" /></svg>
//     </button>
//   </div>
// </div>
// <div class="xui-input xui-margin-top">
//   <div class="xui-pill xui-pill-single xui-space-between xui-pill-invalid">
//     <span>
//       <abbr class="xui-avatar xui-avatar-small xui-margin-right-small xui-avatar-color-5">M</abbr>
//       Invalid Content
//     </span>
//     <button class="xui-button xui-button-icon">
//       <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross" role="presentation" /></svg>
//     </button>
//   </div>
// </div>
// <div class="xui-input xui-margin-top">
//   <div class="xui-pill xui-pill-single xui-space-between">
//     <span class="xui-text-truncated">
//       <abbr class="xui-avatar xui-avatar-small xui-margin-right-small xui-avatar-color-1">C</abbr>
//       <a href="#kssref-pills-2" class="xui-pill--text">pill@withemailaddress.com</a>
//     </span>
//     <button class="xui-button xui-button-icon">
//       <svg focusable="false" class="xui-icon"> <use xlink:href="#xui-icon-cross" role="presentation" /></svg>
//     </button>
//   </div>
// </div>
//
//
// Styleguide: Building Blocks.Pills and Tags.3

.#{$ns}-pill-single {
	background-color: $xui-color-white;
	width: 100%;
}
