@import "../vars";

$_section-padding: 8px $spacing-standard;

.#{$ns}-sectionheading {
	background-color: $color-backgrounds;
	border-bottom: $divider-standard;
	border-top: $divider-standard;
	margin: 0;
	padding: $_section-padding;
	text-align: left;
}

.#{$ns}-sectionheading--cell {
	padding: $_section-padding;
}
