@import "../vars";
@import "../mixins";

.#{$ns}-sectionheading {
	border-top: $xui-divider-standard;
	margin: 0;
	text-align: left;
}

.#{$ns}-sectionheading-layout {
	@include xui-padding-horizontal($xui-s-standard);
	@include xui-padding-vertical($xui-s-small);
}
