@import "../vars";
@import "../mixins";

// Drawers
//
// Teaser: Used as application layout components. By default they will appear fixed to the right-hand side of the browser window.
//
// Side Drawers are used as application layout components. By default they will appear fixed to the right-hand side of the browser window.
//
// ### Accessibility
// Depending on the use of the side drawer in your application, the appropriate role (and corresponding attributes) to use can vary.
//  * **`role="complementary"`** - Acts as a supporting section, designed to be complementary to the main content at a similar level in the DOM hierarchy, but remains meaningful when separated from the main content. ([W3C documentation](https://www.w3.org/TR/wai-aria/roles#complementary))
//  * **`role="log"`** - Acts as a 'live region' where new information is added in meaningful order and old information may disappear. ([MDN documentation](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_log_role))
//   * A 'live region' is a region of a web page that is typically updated as a result of an external event when user focus may be elsewhere. ([W3C documentation](https://www.w3.org/TR/wai-aria-practices/#LiveRegions))
//   * The `aria-live` attribute for this role should be set to `polite` so that users are notified of change at the next graceful opportunity, even when the side drawer isn't in focus. ([W3C documentation](https://www.w3.org/TR/wai-aria/states_and_properties#aria-live))
//  * **`role="dialog"`** - Acts as a 'non-modal' dialog where it is still possible to interact with the content outside of the dialog while it is being displayed. ([MDN documentation](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_dialog_role))
//
// Markup:
// <div class="xui-sidedrawer xui-sidedrawer-layout" role="complementary" aria-labelledby="drawer-header">
//   <div class="xui-sidedrawer--header">
//     <h3 id="drawer-header" class="xui-heading-item">Header</h3>
//   </div>
//   <div class="xui-sidedrawer--content">
//     Body content<br />
//     Body content<br />
//     Body content<br />
//     Body content
//   </div>
//   <div class="xui-sidedrawer--footer">
//     Footer content
//   </div>
// </div>
//
// Styleguide: Building Blocks.Drawer

// Class list
//
// Classes:
// xui-sidedrawer: Container for a side drawer
// xui-sidedrawer--content: Container for the body of a side drawer
// xui-sidedrawer--footer: Container for the footer of a side drawer
// xui-sidedrawer--header: Container for the header of a side drawer
// xui-sidedrawer-is-closed: Hide the side drawer
// xui-sidedrawer-layout: Recommended layout for a side drawer
//
// Styleguide: Building Blocks.Drawer.50

$xui-drawer-width: 350px;

.#{$ns}-sidedrawer {
	background: $xui-color-grey-alpha-6;
	border-left: 1px solid $xui-color-grey-alpha-4;
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	transition: all $xui-motion-speed-fast $xui-motion-curve-standard;
	width: $xui-drawer-width;
}

.#{$ns}-sidedrawer-is-closed {
	right: -$xui-drawer-width;
}

.#{$ns}-sidedrawer--header {
	background: $xui-color-white;
	border-bottom: 1px solid $xui-color-grey-alpha-4;
	box-sizing: border-box;
	font-weight: bold;
	text-align: center;
	width: 100%;
	z-index: 5;
}


.#{$ns}-sidedrawer--footer {
	background: $xui-color-white;
	border-top: 1px solid $xui-color-grey-alpha-4;
	box-sizing: border-box;
	width: 100%;
	z-index: 5;
}

.#{$ns}-sidedrawer-layout {
	display: flex;
	flex-flow: column nowrap;

	.#{$ns}-sidedrawer--content {
		flex: 1 1 auto;
	}

	.#{$ns}-sidedrawer--header {
		align-items: center;
		display: flex;
		flex: 0 0 50px;
		justify-content: center;
	}

	.#{$ns}-sidedrawer--header > .#{$ns}-section-title {
		margin: 0;
	}

	.#{$ns}-sidedrawer--footer {
		align-self: flex-end;
		display: flex;
		flex: 0 0 auto;
		flex-flow: row nowrap;
		max-height: calc(100% - 50px);
		min-height: 50px;
	}
}
