@import "../vars";
@import "../mixins";

// Side Drawers
//
// Side Drawers are used as application layout components. By default they will appear fixed to the right hand side of the browser window.
//
// ### Accessibility
// Depending on the use of the side drawer in your application, the appropriate role (and corresponding attributes) to use can vary.
//  * **`role="complementary"`** - Acts as a supporting section, designed to be complementary to the main content at a similar level in the DOM hierarchy, but remains meaningful when separated from the main content. ([W3C documentation](https://www.w3.org/TR/wai-aria/roles#complementary))
//  * **`role="log"`** - Acts as a 'live region' where new information is added in meaningful order and old information may disappear. ([MDN documentation](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_log_role))
//   * A 'live region' is a region of a web page that is typically updated as a result of an external event when user focus may be elsewhere. ([W3C documentation](https://www.w3.org/TR/wai-aria-practices/#LiveRegions))
//   * The `aria-live` attribute for this role should be set to `polite` so that users are notified of change at the next graceful opportunity, even when the side drawer isn't in focus. ([W3C documentation](https://www.w3.org/TR/wai-aria/states_and_properties#aria-live))
//  * **`role="dialog"`** - Acts as a 'non-modal' dialog where it is still possible to interact with the content outside of the dialog while it is being displayed. ([MDN documentation](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_dialog_role))
//
// Markup:
//	<div class="xui-sidedrawer" role="complementary" aria-labelledby="drawer-header">
//		<div class="xui-sidedrawer--header">
//			<h3 id="drawer-header" class="xui-section-title">Header</h3>
//		</div>
//		<div class="xui-sidedrawer--content">
//			Body content<br />
//			Body content<br />
//			Body content<br />
//			Body content
//		</div>
//		<div class="xui-sidedrawer--footer">
//			Footer content
//		</div>
//	</div>
//
// Styleguide: Sidedrawer
$xui-drawer-width: 350px;

.#{$ns}-sidedrawer {
	background: $xui-color-background;
	border-left: 1px solid $xui-color-border;
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	transition: all $xui-transition-duration-short $xui-easing-standard;
	width: $xui-drawer-width;
}

.#{$ns}-sidedrawer-is-closed {
	right: -$xui-drawer-width;
}

.#{$ns}-sidedrawer--header {
	@include xui-bold;
	align-items: center;
	background: $xui-color-panel;
	border-bottom: 1px solid $xui-color-border;
	box-sizing: border-box;
	display: flex;
	flex: 0 0 50px;
	justify-content: center;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 5;

	.#{$ns}-section-title {
		margin: 0;
	}
}

.#{$ns}-sidedrawer--content {
	flex: 1 1 auto;
}

.#{$ns}-sidedrawer--footer {
	align-self: flex-end;
	background: $xui-color-panel;
	border-top: 1px solid $xui-color-border;
	box-sizing: border-box;
	display: flex;
	flex: 0 0 auto;
	flex-flow: row nowrap;
	max-height: calc(100% - 50px);
	min-height: 50px;
	width: 100%;
	z-index: 5;
}
