@import "../vars";

// Steps
//
// Flag: Deprecated
//
// Teaser: Creating a step by step process
//
// Introduction: Please use the stepper Componentes and classes
//
// Styleguide: Compounds.Navigation.Stepper.4

// Best practice
//
// Tips:
// Do: Use steps for introducing or setting up new features
// Do: Additional steps may be added or removed based on choices within each step
// Warning: Avoid validating across multiple steps, isolate to each step instead
// Warning: Avoid steps for non-linear flows, use a sidebar instead
//
// Styleguide: Compounds.Navigation.Stepper.4.1

// Anatomy
//
// To create a series of steps, use the following classes.
// Make sure to wrap them inside a `<nav>` element for greater accessibility.
//
// Classes:
// xui-steps: Container for a group of steps
// xui-steps-interactive: Modifier to provide interactive styling
//
// Styleguide: Compounds.Navigation.Stepper.4.2

// Steps
//
// To create the steps themselves, use the following classes.
// Text content must precede icons to provide the correct positioning.
//
// Classes:
// xui-step: Container for an individual step
// xui-step-layout: Recommended layout for an individual step
// xui-step--body: Text content for a step
// xui-step--icon: Trailing icon for all but the last step
//
// Markup:
// <nav class="xui-panel">
//    <ol class="xui-steps xui-steps-interactive">
//      <li class="xui-step xui-step-layout">
//        <span class="xui-step--body">One</span>
//        <svg focusable="false" class="xui-step--icon xui-icon xui-u-rotate-270"><use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//      </li>
//      <li class="xui-step xui-step-layout">
//        <span class="xui-step--body">Two</span>
//        <svg focusable="false" class="xui-step--icon xui-icon xui-u-rotate-270"><use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//      </li>
//      <li class="xui-step xui-step-layout">
//        <span class="xui-step--body">Three</span>
//      </li>
//    </ol>
// </nav>
//
// Styleguide: Compounds.Navigation.Stepper.4.3

// xui-step-is-complete: Modifier for a completed step
// xui-step-is-selected: Modifier for the current step

// States
//
// To indicate which steps are complete, selected, or not yet selectable, use the following modifiers.
// Use `<a>` elements for completed steps, and `<span>` elements for all others.
//
// Classes:
// xui-step-is-complete: Modifier for a completed step
// xui-step-is-selected: Modifier for the current step
//
// Markup:
// <nav class="xui-panel">
//    <ol class="xui-steps xui-steps-interactive">
//      <li class="xui-step xui-step-layout xui-step-is-complete">
//        <a class="xui-step--body" href="#">Past</a>
//        <svg focusable="false" class="xui-step--icon xui-icon xui-u-rotate-270"><use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//      </li>
//      <li class="xui-step xui-step-layout xui-step-is-selected">
//        <span class="xui-step--body">Present</span>
//        <svg focusable="false" class="xui-step--icon xui-icon xui-u-rotate-270"><use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//      </li>
//      <li class="xui-step xui-step-layout">
//        <span class="xui-step--body">Future</span>
//      </li>
//    </ol>
// </nav>
//
// Styleguide: Compounds.Navigation.Stepper.4.4

.#{$ns}-steps {
	@include xui-listreset;
	color: $xui-color-grey-alpha-2;
	cursor: default;
	display: flex;
	justify-content: center;
}

.#{$ns}-step {
	align-items: center;
	display: flex;
	position: relative;

	@include xui-all-but-last() {
		margin-right: 30px; // Offset .xui-step--icon
	}

	&::after {
		background-color: transparent;
		bottom: 0;
		content: "";
		display: block;
		height: 3px;
		left: 10px; // Offset $xui-s-actionlink
		position: absolute;
		width: calc(100% - 20px); // (100%) - (20px offset $xui-s-actionlink)
	}
}

.#{$ns}-step-layout {
	@include xui-padding-vertical($xui-s-standard);
}

// Step icon
.#{$ns}-step--icon {
	position: absolute;
	right: -30px;
	top: calc(50% - 15px);
}

// Step text
.#{$ns}-step--body {
	@include xui-text-line-height-compact;

	color: currentColor;
	outline: none;
	padding: $xui-s-actionlink;
	text-align: center;
}

// Completed step
.#{$ns}-step-is-complete {
	.#{$ns}-step--body {
		color: $xui-color-black;
	}
}

// Selected step
.#{$ns}-step-is-selected {
	.#{$ns}-step--body {
		color: $xui-color-xero-blue;
	}

	&::after {
		background-color: $xui-color-xero-blue;
	}
}

// Interactive completed step
.#{$ns}-steps-interactive {
	.#{$ns}-step-is-complete .#{$ns}-step--body {
		&:hover {
			color: $xui-color-xero-blue;
		}

		&:focus {
			background-color: rgba($xui-color-grey-1, 0.05);
			border-radius: $xui-radius;
		}

		&:active {
			background-color: rgba($xui-color-grey-1, 0.1);
			border-radius: $xui-radius;
		}
	}
}

// -------------- //
// <XUIStepper /> //
// -------------- //

@mixin stepperLinkColor($color) {
	color: $color;

	.#{$ns}-stepper-link-icon:before {
		background: $color;
	}

	.#{$ns}-stepper-link-progress .#{$ns}-progress-circular-current {
		stroke: $color;
	}
}

.#{$ns}-stepper-wrapper {
	display: flex;
	flex-direction: column;
}

.#{$ns}-stepper-inline {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.#{$ns}-stepper-sidebar {

	@include xui-suports-css-grid {
		display: grid;
		grid-template-columns: auto 1fr;
		// grid-template-rows: (dynamicly set via JS);
	}
}

.#{$ns}-stepper-tests {
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.#{$ns}-stepper-tab {
	position: relative;

	&:before,
	&:after {
		background: $xui-color-grey-5;
		content: '';
		display: block;
		height: calc(50% - #{$xui-s-large});
		left: 30px;
		position: absolute;
		top: 0;
		width: 1px;
	}

	&:after {
		bottom: 0;
		top: initial;
	}
}

.#{$ns}-stepper-tab-first {
	padding-top: 0;
}

.#{$ns}-stepper-tab-last {
	padding-bottom: 0;
}

.#{$ns}-stepper-sidebar .#{$ns}-stepper-tab {

	@include xui-suports-css-grid {
		// Reset any "Stacked" layout flex ordering set via JS (only if Grid is supported,
		// otherwise we keep the order as the "Stacked" layout will be used as a fallback).
		order: 0 !important;
	}
}

.#{$ns}-stepper-inline .#{$ns}-stepper-tab {
	// Reset any "Stacked" layout flex ordering set via JS when using an "Inline" layout.
	order: 0 !important;
	padding: 0 30px;

	&:before,
	&:after {
		height: 1px;
		left: 0;
		top: 50%;
		width: 30px;
	}

	&:after {
		left: inherit;
		right: 0;
	}
}

.#{$ns}-stepper-inline .#{$ns}-stepper-tab-first {
	padding-left: 0;
}

.#{$ns}-stepper-inline .#{$ns}-stepper-tab-last {
	padding-right: 0;
}

.#{$ns}-stepper-tab-first:before,
.#{$ns}-stepper-tab-last:after {
	display: none;
}

.#{$ns}-stepper-section {
	order: 0;
	padding-left: 60px;
	position: relative;
	width: 100%;

	&:before {
		background: $xui-color-grey-5;
		bottom: 0;
		content: '';
		display: block;
		left: 30px;
		position: absolute;
		top: 0;
		width: 1px;
	}
}

.#{$ns}-stepper-sidebar .#{$ns}-stepper-section {

	@include xui-suports-css-grid {
		grid-column-end: -1;
		grid-column-start: 2;
		grid-row-end: -1;
		grid-row-start: 1;
		padding: 0 0 0 30px;

		&:before {
			display: none;
		}
	}
}

.#{$ns}-stepper-inline .#{$ns}-stepper-section {
	padding: 30px 0 0;

	&:before {
		display: none;
	}
}

.#{$ns}-stepper-link {
	@include xui-button-reset;
	@include stepperLinkColor($xui-color-grey-1);
	align-items: center;
	display: block;
	height: 100%;
	padding: 10px;
	width: 100%;

	&.#{$ns}-stepper-link-active:hover,
	&.#{$ns}-stepper-link-standard:hover,
	&.#{$ns}-stepper-link-error:hover {
		@include stepperLinkColor($xui-color-blue-xdark);
	}

	&.#{$ns}-stepper-link-disabled:hover {
		@include stepperLinkColor($xui-color-grey-5);
	}

	&.#{$ns}-stepper-link-standard:focus,
	&.#{$ns}-stepper-link-error:focus {
		@include stepperLinkColor($xui-color-blue-xdark);
		background: $xui-color-grey-alpha-7;
	}

	&.#{$ns}-stepper-link-standard:active,
	&.#{$ns}-stepper-link-error:active {
		@include stepperLinkColor($xui-color-blue-xdark);
		background: $xui-color-grey-alpha-6;
	}

	&.#{$ns}-stepper-link-disabled:focus {
		@include stepperLinkColor($xui-color-grey-5);
		background: transparent;
	}
}

.#{$ns}-stepper-link,
.#{$ns}-stepper-link-icon,
.#{$ns}-stepper-link-icon:before,
.#{$ns}-stepper-link-progress {
	transition: {
		duration: $xui-motion-speed-fast;
		property: background, color;
	}
}

.#{$ns}-stepper-inline .#{$ns}-stepper-link {
	border-radius: 9999px;
	padding: 0;
}

.#{$ns}-stepper-link-wrapper {
	align-items: center;
	display: flex;
	padding-right: $xui-s-standard;
	text-align: left;
}

.#{$ns}-stepper-stacked-links {
	align-items: start;

	.#{$ns}-stepper-tab:before,
	.#{$ns}-stepper-tab:after {
		top: 16px;
		width: calc(50% - 20px);
	}

	.#{$ns}-stepper-tab-first:after,
	.#{$ns}-stepper-tab-last:before {
		width: calc(50% - 5px);
	}

	.#{$ns}-stepper-link {
		background: transparent;
		border-radius: 0;
		margin-top: -3px;

		&.#{$ns}-stepper-link-standard:focus,
		&.#{$ns}-stepper-link-error:focus {
			background: transparent;

			.#{$ns}-stepper-link-icon,
			.#{$ns}-stepper-link-progress {
				background: $xui-color-grey-alpha-7;
			}
		}

		&.#{$ns}-stepper-link-standard:active,
		&.#{$ns}-stepper-link-error:active {
			background: transparent;

			.#{$ns}-stepper-link-icon,
			.#{$ns}-stepper-link-progress {
				background: $xui-color-grey-alpha-6;
			}
		}
	}

	.#{$ns}-stepper-link-disabled:focus {

		.#{$ns}-stepper-link-icon,
		.#{$ns}-stepper-link-progress {
			background: transparent;
		}
	}

	.#{$ns}-stepper-link-wrapper {
		display: block;
		padding: 0 10px;
		text-align: center;
	}

	.#{$ns}-stepper-link-icon,
	.#{$ns}-stepper-link-progress {
		border-radius: 50%;
	}

	.#{$ns}-stepper-link-active {

		.#{$ns}-stepper-link-icon,
		.#{$ns}-stepper-link-progress {
			background: transparent;
		}
	}
}

.#{$ns}-stepper-link-icon,
.#{$ns}-stepper-link-progress {
	$size: 40px;
	display: inline-block;
	flex-shrink: 0;
	height: $size;
	position: relative;
	width: $size;

	&:before {
		$offset: 10px;
		border-radius: 50%;
		bottom: $offset;
		content: '';
		display: block;
		left: $offset;
		position: absolute;
		right: $offset;
		top: $offset;
	}
}

.#{$ns}-stepper-icon-complete,
.#{$ns}-stepper-link-step {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.#{$ns}-stepper-link-step {
	color: $xui-color-white;
	font: {
		size: $xui-font-size-xsmall;
		weight: $xui-font-weight-emphasis;
	}
	margin-top: -1px;
}

.#{$ns}-stepper-icon-complete,
.#{$ns}-stepper-icon-error {
	fill: $xui-color-white;
}

.#{$ns}-stepper-icon-complete {
	height: 8px;
	width: 10px;
}

.#{$ns}-stepper-icon-error {
	height: 7px;
	left: calc(50% - 1px);
	position: absolute;
	top: calc(50% - 3px);
	transform: initial;
	width: 2px;
}

.#{$ns}-stepper-link-progress {
	padding: 10px;
}

.#{$ns}-stepper-link-heading,
.#{$ns}-stepper-link-description {
	color: inherit;
	display: block;
}

.#{$ns}-stepper-link-description {
	font-size: $xui-font-size-xsmall;
}

.#{$ns}-stepper-link-error {
	@include stepperLinkColor($xui-color-negative);
}

.#{$ns}-stepper-link-active {
	@include stepperLinkColor($xui-color-blue);
	background: transparent;
}

.#{$ns}-stepper-link-disabled {
	@include stepperLinkColor($xui-color-grey-5);
	cursor: not-allowed;
}
