@import "../vars";

// Steps
//
// Steps can be used in panel headers for interactive wizards or for just showing the current step in a read-only process.
// Make sure that the `xui-step--icon` element comes after the `xui-step--body` element for correct positioning.
// Use `<br />` elements to create multi-line text.
//
// #### Class Names
//
// `xui-step`	Container for a step
//
// `xui-step--body`	Container for the body text of a step (inside `xui-step`)
//
// `xui-step--icon`	Container for the trailing icon of a step (inside `xui-step`)
//
// `xui-step-is-complete`	Modifier for a completed step
//
// `xui-step-is-selected`	Modifier for the currently selected step
//
// `xui-step-layout`	Recommended layout for a step
//
// `xui-steps`	Container for a group of steps
//
// `xui-steps-interactive`	Enable navigation between completed steps
//
// Weight: 4.1
//
// Styleguide: Steps

// Interactive Steps
//
// Use the `xui-steps-interactive` class alongside `xui-steps` to allow the user to navigate between completed steps.
// Make sure to also wrap the `<ol>` element inside a `<nav>` element for greater accessibility.
//
// Use the `xui-step--body` class with a `<a>` element for completed steps and a `<span>` element for all others.
//
// Markup:
// <div class="xui-panel">
//   <header class="xui-panel--header">
//     <nav>
//       <ol class="xui-steps xui-steps-interactive">
//         <li class="xui-step xui-step-layout xui-step-is-complete">
//           <a class="xui-step--body" href="#">Denial</a>
//           <svg focusable="false" class="xui-step--icon xui-icon xui-icon-rotate-270"><use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//         </li>
//         <li class="xui-step xui-step-layout xui-step-is-complete">
//           <a class="xui-step--body" href="#">Anger</a>
//           <svg focusable="false" class="xui-step--icon xui-icon xui-icon-rotate-270"><use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//         </li>
//         <li class="xui-step xui-step-layout xui-step-is-selected">
//           <span class="xui-step--body">Bargaining</span>
//           <svg focusable="false" class="xui-step--icon xui-icon xui-icon-rotate-270"><use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//         </li>
//         <li class="xui-step xui-step-layout">
//           <span class="xui-step--body">Depression</span>
//           <svg focusable="false" class="xui-step--icon xui-icon xui-icon-rotate-270"><use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//         </li>
//         <li class="xui-step xui-step-layout">
//           <span class="xui-step--body">Acceptance</span>
//         </li>
//       </ol>
//     </nav>
//   </header>
// </div>
//
// Styleguide: Steps.1

// Read-only Steps
//
// An example of read-only steps with multi-line text. Use `<br />` elements to create multi-line text.
//
// Markup:
// <div class="xui-panel">
//   <header class="xui-panel--header">
//     <ol class="xui-steps">
//       <li class="xui-step xui-step-layout xui-step-is-complete">
//         <span class="xui-step--body">Fear<br />leads to anger</span>
//         <svg focusable="false" class="xui-step--icon xui-icon xui-icon-rotate-270"><use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//       </li>
//       <li class="xui-step xui-step-layout xui-step-is-complete">
//         <span class="xui-step--body">Anger<br />leads to hate</span>
//         <svg focusable="false" class="xui-step--icon xui-icon xui-icon-rotate-270"><use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//       </li>
//       <li class="xui-step xui-step-layout xui-step-is-selected">
//         <span class="xui-step--body">Hate<br />leads to suffering</span>
//         <svg focusable="false" class="xui-step--icon xui-icon xui-icon-rotate-270"><use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//       </li>
//       <li class="xui-step xui-step-layout">
//         <span class="xui-step--body">Suffering<br />leads to the dark side</span>
//         <svg focusable="false" class="xui-step--icon xui-icon xui-icon-rotate-270"><use xlink:href="#xui-icon-arrow-small" role="presentation" /></svg>
//       </li>
//       <li class="xui-step xui-step-layout">
//         <span class="xui-step--body">"Nooooooooooooo!"<br />- Darth Vader</span>
//       </li>
//     </ol>
//   </header>
// </div>
//
// Styleguide: Steps.2

.#{$ns}-steps {
	color: $xui-color-secondary-text;
	cursor: default;
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.#{$ns}-step {
	align-items: center;
	display: flex;
	position: relative;

	@include xui-all-but-last() {
		margin-right: 30px; // Offset .xui-step--icon
	}

	&::after {
		background-color: transparent;
		bottom: 0;
		content: "";
		display: block;
		height: 3px;
		left: 10px; // Offset $xui-s-actionlink
		position: absolute;
		width: calc(100% - 20px); // (100%) - (20px offset $xui-s-actionlink)
	}
}

.#{$ns}-step-layout {
	@include xui-padding-vertical($xui-s-standard);
}

// Step icon
.#{$ns}-step--icon {
	position: absolute;
	right: -30px;
	top: calc(50% - 15px);
}

// Step text
.#{$ns}-step--body {
	@include xui-text-line-height-compact;

	color: currentColor;
	outline: none;
	padding: $xui-s-actionlink;
	text-align: center;
}

// Completed step
.#{$ns}-step-is-complete {
	.#{$ns}-step--body {
		color: $xui-color-black;
	}
}

// Selected step
.#{$ns}-step-is-selected {
	.#{$ns}-step--body {
		color: $xui-color-xero-blue;
	}

	&::after {
		background-color: $xui-color-xero-blue;
	}
}

// Interactive completed step
.#{$ns}-steps-interactive {
	.#{$ns}-step-is-complete .#{$ns}-step--body {
		&:hover {
			color: $xui-color-xero-blue;
		}

		&:focus {
			background-color: rgba($xui-color-grey-1, 0.05);
			border-radius: $xui-radius;
		}

		&:active {
			background-color: rgba($xui-color-grey-1, 0.1);
			border-radius: $xui-radius;
		}
	}
}
