/**
 * Styles for the tabbed elements.  These typically sit above <section>
 * elements, controlling the display of them.
 */

@import "../tools/mixins";
@import "../settings/colours";

// Tabs
//
// Applied to sections that have tabs in them, removes the padding so that the
// bottom of the tabs are flush with the top of the section they manage.
// NOTE: Keep an eye on this one... there might be a better way to declare a
//       tab section without having to undo existing section padding.
//
// Markup:
//	<div class="xui-tabbed-navigation">
//		<ul class="xui-tabgroup">
//			<li class="xui-tab">
//				<a class="xui-tab--body" href="#default">Default</a>
//			</li>
//			<li class="xui-tab xui-tab-is-selected">
//				<a class="xui-tab--body" href="#selected_default">Selected Default</a>
//			</li>
//			<li class="xui-tab xui-tab-pagenav">
//				<a class="xui-tab--body" href="#g-header">Page nav</a>
//			</li>
//			<li class="xui-tab xui-tab-pagenav xui-tab-pagenav-is-selected">
//				<a class="xui-tab--body" href="#selected_pagenav">Selected Page nav</a>
//			</li>
//		</ul>
//	</div>
//
// Styleguide: Tabs
.#{$ns}-tabbed-navigation {
	padding-bottom: 0;
}

.#{$ns}-tabgroup {
	color: $color-secondary-text;
	display: flex;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
}

// Put all the variations of tabs you need in here
// Makes for an easy place to store and create new variations of tabs with different colours.
//
// (text-color, border-color, hover-text-color, hover-border-color)
$color-variations: (
	"#{$ns}-tab-is-selected":($color-primary-text, $color-primary-text, $color-primary-text, $color-primary-text),
	"#{$ns}-tab-pagenav":($color-reversed-text, transparent, $color-xero-light-blue, $color-xero-light-blue),
	"#{$ns}-tab-pagenav-is-selected":($color-xero-light-blue, $color-xero-light-blue, $color-xero-light-blue, $color-xero-light-blue)
);

// Individual tabs
// -----------------------------------------------------------------------------
@mixin tab-variation($color, $bg-color, $hover-color, $hover-bg-color) {
	.#{$ns}-tab--body {
		color: $color;

		&:after {
			background-color: $bg-color;
		}

		&:hover {
			color: $hover-color;
		}

		&:hover:after {
			background-color: $hover-bg-color;
		}
	}
}

.#{$ns}-tab {
	margin: 0;

	.#{$ns}-tab--body {
		color: $color-secondary-text;
		cursor: pointer;
		display: inline-block;
		line-height: 1.2;
		padding: 0.5em 1em 0;
		text-align: center;

		&:after {
			background-color: transparent;
			content: " ";
			display: block;
			height: 3px;
			margin: 6px 0 0.5px;
		}

		&:hover {
			color: $color-primary-text;
			text-decoration: none; // Fix for no more normalize
		}

		&:hover:after {
			background-color: $color-primary-text;
		}
	}
}

.#{$ns}-tab {
	&:first-of-type .#{$ns}-tab--body {
		padding-left: 0;
	}

	&:last-of-type .#{$ns}-tab--body {
		padding-right: 0;
	}
}

@each $variation, $colors in $color-variations {
	.#{$variation} {
		@include tab-variation(nth($colors, 1), nth($colors, 2), nth($colors, 3), nth($colors, 4));
	}
}


