/**
 * Styles for the tabbed elements.  These typically sit above <section>
 * elements, controlling the display of them.
 */

@import "../tools/mixins";
@import "../settings/colours";

// Tabs
//
// Applied to sections that have tabs in them, removes the padding so that the
// bottom of the tabs are flush with the top of the section they manage.
// NOTE: Keep an eye on this one... there might be a better way to declare a
//       tab section without having to undo existing section padding.
//
// Markup:
//	<div class="xui-tabbed-navigation">
//		<div class="xui-tabgroup">
//			<div class="xui-tab">xui-tab</div>
//			<div class="xui-tab">xui-tab</div>
//			<div class="xui-tab">xui-tab</div>
//		</div>
//	</div>
//
// Styleguide: Tabs
.#{$ns}-tabbed-navigation {
	padding-bottom: 0;
}

.#{$ns}-tabgroup {
	color: $color-secondary-text;
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.#{$ns}-tabgroup-start {
	justify-content: flex-start;
}

// Individual tabs
// -----------------------------------------------------------------------------

.#{$ns}-tab {
	color: $color-secondary-text;
	cursor: pointer;
	margin: 0;
	padding: 0.5em 1em 0;
	text-align: center;

	&:hover {
		color: $color-primary-text;
	}

	&:after {
		content : " ";
		background-color: transparent;
		display: block;
		height: 3px;
		margin-top: 6px;
	}

	&:hover:after {
		background-color: $color-primary-text;
	}
}

.#{$ns}-tab-selected {
	color : $color-primary-text;

	&:after {
		background-color: $color-primary-text;
	}
}
