// Tabs
//
// Styles for the tabbed elements.  These typically sit above `<section>`
// elements, controlling the display of them.
//
// ## A note on accessibility (aria)
//
// When clicking a tab results in a URL change, it is recommended to apply the `role="navigation"` and `aria-label` attributes.
// When the intent is to have a panel, that exhibits behaviour similar to on-page JS tabs (i.e switches to a
// corresponding view without changing the URL), then it is recommended to apply the `tablist` role instead of `navigation`.
//
// [Example tablist implementation](http://accessibility.athena-ict.com/aria/examples/tabpanel2.shtml)
//
// Key changes
//
// `role="tablist"` instead of `role="navigation"`
//
// Tabs should be marked up with `role="tab"` `tabindex="0"` `aria-controls="panelN"` `id="tabN"` `aria-selected="boolean"`
//   - When selected should have `aria-selected="true"`
//   - When not selected should have `aria-selected="false"`
//
// Panels should be marked up with `id="panelN"` `aria-hidden="boolean"` `aria-labelledby="tabN"`.
// Note: All Panels should be rendered to the document and should have visual states updated based on selected tabs
//   - When hidden should have `class="xui-u-hidden-visually"` and `aria-hidden="true"` or
//   - When visible should have only `aria-hidden="false"`
//
// Styleguide: Tabs

@import "../tools/mixins";
@import "../settings/colours";

// Horizontal
//
// Applied to sections that have tabs in them, removes the padding so that the
// bottom of the tabs are flush with the top of the section they manage.
// NOTE: Keep an eye on this one... there might be a better way to declare a
//       tab section without having to undo existing section padding.
//
// Markup:
//	<div class="xui-tabbednav" role="navigation" aria-label="Tertiary">
//		<ul class="xui-tabgroup">
//			<li class="xui-tab">
//				<a class="xui-tab--body" href="#default">Default</a>
//			</li>
//			<li class="xui-tab xui-tab-is-selected" aria-selected="true">
//				<a class="xui-tab--body" href="#selected_default">Selected Default</a>
//			</li>
//		</ul>
//	</div>
//	<br />
//	<div class="xui-tabbednav" role="navigation" aria-label="Secondary">
//		<ul class="xui-tabgroup">
//			<li class="xui-tab xui-tab-pageheading">
//				<a class="xui-tab--body" href="#g-header">Page heading</a>
//			</li>
//			<li class="xui-tab xui-tab-pageheading xui-tab-pageheading-is-selected" aria-selected="true">
//				<a class="xui-tab--body" href="#selected_pagenav">Selected heading</a>
//			</li>
//		</ul>
//	</div>
//	<br />
//	<div class="xui-tabbednav xui-pagenav" role="navigation" aria-label="Primary">
//		<ul class="xui-tabgroup">
//			<li class="xui-tab xui-tab-pagenav">
//				<a class="xui-tab--body" href="#g-header">Page nav</a>
//			</li>
//			<li class="xui-tab xui-tab-pagenav xui-tab-pagenav-is-selected" aria-selected="true">
//				<a class="xui-tab--body" href="#selected_pagenav">Selected Page nav</a>
//			</li>
//		</ul>
//	</div>
//
// Styleguide: Tabs.1
.#{$ns}-tabbednav,
// FIXME: remove .#{$ns}-tabbed-navigation in 10.0.0
.#{$ns}-tabbed-navigation {
	padding-bottom: 0;
}

.#{$ns}-tabgroup {
	color: $color-secondary-text;
	display: flex;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
}

// Put all the variations of tabs you need in here
// Makes for an easy place to store and create new variations of tabs with different colours.
//
// (text-color, border-color, hover-text-color, hover-border-color)
$color-variations: (
	"#{$ns}-tab-is-selected":($color-primary-text, $color-primary-text, $color-primary-text, $color-primary-text),
	"#{$ns}-tab-pageheading":($color-primary-text, transparent, $color-xero-blue, $color-xero-blue),
	"#{$ns}-tab-pageheading-is-selected":($color-xero-blue, $color-xero-blue, $color-xero-blue, $color-xero-blue),
	"#{$ns}-tab-pagenav":($color-reversed-text, transparent, $color-xero-light-blue, $color-xero-light-blue),
	"#{$ns}-tab-pagenav-is-selected":($color-xero-light-blue, $color-xero-light-blue, $color-xero-light-blue, $color-xero-light-blue)
);

// Individual tabs
// -----------------------------------------------------------------------------
@mixin tab-variation($color, $bg-color, $hover-color, $hover-bg-color) {
	.#{$ns}-tab--body {
		color: $color;

		&:after {
			background-color: $bg-color;
		}

		&:hover {
			color: $hover-color;
		}

		&:hover:after {
			background-color: $hover-bg-color;
		}
	}
}

.#{$ns}-tab {
	margin: 0;

	.#{$ns}-tab--body {
		color: $color-secondary-text;
		cursor: pointer;
		display: inline-block;
		line-height: 1.2;
		padding: 0.5em 1em 0;
		text-align: center;

		&:after {
			background-color: transparent;
			content: " ";
			display: block;
			height: 3px;
			margin: 6px 0 0.5px;
		}

		&:hover {
			color: $color-primary-text;
			text-decoration: none; // Fix for no more normalize
		}

		&:hover:after {
			background-color: $color-primary-text;
		}
	}
}

.#{$ns}-tab {
	&:first-of-type .#{$ns}-tab--body {
		padding-left: 0;
	}

	&:last-of-type .#{$ns}-tab--body {
		padding-right: 0;
	}
}

@each $variation, $colors in $color-variations {
	.#{$variation} {
		@include tab-variation(nth($colors, 1), nth($colors, 2), nth($colors, 3), nth($colors, 4));
	}
}

// Vertical
//
// Applied to sections that have tabs in them, removes the padding so that the
// bottom of the tabs are flush with the top of the section they manage.
// NOTE: Keep an eye on this one... there might be a better way to declare a
//       tab section without having to undo existing section padding.
//
// Markup:
//	<ul class="xui-tabgroup xui-tabgroup-vertical" role="navigation" aria-label="Tertiary">
//		<li class="xui-verticaltab">
//			<a class="xui-verticaltab--body" href="#default">Default</a>
//		</li>
//		<li class="xui-verticaltab xui-verticaltab-is-selected" aria-selected="true">
//			<a class="xui-verticaltab--body" href="#selected_default">Selected Default</a>
//		</li>
//		<li class="xui-verticaltab">
//			<a class="xui-verticaltab--body" href="#other">Other</a>
//		</li>
//	</ul>
//	<ul class="xui-tabgroup xui-tabgroup-vertical">
//		<li class="xui-verticaltab">
//			<a class="xui-verticaltab--body" href="#secondgroup">Second Group</a>
//		</li>
//	</ul>
//
// Styleguide: Tabs.2

.#{$ns}-tabgroup-vertical {
	display: flex;
	flex-flow: column nowrap;
	list-style: none;
	margin: px-to-rem(5) 0;
	padding: 0;
}

/*
	:nth-child(n+2) is the same as saying,
	select all elements with this class that have the same parent,
	except for the very first one
	https://css-tricks.com/how-nth-child-works/
	https://css-tricks.com/examples/nth-child-tester/
*/
.#{$ns}-tabgroup-vertical:nth-child(n+2) {
	border-top: $border-standard;
	padding-top: px-to-rem(5);
}

.#{$ns}-verticaltab {
	border-left: px-to-rem(4) solid $color-white;
	position: relative;

	&:hover {
		background-color: $color-backgrounds;
		border-left: px-to-rem(4) solid $color-backgrounds;
	}
}

.#{$ns}-verticaltab-is-selected {
	border-left: px-to-rem(4) solid $color-xero-blue;

	&:hover {
		border-left: px-to-rem(4) solid $color-xero-blue;
	}
}

.#{$ns}-verticaltab--body {
	color: $color-primary-text;
	display: block;
	padding: px-to-rem(10);
	width: 100%;

	&:hover {
		text-decoration: none;
	}
}
