// Toasts
//
// The example displays in the bottom left of your screen.
//
// Markup:
//   <div class="xui-toast">
//     <p class="xui-toast--message">Toast Message</p>
//     <a class="xui-toast--message" href="#ToastLink">Toast Link Label</a>
//   </div>
//
// Styleguide: Toasts
.#{$ns}-toast {
	background: transparentize($color-grey-1, 0.1);
	border-radius: $radius;
	bottom: 0;
	box-shadow: $shadow-standard;
	color: $color-white;
	left: 0;
	margin: px-to-rem(20);
	opacity: 1;
	padding: px-to-rem(20);
	position: fixed;
	transition: opacity $transition-duration-super-quick ease-out;
	z-index: 10;
}

.#{$ns}-toast--message {
	display: inline;
	margin-right: px-to-rem(20);

	&:last-child {
		margin-right: 0;
	}
}

.#{$ns}-toast-is-hidden {
	opacity: 0;
	pointer-events: none;
}

@include mobile {
	.#{$ns}-toast {
		left: 50%;
		margin-left: 0;
		min-width: 70%;
		transform: translateX(-50%);
	}
}
