@import "../mixins";
@import "../vars";

// Standard Text
//
// Labels and placeholder clasees should only be used for forms. See [Labels](file:///Users/james/dev/uxe/xui/docs/section-forms.html#forms-3) in Forms for full demos.
//
// `xui-text-label` for labeling form fields
//
// `xui-text-placeholder` for showing placeholder content on readonly forms
//
// `xui-text-secondary`
//
// `xui-text-minor`
//
// Markup:
// <p>Plain old paragraph</p>
// <p class="xui-text-label">Form Labels</p>
// <p class="xui-text-placeholder">Placeholder</p>
// <p class="xui-text-secondary">Secondary text</p>
// <p class="xui-text-minor">Minor text</p>
//
// Styleguide: Typography.50

.#{$ns}-text-label {
	@include xui-text-emphasis;
	@include xui-text-muted;
	@include xui-text-small;
}

.#{$ns}-text-secondary {
	@include xui-text-muted;
	@include xui-text-small;
}

// New tiny muted text helper
.#{$ns}-text-minor {
	@include xui-text-muted;
	@include xui-text-xsmall;
}

.#{$ns}-text-placeholder {
	color: $xui-color-placeholder;
}

// Links
//
// Default link styling is applied to the `<a>` element. Minor link styling is
// provided for suplimentry links that are clickable but for which we do not
// want to draw attention to. This could be for secondary links or lists of links.
//
// #### Class Names
//
// `xui-link`, `xui-text-link` adds link hover and focus highlighting.
//
// `xui-text-minorlink` inherits it's parent text colour, but has standard link hover and focus highlighting
//
// Markup:
// <p><a class="xui-link">The quick brown fox jumps over the lazy dog</a></p>
// <p><a class="xui-text-minorlink">The quick brown fox jumps over the lazy dog</a></p>
// <p class="xui-text-secondary">
//   <a class="xui-text-minorlink">The quick brown fox jumps over the lazy dog</a>
// </p>
//
// Styleguide: Typography.51

.#{$ns}-link,
.#{$ns}-text-link {
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.#{$ns}-text-minorlink {
	color: inherit;

	&:hover,
	&:focus {
		color: $xui-color-xero-blue;
		text-decoration: underline;
	}
}

// Emphasis
//
// #### Class Names
//
// `xui-text-emphasis` To emphasise a particular piece of text when the default parent is set to normal (via a span element)
//
// `xui-text-deemphasis` To de-emphasise a particular piece of text when the default parent is set to bold (via a span element)
//
// Markup:
// <p>Please add a <span class="xui-text-emphasis">minimum of 3</span> employees</p>
// <p class="xui-text-emphasis">Edit Invoice <span class="xui-text-deemphasis">INV0001</span></p>
//
// Styleguide: Typography.56

.#{$ns}-text-emphasis {
	font-weight: $xui-font-weight-emphasis;
}

.#{$ns}-text-deemphasis {
	font-weight: $xui-font-weight-deemphasis;
}

// Letter Spacing
//
// #### Class Names
//
// `xui-text-spacing-tight` Tight letterspacing helps retain the impact of large copy
//
// `xui-text-spacing-loose` Loose letterspacing assists legibility for letterforms in
// smaller text blocks, especially those in uppercase
//
// Markup:
// <p class="xui-heading-display xui-text-spacing-tight">3 March</p>
// <p>Balance Sheet</p>
// <p class="xui-text-minor xui-text-spacing-loose">ABC</p>
//
// Styleguide: Typography.57

.#{$ns}-text-spacing-tight {
	@include xui-text-spacing-tight;
}

.#{$ns}-text-spacing-loose {
	@include xui-text-spacing-loose;
}
