@import "../mixins";
@import "../vars";

// Alignment
//
// Classes that can be added to change the alignment of text.
//
// #### Class Names
//
// `xui-text-leftaligned`	The default alignment for most other UI elements and body copy
//
// `xui-text-centered`	Helpful for centering headings and other short paragraphs (i.e. empty states, no results)
//
// `xui-text-rightaligned`	Mostly for numeric data, to assist with scanning via the decimal place
//
// Markup:
//  <p class="xui-text-leftaligned xui-text-emphasis">Email Address</p>
//  <p class="xui-text-centered xui-text-muted">No Results Found</p>
//  <p class="xui-text-rightaligned xui-heading-large xui-margin-none">100.00</p>
//  <p class="xui-text-rightaligned xui-heading-large xui-margin-none">10.00</p>
//
// Styleguide: Typography.52

.#{$ns}-text-leftaligned {
	text-align: left;
}

.#{$ns}-text-centered {
	text-align: center;
}

.#{$ns}-text-number,
.#{$ns}-text-rightaligned {
	text-align: right;
}

// Truncation
//
// Forces text to truncate after a single line of text, to suggest overflow, whilst still remaining within the bounds of the parent container.
//
// To truncate after an arbitrary number of lines, you will need a JavaScript component such as [line-clamping](https://github.dev.xero.com/reactlabs/line-clamping)
//
// #### Class Names
//
// `xui-text-truncated`	Modifier for truncated text with an ellipsis
//
// Markup:
//  <div style="width: 250px;">
//    <p class="xui-text-truncated">Hey Nathaniel, just wondering if it is ok for us to go ahead with the proposal from this morning?</p>
//  </div>
//
// Styleguide: Typography.53

.#{$ns}-text-truncated {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Word-break
//
// Long words without hyphens won't automatically break when they reach the edge of their container.
// They either enlarge the container, overflow or a scrollbar is created.
// Sometimes we want these words to break mid-way and flow to the next line instead of truncating them
// and losing some information.
//
// #### Class Names
//
// `xui-text-word-break`	Helps long words like URLs not break out of their parent container
//
// Markup:
//  <div style="width: 200px;">
//    <p class="xui-text-wordbreak">https://github.dev.xero.com/pages/UXE/xui/#10.14.0/index.html</p>
//  </div>
//
// Styleguide: Typography.54

/* doiuse-disable */
.#{$ns}-text-wordbreak {
	// chrome doesn't support this but what can you do ¯\_(ツ)_/¯
	hyphens: auto;

	// This is technically the same as word-wrap, but use both for maximum support
	overflow-wrap: break-word;

	// auto-prefixer wasn't putting this in in my tests so manually add it for IE11 support
	-ms-word-break: break-all;

	// This is for firefox support however it breaks mid word when spaces are present in firefox
	// so be aware of this
	word-break: break-all;

	// We want this to take precedence over word-break: break-all or words will break without
	// moving to the next line when they're separated by spaces
	word-wrap: break-word;
}
/* doiuse-enable */

//  Colors
//
// Styleguide: Typography.58

// Common colors
//
// `xui-text-color-standard`, `xui-text-color-black`
//
// `xui-text-color-muted`, `xui-text-muted`
//
// `xui-text-color-faint`
//
// Markup:
// <p class="xui-text-color-standard">The quick brown fox jumps over the lazy dog</p>
// <p class="xui-text-color-muted">The quick brown fox jumps over the lazy dog</p>
// <p class="xui-text-color-faint">The quick brown fox jumps over the lazy dog</p>
//
// Styleguide: Typography.58.1

// Text colors
//
// `xui-text-positive`	Positive sentiment text
//
// `xui-text-negative`	Negative sentiment text
//
// Markup:
// <p class="xui-text-positive">The quick brown fox jumps over the lazy dog</p>
// <p class="xui-text-negative">The quick brown fox jumps over the lazy dog</p>
//
// Styleguide: Typography.58.2

.#{$ns}-text-color-black,
.#{$ns}-text-color-standard {
	color: $xui-color-black;
}

.#{$ns}-text-color-white {
	color: $xui-color-white;
}

.#{$ns}-text-color-icon {
	color: $xui-color-icon;
}

.#{$ns}-text-muted,
.#{$ns}-text-color-muted {
	@include xui-text-muted;
}

.#{$ns}-text-color-faint {
	color: $xui-color-grey-3;
}

.#{$ns}-text-positive {
	@include xui-text-positive;
}

.#{$ns}-text-negative {
	@include xui-text-negative;
}

// Inverted text
//
// Inverts the text to provide a dark background and white text. These are most
// generic types for inverted colors. For inverted buttons please see [Icons](section-buttons.html#buttons-7) and [Toggles](section-buttons.html#buttons-10) in Buttons.
//
// #### Class Names
//
// `xui-text-inverted`	Style for inverted text, includes background color and text color
//
// `xui-text-color-white`	explicit color for text
//
// `xui-text-color-white-muted` white at 80% used for ...
//
// `xui-text-color-white-faint` white at 50% used for ...
//
// Markup:
// <div class="xui-row xui-text-inverted xui-padding">
//  <div class="xui-column-4-of-12 xui-heading-medium">
//    Preview Invoice <span class="xui-text-deemphasis">INV0001</span>
//  </div>
//  <div class="xui-column-4-of-12 xui-text-color-white-faint xui-text-centered">
//    Saving...
//  </div>
//  <div class="xui-column-4-of-12 xui-text-rightaligned xui-text-color-white-muted">
//  <svg focusable="false" class="xui-icon xui-icon-inline"> <use xlink:href="#xui-icon-edit" role="presentation"/></svg>
//  Edit
//  </div>
// </div>
//
// Styleguide: Typography.58.3

.#{$ns}-text-inverted {
	background-color: $xui-color-grey-1;
	color: $xui-color-white;
}

.#{$ns}-text-color-white-muted {
	color: $xui-color-white-muted;
}

.#{$ns}-text-color-white-faint {
	color: $xui-color-white-faint;
}

// Other colors
//
// #### Class Names
//
// `xui-text-color-icon` used for styling characters for use in place of icons
//
// Markup:
// <div class="xui-input-wrapper xui-margin">
//  <div class="xui-input--iconwrapper xui-input--iconwrapper-left xui-text-color-icon">
//    €
//  </div>
//  <input class="xui-input" aria-label="Amount"/>
//</div>
//
// Styleguide: Typography.58.4
