.#{$ns}-text-status {
	color: $xui-color-grey-alpha-2;
}

.#{$ns}-text-status-positive {
	color: $xui-color-xero-green;
}

.#{$ns}-text-status-negative {
	color: $xui-color-xero-red;
}

// Tags
//
// Used to display read-only, categorical information. For example, assigning contacts to a particular group.
//
// Markup:
//	<span class="xui-text-tag xui-text-tag-solid">Dark tag</span>
//	<span class="xui-text-tag xui-text-tag-outline">Light tag</span>
//	<div class="xui-panel xui-margin-top">
//		<ul class="xui-picklist">
//			<li class="xui-pickitem" aria-selected="false">
//				<button type="button" class="xui-button xui-pickitem--body xui-pickitem--text">
//					<span>
//						Erlich Bachman<br />
//						<span class="xui-text-secondary">erlich@bachmanity.com</span>
//					</span>
//					<span class="xui-text-tag xui-text-tag-outline xui-margin-left-auto xui-margin-vertical-auto">Bachmanity Capital</span>
//				</button>
//			</li>
//			<li class="xui-pickitem" aria-selected="false">
//				<button type="button" class="xui-button xui-pickitem--body xui-pickitem--text">
//					<span>
//						Donald J Trump<br />
//						<span class="xui-text-secondary">thedon@trump.com</span>
//					</span>
//					<span class="xui-text-tag xui-text-tag-outline xui-margin-left-auto xui-margin-vertical-auto">Trump University</span>
//				</button>
//			</li>
//		</ul>
//	</div>
//
// Styleguide: Pills and Tags.4

.#{$ns}-text-tag {
	border-radius: $xui-radius;
	color: $xui-color-grey-alpha-2;
	display: inline-block;
	font-size: $xui-font-size-xsmall;
	line-height: $xui-font-size-xsmall;
	padding: 3px $xui-s-xsmall;
	vertical-align: middle;
}

.#{$ns}-text-tag-outline {
	background-color: $xui-color-white;
	border: 1px solid $xui-color-grey-alpha-4;
}

.#{$ns}-text-tag-solid {
	background-color: $xui-color-grey-alpha-6;
	border: 1px solid $xui-color-grey-alpha-6;
}

// Line Height


.#{$ns}-text-reset {
	@include xui-text-line-height-reset;
}

.#{$ns}-text-tight {
	@include xui-text-line-height-tight;
}

.#{$ns}-text-compact {
	@include xui-text-line-height-compact;
}
