// Presets
//
// We’ve got a few standardised classes to deal with the different types of content across our app. At surface level they bear some similarities, but the separation has been done so to anticipate future changes at a component level. When choosing the right class to use, a good rule of thumb is to ask yourself, ‘what kind of content is this’ and then apply the one that best fits that use case.
//
// #### Class Names
//
// `xui-panel-title` Standard title for each block of content within a page. Should only be used once per panel
//
// `xui-modal-title` for consistent application across all modal headers
//
// `xui-item-title` for consistent application across all content blocks & line items
//
// `xui-separator-title`  for consistent application across all table & dropdown vertical separators
//
// Markup:
// <div class="xui-panel-title">All tasks</div>
// <div class="xui-modal-title">Assign task</div>
// <div class="xui-item-title">Homepage redesign</div>
// <div class="xui-separator-title">Export options</div>
//
// Styleguide: Typography.1

.#{$ns}-panel-title {
	@include xui-heading-medium;
	// other specific stuff to this element might go here???
}

.#{$ns}-section-title,
.#{$ns}-text-sectionheading {
	color: $xui-color-grey-1;
	font-size: $xui-font-size-medium;
	font-weight: $xui-font-weight-deemphasis;
}

.#{$ns}-modal-title {
	@include xui-heading-medium;
	// other specific stuff to this element might go here???
}

.#{$ns}-item-title {
	@include xui-heading-small;
	// other specific stuff to this element might go here???
}

.#{$ns}-separator-title {
	@include xui-heading-xsmall;
}

// Generic Headings
//
// For other contexts that don’t quite fit the examples above, we offer a few other classes to provide some flexibility while still conforming to XUI proportions and style.
//
// #### Class Names
//
// `xui-heading-primary` for large in-page headings such as form titles
//
// `xui-heading-secondary` for top-level headings that aren’t strictly panel headers
//
// `xui-heading-tertiary`  for second-tier headings that aren’t strictly modals or content blocks
//
// `xui-heading-mini` for minute headings that group content but aren’t strictly within tables or dropdowns
//
// Markup:
// <div class="xui-heading-primary">Directory Listing</div>
// <div class="xui-heading-secondary">Location</div>
// <div class="xui-heading-tertiary">Street Address</div>
// <div class="xui-heading-mini">Map</div>
//
// Styleguide: Typography.1.1

.#{$ns}-heading-primary {
	@include xui-heading-large;
}

.#{$ns}-heading-secondary,
.#{$ns}-textcontent h3 {
	@include xui-heading-medium;
}

.#{$ns}-heading-tertiary,
.#{$ns}-textcontent h4 {
	@include xui-heading-small;
}

.#{$ns}-heading-mini,
.#{$ns}-dropdownmenu--groupheading,
.#{$ns}-textcontent h5 {
	@include xui-heading-xsmall;
}


// Display headings
//
// <div class="xui-banner xui-banner-layout xui-banner-animated xui-banner-positive" role="alert">
// <span class="xui-text-status xui-text-status-positive xui-padding-right-small">
// <svg focusable="false" class="xui-icon xui-icon-inline"> <use xlink:href="#xui-icon-info" role="presentation"/></svg>
// </span>
// Experimental: These are still in development and sizes are subject to change.
// </div>
//
// We also provide a few classes for more deliberate display typography. These scale relative to the viewport, and are particularly useful for highlighting small pieces of information like key financials in overview pages.
//
// #### Class Names
//
// `xui-heading-display` for relatively dense display text
//
// `xui-heading-display-xl` for short amounts of display text
//
// `xui-heading-display-xxl` for only a few digits of display text
//
// Markup:
// <div class="xui-heading-display xui-text-truncated">Welcome aboard</div>
// <div class="xui-heading-display-xl xui-text-truncated">$3,724.00</div>
// <div class="xui-heading-display-xxl xui-text-truncated">82.1%</div>
//
// Styleguide: Typography.1.2

.#{$ns}-heading-display,
.#{$ns}-textcontent h2 {
	@include xui-text-spacing-tight;
	@include xui-text-emphasis;
	@include xui-text-line-height-tight;
	font-size: $xui-font-size-extended-2xlarge;

	@include xui-breakpoint-medium-and-wide {
		font-size: $xui-font-size-extended-4xlarge;
	}

	@include xui-breakpoint-huge {
		font-size: $xui-font-size-extended-5xlarge;
	}
}

.#{$ns}-heading-display-xl,
.#{$ns}-textcontent h1 {
	@include xui-text-spacing-tight;
	@include xui-text-emphasis;
	@include xui-text-line-height-tight;
	font-size: $xui-font-size-extended-4xlarge;

	@include xui-breakpoint-medium-and-wide {
		font-size: $xui-font-size-extended-5xlarge;
	}

	@include xui-breakpoint-huge {
		font-size: 48px;
	}
}

.#{$ns}-heading-display-xxl {
	@include xui-text-spacing-tight;
	@include xui-text-emphasis;
	@include xui-text-line-height-tight;
	font-size: 48px;

	@include xui-breakpoint-medium-and-wide {
		font-size: 5vw;
	}
}

// This doesn't really feel like a 'heading' might belong elsewhere
// Not documented. So it doesn't exist yet
.#{$ns}-thead-title {
	color: $xui-color-grey-2;
	font-size: $xui-font-size-xsmall;
	font-weight: $xui-font-weight-deemphasis;
}

// Text Styles
//
// ![](https://img.shields.io/badge/Deprecated%20in-10.15.0-%23f6534e.svg)
// ![](https://img.shields.io/badge/Removed%20in-11.0.0-lightgrey.svg)
//
// *The following heading styles have been replaced with a new set of [presets](#typography-1).*
//
// #### Class Names
//
// `xui-heading`	Style for a heading
//
// `xui-page-title`	Style for a page title
//
// `xui-section-title`	Style for a section title
//
// `xui-text-panelheading`	Replaced with `xui-panel-title`
//
// `xui-text-sectionheading`	Style for a section heading
//
// Markup:
// <p class="xui-heading">The quick brown fox jumps over the lazy dog</p>
// <p class="xui-page-title">The quick brown fox jumps over the lazy dog</p>
// <p class="xui-section-title">The quick brown fox jumps over the lazy dog</p>
// <p class="xui-text-panelheading">The quick brown fox jumps over the lazy dog</p>
// <p class="xui-text-sectionheading">The quick brown fox jumps over the lazy dog</p>
//
// Styleguide: Typography.1.3
.#{$ns}-heading {
	@include xui-bold;
	color: $xui-color-primary-text;
	font-size: $xui-font-size-extended-xlarge;
}

.#{$ns}-page-title {
	@include xui-bold;
	color: $xui-color-primary-text;
	font-size: $xui-font-size-extended-large;
}

.#{$ns}-section-title {
	@include xui-bold;
	color: $xui-color-primary-text;
	font-size: $xui-font-size-medium;
}

.#{$ns}-text-panelheading {
	@include xui-bold;
	font-size: $xui-font-size-medium;
}

.#{$ns}-text-sectionheading {
	color: $xui-color-secondary-text;
	font-size: $xui-font-size-xsmall;
	font-weight: normal;
}
