
//  Statuses
//
// Statuses provide text colors that match the sentiment used for banner and toast components.
//
// Classes:
// xui-text-status: Style for status text
// xui-text-status-negative: Modifier for negative status text
// xui-text-status-positive: Modifier for positive status text
//
// Markup:
// <span class="xui-text-status">
//   Draft
// </span>
// <span class="xui-text-status xui-text-status-positive">
//   Accepted
// </span>
// <span class="xui-text-status xui-text-status-negative">
//   Declined
// </span>
// <p class="xui-heading-large">
//   Heading
//   <span class="xui-text-status">Draft</span>
// </p>
// <p class="xui-heading-medium">
//   Page Titles
//   <span class="xui-text-status xui-text-status-positive">Approved</span>
// </p>
// <p class="xui-heading-mini">
//   Headers
//   <span class="xui-text-status xui-text-status-negative">Overdue</span>
// </p>
//
// Styleguide: Typography.60

// Parent container
// The coloured background goes full width of the page
.#{$ns}-text-status {
	color: $xui-color-grey-alpha-2;
}

.#{$ns}-text-status-positive {
	color: $xui-color-xero-light-green;
}

.#{$ns}-text-status-negative {
	color: $xui-color-xero-red;
}

// Tags
//
// Used to display read-only, categorical information. For example, assigning contacts to a particular group.
//
// Markup:
//	<span class="xui-text-tag xui-text-tag-solid">Dark tag</span>
//	<span class="xui-text-tag xui-text-tag-outline">Light tag</span>
//	<div class="xui-panel xui-margin-top">
//		<ul class="xui-picklist">
//			<li class="xui-pickitem" aria-selected="false">
//				<button type="button" class="xui-button xui-pickitem--body xui-pickitem--text">
//					<span>
//						Erlich Bachman<br />
//						<span class="xui-text-secondary">erlich@bachmanity.com</span>
//					</span>
//					<span class="xui-text-tag xui-text-tag-outline xui-margin-auto-left xui-margin-auto-vertical">Bachmanity Capital</span>
//				</button>
//			</li>
//			<li class="xui-pickitem" aria-selected="false">
//				<button type="button" class="xui-button xui-pickitem--body xui-pickitem--text">
//					<span>
//						Donald J Trump<br />
//						<span class="xui-text-secondary">thedon@trump.com</span>
//					</span>
//					<span class="xui-text-tag xui-text-tag-outline xui-margin-auto-left xui-margin-auto-vertical">Trump University</span>
//				</button>
//			</li>
//		</ul>
//	</div>
//
// Styleguide: Pills and Tags.4

.#{$ns}-text-tag {
	border-radius: $xui-radius;
	color: $xui-color-grey-alpha-2;
	display: inline-block;
	font-size: $xui-font-size-xsmall;
	line-height: $xui-font-size-xsmall;
	padding: 3px $xui-s-xsmall;
	vertical-align: middle;
}

.#{$ns}-text-tag-outline {
	background-color: $xui-color-white;
	border: 1px solid $xui-color-grey-alpha-4;
}

.#{$ns}-text-tag-solid {
	background-color: $xui-color-grey-alpha-6;
	border: 1px solid $xui-color-grey-alpha-6;
}

// Carets
//
// ![](https://img.shields.io/badge/Deprecated%20in-10.15.0-%23f6534e.svg)
// ![](https://img.shields.io/badge/Removed%20in-12.0.0-lightgrey.svg)
//
// *This component has been deprecated, alternatively, use use <a href="#icons-1">icons</a>*
//
// Simple caret using CSS border tricks. Will inherit its colour from the text it's placed with.
//
// Classes:
// xui-caret: Style for a CSS caret, replaced by `xui-icon-inline`
//
// Markup:
//  <p>Text <span class="xui-caret"></span></p>
//  <p class="xui-text-secondary">Text <span class="xui-caret"></span></p>
//  <span class="xui-text-status-positive">Text <span class="xui-caret"></span></span>
//
// Styleguide: Icons.1.1

.#{$ns}-caret {
	@include xui-caret;
	vertical-align: middle;
}

// Line Height
//
// Default line height: `line-height: 1.5`
//
// Common components should declare their own line height and these classes
// should not be used very often.
//
// Classes:
// xui-text-reset: Modifier to reset `line-height: 1`
// xui-text-tight: use to retain impact of large copy
// xui-text-compact: group UI text when it wraps
//
// Markup:
// <div style="max-width: 200px" class="xui-text-tight">
//   <p class="xui-heading-display">Display Typography</p>
// </div>
// <div style="max-width: 100px" class="xui-text-compact">
//   <p class="xui-text-emphasis">Hornblower Enterprises
//   <span class="xui-text-deemphasis">Due 3 Mar, 2017</span>
//   <span class="xui-text-deemphasis">INV00021</span></p>
// </div>
// <div style="max-width: 200px" class="xui-text-longform">
//   <p >Find clients and their contact information on a single list.</p>
// </div>
//
// Styleguide: Typography.70

.#{$ns}-text-reset {
	@include xui-text-line-height-reset;
}

.#{$ns}-text-tight {
	@include xui-text-line-height-tight;
}

.#{$ns}-text-compact {
	@include xui-text-line-height-compact;
}
