@import "../mixins";
@import "../vars";


// Alignment


.#{$ns}-text-align-left {
	text-align: left;
}

.#{$ns}-text-align-center {
	text-align: center;
}

.#{$ns}-text-align-right {
	text-align: right;
}

// Truncation


.#{$ns}-text-truncated {
	@include xui-text-truncated;
}

// Word-break


/* doiuse-disable */
.#{$ns}-text-wordbreak {
	// chrome doesn't support this but what can you do ¯\_(ツ)_/¯
	hyphens: auto;

	// This is technically the same as word-wrap, but use both for maximum support
	overflow-wrap: break-word;

	// auto-prefixer wasn't putting this in in my tests so manually add it for IE11 support
	-ms-word-break: break-all;

	// This is for firefox support however it breaks mid word when spaces are present in firefox
	// so be aware of this
	word-break: break-all;

	// We want this to take precedence over word-break: break-all or words will break without
	// moving to the next line when they're separated by spaces
	word-wrap: break-word;
}
/* doiuse-enable */


// Emphasis

.#{$ns}-text-emphasis {
	font-weight: $xui-font-weight-emphasis;
}

.#{$ns}-text-deemphasis {
	font-weight: $xui-font-weight-deemphasis;
}

// Letter Spacing

.#{$ns}-text-spacing-tight {
	@include xui-text-spacing-tight;
}

.#{$ns}-text-spacing-loose {
	@include xui-text-spacing-loose;
}

// Line Height
.#{$ns}-text-reset {
	@include xui-text-line-height-reset;
}

.#{$ns}-text-tight {
	@include xui-text-line-height-tight;
}

.#{$ns}-text-compact {
	@include xui-text-line-height-compact;
}

// Color

.#{$ns}-text-status {
	color: $xui-color-grey-alpha-2;
}

.#{$ns}-text-status-positive {
	color: $xui-color-xero-green;
}

.#{$ns}-text-status-negative {
	color: $xui-color-xero-red;
}

.#{$ns}-textcolor-standard {
	color: $xui-color-black;
}

.#{$ns}-textcolor-muted {
	@include xui-text-muted;
}

.#{$ns}-text-placeholder,
.#{$ns}-textcolor-faint {
	color: $xui-color-grey-alpha-3;
}

.#{$ns}-textcolor-icon {
	color: $xui-color-grey-alpha-2;
}

.#{$ns}-textcolor-positive {
	@include xui-text-positive;
}

.#{$ns}-textcolor-negative {
	@include xui-text-negative;
}

// Inverted colors


.#{$ns}-textcolor-inverted {
	color: $xui-color-white;
}

.#{$ns}-textcolor-inverted-muted {
	color: $xui-color-white-muted;
}

.#{$ns}-textcolor-inverted-faint {
	color: $xui-color-white-faint;
}
