@import "../vars";
@import "../mixins";

// Toasts
//
// Toast notifications are typically global, they are a system event, and they
// do not require immediate action. Unless the toast is an error toast, things
// will not fall apart if a user misses them or takes no action.
//
// `xui-toast-is-hidden` : An optional class to hide the element, transitions out over 0.1s when the class is applied
//
// Styleguide: User Messaging.200

.#{$ns}-toast {
	background: transparentize($xui-color-white, 0.1);
	border: $xui-border-standard;
	border-radius: $xui-radius;
	box-shadow: $xui-shadow-depth-2;
	color: $xui-color-primary-text;
	max-width: 400px;
	opacity: 1;
	position: relative;
	transition: opacity $xui-transition-duration-short $xui-easing-standard;
	z-index: 10;
}

.#{$ns}-toast::before {
	background: transparent;
	border-radius: $xui-radius 0 0 $xui-radius;
	bottom: -1px;
	content: "";
	left: -1px;
	position: absolute;
	top: -1px;
	width: 4px;
}

.#{$ns}-toast-positive::before {
	background: $xui-color-xero-blue;
}

.#{$ns}-toast-negative::before {
	background: $xui-color-xero-red;
}

.#{$ns}-toast-layout {
	@include xui-margin($xui-s-large);
	@include xui-padding-left($xui-s-small);
	@include xui-padding-vertical($xui-s-small);
	@include xui-breakpoint-narrow {
		border-bottom: 0;
		border-left: 0;
		border-radius: 0;
		border-right: 0;
		margin: 0;
		max-width: none;
		width: 100%;

		&::before {
			border-radius: 0;
		}
	}

	.#{$ns}-toast--message {
		@include xui-margin-horizontal($xui-s-small);
		@include xui-margin-vertical($xui-s-xsmall);
	}

	.#{$ns}-toast--action-wrapper {
		margin: 0 $xui-s-small 0 0;
		padding: 0;
	}

	.#{$ns}-toast--action {
		padding: $xui-s-xsmall $xui-s-small;
	}

	.#{$ns}-toast--close {
		margin-right: $xui-s-small;
	}

	.#{$ns}-toast--close ~ .#{$ns}-toast--message {
		max-width: calc(100% - 80px);
	}
}

.#{$ns}-toast-wrapper {
	bottom: 0;
	left: 0;
	position: fixed;

	@include xui-breakpoint-narrow {
		width: 100%;
	}
}

// Single-Action
//
// ### Accessibility
//
// **role="status**: Use the `status` role when you want to convey relevant advisory information that doesn't justify
// using the alert role. For further information, please refer to the [MDN documentation](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_status_role)
//
// Markup:
// <div class="xui-toast xui-toast-layout" role="status">
//   <div class="xui-toast--message">Toast Message</div>
//   <div class="xui-toast--action-wrapper">
//       <a class="xui-toast--action xui-toast--link" href="#ToastLink">Undo</a>
//   </div>
// </div>
//
// Styleguide: User Messaging.200.1

// Multi-Action
//
// Markup:
// <div class="xui-toast xui-toast-layout" role="status">
//   <button type="button" class="xui-button xui-button-icon-lg xui-toast--close" title="Close" aria-label="Close">×</button>
//   <div class="xui-toast--message">Toast Message</div>
//   <ul class="xui-toast--action-wrapper">
//     <li class="xui-toast--action">
//       <a class="xui-toast--link" href="#ToastLink">Undo</a>
//     </li>
//     <li class="xui-toast--action">
//       <a class="xui-toast--link" href="#ToastLink">Back to Invoices</a>
//     </li>
//   </ul>
// </div>
//
// Styleguide: User Messaging.200.2

// Toast Sentiment
//
// Toast sentiment classes should be used sparingly, only used when there is a positive or negative message being conveyed to the user. The classes to apply for adding sentiment are `xui-toast-positive` and `xui-toast-negative`.
//
// ### Positive
//
// <div class="xui-toast xui-toast-layout xui-toast-positive" role="alert">
//   <div class="xui-toast--message">Connection successful</div>
// </div>
//
// ### Negative
//
// Markup:
// <div class="xui-toast xui-toast-layout xui-toast-negative" role="alert">
//   <div class="xui-toast--message">No internet connection</div>
// </div>
//
// ### Accessibility
//
// **role="alert"**: It is recommended to use the `alert` role when using the error variant.
// `role="alert"` is limited to important and usually time-sensitive messages. Use only when you want to draw
// the users attention to the toast when you require their immediate attention. For further information, please
// refer to the [MDN documentation](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_alert_role)
//
// Styleguide: User Messaging.200.3.2

// Placement
//
// The class `xui-toast-wrapper` is provided to properly position toast elements. It will place them at the bottom-left corner of the screen.
// For the purpose of unifomity through Xero, it would be best to use this class and keep the standard positioning.
//
// To see how this will look on an actual page, toggle off the `position: relative` override which is set on the wrapper for these docs.
//
// Markup:
// <div class="xui-toast-wrapper">
// 	<div class="xui-toast xui-toast-layout xui-toast-positive" role="alert">
// 	  <div class="xui-toast--message">Connection successful</div>
// 	</div>
// 	<div class="xui-toast xui-toast-layout xui-toast-negative" role="alert">
// 	  <div class="xui-toast--message">No internet connection</div>
// 	</div>
// 	<div class="xui-toast xui-toast-layout" role="status">
// 	  <button type="button" class="xui-button xui-button-icon-lg xui-toast--close" title="Close" aria-label="Close">×</button>
// 	  <div class="xui-toast--message">Toast Message</div>
// 	  <ul class="xui-toast--action-wrapper">
// 	    <li class="xui-toast--action">
// 	      <a class="xui-toast--link" href="#ToastLink">Undo</a>
// 	    </li>
// 	    <li class="xui-toast--action">
// 	      <a class="xui-toast--link" href="#ToastLink">Back to Invoices</a>
// 	    </li>
// 	  </ul>
// 	</div>
// </div>
//
// Styleguide: User Messaging.200.3

.#{$ns}-toast--link {
	@include xui-bold;
	color: $xui-color-xero-blue;
}

.#{$ns}-toast--message,
.#{$ns}-toast--action-wrapper,
.#{$ns}-toast--action {
	display: inline-block;
}

.#{$ns}-toast--close {
	float: right;
}

.#{$ns}-toast--action-wrapper {
	display: flex;
	float: right;
}

.#{$ns}-toast--action {

	&:nth-of-type(n+2) {
		padding-left: $xui-s-small;
	}
}

.#{$ns}-toast-is-hidden {
	opacity: 0;
	pointer-events: none;
}

.#{$ns}-toast-list {
	color: $xui-color-white;
	list-style: disc;
}
