@import "../vars";
@import "../mixins";

// Banners
//
// Used to display banner notifications to users, typically in the top center
// of the screen.
//
// Styleguide: User Messaging.100

// Basic usage
//
// Banner messages will default to left aligned.
//
// ### Accessibility
//
// **role="status"**: Use the `status` role when you want to convey relevant advisory information that doesn't justify
// using the alert role. For further information, please refer to the [MDN documentation](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_status_role)
//
// Markup:
//<div class="xui-banner xui-banner-layout xui-banner-animated" role="status">
//    <p class="xui-banner--message">Banner Message</p>
//</div>
//
// Styleguide: User Messaging.100.1

// Errors
//
// Error styling. Useful for page level validation. Should not be dismissable.
//
// ### Accessibility
//
// **role="alert"**: It is recommended to use the `alert` role when using the error variant.
// `role="alert"` is limited to important and usually time-sensitive messages. Use only when you want to draw
// the users attention to the banner when you require their immediate attention. For further information, please
// refer to the [MDN documentation](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_alert_role)
//
// Markup:
//<div class="xui-banner xui-banner-layout xui-banner-animated xui-banner-error" role="alert">
//    <p class="xui-banner--message">Banner Message</p>
//    <ul class="xui-banner--action">
//      <li class="xui-banner--link"><a href="#BannerLink">Action One</a></li>
//      <li class="xui-banner--link"><a href="#BannerLink">Action Two</a></li>
//      <li class="xui-banner--link"><a href="#BannerLink">Action Three</a></li>
//    </ul>
//</div>
//
// Styleguide: User Messaging.100.2

// With Actions
//
// Actions will be right aligned
//
// Markup:
//<div class="xui-banner xui-banner-layout xui-banner-animated" role="status">
//    <p class="xui-banner--message">Banner Message</p>
//    <ul class="xui-banner--action">
//      <li class="xui-banner--link"><a href="#BannerLink">Action One</a></li>
//      <li class="xui-banner--link"><a href="#BannerLink">Action Two</a></li>
//      <li class="xui-banner--link"><a href="#BannerLink">Action Three</a></li>
//    </ul>
//</div>
//
// Styleguide: User Messaging.100.3

// Dismissible
//
// Some banners are dismissible and styled with a right aligned close cross.
//
// Markup:
//<div class="xui-banner xui-banner-layout xui-banner-animated" role="status">
//    <p class="xui-banner--message">Banner Message</p>
//    <div class="xui-banner--action">
//      <button class="xui-button xui-button-icon xui-button-icon-small xui-toast--close" title="Close" aria-label="Close">✕</button>
//    </div>
//</div>
//
// Styleguide: User Messaging.100.4

// With message detail
//
// Additional detail may be used for success and error banners and should be
// styled as left aligned secondary text.
//
// Markup:
//<div class="xui-banner xui-banner-layout xui-banner-animated" role="status">
//    <p class="xui-banner--message">Banner Message</p>
//    <div class="xui-banner--action">
//      <button class="xui-button xui-button-icon xui-button-icon-small xui-toast--close" title="Close" aria-label="Close">✕</button>
//    </div>
//    <ul class="xui-banner--messagedetail">
//        <li>We've got this request</li
//    </ul>
//</div>
//
// Styleguide: User Messaging.100.5

.#{$ns}-banner {
	@include xui-clearfix;
	background: transparentize($xui-color-white, 0.1);
	border: $xui-border-standard;
	border-left: 4px solid $xui-color-xero-blue;
	border-radius: $xui-radius;
	box-shadow: $xui-shadow-depth-1;
	color: $xui-color-primary-text;
}

.#{$ns}-banner-layout {
	@include xui-padding-horizontal($xui-s-standard);
	@include xui-padding-vertical($xui-s-small);
	@include xui-margin-vertical($xui-s-large);
	@include xui-margin-horizontal(auto);
}

.#{$ns}-banner-error {
	border-left: 4px solid $xui-color-xero-red;
}

.#{$ns}-banner-animated {
	animation: xui-banner-animation $xui-transition-duration-short;
}

.#{$ns}-banner--message {
	float: left;
	margin: 0;
}

.#{$ns}-banner--messagedetail {
	clear: both;
	color: $xui-color-secondary-text;
	float: left;
	margin: 0;
}

.#{$ns}-banner--action {
	float: right;
	margin: 0;
	padding: 0;
}

.#{$ns}-banner--link {
	display: inline;

	&:nth-of-type(n+2) {
		border-left: $xui-border-standard;
		margin-left: 10px;
		padding-left: 10px;
	}
}

@keyframes xui-banner-animation {
	0% {
		margin-top: -20px;
		opacity: 0;
	}

	100% {
		margin-top: 0;
		opacity: 1;
	}
}
