@import "../vars";
@import "../mixins";

.#{$ns}-toast {
	@include xui-clearfix;
	background: transparentize($xui-color-white, 0.1);
	border-radius: $xui-radius;
	box-shadow: $xui-shadow-depth-lift;
	color: $xui-color-grey-1;
	display: inline-block;
	max-width: 400px;
	opacity: 1;
	position: relative;
	transition: opacity $xui-motion-speed-fast $xui-motion-curve-standard;
	z-index: 10;
	@include xui-breakpoint-narrow {
		border-radius: 0;
	}
}

.#{$ns}-toast-positive {
	@include xui-highlight-left($xui-color-xero-green, $xui-radius, true);
}

.#{$ns}-toast-negative {
	@include xui-highlight-left($xui-color-xero-red, $xui-radius, true);
}

.#{$ns}-toast-layout {
	margin: 0 $xui-s-large $xui-s-large $xui-s-large;

	@include xui-padding($xui-s-small);
	@include xui-breakpoint-narrow {
		margin: 0;
		max-width: none;
		width: 100%;

		&::before {
			border-radius: 0;
		}
	}

	.#{$ns}-toast--message {
		// The 7px here is to clear the standard paragraph height - 5px is too small
		margin: $xui-s-xsmall $xui-s-small 7px $xui-s-xsmall;
	}

	.#{$ns}-toast--actions {
		margin: 0;
		padding: 0;
	}

	.#{$ns}-toast--close ~ .#{$ns}-toast--message {
		max-width: calc(100% - 45px);
	}
}

.#{$ns}-toastwrapper {
	bottom: 0;
	display: flex;
	flex-flow: column nowrap;
	left: 0;
	position: fixed;
	z-index: 8000;

	@include xui-breakpoint-narrow {
		width: 100%;
	}
}

.#{$ns}-toast--message,
.#{$ns}-toast--actions,
.#{$ns}-toast--action {
	display: inline-block;
}

.#{$ns}-toast--message {
	float: left;
}

.#{$ns}-toast--close,
.#{$ns}-toast--actions {
	float: right;
}

.#{$ns}-toast-is-hidden {
	@include xui-margin-vertical(0);
	@include xui-padding-vertical(0);
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
}
