@import "../vars";
// Toasts
//
// Toast notifications are typically global, they are a system event, and they
// do not require immediate action. Unless the toast is an error toast, things
// will not fall apart if a user misses them or takes no action.
//
// Placement should be bottom left of the screen.
//
// `xui-toast-is-hidden` : An optional class to hide the element, transitions out over 0.1s when the class is applied
//
// Styleguide: User Messaging.200

$color-toast-link: #70bae4;

.#{$ns}-toast {
	background: transparentize($color-white, 0.1);
	border-left: 4px solid $color-xero-blue;
	border-radius: $radius;
	bottom: 0;
	box-shadow: $shadow-depth-2;
	color: $color-primary-text;
	left: 0;
	opacity: 1;
	position: fixed;
	transition: opacity $transition-duration-super-quick $easing-standard;
	z-index: 10;
}

.#{$ns}-toast-error {
	border-left: 4px solid $color-xero-red;
}

// Single-Action
//
// ### Accessibility
//
// **role="status**: Use the `status` role when you want to convey relevant advisory information that doesn't justify
// using the alert role. For further information, please refer to the [MDN documentation](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_status_role)
//
// Markup:
//   <div class="xui-toast" role="status">
//     <p class="xui-toast--message">Toast Message</p>
//     <a class="xui-toast--action xui-toast--link" href="#ToastLink">Undo</a>
//   </div>
//
// Styleguide: User Messaging.200.1

// Multi-Action
//
// Markup:
//   <div class="xui-toast" role="status">
//     <p class="xui-toast--message">Toast Message</p>
//     <ul class="xui-toast--actionlist">
//       <li class="xui-toast--action">
//         <a class="xui-toast--link" href="#ToastLink">Undo</a>
//       </li>
//       <li class="xui-toast--action">
//         <a class="xui-toast--link" href="#ToastLink">Back to Invoices</a>
//       </li>
//     </ul>
//     <button class="xui-iconbutton xui-iconbutton-small xui-toast--close" title="Close">✕</a>
//   </div>
//
// Styleguide: User Messaging.200.2

// Error
//
// ### Accessibility
//
// **role="alert"**: It is recommended to use the `alert` role when using the error variant.
// `role="alert"` is limited to important and usually time-sensitive messages. Use only when you want to draw
// the users attention to the toast when you require their immediate attention. For further information, please
// refer to the [MDN documentation](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_alert_role)
//
// Markup:
//   <div class="xui-toast xui-toast-error" role="alert">
//     <p class="xui-toast--message">No internet connection</p>
//   </div>
//
// Styleguide: User Messaging.200.3

.#{$ns}-toast--link {
	color: $color-toast-link;
}

.#{$ns}-toast--message,
.#{$ns}-toast--actionlist,
.#{$ns}-toast--action {
	display: inline;
}

.#{$ns}-toast--actionlist {
	padding: 0;
}

.#{$ns}-toast--action {
	margin-left: px-to-rem(20);

	&:nth-of-type(n+2) {
		border-left: 1px solid rgba(255, 255, 255, 0.5);
		padding: 2px 0 2px px-to-rem(20);
	}
}

.#{$ns}-toast--close {
	color: $color-grey-3;
	margin-left: px-to-rem(20);
}

.#{$ns}-toast-is-hidden {
	opacity: 0;
	pointer-events: none;
}

.#{$ns}-toast-list {
	color: $color-white;
	list-style: disc;
}

@include sm-breakpoint {
	.#{$ns}-toast {
		left: 50%;
		margin-left: 0;
		min-width: 70%;
		transform: translateX(-50%);
	}
}
