
// Panel
//
// Teaser: Top-level container for grouping page content, that gives definition against the standard grey page.
//
// Introduction: A panel is the top-level container for grouping page content. Panels give groups of content definition against the standard grey page.
//
// Components: Panel
//
// Language: https://docs.google.com/document/d/1YDv-SISe90GmHcnmy24A5KauSQHSbfivP9DXtkCZygI/edit#bookmark=id.qcuf9cvxorda
//
// Styleguide: Compounds.DisplayingData.Panel

// Best practice
//
// Tips:
// Do: Use to group top-level content at the base page level
// Warning: Avoid nesting panels inside modals, use your own class instead
// Warning: Avoid nesting panels inside other panels, use your own class instead
// Warning: To frame any other content other than the top-most container, use your own class instead
//
// Styleguide: Compounds.DisplayingData.Panel.1

// Framing content
//
// For any nested elements within a page that aren't semantically panels, but you wish to create a bordered frame around, create your own classes instead.
// To do this, use XUI's variables and mixins, without explicitly using the panel class.
//
// ExampleClass: ds-example-markuponly
//
// Markup:
// @import '@xero/xui/sass/vars';
// @import '@xero/xui/sass/mixins';
// .example-container {
// 	box-shadow: $xui-shadow-border-all;
// 	background-color: $xui-color-white;
// 	border-radius: $xui-radius;
// }
//
// Styleguide: Compounds.DisplayingData.Panel.2

// Anatomy
//
// At it's most basic form, a panel consists of the following class.
//
// Classes:
// xui-panel: Container for a panel
//
// Styleguide: Compounds.DisplayingData.Panel.3

// Spacing
//
// To provide flexibility for different types of content, panels do not provide any margin and padding by design.
// To add your own, use the `xui-padding-*` and `xui-margin-*` [utility classes](section-fundamentals-spacing.html).
// We do however, recommend using `xui-padding-large` as a sensible default.
//
// Styleguide: Compounds.DisplayingData.Panel.4

// Heading
//
// ExampleClass: ds-example-wide
//
// To create the default header within a panel, use the following classes.
// Note that [utility classes](section-fundamentals-utilities.html) are required to set horizontal and vertical alignment.
//
// Classes:
// xui-panel--header: Sets a min height of 60px
// xui-panel--heading: Sets a default font size and weight to heading text
//
// Markup:
// <div class="xui-panel">
//   <header class="xui-panel--header xui-padding-horizontal-small xui-u-flex xui-u-flex-align-center xui-u-flex-justify-space-between">
//     <div class="xui-panel--heading xui-margin-left-small">Panel heading</div>
//     <button type="button" class="xui-button xui-button-icon xui-button-icon-medium" title="More options" aria-label="More options">
//       <svg focusable="false" class="xui-icon"><use xlink:href="#xui-icon-overflow" role="presentation" /></svg>
//     </button>
//   </header>
// </div>
//
// Styleguide: Compounds.DisplayingData.Panel.5

// Section
//
// ExampleClass: ds-example-wide
//
// To create distinct sections within a panel, use the following class, and add an optional centered header.
//
// Classes:
// xui-panel--section: Adds borders to seperate sections within a panel
// xui-panel--section--header: Sets a default font size and weight and centers heading text
//
// Markup:
// <div class="xui-panel">
// <div class="xui-panel--section xui-padding-horizontal-large xui-padding-top-xlarge xui-padding-bottom-large">
//   <div class="xui-panel--section--header xui-margin-bottom">Section header</div>
//   <div class="xui-form-layout">
//     <div class="xui-field-layout">
//       <label class="xui-text-label xui-fieldlabel-layout" for="input1">Label</label>
//       <input class="xui-textinput xui-textinput--input" type="text" id="input1"/>
//     </div>
//   </div>
// </div>
// <div class="xui-panel--section xui-padding-horizontal-large xui-padding-top-xlarge xui-padding-bottom-large">
//   <div class="xui-panel--section--header xui-margin-bottom">Section header</div>
//   <div class="xui-form-layout">
//     <div class="xui-field-layout">
//       <label class="xui-text-label xui-fieldlabel-layout" for="input2">Label</label>
//       <input class="xui-textinput xui-textinput--input" type="text" id="input2"/>
//     </div>
//   </div>
// </div>
// <div class="xui-panel--section xui-padding-horizontal-large xui-padding-top-xlarge xui-padding-bottom-large">
//   <div class="xui-panel--section--header xui-margin-bottom">Section header</div>
//   <div class="xui-form-layout">
//     <div class="xui-field-layout">
//       <label class="xui-text-label xui-fieldlabel-layout" for="input3">Label</label>
//       <input class="xui-textinput xui-textinput--input" type="text" id="input3"/>
//     </div>
//   </div>
// </div>
// </div>
//
// Styleguide: Compounds.DisplayingData.Panel.6

// Footer
//
// ExampleClass: ds-example-wide
//
// To create a footer within a panel, use the following class.
// In the case of a form, we recommend you use the `xui-actions` method outlined in the [button documentation](section-building-blocks-controls-button.html#building-blocks-controls-button-12).
//
// Classes:
// xui-panel--footer: Sets a min height of 60px and adds a top border
//
// Markup:
// <div class="xui-panel">
//  <footer class="xui-panel--footer xui-actions xui-actions-layout xui-padding-large">
//    <button type="button" class="xui-button xui-button-medium xui-button-standard xui-actions--secondary">Secondary</button>
//    <button type="button" class="xui-button xui-button-medium xui-button-main xui-actions--primary">Primary</button>
//  </footer>
// </div>
//
// Styleguide: Compounds.DisplayingData.Panel.7

// Form
//
// A common use case for a panel is a form.
// The following shows an example of how the three basic panel sections outlined above can be used to create one.
//
// ExampleClass: ds-example-wide
//
// Markup:
// <form class="xui-panel">
//   <header class="xui-panel--header xui-padding-horizontal-small xui-u-flex xui-u-flex-align-center">
//     <div class="xui-panel--heading xui-margin-left-small">Panel heading</div>
//   </header>
// <div class="xui-panel--section xui-padding-horizontal-large xui-padding-top-xlarge xui-padding-bottom-large">
//   <div class="xui-form-layout">
//     <div class="xui-field-layout">
//       <label class="xui-text-label xui-fieldlabel-layout" for="input4">Label</label>
//       <input class="xui-textinput xui-textinput--input" type="text" id="input4"/>
//     </div>
//   </div>
//   <div class="xui-form-layout">
//     <div class="xui-field-layout">
//       <label class="xui-text-label xui-fieldlabel-layout" for="input5">Label</label>
//       <input class="xui-textinput xui-textinput--input" type="text" id="input5"/>
//     </div>
//   </div>
//   <div class="xui-form-layout">
//     <div class="xui-field-layout">
//       <label class="xui-text-label xui-fieldlabel-layout" for="input6">Label</label>
//       <input class="xui-textinput xui-textinput--input" type="text" id="input6"/>
//     </div>
//   </div>
// </div>
// <footer class="xui-panel--footer xui-actions xui-actions-layout xui-padding-large">
//   <button type="button" class="xui-button xui-button-standard xui-button-medium xui-actions--secondary">Secondary</button>
//   <button type="submit" class="xui-button xui-button-main xui-button-medium xui-actions--primary">Primary</button>
// </footer>
// </form>
//
// Styleguide: Compounds.DisplayingData.Panel.8

// Content blocks
//
// ExampleClass: ds-example-wide
//
// Another common use case for panels is to contain a list of content blocks. Wrapping a list of content blocks with a panel ensures the container to have a consistent border and rounded corners.
//
// Markup:
// <div class="xui-panel">
//   <ul class="xui-contentblock">
//     <li class="xui-contentblockitem xui-contentblockitem-layout">
//       <div class="xui-contentblockitem--leftcontent xui-contentblockitem--leftcontent-layout">
//         <abbr class="xui-avatar xui-avatar-business xui-avatar-color-2" role="presentation">SBS</abbr>
//       </div>
//       <div class="xui-contentblockitem--maincontent">
//         <div class="xui-contentblockitem--headings">
//           <span class="xui-contentblockitem--primaryheading">Six Barrel Soda</span>
//           <span class="xui-tag xui-tag-small xui-tag-warning">Awaiting payment</span>
//         </div>
//         <div class="xui-contentblockitem--description">
//           <span class="xui-contentblockitem--description--text">INV034<span class="xui-margin-horizontal-xsmall">•</span><span>Due 31 Dec 2017</span></span>
//         </div>
//       </div>
//       <div class="xui-contentblockitem--rightcontent">
//         <div class="xui-contentblockitem--pinnedvalue">118.20</div>
//         <button aria-label="Overflow menu" class="xui-button xui-button-icon xui-button-icon-medium" tabindex="0" type="button">
//           <div class="xui-iconwrapper xui-iconwrapper-medium">
//             <svg focusable="false" class="xui-icon">
//               <use xlink:href="#xui-icon-overflow"></use>
//             </svg>
//           </div>
//         </button>
//       </div>
//     </li>
//     <li class="xui-contentblockitem xui-contentblockitem-layout">
//       <div class="xui-contentblockitem--leftcontent xui-contentblockitem--leftcontent-layout">
//         <abbr class="xui-avatar xui-avatar-business xui-avatar-color-5" role="presentation">LB</abbr>
//       </div>
//       <div class="xui-contentblockitem--maincontent">
//         <div class="xui-contentblockitem--headings">
//           <span class="xui-contentblockitem--primaryheading">Lucky Burger</span>
//           <span class="xui-tag xui-tag-small xui-tag-negative">Overdue</span>
//         </div>
//         <div class="xui-contentblockitem--description">
//           <span class="xui-contentblockitem--description--text">INV031<span class="xui-margin-horizontal-xsmall">•</span><span>Due 1 Dec 2017</span></span>
//         </div>
//       </div>
//       <div class="xui-contentblockitem--rightcontent">
//         <div class="xui-contentblockitem--pinnedvalue">346.40</div>
//         <button aria-label="Overflow menu" class="xui-button xui-button-icon xui-button-icon-medium" tabindex="0" type="button">
//           <div class="xui-iconwrapper xui-iconwrapper-medium">
//             <svg focusable="false" class="xui-icon">
//               <use xlink:href="#xui-icon-overflow"></use>
//             </svg>
//           </div>
//         </button>
//       </div>
//     </li>
//     <li class="xui-contentblockitem xui-contentblockitem-layout">
//       <div class="xui-contentblockitem--leftcontent xui-contentblockitem--leftcontent-layout">
//         <abbr class="xui-avatar xui-avatar-business xui-avatar-color-7" role="presentation">HE</abbr>
//       </div>
//       <div class="xui-contentblockitem--maincontent">
//         <div class="xui-contentblockitem--headings">
//           <span class="xui-contentblockitem--primaryheading">Hornblower Enterprises</span>
//           <span class="xui-tag xui-tag-small xui-tag-positive">Paid</span>
//         </div>
//         <div class="xui-contentblockitem--description">
//           <span class="xui-contentblockitem--description--text">INV031<span class="xui-margin-horizontal-xsmall">•</span><span>Due 5 Nov 2017</span></span>
//         </div>
//       </div>
//       <div class="xui-contentblockitem--rightcontent">
//         <div class="xui-contentblockitem--pinnedvalue">74.99</div>
//         <button aria-label="Overflow menu" class="xui-button xui-button-icon xui-button-icon-medium" tabindex="0" type="button">
//           <div class="xui-iconwrapper xui-iconwrapper-medium">
//             <svg focusable="false" class="xui-icon">
//               <use xlink:href="#xui-icon-overflow"></use>
//             </svg>
//           </div>
//         </button>
//       </div>
//     </li>
//   </ul>
// </div>
//
// Styleguide: Compounds.DisplayingData.Panel.9

// Sidebar
//
// Flag: Under review
//
// ExampleClass: ds-example-wide
//
// To create a sidebar that triggers different panel content, use the following layout.
// Note that [utility classes](section-fundamentals-utilities.html) are also required to achieve the following layout.
// In order to create the sidebar list itself, a [picklist](section-compounds-displayingdata-picklist.html) is also required.
//
// Classes:
// xui-panel--sidebar: Adds a right border and sets a width of 220px on the sidebar
//
// Markup:
// <div class="xui-panel xui-u-flex">
//   <div class="xui-panel--sidebar">
//     <ul class="xui-picklist xui-picklist-layout xui-picklist-medium" role="tree">
//       <li class="xui-pickitem xui-pickitem-is-selected xui-pickitem-medium" tabindex="-1" role="treeitem">
//         <button type="button" class="xui-pickitem--body" tabindex="0">
//           <span class="xui-pickitem--text">Selected sidebar item</span>
//         </button>
//       </li>
//       <li class="xui-pickitem xui-pickitem-medium" tabindex="-1" role="treeitem">
//         <button type="button" class="xui-pickitem--body" tabindex="0">
//           <span class="xui-pickitem--text xui-text-truncated">Sidebar item</span>
//         </button>
//       </li>
//       <li class="xui-pickitem xui-pickitem-medium" tabindex="-1" role="treeitem">
//         <button type="button" class="xui-pickitem--body" tabindex="0">
//           <span class="xui-pickitem--text">Sidebar item</span>
//         </button>
//       </li>
//     </ul>
//   </div>
//   <div class="xui-u-flex-1">
//   <header class="xui-panel--header xui-padding-horizontal-small xui-u-flex xui-u-flex-align-center">
//     <div class="xui-panel--heading xui-margin-left-small">Panel heading</div>
//   </header>
//     <div class="xui-panel--section xui-padding-top-large xui-padding-horizontal-large xui-padding-bottom-small">
//       <form class="xui-form-layout">
//         <div class="xui-field-layout">
//           <label class="xui-text-label xui-fieldlabel-layout" for="input7">Label</label>
//           <input class="xui-textinput xui-textinput--input" type="text" id="input7"/>
//         </div>
//       </form>
//     </div>
//     <footer class="xui-panel--footer xui-actions xui-actions-layout xui-padding-large">
//       <button type="button" class="xui-button xui-button-medium xui-button-standard xui-actions--secondary">Secondary</button>
//       <button type="button" class="xui-button xui-button-medium xui-button-main xui-actions--primary">Primary</button>
//     </footer>
//   </div>
// </div>
//
// Styleguide: Compounds.DisplayingData.Panel.10
