@import './colors';

// @section Depth
// @description To draw attention to content via depth, use one of the following depth variables. Note they also utilise a border created with box-shadow, in order to multiply with the background layer, regardless of context.
// @type shadow
//
// Shadow Lift: For temporary elements that overlap content, such as tooltips and dropdowns.
$xui-shadow-depth-lift: 0 0 0 1px $xui-color-grey-alpha-5, 0 3px 6px 0 $xui-color-grey-alpha-5;
// Shadow Pop: For prominent elements that overlap content, such as modals. Often used in conjunction with a mask
$xui-shadow-depth-pop: 0 0 0 1px $xui-color-grey-alpha-5, 0 8px 16px 0 $xui-color-grey-alpha-5;

// @section Overflow
// @description To indicate that an element does not scroll within it's parent, but sits above the content on a separate plane, use one of the following depth variables
// @type shadow
//
// Overlap Top Shadow: For toolbars adn other navigational elements fixed to the top, with content that scrolls beneath
$xui-shadow-depth-overlap-top: 0 1px 0 0 $xui-color-grey-alpha-5, 0 3px 0 0 $xui-color-grey-alpha-7;
// Overlap Bottom Shadow: For toolbars and other navigational elements fixed to the bottom, with content that scrolls beneath
$xui-shadow-depth-overlap-bottom: 0 -1px 0 0 $xui-color-grey-alpha-5, 0 -3px 0 0 $xui-color-grey-alpha-7;

// @section Shadow borders
// @description to create the appearance of a border, but position it outside the element in order to multiply with the background layer, use one of the following box-shadow variables.
// @type shadow
//
// All Borders
$xui-shadow-border-all: 0 0 0 1px $xui-color-grey-alpha-5;
// Top Border
$xui-shadow-border-top: 0 -1px 0 0 $xui-color-grey-alpha-5;
// Right Border
$xui-shadow-border-right: 1px 0 0 0 $xui-color-grey-alpha-5;
// Bottom Border
$xui-shadow-border-bottom: 0 1px 0 0 $xui-color-grey-alpha-5;
// Left Border
$xui-shadow-border-left: -1px 0 0 0 $xui-color-grey-alpha-5;

// @section Borders
// @description To create a traditional border around an element, use one of the following border variables. However, unless the background layer will always remain the same, we recommend using shadow borders instead, to prevent introducing contrast issues.
// @type border
//
// Standard Border
$xui-border-standard: 1px solid $xui-color-grey-4;
// Muted Border
$xui-border-muted: 1px solid $xui-color-grey-5;
