@import "./colors";

$xui-button-variants-divider-colors: (
		main : $xui-color-xero-blue-divider,
		create : $xui-color-xero-green-divider,
		negative : $xui-color-xero-red-divider
);

$xui-button-variants-background-colors: (
		standard : null,
		main : $xui-color-xero-blue,
		create : $xui-color-xero-green,
		negative : $xui-color-xero-red
);

$xui-button-sizes: (
		small : (line-height: 1, min-width: 60px, padding: 0.5em 1em)
);
