/**
 * This source is pre-parsed and looks similar to KSS but is not the same.
 */

// Spacing constants
//
$xui-s-xsmall: 5px;
$xui-s-small: 10px;
$xui-s-standard: 15px;
$xui-s-large: 20px;
$xui-s-xlarge: 25px;
$xui-s-xxlarge: 30px;
$xui-s-3xlarge: 35px;
$xui-s-4xlarge: 40px;
$xui-s-5xlarge: 50px;
$xui-s-6xlarge: 60px;


// TokenParserIgnore
$xui-s-actionlink: $xui-s-xsmall $xui-s-small;

$xui-grid-gutter: $xui-s-large;
$xui-layout-columns: 12;
$xui-layout-column-start: 1;

$xui-form-width: 400px;
$xui-input-height: 35px;

$xui-class-suffix-small: "-small";
$xui-class-suffix-standard: "";
$xui-class-suffix-large: "-large";
// TokenParserEndIgnore
