/**
 * Settings for the structure/layout of the Xero design.
 */

$radius: 3px;

$padding-menu-vertical: 8px;
$padding-menu-horizontal: 15px;
$padding-menu: $padding-menu-vertical $padding-menu-horizontal;
