.ds-example-wide {
	max-width: none;
	width: 1024px;
}

.ds-example-default {
	background: $xui-color-grey-7;
	padding: $xui-s-standard;
}

.ds-example-inverted {
	background: $xui-color-grey-1;
}

.ds-example-narrow {
	.ds-example--inner  {
		width: 200px;
	}
}

.ds-example-nopadding {
	padding: 0;
}

.ds-example-field {
	background: transparent;
	border: $xui-border-standard;
	.ds-example--inner {
		width: 220px;
	}
	input {
		margin-bottom: $xui-s-xsmall;
	}
}
