@import '../vars';
@import '../mixins';

$xui-accordion-pop-width: $xui-s-xsmall;

.#{$ns}-accordion--emptystate {
  @include xui-text-muted;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: center;
}

.#{$ns}-accordionwrapper {
  background-color: $xui-color-white;
  box-shadow: $xui-shadow-border-all;
  outline: 0;
  position: relative;
  transition-duration: $xui-motion-speed-fast;
  transition-property: width, margin, padding;
  width: 100%;
  // There is an issue with the expand animation on IE where the fast content
  // expand toggle animation is suboptimal. Because the animation is a very subtle
  // enhancement it was decided to remove the effect for the offending browsers.
  // The `-ms` declaration needs to come after the other transition references and
  // therefore needs to ignore the alphabetical linting rule.
  // stylelint-disable-next-line order/properties-alphabetical-order
  -ms-transition: none;

  @include xui-breakpoint-medium-up {
    &:first-child {
      border-top-left-radius: $xui-radius;
      border-top-right-radius: $xui-radius;
    }

    &:last-child {
      border-bottom-left-radius: $xui-radius;
      border-bottom-right-radius: $xui-radius;
    }
  }
}

.#{$ns}-accordionwrapper--content {
  opacity: 0;
}

.#{$ns}-accordionwrapper--content-is-open {
  border-top: $xui-border-muted;
  opacity: 1;
  transition: opacity $xui-motion-speed-fast ease-in-out $xui-motion-speed-fast;
  // stylelint-disable-next-line order/properties-alphabetical-order
  -ms-transition: none;
}

.#{$ns}-accordionwrapper-no-pop {
  border-radius: 0;
  @include xui-highlight-left($xui-color-blue);
}

.#{$ns}-accordionwrapper-is-open {
  box-shadow: $xui-shadow-depth-lift;
  z-index: $xui-z-index-body;
}

.#{$ns}-accordionwrapper-pop {
  border-radius: $xui-radius;
  margin-left: -$xui-accordion-pop-width;
  width: calc(100% + #{2 * $xui-accordion-pop-width});
  .#{$ns}-accordiontrigger {
    padding-left: $xui-accordion-pop-width;
    padding-right: $xui-accordion-pop-width;
  }
}

.#{$ns}-accordiontrigger--arrow {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;
  padding: $xui-s-xsmall;
  width: $xui-icon-xlarge;

  @include xui-breakpoint-small-down {
    align-self: flex-start;
  }
}

.#{$ns}-accordiontrigger--arrow .#{$ns}-icon {
  transition-duration: $xui-motion-speed-fast;
  transition-property: all;
}

.#{$ns}-accordiontrigger {
  @include xui-content-block-item('#{$ns}-accordiontrigger');
}
