@import "../vars";
@import "../mixins";

$xui-accordion-new-pop-width: 8px;

.#{$ns}-accordion-new {
	width: 100%;
}

.#{$ns}-accordion-new--emptystate {
	@include xui-text-muted;
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 140px;
	justify-content: center;
}

.#{$ns}-accordionwrapper-new {
	background-color: $xui-color-white;
	box-shadow: $xui-shadow-border-all;
	outline: 0;
	position: relative;
	transition-duration: $xui-motion-speed-fast;
	transition-property: width, margin, padding;
	width: 100%;
	// There is an issue with the expand animation on IE where the fast content
	// expand toggle animation is suboptimal. Because the animation is a very subtle
	// enhancement it was decided to remove the effect for the offending browsers.
	// The `-ms` declaration needs to come after the other transition references and
	// therefore needs to ignore the alphabetical linting rule.
	// stylelint-disable-next-line order/properties-alphabetical-order
	-ms-transition: none;

	@include xui-breakpoint-wide {
		&:first-child {
			border-top-left-radius: $xui-radius;
			border-top-right-radius: $xui-radius;
		}

		&:last-child {
			border-bottom-left-radius: $xui-radius;
			border-bottom-right-radius: $xui-radius;
		}
	}
}

.#{$ns}-accordionwrapper-new--content {
	opacity: 0;
}

.#{$ns}-accordionwrapper-new--content-is-open {
	border-top: $xui-border-muted;
	opacity: 1;
	transition: opacity $xui-motion-speed-fast ease-in-out $xui-motion-speed-fast;
	// stylelint-disable-next-line order/properties-alphabetical-order
	-ms-transition: none;
}

.#{$ns}-accordionwrapper-new-no-pop {
	border-radius: 0;
	@include xui-highlight-left($xui-color-blue);
}

.#{$ns}-accordionwrapper-new-is-open {
	box-shadow: $xui-shadow-depth-lift;
	z-index: 1;
}

.#{$ns}-accordionwrapper-new-pop {
	border-radius: $xui-radius;
	margin-left: -$xui-accordion-new-pop-width;
	width: calc(100% + #{2 * $xui-accordion-new-pop-width});

	.#{$ns}-accordiontrigger-new-is-open {
		padding-left: $xui-accordion-new-pop-width;
		padding-right: $xui-accordion-new-pop-width;
	}
}

.#{$ns}-accordiontrigger-new {
	align-items: center;
	border-top: $xui-border-muted;
	cursor: pointer;
	display: flex;
	margin: 0;
	transition-duration: $xui-motion-speed-fast;
	transition-property: width, margin, padding;
	// stylelint-disable-next-line order/properties-alphabetical-order
	-ms-transition: none;

	&:first-child {
		border-top: 0;
	}

	&:hover {
		background: $xui-color-grey-alpha-8;
	}

	&:active {
		background: $xui-color-grey-alpha-7;
	}
}

.#{$ns}-accordiontrigger-new--arrow {
	align-items: center;
	display: flex;
	justify-content: center;
	overflow: hidden;
	padding: $xui-s-xsmall;
	width: $xui-icon-xlarge;

	@include xui-breakpoint-narrow {
		align-self: flex-start;
	}
}

.#{$ns}-accordiontrigger-new--arrow .#{$ns}-icon {
	transition-duration: $xui-motion-speed-fast;
	transition-property: all;
}

.#{$ns}-accordiontrigger-new--rightcontent {
	align-items: center;
	align-self: stretch;
	display: flex;
	flex-shrink: 0;
	padding: $xui-s-xsmall $xui-s-large $xui-s-xsmall $xui-s-xsmall;

	@include xui-breakpoint-narrow {
		align-self: flex-start;
	}
}

.#{$ns}-accordiontrigger-new--content {
	align-items: center;
	display: flex;
	flex-basis: auto;
	flex-grow: 1;
}

.#{$ns}-accordiontrigger-new--headings {
	flex-basis: auto;
	flex-grow: 1;
	padding: $xui-s-standard 0;
}

.#{$ns}-accordiontrigger-new--primaryheading {
	@include xui-heading-small;
	@include xui-text-wordbreak;
}

.#{$ns}-accordiontrigger-new--secondaryheading {
	@include xui-text-muted;
	@include xui-text-wordbreak;
}

.#{$ns}-accordiontrigger-new--pinnedvalue {
	@include xui-heading-small;
	@include xui-text-deemphasis;
	padding: $xui-s-small 0;
}

.#{$ns}-accordiontrigger-new--overflowcontent .xui-button-icon {
	margin-right: -#{$xui-s-small};
}
