@import '../vars';
@import '../mixins';

$xui-accordion-pop-width: $xui-s-xsmall;
$accordion-border-shadow: $xui-shadow-border-all;
$accordion-combined-focus-border: $accordion-border-shadow, xui-foucs-box-shadow-shift(1px);

.#{$ns}-accordion--emptystate {
  @include xui-text-muted;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: center;
}

.#{$ns}-accordionwrapper {
  background-color: $xui-color-white;
  box-shadow: $xui-shadow-border-all;
  outline: 0;
  position: relative;
  width: 100%;
  @include xui-motion-animation(false, transition) {
    transition-duration: $xui-motion-speed-fast;
    transition-property: width, margin, padding;
  }

  @include xui-breakpoint-medium-up {
    &:first-child,
    &:first-child .#{$ns}-accordiontrigger:focus {
      border-top-left-radius: $xui-radius;
      border-top-right-radius: $xui-radius;
    }

    &:last-child,
    &:last-child .#{$ns}-accordiontrigger:focus {
      border-bottom-left-radius: $xui-radius;
      border-bottom-right-radius: $xui-radius;
    }
  }
}

.#{$ns}-accordionwrapper--content {
  opacity: 0;
}

// prefers-reduced-motion can be ignored here because this instance is not a motion animation
// stylelint-disable-next-line a11y/media-prefers-reduced-motion
.#{$ns}-accordionwrapper--content-is-open {
  border-top: $xui-border-muted;
  opacity: 1;
  transition: opacity $xui-motion-speed-fast ease-in-out $xui-motion-speed-fast;
  // stylelint-disable-next-line order/properties-alphabetical-order
  -ms-transition: none;
}

.#{$ns}-accordionwrapper-no-pop {
  border-radius: 0;
  @include xui-highlight-left($xui-color-blue);
}

.#{$ns}-accordionwrapper-is-open {
  box-shadow: $xui-shadow-depth-lift;
  z-index: $xui-z-index-body;
}

.#{$ns}-accordionwrapper-pop {
  border-radius: $xui-radius;
  margin-left: -$xui-accordion-pop-width;
  width: calc(100% + #{2 * $xui-accordion-pop-width});
  .#{$ns}-accordiontrigger {
    padding-left: $xui-accordion-pop-width;
    padding-right: $xui-accordion-pop-width;
  }
}

.#{$ns}-accordiontrigger--arrow {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  overflow: hidden;
  padding: $xui-s-xsmall;
  width: $xui-icon-xlarge;

  @include xui-breakpoint-small-down {
    align-self: flex-start;
  }
}

.#{$ns}-accordiontrigger--arrow .#{$ns}-icon {
  transition-duration: $xui-motion-speed-fast;
  transition-property: all;
}

.#{$ns}-accordiontrigger {
  @include xui-content-block-item('#{$ns}-accordiontrigger');
}
