@import '../vars';
@import '../mixins';

.#{$ns}-autocompleter--textinputplaceholder {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
}

.#{$ns}-autocompleter--trigger-pillwrap {
  display: flex;
  flex-flow: row wrap;
  padding-left: $xui-s-2xsmall;

  & > .#{$ns}-textinput--input {
    padding-left: $xui-s-small;
  }
}

/**
 * Right padding adds space for XUITouchTarget on pills; right negative margin fixes the space
 * between the pill wrapper and the input.
 */
.#{$ns}-autocompleter--pills-nopillwrap {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 1;
  margin-right: -$xui-s-2xsmall;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: $xui-s-2xsmall;
  padding-right: $xui-s-2xsmall;

  & ~ .#{$ns}-textinput--input {
    padding-left: $xui-s-small;
  }
}

.#{$ns}-autocompleter--pill {
  @include xui-margin-vertical($xui-s-2xsmall - 1px); // -1px for border
  flex: 0 0 auto;
  margin-right: $xui-s-2xsmall;
  &:last-of-type {
    margin-right: 0;
  }
}

.#{$ns}-textinput:not(.#{$ns}-textinput-cell) .#{$ns}-autocompleter--textinput {
  flex-shrink: 0;
  max-width: 100%;
}

.#{$ns}-autocompleter--emptystate {
  align-items: center;
  display: flex;
  flex-direction: column;
  @include xui-padding-vertical($xui-s-large);
  @include xui-text-muted;
}
