@import '../vars';
@import '../mixins';

/* doiuse-disable object-fit*/
.#{$ns}-avatar {
  @include xui-text-medium;
  align-items: center;
  border-radius: $xui-radius-circle;
  color: $xui-color-white;
  cursor: default;
  display: inline-flex;
  flex: none;
  font-weight: bold;
  height: $xui-control-size-standard;
  justify-content: center;
  line-height: $xui-font-size-small; // TODO, use a line-height instead of a font-size variable
  object-fit: contain;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  width: $xui-control-size-standard;
}
/* doiuse-enable object-fit*/

// Required for alignment of img avatars in IE 11
img.#{$ns}-avatar {
  display: inline;
}

.#{$ns}-avatar-2xsmall {
  @include xui-text-2xsmall;
  height: $xui-control-size-2xsmall;
  width: $xui-control-size-2xsmall;
}

.#{$ns}-avatar-xsmall {
  @include xui-text-xsmall;
  height: $xui-control-size-xsmall;
  width: $xui-control-size-xsmall;
}

.#{$ns}-avatar-small {
  @include xui-text-small;
  height: $xui-control-size-small;
  width: $xui-control-size-small;
}

.#{$ns}-avatar-large {
  @include xui-text-xlarge;
  height: $xui-control-size-large;
  width: $xui-control-size-large;
}

.#{$ns}-avatar-xlarge {
  @include xui-text-2xlarge;
  height: $xui-control-size-xlarge;
  width: $xui-control-size-xlarge;
}

.#{$ns}-avatar-business {
  border-radius: $xui-radius-scaled;
}

// The map below creates the various color variations for the Avatar "generic"
// HTML and "chart" SVG version.
//
// HTML:
// - - - - - - -
// <abbr ...>AB</abbr>
//
// SVG:
// - - - - - - -
// <g>
//   <circle ... />
//   <text>
//     <tspan>AB</tspan>
//   </text>
// </g>

$idx: 1;
$xui-avatar-swatches: (
  ($xui-avatar-bg-color-1, $xui-avatar-color-1),
  ($xui-avatar-bg-color-2, $xui-avatar-color-2),
  ($xui-avatar-bg-color-3, $xui-avatar-color-3),
  ($xui-avatar-bg-color-4, $xui-avatar-color-4),
  ($xui-avatar-bg-color-5, $xui-avatar-color-5),
  ($xui-avatar-bg-color-6, $xui-avatar-color-6),
  ($xui-avatar-bg-color-7, $xui-avatar-color-7),
  ($xui-avatar-bg-color-8, $xui-avatar-color-8),
  ($xui-avatar-bg-color-9, $xui-avatar-color-9),
  ($xui-avatar-bg-color-10, $xui-avatar-color-10)
);

@each $background, $text in $xui-avatar-swatches {
  .#{$ns}-avatar-color-#{$idx} {
    background-color: $background;
    color: $text;
    fill: $background;

    + text * {
      fill: $text;
    }
  }

  $idx: $idx + 1;
}

.#{$ns}-avatar-hidden {
  @include xui-utility-hidden;
}
