@import "../vars";
@import "../mixins";


/* doiuse-disable object-fit*/
.#{$ns}-avatar {
	align-items: center;
	border-radius: 50%;
	color: $xui-color-white;
	cursor: default;
	display: inline-flex;
	flex: none;
	font-size: $xui-font-size-avatar;
	font-weight: bold;
	height: 32px;
	justify-content: center;
	line-height: $xui-font-size-small;
	object-fit: contain;
	overflow: hidden;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	width: 32px;
}
/* doiuse-enable object-fit*/

// Required for alignment of img avatars in IE 11
img.#{$ns}-avatar {
	display: inline;
}

.#{$ns}-avatar-xsmall {
	font-size: 8px;
	height: 18px;
	line-height: 8px;
	width: 18px;
}

.#{$ns}-avatar-small {
	font-size: $xui-font-size-avatar-small;
	height: 24px;
	line-height: $xui-font-size-avatar-small;
	width: 24px;
}

.#{$ns}-avatar-large {
	font-size: $xui-font-size-avatar-large;
	height: 48px;
	line-height: $xui-font-size-avatar-large;
	width: 48px;
}

.#{$ns}-avatar-xlarge {
	font-size: $xui-font-size-avatar-xlarge;
	height: 80px;
	line-height: $xui-font-size-avatar-xlarge;
	width: 80px;
}

.#{$ns}-avatar-2xlarge {
	font-size: 36px;
	height: 120px;
	line-height: 36px;
	width: 120px;
}

.#{$ns}-avatar-business {
	border-radius: 9.375%;
}

.#{$ns}-avatar-color-1 {
	background-color: $xui-avatar-bg-color-1;
	color: $xui-avatar-color-1;
	fill: $xui-avatar-bg-color-1;
}

.#{$ns}-avatar-color-2 {
	background-color: $xui-avatar-bg-color-2;
	color: $xui-avatar-color-2;
	fill: $xui-avatar-bg-color-2;
}

.#{$ns}-avatar-color-3 {
	background-color: $xui-avatar-bg-color-3;
	color: $xui-avatar-color-3;
	fill: $xui-avatar-bg-color-3;
}

.#{$ns}-avatar-color-4 {
	background-color: $xui-avatar-bg-color-4;
	color: $xui-avatar-color-4;
	fill: $xui-avatar-bg-color-4;
}

.#{$ns}-avatar-color-5 {
	background-color: $xui-avatar-bg-color-5;
	color: $xui-avatar-color-5;
	fill: $xui-avatar-bg-color-5;
}

.#{$ns}-avatar-color-6 {
	background-color: $xui-avatar-bg-color-6;
	color: $xui-avatar-color-6;
	fill: $xui-avatar-bg-color-6;
}

.#{$ns}-avatar-color-7 {
	background-color: $xui-avatar-bg-color-7;
	color: $xui-avatar-color-7;
	fill: $xui-avatar-bg-color-7;
}

.#{$ns}-avatar-color-8 {
	background-color: $xui-avatar-bg-color-8;
	color: $xui-avatar-color-9;
	fill: $xui-avatar-bg-color-8;
}

.#{$ns}-avatar-color-9 {
	background-color: $xui-avatar-bg-color-9;
	color: $xui-avatar-color-9;
	fill: $xui-avatar-bg-color-9;
}

.#{$ns}-avatar-color-10 {
	background-color: $xui-avatar-bg-color-10;
	color: $xui-avatar-color-10;
	fill: $xui-avatar-bg-color-10;
}
