@import "../vars";
@import "../mixins";

// Full-width layout
.#{$ns}-toggle-fullwidth-layout .#{$ns}-toggle--label,
.#{$ns}-toggle-fullwidth-layout .#{$ns}-toggle-option {
	flex-basis: 100%;
	flex-grow: 1;
	min-height: $xui-input-height;
}

// This forces text to wrap in IE11
.#{$ns}-toggle-fullwidth-layout .#{$ns}-toggle--text {
	display: block;
	width: 100%;
}

// Small variant
.#{$ns}-toggle-small .#{$ns}-toggle--label {
	padding-bottom: 4px; // 5px leads to a height of 31px
	padding-top: 4px;
}

.#{$ns}-toggle-small .#{$ns}-toggle--label,
.#{$ns}-toggle-small .#{$ns}-toggle-option {
	min-height: $xui-input-height-small;
}

// Base toggle
.#{$ns}-toggle {
	align-items: stretch;
	color: $xui-color-grey-1;
	display: flex;

	// Disabled toggles should not appear semi-transparent
	.#{$ns}-is-disabled {
		opacity: 1;
	}

	.#{$ns}-toggle--label:hover {
		background-color: $xui-color-grey-alpha-7;
	}

	// Focus, not hover
	.#{$ns}-toggle--input:focus:not(:hover) + .#{$ns}-toggle--label {
		box-shadow: $xui-shadow-focus;
	}

	// Active
	.#{$ns}-toggle--input:active + .#{$ns}-toggle--label {
		background-color: $xui-color-grey-alpha-6;
	}

	// Checked
	.#{$ns}-toggle--input:checked + .#{$ns}-toggle--label {
		background-color: $xui-color-grey-1;
		border-color: $xui-color-grey-1;
		color: $xui-color-white;
		z-index: 1;
	}

	// Checked, hover
	.#{$ns}-toggle--input:checked + .#{$ns}-toggle--label:hover {
		background-color: rgba($xui-color-grey-1, 0.95);
	}

	// Checked, active
	.#{$ns}-toggle--input:checked:active + .#{$ns}-toggle--label {
		background-color: rgba($xui-color-grey-1, 0.90);
	}

	// Checked, disabled
	.#{$ns}-toggle--input:checked:disabled + .#{$ns}-toggle--label {
		background-color: $xui-color-grey-alpha-6;
		border-color: $xui-color-grey-alpha-5;
		color: $xui-color-grey-alpha-4;
	}

	// Disabled
	.#{$ns}-toggle--input:disabled + .#{$ns}-toggle--label {
		border-color: $xui-color-grey-alpha-5;
		color: $xui-color-grey-alpha-4;
	}
}

// Input styles
.#{$ns}-toggle--input {
	@include xui-position-offscreen-input;
}

// Label styles
.#{$ns}-toggle--label {
	align-items: center;
	border: $xui-border-standard;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: -1px;
	min-height: $xui-input-height; // TODO: remove layout assumption
	min-width: $xui-input-height; // TODO: remove layout assumption
	position: relative; // For z-index
	text-align: center;
	transition: all $xui-motion-speed-fast ease;
}

// Inverted styles
.#{$ns}-toggle-inverted {
	color: $xui-color-white;

	.#{$ns}-toggle--label {
		border-color: $xui-color-inverted-alpha-4;
		color: $xui-color-white;
	}

	// Hover
	.#{$ns}-toggle--label:hover {
		background-color: $xui-color-shadow-inverted-light;
	}

	// Focus, not hover
	.#{$ns}-toggle--input:focus:not(:hover) + .#{$ns}-toggle--label {
		box-shadow: $xui-shadow-focus-inverted;
	}

	// Active
	.#{$ns}-toggle--input:active + .#{$ns}-toggle--label {
		background-color: $xui-color-shadow-inverted-medium;
	}

	// Checked
	.#{$ns}-toggle--input:checked + .#{$ns}-toggle--label {
		background-color: $xui-color-white;
		border-color: $xui-color-white;
		color: $xui-color-grey-1;
		z-index: 1;
	}

	// Checked, hover
	.#{$ns}-toggle--input:checked + .#{$ns}-toggle--label:hover {
		background-color: rgba($xui-color-white, 0.95);
	}

	// Checked, active
	.#{$ns}-toggle--input:checked:active + .#{$ns}-toggle--label {
		background-color: rgba($xui-color-white, 0.90);
	}

	// Checked, disabled
	.#{$ns}-toggle--input:checked:disabled + .#{$ns}-toggle--label {
		background-color: $xui-color-inverted-alpha-6;
		border-color: $xui-color-inverted-alpha-5;
		color: $xui-color-inverted-alpha-4;
	}

	// Disabled
	.#{$ns}-toggle--input:disabled + .#{$ns}-toggle--label {
		border-color: $xui-color-inverted-alpha-5;
		color: $xui-color-inverted-alpha-4;
	}
}

// Option styles
.#{$ns}-toggle-option {
	display: flex;

	&:nth-of-type(n+2) .#{$ns}-toggle--label {
		border-left: none;
	}

	&:first-of-type .#{$ns}-toggle--label {
		border-bottom-left-radius: $xui-radius;
		border-top-left-radius: $xui-radius;
	}

	&:last-of-type .#{$ns}-toggle--label {
		border-bottom-right-radius: $xui-radius;
		border-top-right-radius: $xui-radius;
	}
}
