@import "../vars";

.#{$ns}-button-fullwidth-layout {
	@include xui-breakpoint-narrow {
		display: block;
		width: 100%;
	}
}

.#{$ns}-button-small {
	min-height: $xui-input-height-small;
	padding: 6px $xui-s-small;
}
