@import "../vars";

.#{$ns}-background-white {
	background-color: $xui-color-white;
}

.#{$ns}-background-grey-1 {
	background-color: $xui-color-grey-1;
}

.#{$ns}-background-grey-2 {
	background-color: $xui-color-grey-2;
}

.#{$ns}-background-grey-3 {
	background-color: $xui-color-grey-3;
}

.#{$ns}-background-grey-4 {
	background-color: $xui-color-grey-4;
}

.#{$ns}-background-grey-5 {
	background-color: $xui-color-grey-5;
}

.#{$ns}-background-grey-6 {
	background-color: $xui-color-grey-6;
}

.#{$ns}-background-grey-7 {
	background-color: $xui-color-grey-7;
}

.#{$ns}-background-grey-8 {
	background-color: $xui-color-grey-8;
}
