@import '../vars';
@import '../mixins';

.#{$ns}-contentblock {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

.#{$ns}-contentblockitem {
  @include xui-content-block-item('#{$ns}-contentblockitem');
}

.#{$ns}-contentblockitem-layout {
  .#{$ns}-contentblockitem--leftcontent {
    margin-left: $xui-s-standard;
    margin-right: $xui-s-standard;
    .#{$ns}-styledcheckboxradiowrapper {
      padding: $xui-s-2xsmall;
    }
  }

  .#{$ns}-contentblockitem--maincontent {
    padding-bottom: $xui-s-standard;
    padding-top: $xui-s-standard;
  }
}

.#{$ns}-rowlink {
  // TODO: This isn't a component, nor is it content blocks, re-work it out
  color: inherit;
  display: block;
}
