@import "../vars";
@import "../mixins";

// Datepicker
//
// Introduction: A responsive calendar to handle date selection.
//
// Teaser: A responsive calendar to handle date selection.
//
// Components: Datepicker
//
// Styleguide: Compounds.CollectingInput.Datepicker

// Anatomy
//
// Apply the following classes to the datepicker to achieve the desired layout.
//
// Definitions:
// Base: `xui-datepicker`
// Header: `xui-datepicker--header`
// Body: `xui-datepicker--body`
// Weekday row: `xui-datepicker--weekdays`
// Weekday: `xui-datepicker--weekdaywrapper`
// Weekday content: `xui-datepicker--weekday`
// Date row: `xui-datepicker--week`
// Date: `xui-datepicker--day`
// Date content: `xui-datepicker--day--time`
//
// ExampleClass: ds-example-flush ds-example-transparent
//
// Markup:
// <div class='xui-panel xui-dropdown-large'>
//  <div class="xui-datepicker">
//   <header class="xui-datepicker--header">
//     <button type="button" class="xui-button xui-button-icon xui-button-icon-large xui-datepicker--prevbutton" aria-label="Go to previous month" title="Go to previous month">
//       <svg focusable="false" class="xui-icon xui-u-rotate-90"> <use xlink:href="#xui-icon-arrow" role="presentation" /></svg>
//     </button>
//     <form class="xui-datepicker--heading-dates">
//       <div class="xui-datepicker--heading xui-datepicker--heading-month">
//         <select id="month" class="xui-datepicker--heading-select xui-datepicker--monthselect-layout" name="month">
//           <option value="5">June</option>
//           <option value="6">July</option>
//           <option value="7">August</option>
//         </select>
//         <label for="month" class="xui-datepicker--heading-label">June</label>
//       </div>
//       <div class="xui-datepicker--heading xui-datepicker--heading-year">
//         <select id="year" class="xui-datepicker--heading-select xui-datepicker--yearselect-layout"
//          name="year">
//           <option value="2017">2017</option>
//           <option value="2018">2018</option>
//           <option value="2019">2019</option>
//         </select>
//         <label for="year" class="xui-datepicker--heading-label">2017</label>
//       </div>
//     </form>
//     <button type="button" class="xui-button xui-button-icon xui-button-icon-large xui-datepicker--nextbutton" aria-label="Go to next month" title="Go to next month">
//       <svg focusable="false" class="xui-icon xui-u-rotate-270"> <use xlink:href="#xui-icon-arrow" role="presentation" /></svg>
//     </button>
//   </header>
//   <div class="xui-datepicker--body" role="grid" aria-label="Select a day">
//     <div role="rowgroup">
//       <div class="xui-datepicker--weekdays" role="row">
//         <div class="xui-datepicker--weekdaywrapper" role="columnheader"><abbr class="xui-datepicker--weekday" title="Sunday">S</abbr></div>
//         <div class="xui-datepicker--weekdaywrapper" role="columnheader"><abbr class="xui-datepicker--weekday" title="Monday">M</abbr></div>
//         <div class="xui-datepicker--weekdaywrapper" role="columnheader"><abbr class="xui-datepicker--weekday" title="Tuesday">T</abbr></div>
//         <div class="xui-datepicker--weekdaywrapper" role="columnheader"><abbr class="xui-datepicker--weekday" title="Wednesday">W</abbr></div>
//         <div class="xui-datepicker--weekdaywrapper" role="columnheader"><abbr class="xui-datepicker--weekday" title="Thursday">T</abbr></div>
//         <div class="xui-datepicker--weekdaywrapper" role="columnheader"><abbr class="xui-datepicker--weekday" title="Friday">F</abbr></div>
//         <div class="xui-datepicker--weekdaywrapper" role="columnheader"><abbr class="xui-datepicker--weekday" title="Saturday">S</abbr></div>
//       </div>
//     </div>
//     <div role="rowgroup">
//       <div role="row" class="xui-datepicker--week">
//         <div class="xui-datepicker--day xui-datepicker--day-is-othermonth" role="gridcell">
//           <time datetime="2016-09-27" class="xui-datepicker--day--time">27</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-othermonth" role="gridcell">
//           <time datetime="2016-09-28" class="xui-datepicker--day--time">28</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-othermonth" role="gridcell">
//           <time datetime="2016-09-29" class="xui-datepicker--day--time">29</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-othermonth" role="gridcell">
//           <time datetime="2016-09-30" class="xui-datepicker--day--time">30</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-1" class="xui-datepicker--day--time">1</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-2" class="xui-datepicker--day--time">2</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-3" class="xui-datepicker--day--time">3</time>
//         </div>
//       </div>
//       <div role="row" class="xui-datepicker--week">
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-4" class="xui-datepicker--day--time">4</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-5" class="xui-datepicker--day--time">5</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-6" class="xui-datepicker--day--time">6</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-selected xui-datepicker--day-is-selected-hovered-start" role="gridcell" aria-selected="true">
//           <time datetime="2016-10-7" class="xui-datepicker--day--time">7</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-hovered-middle" role="gridcell">
//           <time datetime="2016-10-8" class="xui-datepicker--day--time">8</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-hovered-middle" role="gridcell">
//           <time datetime="2016-10-9" class="xui-datepicker--day--time">9</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-hovered-middle" role="gridcell">
//           <time datetime="2016-10-10" class="xui-datepicker--day--time">10</time>
//         </div>
//       </div>
//       <div role="row" class="xui-datepicker--week">
//         <div class="xui-datepicker--day xui-datepicker--day-is-hovered-middle" role="gridcell">
//           <time datetime="2016-10-11" class="xui-datepicker--day--time">11</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-hovered-middle" role="gridcell">
//           <time datetime="2016-10-12" class="xui-datepicker--day--time">12</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-hovered-middle" role="gridcell">
//           <time datetime="2016-10-13" class="xui-datepicker--day--time">13</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-hovered-end" role="gridcell">
//           <time datetime="2016-10-14" class="xui-datepicker--day--time">14</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-15" class="xui-datepicker--day--time">15</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-16" class="xui-datepicker--day--time">16</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-17" class="xui-datepicker--day--time">17</time>
//         </div>
//       </div>
//       <div role="row" class="xui-datepicker--week">
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-18" class="xui-datepicker--day--time">18</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-19" class="xui-datepicker--day--time">19</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-20" class="xui-datepicker--day--time">20</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-21" class="xui-datepicker--day--time">21</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-22" class="xui-datepicker--day--time">22</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-23" class="xui-datepicker--day--time">23</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-selected" role="gridcell">
//           <time datetime="2016-10-24" class="xui-datepicker--day--time">24</time>
//         </div>
//       </div>
//       <div role="row" class="xui-datepicker--week">
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-25" class="xui-datepicker--day--time">25</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-26" class="xui-datepicker--day--time">26</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-disabled" role="gridcell" aria-disabled="true">
//           <time datetime="2016-10-27" class="xui-datepicker--day--time">27</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-disabled" role="gridcell" aria-disabled="true">
//           <time datetime="2016-10-28" class="xui-datepicker--day--time">28</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-disabled" role="gridcell" aria-disabled="true">
//           <time datetime="2016-10-29" class="xui-datepicker--day--time">29</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-disabled" role="gridcell" aria-disabled="true">
//           <time datetime="2016-10-30" class="xui-datepicker--day--time">30</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-disabled" role="gridcell" aria-disabled="true">
//           <time datetime="2016-10-21" class="xui-datepicker--day--time">31</time>
//         </div>
//       </div>
//     </div>
//   </div>
// </div>
// </div>
//
// Styleguide: Compounds.CollectingInput.Datepicker.1

// Months and years
//
// Navigating between months is performed primarily via the two arrow buttons.
// However, when using React, two native `<select>` elements are also available in the header to enable jumping forward a significant number of months or years.
// Text content is injected into neighbouring `<label>` elements on select. These assist in setting the desired layout, as well as helping to manage focus.
// The following classes are available for reference.
//
// Definitions:
// Heading wrapper: `xui-datepicker--heading-dates`
// Headings: `xui-datepicker--heading`
// Month heading modifier: `xui-datepicker--heading-month`
// Year heading modifier: `xui-datepicker--heading-year`
// Selects: `xui-datepicker--heading-select`
// Month select modifier: `xui-datepicker--monthselect-layout`
// Year select modifier: `xui-datepicker--yearselect-layout`
// Labels: `xui-datepicker--heading-label`
//
// Styleguide: Compounds.CollectingInput.Datepicker.2



// Icon buttons
//
// Standard `xui-button-icon` buttons are used to trigger months on either side of the current month.
// It is recommended to use the `#xui-icon-arrow` SVG for these. The following modifiers are also required.
//
// Definitions:
// Previous: `xui-datepicker--prevbutton`
// Next: `xui-datepicker--nextbutton`
// Disabled: `xui-datepicker--button-is-disabled`
//
// Styleguide: Compounds.CollectingInput.Datepicker.3

// Sizes
//
// By default, datepickers span the full width of their containing element.
// To set your own width, nest the datepicker within another component, such as a <a href="section-compounds-collectinginput-dropdowns.html">dropdown</a>, or apply your own value.
// A smaller variant of the datepicker is also available by applying the following modifiers to `xui-datepicker`.
// It is also recommended to remove the `xui-button-icon-large` modifier on the icon buttons when doing so.
//
// Definitions:
// Standard: 40px controls, 100% width: none
// Compact: 30px controls, 100% width: `-compact`
//
// ExampleClass: ds-example-flush ds-example-transparent
//
// Markup:
// <div class='xui-panel xui-dropdown-medium'>
//  <div class="xui-datepicker xui-datepicker-compact">
//   <header class="xui-datepicker--header">
//     <button type="button" class="xui-button xui-button-icon xui-datepicker--prevbutton" aria-label="Go to previous month" title="Go to previous month">
//       <svg focusable="false" class="xui-icon xui-u-rotate-90"> <use xlink:href="#xui-icon-arrow" role="presentation" /></svg>
//     </button>
//     <form class="xui-datepicker--heading-dates">
//       <div class="xui-datepicker--heading xui-datepicker--heading-month">
//         <select id="month" class="xui-datepicker--heading-select xui-datepicker--monthselect-layout" name="month">
//           <option value="5">June</option>
//           <option value="6">July</option>
//           <option value="7">August</option>
//         </select>
//         <label for="month" class="xui-datepicker--heading-label">June</label>
//       </div>
//       <div class="xui-datepicker--heading xui-datepicker--heading-year">
//         <select id="year" class="xui-datepicker--heading-select xui-datepicker--yearselect-layout"
//          name="year">
//           <option value="2017">2017</option>
//           <option value="2018">2018</option>
//           <option value="2019">2019</option>
//         </select>
//         <label for="year" class="xui-datepicker--heading-label">2017</label>
//       </div>
//     </form>
//     <button type="button" class="xui-button xui-button-icon xui-datepicker--nextbutton" aria-label="Go to next month" title="Go to next month">
//       <svg focusable="false" class="xui-icon xui-u-rotate-270"> <use xlink:href="#xui-icon-arrow" role="presentation" /></svg>
//     </button>
//   </header>
//   <div class="xui-datepicker--body" role="grid" aria-label="Select a day">
//     <div role="rowgroup">
//       <div class="xui-datepicker--weekdays" role="row">
//         <div class="xui-datepicker--weekdaywrapper" role="columnheader"><abbr class="xui-datepicker--weekday" title="Sunday">S</abbr></div>
//         <div class="xui-datepicker--weekdaywrapper" role="columnheader"><abbr class="xui-datepicker--weekday" title="Monday">M</abbr></div>
//         <div class="xui-datepicker--weekdaywrapper" role="columnheader"><abbr class="xui-datepicker--weekday" title="Tuesday">T</abbr></div>
//         <div class="xui-datepicker--weekdaywrapper" role="columnheader"><abbr class="xui-datepicker--weekday" title="Wednesday">W</abbr></div>
//         <div class="xui-datepicker--weekdaywrapper" role="columnheader"><abbr class="xui-datepicker--weekday" title="Thursday">T</abbr></div>
//         <div class="xui-datepicker--weekdaywrapper" role="columnheader"><abbr class="xui-datepicker--weekday" title="Friday">F</abbr></div>
//         <div class="xui-datepicker--weekdaywrapper" role="columnheader"><abbr class="xui-datepicker--weekday" title="Saturday">S</abbr></div>
//       </div>
//     </div>
//     <div role="rowgroup">
//       <div role="row" class="xui-datepicker--week">
//         <div class="xui-datepicker--day xui-datepicker--day-is-othermonth" role="gridcell">
//           <time datetime="2016-09-27" class="xui-datepicker--day--time">27</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-othermonth" role="gridcell">
//           <time datetime="2016-09-28" class="xui-datepicker--day--time">28</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-othermonth" role="gridcell">
//           <time datetime="2016-09-29" class="xui-datepicker--day--time">29</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-othermonth" role="gridcell">
//           <time datetime="2016-09-30" class="xui-datepicker--day--time">30</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-1" class="xui-datepicker--day--time">1</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-2" class="xui-datepicker--day--time">2</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell" aria-selected="true">
//           <time datetime="2016-10-3" class="xui-datepicker--day--time">3</time>
//         </div>
//       </div>
//       <div role="row" class="xui-datepicker--week">
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-4" class="xui-datepicker--day--time">4</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-5" class="xui-datepicker--day--time">5</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-6" class="xui-datepicker--day--time">6</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-selected-start" role="gridcell">
//           <time datetime="2016-10-7" class="xui-datepicker--day--time">7</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-selected-middle" role="gridcell">
//           <time datetime="2016-10-8" class="xui-datepicker--day--time">8</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-selected-middle" role="gridcell">
//           <time datetime="2016-10-9" class="xui-datepicker--day--time">9</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-selected-middle" role="gridcell">
//           <time datetime="2016-10-10" class="xui-datepicker--day--time">10</time>
//         </div>
//       </div>
//       <div role="row" class="xui-datepicker--week">
//         <div class="xui-datepicker--day xui-datepicker--day-is-selected-middle" role="gridcell">
//           <time datetime="2016-10-11" class="xui-datepicker--day--time">11</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-selected-middle" role="gridcell">
//           <time datetime="2016-10-12" class="xui-datepicker--day--time">12</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-selected-middle" role="gridcell">
//           <time datetime="2016-10-13" class="xui-datepicker--day--time">13</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-selected-end" role="gridcell">
//           <time datetime="2016-10-14" class="xui-datepicker--day--time">14</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-15" class="xui-datepicker--day--time">15</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-16" class="xui-datepicker--day--time">16</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-17" class="xui-datepicker--day--time">17</time>
//         </div>
//       </div>
//       <div role="row" class="xui-datepicker--week">
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-18" class="xui-datepicker--day--time">18</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-19" class="xui-datepicker--day--time">19</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-20" class="xui-datepicker--day--time">20</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-21" class="xui-datepicker--day--time">21</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-22" class="xui-datepicker--day--time">22</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-23" class="xui-datepicker--day--time">23</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-today" role="gridcell">
//           <time datetime="2016-10-24" class="xui-datepicker--day--time">24</time>
//         </div>
//       </div>
//       <div role="row" class="xui-datepicker--week">
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-25" class="xui-datepicker--day--time">25</time>
//         </div>
//         <div class="xui-datepicker--day" role="gridcell">
//           <time datetime="2016-10-26" class="xui-datepicker--day--time">26</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-disabled" role="gridcell" aria-disabled="true">
//           <time datetime="2016-10-27" class="xui-datepicker--day--time">27</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-disabled" role="gridcell" aria-disabled="true">
//           <time datetime="2016-10-28" class="xui-datepicker--day--time">28</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-disabled" role="gridcell" aria-disabled="true">
//           <time datetime="2016-10-29" class="xui-datepicker--day--time">29</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-disabled" role="gridcell" aria-disabled="true">
//           <time datetime="2016-10-30" class="xui-datepicker--day--time">30</time>
//         </div>
//         <div class="xui-datepicker--day xui-datepicker--day-is-disabled" role="gridcell" aria-disabled="true">
//           <time datetime="2016-10-21" class="xui-datepicker--day--time">31</time>
//         </div>
//       </div>
//     </div>
//   </div>
// </div>
// </div>
//
// Styleguide: Compounds.CollectingInput.Datepicker.4

// Single dates
//
// Add the following modifiers to `xui-datepicker--day` to style them as required.
//
// Classes:
// -is-selected: Selected date
// -is-disabled: Disabled date
// -is-today: Indicator for the current day
// -is-othermonth: A date outside the visible month
//
// Styleguide: Compounds.CollectingInput.Datepicker.5

// Date ranges
//
// Add the following modifiers to `xui-datepicker--day` when selecting a date range.
//
// Classes:
// -is-selected-start: Selected date at the start of a range
// -is-selected-middle: Selected date in the middle of a range
// -is-selected-end: Selected date at the end of a range
// -is-hovered-start: Hovered date at the start of a range during selection
// -is-hovered-middle: Hovered date in the middle of a range during selection
// -is-hovered-end: Hovered date at the end of a range during selection
// -is-selected-hovered-start: Selected and hovered date at the start of a range during selection
// -is-selected-hovered-end: Selected and hovered date at the end of a range during selection
//
// Styleguide: Compounds.CollectingInput.Datepicker.6

// Accessibility
//
// Datepickers must have keyboard support as described in the [W3C documentation](https://www.w3.org/TR/wai-aria-practices/#kbd_focus_discernable_predictable).
// This may involve the use of the `tabindex` and `aria-activedescendant` attributes, which also require each active cell to have an `id`.
// An accessible example of a datepicker can be found on the [Open Ajax Alliance](http://www.oaa-accessibility.org/examplep/datepicker1/).
//
// Styleguide: Compounds.CollectingInput.Datepicker.7

$xui-datepicker-day-size: 40px;
$xui-datepicker-day-size-compact: 30px;

@mixin xui-datepicker-highlight-size-left() {
	border-radius: $xui-datepicker-day-size / 2 0 0 $xui-datepicker-day-size / 2;
	width: $xui-datepicker-day-size / 2;
	.#{$ns}-datepicker-compact & {
		border-radius: $xui-datepicker-day-size-compact / 2 0 0 $xui-datepicker-day-size-compact / 2;
		width: $xui-datepicker-day-size-compact / 2;
	}
}
@mixin xui-datepicker-highlight-size-right() {
	border-radius: 0 $xui-datepicker-day-size / 2 $xui-datepicker-day-size / 2 0;
	width: $xui-datepicker-day-size / 2;
	.#{$ns}-datepicker-compact & {
		border-radius: 0 $xui-datepicker-day-size-compact / 2 $xui-datepicker-day-size-compact / 2 0;
		width: $xui-datepicker-day-size-compact / 2;
	}
}

.#{$ns}-datepicker {
	border: none;
	font-size: 0.9375rem;
	padding-bottom: $xui-s-small;
	position: relative;
	width: 100%;

	&.#{$ns}-datepicker-compact {
		padding-bottom: $xui-s-xsmall;
	}
}

.#{$ns}-datepicker--header {
	@include xui-flex-children(center, space-between);
	flex-flow: row nowrap;
	padding: $xui-s-small;

	.#{$ns}-datepicker-compact & {
		padding: $xui-s-xsmall;
	}
}

.#{$ns}-datepicker--monthselect-layout {
	right: 0;
	text-align: right;
	text-align-last: right;
}

.#{$ns}-datepicker--monthoption-layout {
	text-align: left;
	text-align-last: left;
}

.#{$ns}-datepicker--prevbutton {
	@include xui-margin-left($xui-s-xsmall);
	min-width: $xui-datepicker-day-size;
	.#{$ns}-datepicker-compact & {
		min-width: $xui-datepicker-day-size-compact;
	}
}

.#{$ns}-datepicker--nextbutton {
	@include xui-margin-right($xui-s-xsmall);
	min-width: $xui-datepicker-day-size;
	.#{$ns}-datepicker-compact & {
		min-width: $xui-datepicker-day-size-compact;
	}
}

// This should be deprecated in favour of adding a xui-u-hidden-visually class on the button SVG
.#{$ns}-datepicker--button-is-disabled {
	cursor: default;
	&::before {
		color: $xui-datepicker-button-disabled-color;
	}
}

.#{$ns}-datepicker--heading {
	@include xui-text-line-height-compact;
	position: relative;
}

.#{$ns}-datepicker--heading-month {
	font-weight: $xui-font-weight-emphasis;
}

.#{$ns}-datepicker--yearselect-layout {
	left: 0;
	text-align: left;
}

.#{$ns}-datepicker--heading--selection {
	pointer-events: none;
}

.#{$ns}-datepicker--heading-select {
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;
	font-family: $xui-font-family;
	font-size: 1em;
	height: 100%;
	left: 0;
	opacity: 0.01;
	position: absolute;
	top: 0;
	width: 100%;

	&:focus + .#{$ns}-datepicker--heading-label {
		background: $xui-datepicker-heading-label-focus-bg-color;
	}
	&:active + .#{$ns}-datepicker--heading-label {
		background: $xui-datepicker-heading-label-active-bg-color;
	}
	&:hover + .#{$ns}-datepicker--heading-label {
		color: $xui-datepicker-heading-label-hover-color;
	}
}

.#{$ns}-datepicker--heading-label {
	border-radius: 3px;
	font-family: inherit;
	padding: $xui-s-xsmall;
	user-select: none;

	&:hover {
		cursor: default;
	}
}

.#{$ns}-datepicker--heading--selection-bold {
	font-weight: bold;
}

.#{$ns}-datepicker--heading-dates {
	@include xui-flex-children;
}

.#{$ns}-datepicker--body {
	border: 0;
	margin: 0;
	overflow: hidden;
	width: 100%;

	&:focus {
		outline: none;
	}
}

.#{$ns}-datepicker--week {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	display: flex;
	justify-content: space-between;
	padding-left: $xui-s-small;
	padding-right: $xui-s-small;

	.#{$ns}-datepicker-compact & {
		padding-left: $xui-s-xsmall;
		padding-right: $xui-s-xsmall;
	}
}

.#{$ns}-datepicker--weekdays {
	border-bottom: $xui-border-muted;
	display: flex;
	justify-content: space-between;
	margin-bottom: $xui-s-small;
	padding-bottom: $xui-s-small;
	padding-left: $xui-s-small;
	padding-right: $xui-s-small;

	.#{$ns}-datepicker-compact & {
		margin-bottom: $xui-s-xsmall;
		padding: $xui-s-xsmall;
	}
}

.#{$ns}-datepicker--day {
	border: 0;
	box-sizing: content-box;
	cursor: pointer;
	display: flex;
	flex: 1 0 auto;
	font-size: inherit;
	height: $xui-datepicker-day-size;
	justify-content: center;
	padding: 0;
	position: relative;
	text-align: center;
	user-select: none;
	width: $xui-datepicker-day-size;
	z-index: 0;

	&::after, &::before {
		content: '';
		height: 100%;
		position: absolute;
		top: 0;
		width: 50%;
	}

	&::after {
		left: 50%;
	}
	&::before {
		right: 50%;
	}

	&:active, &:focus {
		outline: none;
	}

	.#{$ns}-datepicker-compact & {
		height: $xui-datepicker-day-size-compact;
		width: $xui-datepicker-day-size-compact;
	}
}

.#{$ns}-datepicker--day-selectable {
	&:not(.#{$ns}-datepicker--day-is-in-range) {
		&:active, &:focus {
			.#{$ns}-datepicker--day--time {
				background-color: $xui-datepicker-day-focus-bg-color;
			}
		}
	}
	&:not(.#{$ns}-datepicker--day-is-in-selected-range):active {
		.#{$ns}-datepicker--day--time {
			background-color: $xui-datepicker-day-bg-color;
		}
	}
}

.#{$ns}-datepicker--day--time {
	@include xui-flex-children;
	background: transparent;
	border-radius: 50%;
	height: $xui-datepicker-day-size;
	pointer-events: none;
	position: relative;
	width: $xui-datepicker-day-size;
	z-index: 1;

	.#{$ns}-datepicker-compact & {
		height: $xui-datepicker-day-size-compact;
		width: $xui-datepicker-day-size-compact;
	}
}

.#{$ns}-datepicker--weekday {
	color: $xui-datepicker-weekday-color;
	cursor: default;
	font-size: $xui-font-size-xsmall;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	user-select: none;
}

.#{$ns}-datepicker--weekdaywrapper {
	flex: 1;
	text-align: center;
}

.#{$ns}-datepicker--day-is-othermonth {
	color: $xui-datepicker-othermonth-color;
}

.#{$ns}-datepicker--day-is-today {
	color: $xui-datepicker-today-color;
}

.#{$ns}-datepicker--day-is-selected {
	&:not(.#{$ns}-datepicker--day-is-selected-middle) {
		.#{$ns}-datepicker--day--time {
			background: $xui-datepicker-selected-bg-color;
			box-shadow: 0 0 0 0 $xui-datepicker-selected-shadow-color;
			color: $xui-datepicker-selected-color;
			transition: box-shadow $xui-motion-speed-fast $xui-motion-curve-standard;
		}
	}
	&:focus {
		.#{$ns}-datepicker--day--time {
			background: $xui-datepicker-selected-focus-bg-color;
		}
	}
	&:active,
	&:active:focus {
		.#{$ns}-datepicker--day--time {
			box-shadow: 0 0 0 2px $xui-datepicker-selected-active-shadow-color;
		}
	}
}

.#{$ns}-datepicker--day-is-disabled {
	cursor: default;
	.#{$ns}-datepicker--day--time {
		color: $xui-datepicker-disabled-color;
	}
}

.#{$ns}-datepicker--day-is-hovered-start {
	&::before {
		background: $xui-datepicker-hover-bg-color;
		@include xui-datepicker-highlight-size-left();
	}
	&::after {
		background: $xui-datepicker-hover-bg-color;
	}
}

.#{$ns}-datepicker--day-is-hovered-middle {
	&::before {
		background: $xui-datepicker-hover-bg-color;
	}
	&::after {
		background: $xui-datepicker-hover-bg-color;
	}
}

.#{$ns}-datepicker--day-is-hovered-end {
	&::before {
		background: $xui-datepicker-hover-bg-color;
	}
	&::after {
		background: $xui-datepicker-hover-bg-color;
		@include xui-datepicker-highlight-size-right();
	}
}

.#{$ns}-datepicker--day-is-selected-start {
	&::before {
		background: $xui-datepicker-selected-bg-color;
		@include xui-datepicker-highlight-size-left();
	}
	&::after {
		background: $xui-datepicker-selected-bg-color;
	}
	.#{$ns}-datepicker--day--time {
		color: $xui-datepicker-selected-color;
	}
}

.#{$ns}-datepicker--day-is-selected-middle {
	&::before {
		background: $xui-datepicker-selected-bg-color;
	}
	&::after {
		background: $xui-datepicker-selected-bg-color;
	}
	.#{$ns}-datepicker--day--time {
		color: $xui-datepicker-selected-color;
	}
}


.#{$ns}-datepicker--day-is-selected-end {
	&::before {
		background: $xui-datepicker-selected-bg-color;
	}
	&::after {
		background: $xui-datepicker-selected-bg-color;
		@include xui-datepicker-highlight-size-right();
	}
	.#{$ns}-datepicker--day--time {
		color: $xui-datepicker-selected-color;
	}
}

.#{$ns}-datepicker--day-is-selected-hovered-start {
	&::before {
		background: $xui-datepicker-hover-bg-color;
		@include xui-datepicker-highlight-size-left();
	}
	&::after {
		background: $xui-datepicker-hover-bg-color;
	}
}

.#{$ns}-datepicker--day-is-selected-hovered-end {
	&::before {
		background: $xui-datepicker-hover-bg-color;
	}
	&::after {
		background: $xui-datepicker-hover-bg-color;
		@include xui-datepicker-highlight-size-right();
	}
}
