@import '../vars';
@import '../mixins';

.#{$ns}-dateinput-item--daterange {
  /** @todo: This needs to be fixed as there are problems with exact widths and border attributes being applied */
  width: 360px;
}

.#{$ns}-dateinput-item--daterange .#{$ns}-textinput.#{$ns}-dateinput {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.#{$ns}-dateinput-item--daterange--secondinput .#{$ns}-textinput.#{$ns}-dateinput {
  border-left: 0;
  border-radius: 0;
}

.#{$ns}-dateinput-item--daterange .#{$ns}-button-split {
  border-bottom-right-radius: $xui-radius;
  border-left: 0;
  border-top-right-radius: $xui-radius;
  color: $xui-color-grey-3;
  /** @todo: below is a temporary fix to space the secondary button in the same manner as the inputs with labels */
  top: 25px;
}

.#{$ns}-dateinput-rangedropdown--panel {
  width: 400px;
}

.#{$ns}-dateinput-item--daterange .#{$ns}-textinputwrapper {
  float: left;
  width: 160px;
}
