@import "../vars";
@import "../mixins";

@keyframes #{$ns}-dropdown-mobile-show {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes #{$ns}-dropdown-mobile-hide {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
}

.#{$ns}-dropdown-layout {
	border-color: transparent;
	border-style: solid;
	border-width: 0px 1px;
	display: none;
	flex-direction: column;
	min-width: $xui-starting-width;
	outline: none;
	position: absolute;
	width: max-content;

	@include xui-breakpoint-medium-and-wide {
		z-index: 1000;

		.#{$ns}-dropdown--body {
			max-height: inherit;
			overflow: hidden;
			transform-origin: top;
		}
	}

	// TODO: rename this to xui-dropdown-force-desktop (modifier, not subcomponent)
	&.#{$ns}-dropdown--force-desktop {
		z-index: 1000;

		.#{$ns}-dropdown--body {
			overflow: hidden;
			transform-origin: top;
		}
	}

	@include xui-breakpoint-narrow {
		.#{$ns}-dropdown--mask {
			/*
		  Top and bottom are supposed to be -60px;  If they're not, unmasked content may become visible
		  while the address bar slides out of view on Android Chrome, Android Opera, and iOS Safari.
		  */
			bottom: -60px;
			left: 0;
			position: absolute;
			top: -60px;
			width: 100%;
		}

		&:not(.#{$ns}-dropdown--force-desktop) {
			height: 100%;
			left: 0;
			position: fixed;
			width: 100%;
			z-index: 9999;

			.#{$ns}-dropdown--body {
				bottom: 0;
				left: 0;
				max-width: 100%;
				position: absolute;
				transform: translateY(0);
				width: 100%;
			}

			.#{$ns}-dropdown--header {
				display: block;
				flex-grow: 0;
			}
		}
		// I know this is dumb, but it makes the linter happy.  Linter doesn't like nesting,
		// but apparently doesn't care about specificity, so just un-indenting this and
		// making it harder to read is apparently better...
		//
		// @author dev-johnsanders
		&.#{$ns}-dropdown-fullheight:not(.#{$ns}-dropdown--force-desktop) {
			height: 100%;

			.#{$ns}-dropdown--body {
				height: 100%;
				max-height: 100%;
			}
		}
	}

	.#{$ns}-dropdown--panel {
		outline: none;
	}

	// This class allows flex to correctly constrain the scrollable content in IE11. - FP
	.#{$ns}-dropdown--scrollable-container {
		max-height: inherit;
		overflow: hidden;
	}

	.#{$ns}-dropdown--header-container {
		align-items: center;
		box-shadow: 0 1px 0 0 $xui-dropdown-divider-shadow-color;
		display: flex;
		justify-content: space-between;
		min-height: $xui-navigation-height;
		padding-left: $xui-s-xsmall;
		padding-right: $xui-s-xsmall;
		width: 100%;

		.#{$ns}-textinputwrapper {
			width: inherit;
		}
	}

	.#{$ns}-dropdown--header-leftcontent {
		align-items: center;
		display: flex;
		flex: 1;
		overflow: hidden;
		padding-right: $xui-s-xsmall;
	}

	.#{$ns}-dropdown--header-rightcontent {
		align-items: center;
		display: flex;
	}

	.#{$ns}-dropdown--footer {
		box-shadow: 0 -1px 0 0 $xui-dropdown-divider-shadow-color;
		flex-grow: 0;
		width: 100%;
	}
}

.#{$ns}-dropdown--mask {
	background-color: $xui-dropdown-mask-bg-color;
	opacity: 0;
	pointer-events: none;
	transition: opacity $xui-motion-speed-fast $xui-motion-curve-standard;
}

.#{$ns}-dropdown--body {
	background-color: $xui-panel-bg-color;
	display: flex;
	flex-direction: column;

	@include xui-breakpoint-medium-and-wide {
		border-radius: $xui-radius;
		box-shadow: $xui-shadow-depth-lift;
	}
	.#{$ns}-dropdown--force-desktop & {
		border-radius: $xui-radius;
		box-shadow: $xui-shadow-depth-lift;
	}

	.#{$ns}-dropdown--scrollable-content {
		flex-grow: 1;
		-webkit-overflow-scrolling: touch;
		overflow-y: auto;
		transform: translate3d(0, 0, 0);
	}
}

.#{$ns}-dropdown-is-open {
	display: flex;

	@include xui-breakpoint-narrow {
		&:not(.#{$ns}-dropdown--force-desktop) {
			.#{$ns}-dropdown--mask {
				flex-grow: 1;
				opacity: 1;
				pointer-events: auto;
				width: 100vw;
			}

			.#{$ns}-dropdown--body {
				flex-grow: 0;
				max-height: 100%;
				opacity: 1;
			}
		}
	}
}

.#{$ns}-dropdown-is-opening {
	@include xui-breakpoint-narrow {
		&:not(.#{$ns}-dropdown--force-desktop) {
			.#{$ns}-dropdown--body {
				animation: #{$ns}-dropdown-mobile-show $xui-motion-speed-medium $xui-motion-curve-standard forwards;
			}
		}
	}
}

.#{$ns}-dropdown-is-closing {
	display: flex;

	@include xui-breakpoint-narrow {
		&:not(.#{$ns}-dropdown--force-desktop) {
			.#{$ns}-dropdown--mask {
				opacity: 0;
			}

			.#{$ns}-dropdown--body {
				animation: #{$ns}-dropdown-mobile-hide $xui-motion-speed-medium $xui-motion-curve-standard forwards;
			}
		}
	}
}

@each $number, $variant in $xui-width-variants-dropdown {
	@include xui-breakpoint-medium-and-wide {
		.#{$ns}-dropdown-#{$variant} {
			max-width: $xui-starting-width + ($xui-base-width * $number);
		}

		.#{$ns}-dropdown-fixed-#{$variant} {
			width: $xui-starting-width + ($xui-base-width * $number);
		}
	}
	@include xui-breakpoint-narrow {
		.#{$ns}-dropdown-#{$variant}.#{$ns}-dropdown--force-desktop {
			max-width: $xui-starting-width + ($xui-base-width * $number);
		}

		.#{$ns}-dropdown-fixed-#{$variant}.#{$ns}-dropdown--force-desktop {
			width: $xui-starting-width + ($xui-base-width * $number);
		}
	}
}

.#{$ns}-dropdown-positionright {
	right: 0;
}

.#{$ns}-dropdown-positionleft {
	left: 0;
}

.#{$ns}-dropdown-positionabove {
	bottom: 100%;
}

.#{$ns}-dropdown-positionunder {
	top: 100%;
}

.#{$ns}-dropdown-input-layout-match {
	border: 1px solid transparent;
}

.#{$ns}-dropdownToggled--innerWrap {
	display: inline-table;
}
