@import '../vars';
@import '../mixins';

$xui-editabletable-shadow-size: $xui-s-standard;
$xui-editabletable-shadowcover-size: $xui-s-3xlarge;

@mixin xui-editabletablecell {
  height: $xui-minimum-touch-target;
  padding: 0px;
  vertical-align: top;

  &:not(:first-child) {
    border-left: $xui-border-standard;
  }

  &:not(:last-child) {
    border-right: $xui-border-standard;
  }

  .#{$ns}-editabletablerow:not(:last-child) & {
    border-bottom: $xui-border-standard;
  }
}

// Container shadow overlay based on https://codepen.io/evank/pen/wWbRNO
.#{$ns}-editabletable {
  background: /* Shadow covers */ linear-gradient(
      90deg,
      $xui-color-white 30%,
      rgba($xui-color-black, 0)
    ),
    linear-gradient(90deg, rgba($xui-color-black, 0), $xui-color-white 70%) 100% 0,
    /* Shadows */
      linear-gradient(90deg, rgba($xui-color-black, 0.2) 0%, rgba($xui-color-black, 0) 100%),
    linear-gradient(270deg, rgba($xui-color-black, 0.2) 0%, rgba($xui-color-black, 0) 100%) 100% 0;
  background-attachment: local, local, scroll, scroll;
  background-color: $xui-editabletable-bg-color;
  background-repeat: no-repeat;
  background-size: $xui-editabletable-shadowcover-size 100%,
    $xui-editabletable-shadowcover-size 100%, $xui-editabletable-shadow-size 100%,
    $xui-editabletable-shadow-size 100%;
  border: $xui-border-standard;
  border-radius: $xui-radius;
  overflow-x: auto;

  &:not(.#{$ns}-editabletable-responsive) {
    display: table;
  }
}

.#{$ns}-editabletable-responsive {
  display: grid;
}

.#{$ns}-editabletable--table {
  padding: $xui-s-small;
  table-layout: fixed;
}

.#{$ns}-editabletable--caption {
  @include xui-utility-hidden-visually;
}

.#{$ns}-editabletablehead,
.#{$ns}-editabletablefoot {
  @include xui-heading-small;
  background-color: $xui-editabletablehead-bg-color;
}

.#{$ns}-editabletableheadingcell {
  height: $xui-minimum-touch-target;
  padding-left: $xui-s-standard;
  padding-right: $xui-s-standard;
}

.#{$ns}-editabletablehead {
  .#{$ns}-editabletableheadingcell {
    border-bottom: $xui-border-standard;
  }
}

.#{$ns}-editabletablefoot {
  .#{$ns}-editabletableheadingcell {
    border-top: $xui-border-standard;
  }
}

.#{$ns}-editabletableheadingcell-leftaligned {
  text-align: left;
}

.#{$ns}-editabletablecell {
  @include xui-editabletablecell;
}

.#{$ns}-editabletablecelliconbutton {
  width: $xui-icon-large;
}

.#{$ns}-editabletablecellreadonly {
  @include xui-padding-vertical($xui-s-xsmall - 1px); // xsmall, minus a 1px border
  @include xui-padding-horizontal($xui-s-standard);
}

@mixin xui-editabletable--control-default($cell-type) {
  border-color: transparent;
  border-radius: 0;
  &.#{$ns}-textinput-focus {
    border-color: transparent;
  }
  &:not(.#{$ns}-#{$cell-type}-is-disabled) {
    background-color: transparent;
  }
}

@mixin xui-editabletable--input-hover($disable-cell-type) {
  &:not(.#{$ns}-textinput-focus):hover,
  &:not(.#{$ns}-textinput-focus):active {
    &:not(.#{$ns}-#{$disable-cell-type}-is-disabled) {
      box-shadow: $xui-shadow-border-all;
    }
    border-color: transparent;
  }
}

.#{$ns}-textinput.#{$ns}-editabletablecelltextinput--control,
.#{$ns}-editabletablecellautocompleter--control .#{$ns}-textinput {
  @include xui-editabletable--control-default('textinput');
  @include xui-editabletable--input-hover('textinput');
}

.#{$ns}-editabletablecelltextinput--control .#{$ns}-textinput--input {
  width: inherit;
}

.#{$ns}-editabletablecellselectbox--control {
  .#{$ns}-select--button-no-variant,
  .#{$ns}-select--button:disabled {
    @include xui-editabletable--control-default('button');
    @include xui-editabletable--input-hover('button');
  }
  height: 100%;
  & :not(.#{$ns}-select--caret) {
    height: inherit;
  }
}
.#{$ns}-editabletablecellselectbox {
  .#{$ns}-select--button {
    @include xui-padding-vertical($xui-s-xsmall - 1px); // xsmall, minus a 1px border
    display: block;
    position: relative;
  }
  .#{$ns}-select--content {
    display: block;
    line-height: $xui-line-height-standard;
    padding-right: $xui-s-standard;
  }
  .#{$ns}-select--caret {
    position: absolute;
    right: $xui-s-standard;
    top: $xui-s-standard;
  }
}

.#{$ns}-editabletablecelltextinput {
  .#{$ns}-textinputwrapper,
  .#{$ns}-textinput {
    align-items: flex-start;
    height: 100%;
  }
}

.#{$ns}-editabletablecellautocompleter--control {
  height: 100%;
  > *,
  .#{$ns}-editabletablecellautocompleter--trigger,
  .#{$ns}-textinputwrapper,
  .#{$ns}-textinput {
    height: inherit;
  }
}
