@import '../vars';
@import '../mixins';

$xui-editabletable-shadow-size: $xui-s-standard;
$xui-editabletable-shadowcover-size: $xui-s-3xlarge;

@mixin xui-editabletablecell {
  height: $xui-minimum-touch-target;
  padding: 0px;
  vertical-align: top;

  &:not(:first-child) {
    border-left: $xui-border-standard;
  }

  &:not(:last-child) {
    border-right: $xui-border-standard;
  }

  .#{$ns}-editabletablerow:not(:last-child) & {
    border-bottom: $xui-border-standard;
  }
}

// Container shadow overlay based on https://codepen.io/evank/pen/wWbRNO
.#{$ns}-editabletable {
  background: /* Shadow covers */ linear-gradient(
      90deg,
      $xui-color-white 30%,
      rgba($xui-color-black, 0)
    ),
    linear-gradient(90deg, rgba($xui-color-black, 0), $xui-color-white 70%) 100% 0,
    /* Shadows */
      linear-gradient(90deg, rgba($xui-color-black, 0.2) 0%, rgba($xui-color-black, 0) 100%),
    linear-gradient(270deg, rgba($xui-color-black, 0.2) 0%, rgba($xui-color-black, 0) 100%) 100% 0;
  background-attachment: local, local, scroll, scroll;
  background-color: $xui-editabletable-bg-color;
  background-repeat: no-repeat;
  background-size: $xui-editabletable-shadowcover-size 100%,
    $xui-editabletable-shadowcover-size 100%, $xui-editabletable-shadow-size 100%,
    $xui-editabletable-shadow-size 100%;
  border: $xui-border-standard;
  border-radius: $xui-radius;
  display: block;
  overflow-x: auto;
}

.#{$ns}-editabletable--table {
  padding: $xui-s-small;
  // These properties are key to give implementers explicit control over column widths.
  // If no widths are specified, columns will default to being equal width.
  table-layout: fixed;
  width: 100%;
}

.#{$ns}-editabletable--caption {
  @include xui-utility-hidden-visually;
}

.#{$ns}-editabletablehead,
.#{$ns}-editabletablefoot {
  @include xui-heading-small;
  background-color: $xui-editabletablehead-bg-color;
}

.#{$ns}-editabletableheadingcell {
  height: $xui-minimum-touch-target;
  padding-left: $xui-s-standard;
  padding-right: $xui-s-standard;
}

.#{$ns}-editabletablehead {
  .#{$ns}-editabletableheadingcell {
    border-bottom: $xui-border-standard;
  }
}

.#{$ns}-editabletablefoot {
  .#{$ns}-editabletableheadingcell {
    border-top: $xui-border-standard;
  }
}

.#{$ns}-editabletableheadingcell-leftaligned {
  text-align: left;
}

.#{$ns}-editabletablecell {
  @include xui-editabletablecell;
}

.#{$ns}-editabletablecelliconbutton {
  width: $xui-icon-large;
}

.#{$ns}-editabletablecellreadonly {
  @include xui-padding-vertical($xui-s-xsmall - 1px); // xsmall, minus a 1px border
  @include xui-padding-horizontal($xui-s-standard);
}

.#{$ns}-editabletablecellselectbox {
  .#{$ns}-select--button {
    @include xui-padding-vertical($xui-s-xsmall - 1px); // xsmall, minus a 1px border
    display: block;
    position: relative;
  }
  .#{$ns}-select--content {
    display: block;
    line-height: $xui-line-height-standard;
    padding-right: $xui-s-standard;
  }
  .#{$ns}-select--caret {
    position: absolute;
    right: $xui-s-standard;
    top: $xui-s-standard;
  }
}

@mixin xui-editabletablecell-control {
  .#{$ns}-editabletablecell--focus-shadow,
  .#{$ns}-editabletablecell--border {
    height: 100%;
    position: relative;
  }

  // Hover
  &:hover {
    &:not(.#{$ns}-editabletablecell-control-is-invalid):not(.#{$ns}-editabletablecell-control-is-disabled) {
      .#{$ns}-editabletablecell--border {
        box-shadow: $xui-shadow-border-all;
      }
    }
  }

  // Invalid
  &-is-invalid {
    .#{$ns}-editabletablecell--border {
      box-shadow: 0 0 0 1px $xui-textinput-invalid-border-color;
      z-index: $xui-z-index-focus + 1;
    }
  }

  // Focus
  &-is-focused {
    .#{$ns}-editabletablecell--focus-shadow {
      @include xui-state-focus-shadow;
    }

    &:not(.#{$ns}-editabletablecell-control-is-invalid) {
      .#{$ns}-editabletablecell--border {
        box-shadow: $xui-shadow-border-all;
        z-index: $xui-z-index-focus;
      }
    }
  }

  // Disabled
  &-is-disabled {
    @include xui-disabled-form-control;
  }
}

.#{$ns}-editabletablecell-control {
  @include xui-editabletablecell-control;

  // Cursors
  &:not(.#{$ns}-editabletablecell-control-is-disabled) {
    &.#{$ns}-editabletablecellautocompleter,
    &.#{$ns}-editabletablecelltextinput {
      cursor: text;
    }

    &.#{$ns}-editabletablecellselectbox {
      cursor: pointer;
    }
  }
}

.#{$ns}-editabletablecell--validation {
  @include xui-text-xsmall;
  color: $xui-validation-color;
  padding: 0 $xui-s-standard $xui-s-xsmall;
  // Fix for Safari's disabled inputs overriding `color`.
  -webkit-text-fill-color: currentColor;
}

.#{$ns}-editabletablecell--validation-is-invalid {
  color: $xui-validation-invalid-color;
}
