@import '../vars';
@import '../mixins';

$xui-editabletable-shadow-size: $xui-s-standard;
$xui-editabletable-shadowcover-size: $xui-s-3xlarge;

@mixin xui-editabletablecell {
  height: $xui-minimum-touch-target;
  padding: 0px;
  border-top: $xui-border-standard;

  &:not(:first-child) {
    border-left: $xui-border-standard;
  }

  &:not(:last-child) {
    border-right: $xui-border-standard;
  }

  .#{$ns}-editabletablerow:not(:last-child) & {
    border-bottom: $xui-border-standard;
  }
}

// Container shadow overlay based on https://codepen.io/evank/pen/wWbRNO
.#{$ns}-editabletable {
  border: $xui-border-standard;
  border-radius: $xui-radius;
  overflow-x: auto;
  background: /* Shadow covers */ linear-gradient(
      90deg,
      $xui-color-white 30%,
      rgba($xui-color-black, 0)
    ),
    linear-gradient(90deg, rgba($xui-color-black, 0), $xui-color-white 70%) 100% 0,
    /* Shadows */
      linear-gradient(90deg, rgba($xui-color-black, 0.2) 0%, rgba($xui-color-black, 0) 100%),
    linear-gradient(270deg, rgba($xui-color-black, 0.2) 0%, rgba($xui-color-black, 0) 100%) 100% 0;
  background-repeat: no-repeat;
  background-color: $xui-editabletable-bg-color;
  background-size: $xui-editabletable-shadowcover-size 100%,
    $xui-editabletable-shadowcover-size 100%, $xui-editabletable-shadow-size 100%,
    $xui-editabletable-shadow-size 100%;
  background-attachment: local, local, scroll, scroll;
}

.#{$ns}-editabletable--table {
  padding: $xui-s-small;
}

.#{$ns}-editabletable--caption {
  @include xui-utility-hidden-visually;
}

.#{$ns}-editabletablehead,
.#{$ns}-editabletablefoot {
  @include xui-heading-small;
  background-color: $xui-editabletablehead-bg-color;
}

.#{$ns}-editabletableheadingcell {
  height: $xui-minimum-touch-target;
  padding-left: $xui-s-standard;
  padding-right: $xui-s-standard;
}

.#{$ns}-editabletableheadingcell-leftaligned {
  text-align: left;
}

.#{$ns}-editabletablecell {
  @include xui-editabletablecell;
}

.#{$ns}-editabletablecellreadonly {
  @include xui-editabletablecell;
  padding-left: $xui-s-standard;
  padding-right: $xui-s-standard;
}

@mixin xui-editabletable--control-default {
  border-color: transparent;
  border-radius: 0;
  &.#{$ns}-textinput-focus {
    border-color: transparent;
  }
}

@mixin xui-editabletable--input-hover($disable-cell-type) {
  &:not(.#{$ns}-textinput-focus):hover,
  &:not(.#{$ns}-textinput-focus):active {
    &:not(.#{$ns}-#{$disable-cell-type}-is-disabled) {
      background-color: inherit;
      box-shadow: $xui-shadow-border-all;
    }
    border-color: transparent;
  }
}

.#{$ns}-textinput.#{$ns}-editabletablecelltextinput--control,
.#{$ns}-editabletablecellautocompleter--control .#{$ns}-textinput {
  @include xui-editabletable--control-default();
  @include xui-editabletable--input-hover('textinput');
}

.#{$ns}-editabletablecellselectbox--control {
  .#{$ns}-select--button-no-variant,
  .#{$ns}-select--button:disabled {
    @include xui-editabletable--control-default();
    @include xui-editabletable--input-hover('button');
  }
  height: 100%;
  & :not(svg) {
    height: inherit;
  }
}

.#{$ns}-editabletablecelltextinput {
  .#{$ns}-textinputwrapper,
  .#{$ns}-textinput,
  .#{$ns}-textinput--input {
    height: 100%;
  }
}

.#{$ns}-editabletablecellautocompleter--control {
  height: 100%;
  > *,
  .#{$ns}-editabletablecellautocompleter--trigger,
  .#{$ns}-textinputwrapper,
  .#{$ns}-textinput {
    height: inherit;
  }
}
