@import "../vars";
@import "../mixins";


.#{$ns}-select--control {
	@include xui-commoninput;

	cursor: pointer;
	padding-right: $xui-s-3xlarge;

	&::-ms-expand {
		display: none;
	}

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 $xui-color-black;
	}

	~ .#{$ns}-select--caret {
		align-items: center;
		bottom: 0;
		display: flex;
		justify-content: center;
		margin: $xui-s-xsmall $xui-s-xsmall $xui-s-xsmall 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
		width: $xui-icon-standard;
		z-index: 2;
	}
}

.#{$ns}-select {
	position: relative; // Required for the native select to position its caret correctly
}

.#{$ns}-select--caret {
	align-self: center;
	.#{$ns}-is-disabled ~ & {
		opacity: .4;
	}
}

.#{$ns}-select--content {
	@include xui-text-truncated;
}

.#{$ns}-select--button {
	@include xui-commoninput;
	background-color: transparent;
	border: $xui-border-control;
	border-radius: $xui-radius;
	color: $xui-select-color;
	display: flex;
	font-weight: normal;
	min-height: $xui-input-height;
	padding: $xui-input-padding-vertical $xui-input-padding-horizontal $xui-input-padding-vertical $xui-input-padding-horizontal;
	text-align: left;
	&.#{$ns}-button-is-disabled {
		background-image: none; // Needs to strip out some button-like behavior, to look like an input when disabled.
	}
}

.#{$ns}-dropdownmenu-select {
	border-radius: 0 0 $xui-radius $xui-radius;
	border-top: 0;
}

.#{$ns}-select-layout {

	.#{$ns}-dropdown--body {
		border-top: 0;

		@include xui-breakpoint-narrow {
			border: 0;
			border-radius: 0;
		}
	}

	.#{$ns}-select--button {
		width: 100%;
	}
}
