@import '../vars';
@import '../mixins';

@mixin xui-inputgroup-bordered-all($ordinal: '') {
  @include xui-inputgroup-bordered-toplevel($ordinal) {
    @content;
  }
  @include xui-inputgroup-grandchild-order-matters($ordinal, $ordinal) {
    @content;
  }
}

// Specific bordered elements with top-level containers
@mixin xui-inputgroup-bordered-toplevel($ordinal: '') {
  // Specific bordered elements with top-level containers
  .#{$ns}-textinput#{$ordinal},
  .#{$ns}-button#{$ordinal},
  .#{$ns}-buttongroup#{$ordinal},
  .#{$ns}-select#{$ordinal} .#{$ns}-select--control,
  .#{$ns}-selectwrapper#{$ordinal} .#{$ns}-select--button {
    @content;
  }
  // Top-level elements that may contain textinputs or buttons
  .#{$ns}-textinputwrapper#{$ordinal},
  .#{$ns}-autocompleter#{$ordinal},
  .#{$ns}-dropdown--toggledwrapper#{$ordinal},
  .#{$ns}-dateinput#{$ordinal} {
    .#{$ns}-textinput,
    .#{$ns}-button {
      @content;
    }
  }
}
// Some nested elements (eg. buttongroup, textinput sideelements) may need different
// treatment depending on where they appear within their parent components.
@mixin xui-inputgroup-grandchild-order-matters($parentordinal: '', $childordinal: '') {
  // Specific bordered elements with top-level containers
  .#{$ns}-buttongroup#{$parentordinal} > .#{$ns}-button#{$childordinal},
  .#{$ns}-buttongroup#{$parentordinal}
    .#{$ns}-dropdown--toggledwrapper#{$childordinal}
    .#{$ns}-button {
    @content;
  }
  // Top-level elements that may contain sideelements
  .#{$ns}-autocompleter#{$parentordinal},
  .#{$ns}-textinputwrapper#{$parentordinal} {
    .#{$ns}-textinput--sideelement#{$childordinal} {
      @content;
    }
  }
}

.#{$ns}-inputgroup > {
  // Square borders, by default
  @include xui-inputgroup-bordered-all {
    border-radius: 0;
  }
}

// These "not" selectors are for backwards compatibility with .xui-inputgroup. TODO: change to xui-inputgroup-horizontal for 18
.#{$ns}-inputgroup:not(.#{$ns}-inputgroup-vertical) > {
  // omit left border for items other than the first
  @include xui-inputgroup-bordered-all(':nth-child(n + 2)') {
    border-left: 0;
  }

  // round left borders for the first item
  @include xui-inputgroup-bordered-all(':first-child') {
    border-bottom-left-radius: $xui-radius;
    border-top-left-radius: $xui-radius;
  }

  // round right borders for the last item
  @include xui-inputgroup-bordered-all(':last-child') {
    border-bottom-right-radius: $xui-radius;
    border-top-right-radius: $xui-radius;
  }

  .#{$ns}-buttongroup:nth-child(n + 2) {
    margin-left: -1px;
  }
}
.#{$ns}-inputgroup-vertical > {
  // adjust top margin for items other than the first
  @include xui-inputgroup-bordered-toplevel(':nth-child(n + 2)') {
    margin-top: -1px;
  }

  // round top corners for the first top-level child
  @include xui-inputgroup-bordered-all(':first-child') {
    border-top-left-radius: $xui-radius;
  }
  @include xui-inputgroup-bordered-toplevel(':first-child') {
    border-top-right-radius: $xui-radius;
  }
  @include xui-inputgroup-grandchild-order-matters(':first-child', ':last-child') {
    border-top-right-radius: $xui-radius;
  }

  // round bottom corners for the last top-level child
  @include xui-inputgroup-bordered-all(':last-child') {
    border-bottom-right-radius: $xui-radius;
  }
  @include xui-inputgroup-bordered-toplevel(':last-child') {
    border-bottom-left-radius: $xui-radius;
  }
  @include xui-inputgroup-grandchild-order-matters(':last-child', ':first-child') {
    border-bottom-left-radius: $xui-radius;
  }
}

.#{$ns}-inputgroup-vertical .#{$ns}-text-label + {
  .#{$ns}-textinput,
  .#{$ns}-select .#{$ns}-select--button {
    border-radius: $xui-radius !important;
  }
}

// TODO: change to xui-inputgroup-horizontal for 18
.#{$ns}-inputgroup:not(.#{$ns}-inputgroup-vertical) {
  .#{$ns}-textinput-is-invalid:nth-child(n + 2),
  .#{$ns}-textinputwrapper-is-invalid:nth-child(n + 2),
  .#{$ns}-select:nth-child(n + 2) > .#{$ns}-select--control.#{$ns}-textinput-is-invalid,
  .#{$ns}-daterangeinput--secondinput.#{$ns}-textinput {
    margin-left: -1px; // This just straight up doesn't work if you have a mix of valid and invalid. or with individual labels
  }
  .#{$ns}-textinput-is-invalid:nth-child(n + 2),
  .#{$ns}-textinputwrapper-is-invalid:nth-child(n + 2) .#{$ns}-textinput-is-invalid,
  .#{$ns}-select:nth-child(n + 2) > .#{$ns}-select--control.#{$ns}-textinput-is-invalid {
    border-left: 1px solid $xui-color-red;
  }
}

.#{$ns}-inputgroup {
  display: grid;

  &-is-bottomaligned {
    align-items: end;
  }

  .#{$ns}-text-label {
    padding-right: $xui-s-small;
  }

  @include xui-clearfix;
}
