@import '../vars';
@import '../mixins';

$xui-invalid-icon-size: 18px; // Override default icon view-box to remove unwanted surrounding space

.#{$ns}-form-layout {
  @include xui-margin-horizontal-auto;
  max-width: $xui-form-width;
}

.#{$ns}-validation-layout {
  margin-bottom: $xui-s-small;
  min-height: $xui-s-xlarge;
  padding-top: $xui-s-xsmall;
}

.#{$ns}-field-layout {
  margin-bottom: $xui-s-2xlarge;
  // When validation is wrapped into the field-layout...
  .#{$ns}-validation {
    margin-bottom: -($xui-s-standard + $xui-s-xsmall); // Validation line-height (px value) + padding
  }

  // When validation follows field-layout
  & + .#{$ns}-validation {
    margin-bottom: $xui-s-xsmall;
    margin-top: -$xui-s-2xlarge; // Pop these up into the reserved space
  }
}

.#{$ns}-validation {
  @include xui-text-xsmall;
  color: $xui-validation-color;
}

.#{$ns}-validation-is-invalid {
  color: $xui-validation-invalid-color;
  display: flex;
  line-height: $xui-invalid-icon-size;
  padding-top: $xui-s-small * 0.5;
  .#{$ns}-icon {
    height: $xui-invalid-icon-size;
    margin-right: $xui-s-xsmall;
    width: $xui-invalid-icon-size;
  }
}

.#{$ns}-form-inline {
  // Mobile-first breakpoint style
  margin: auto;
  max-width: $xui-form-width;

  // Wider viewport style
  @include xui-breakpoint-small-up {
    max-width: none;

    .#{$ns}-field-layout {
      display: inline-block;
      vertical-align: bottom;
    }
  }
}

.#{$ns}-charactercounter {
  @include xui-text-xsmall;
  color: $xui-text-muted-color;

  .#{$ns}-charactercounter-alert {
    color: $xui-text-negative-color;
  }
}

.#{$ns}-charactercounter-layout {
  align-self: flex-end;
  display: flex;
  gap: 1px;
  padding-bottom: $xui-s-2xsmall;
  text-align: right;
}

.#{$ns}-controlwrapper-header-row {
  display: inline-flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;
  width: 100%;
}
