@import "../mixins";
@import "../vars";

// TODO: update uses of this var to $xui-s-xsmall, when flexible controls are available.
$xui-switch-label-padding: $xui-s-small - 2;

.#{$ns}-switch {
	align-items: center;
	display: inline-flex; // Inline inputs
	position: relative;

	&.#{$ns}-is-disabled {
		// Disabled due to iOS - no cursor, but we still want this for desktop clients
		/* doiuse-disable */
		cursor: not-allowed;
		opacity: 1;
		/* doiuse-enable */
	}
}

.#{$ns}-switch--control {
	background-color: $xui-switch-bg-color;
	border-radius: 40px;
	cursor: pointer;
	display: inline-block;
	height: 22px;
	position: relative;
	transition: all $xui-motion-speed-fast $xui-motion-curve-standard;
	user-select: none;
	vertical-align: middle;
	width: 40px;
	&::before {
		background-color: $xui-switch-check-bg-color;
		border-radius: 50%;
		content: " ";
		display: inline-block;
		height: 18px;
		margin: 2px;
		position: absolute;
		transition: all $xui-motion-speed-fast $xui-motion-curve-standard;
		width: 18px;
	}
	.#{$ns}-is-disabled & {
		background: $xui-switch-diabled-bg-color;
	}
}

.#{$ns}-switch--checkbox {
	@include xui-utility-hidden-visually;
	&:focus + .#{$ns}-switch--control {
		box-shadow: $xui-shadow-focus;
	}

	&:checked + .#{$ns}-switch--control {
		background: $xui-switch-checked-bg-color;
		.#{$ns}-is-disabled & {
			background: $xui-switch-checked-diabled-bg-color;
		}
		&::before {
			left: auto;
			transform: translate(18px);
		}
	}
}

// Label spacing
// =============
.#{$ns}-switch--label {
	flex-grow: 1;

	.#{$ns}-switch:not(.#{$ns}-switch-reversed) & {
		padding-left: $xui-switch-label-padding;
	}

	.#{$ns}-is-disabled & {
		color: $xui-color-grey-alpha-4;
	}
}


// Right-aligned input
// ===================
.#{$ns}-switch-reversed {
	flex-direction: row-reverse;
	justify-content: space-between;

	.#{$ns}-switch--label {
		padding-right: $xui-switch-label-padding;
	}
}
