@import "../vars";
@import "../mixins";

$xui-switch-label-padding: $xui-s-xsmall;

.#{$ns}-switch {
	display: inline-block; // Inline inputs

	.#{$ns}-switch--field {
		align-items: center;
		display: flex;
		max-width: 100%;
		position: relative;
	}

	// Compatibility for controls that are not wrapped in a div
	@at-root label#{&} {
		align-items: center;
		display: inline-flex; // Inline inputs
		position: relative;
	}
}

.#{$ns}-switch-is-disabled {
	cursor: not-allowed;
}

.#{$ns}-switch--control {
	background-color: $xui-switch-bg-color;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: all $xui-motion-speed-fast $xui-motion-curve-standard;
	user-select: none;
	vertical-align: middle;

	&::before {
		background-color: $xui-switch-check-bg-color;
		border-radius: 50%;
		content: " ";
		display: inline-block;
		position: absolute;
		transition: all $xui-motion-speed-fast $xui-motion-curve-standard;
	}
	.#{$ns}-switch-is-disabled & {
		background: $xui-switch-disabled-bg-color;
		cursor: not-allowed;
	}
}

.#{$ns}-switch--control-medium {
	border-radius: $xui-control-size-standard;
	height: 22px;
	width: $xui-control-size-standard;

	&::before {
		height: 18px;
		margin: 2px;
		width: 18px;
	}
}

.#{$ns}-switch--checkbox {
	@include xui-position-offscreen-input;
	&:focus + .#{$ns}-switch--control {
		box-shadow: $xui-shadow-focus;
	}

	&:checked + .#{$ns}-switch--control {
		background: $xui-switch-checked-bg-color;
		.#{$ns}-switch-is-disabled & {
			background: $xui-switch-checked-disabled-bg-color;
		}
		&::before {
			left: auto;
			transform: translate(18px);
		}
	}
}

// Label spacing
// =============
.#{$ns}-switch--label {
	flex-grow: 1;

	&.#{$ns}-switch--label-medium {
		@include xui-text-medium;
	}
	&.#{$ns}-switch--label-small {
		@include xui-text-small;
	}

	.#{$ns}-switch:not(.#{$ns}-switch-reversed) & {
		padding-left: $xui-switch-label-padding;
	}

	.#{$ns}-switch-is-disabled & {
		color: $xui-color-grey-alpha-4;
		cursor: not-allowed;
	}
}


// Right-aligned input
// ===================
.#{$ns}-switch-reversed {
	.#{$ns}-switch--field {
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	// Compatibility for controls that are not wrapped in a div
	@at-root label#{&} {
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.#{$ns}-switch--label {
		padding-right: $xui-switch-label-padding;
	}
}

// Group styles
// ============
.#{$ns}-switch-group {
	background: $xui-color-white;
	border: $xui-border-control;
	border-radius: $xui-radius;

	.#{$ns}-switch {
		display: block; // Stacked inputs
		padding: $xui-switch-label-padding/2; // Border padding
	}

	// Compatibility for controls that are not wrapped in a div
	label.#{$ns}-switch {
		display: flex;
	}

	.#{$ns}-switch:nth-last-of-type(n+2) {
		border-bottom: $xui-border-control;
	}

	.#{$ns}-switch:not(.#{$ns}-switch-reversed) {
		.#{$ns}-switch--label {
			padding: 5px 6px 4px 3px;
		}
	}

	.#{$ns}-switch-reversed {
		.#{$ns}-switch--label {
			padding: 5px 3px 4px 6px;
		}
	}

	.#{$ns}-switch--control {
		align-self: flex-start;
		flex-shrink: 0;
		margin: $xui-switch-label-padding/2;
	}
}

.#{$ns}-switch-group-is-invalid,
.#{$ns}-switch-group-is-invalid .#{$ns}-switch:nth-last-of-type(n+2) {
	border-color: $xui-validation-invalid-color;
}
