@import "../vars";
@import "../mixins";

// TODO: Ensure the as-yet-undeveloped React component covered by #3031 imports this file

/*
 * Custom styling for `<input type="range">`
 * After Ana Tudor:
 * https://codepen.io/thebabydino/pen/qVQLzm
 */

$xui-rangeslider-height: 2px;
$xui-rangeslider-thumb-diameter-default: $xui-s-xlarge;
$xui-rangeslider-thumb-diameter-small: $xui-s-large;
$xui-rangeslider-thumb-diameter-xsmall: $xui-s-standard;

@mixin xui-rangeslider-track {
	background: $xui-rangeslider-track-color;
	border: none;
	box-sizing: border-box;
	height: $xui-rangeslider-height;
	width: 100%;
}

@mixin xui-rangeslider-thumb {
	background: $xui-range-bg-color;
	border: 1px solid $xui-range-border-color;
	border-radius: 50%;
	box-sizing: border-box;
	height: $xui-rangeslider-thumb-diameter-default;
	width: $xui-rangeslider-thumb-diameter-default;
}

.#{$ns}-rangeslider-container {
	align-items: center;
	display: flex;
}

.#{$ns}-rangeslider {
	-webkit-appearance: none;
	background: transparent;
	height: $xui-rangeslider-thumb-diameter-default;
	margin: 0;
	width: 100%;

	&.#{$ns}-rangeslider-is-invalid {
		&::-webkit-slider-thumb {
			border-color: $xui-rangeslider-thumb-invalid-color;
		}
		&::-moz-range-thumb {
			border-color: $xui-rangeslider-thumb-invalid-color;
		}
		&::-ms-thumb {
			border-color: $xui-rangeslider-thumb-invalid-color;
		}
		&::-webkit-slider-runnable-track {
			background: $xui-rangeslider-track-invalid-color;
		}

		&::-moz-range-track {
			background: $xui-rangeslider-track-invalid-color;
		}

		&::-ms-track {
			background: $xui-rangeslider-track-invalid-color;
			color: $xui-rangeslider-track-invalid-color;
		}
	}

	&:disabled {
		cursor: not-allowed;
		&::-webkit-slider-thumb {
			background: $xui-rangeslider-thumb-disabled-color;
		}
		&::-moz-range-thumb {
			background: $xui-rangeslider-thumb-disabled-color;
		}
		&::-ms-thumb {
			background: $xui-rangeslider-thumb-disabled-color;
		}
	}

	//	I’d normally alphabetise these browser-specific properties,
	//	but Edge accepts both `-ms-thumb` and `-webkit-slider-thumb` styles.
	//	Since Edge and Chrome position the thumb differently (of course),
	//	Chrome needs to come first so Edge’s `-ms-thumb` style will rule the day.

	&::-webkit-slider-runnable-track {
		@include xui-rangeslider-track;
	}

	&::-moz-range-track {
		@include xui-rangeslider-track;
	}

	&::-ms-track {
		@include xui-rangeslider-track;
		color: $xui-rangeslider-track-color;
	}

	&::-ms-fill-lower,
	&::-ms-fill-upper {
		background-color: $xui-rangeslider-track-color;
	}

	&::-webkit-slider-thumb {
		@include xui-rangeslider-thumb;
		-webkit-appearance: none;
		margin-top: ($xui-rangeslider-height - $xui-rangeslider-thumb-diameter-default) * 0.5;
	}

	&::-moz-range-thumb {
		@include xui-rangeslider-thumb;
	}

	&::-ms-thumb {
		@include xui-rangeslider-thumb;
		margin-top: 0;
	}

	&:hover:not(:disabled) {
		cursor: pointer;
	}

	&:focus {
		outline: none;
		&::-webkit-slider-thumb {
			box-shadow: $xui-shadow-focus;
		}

		&::-moz-range-thumb {
			box-shadow: $xui-shadow-focus;
		}

		&::-ms-thumb {
			box-shadow: $xui-shadow-focus;
		}
	}

	&:hover:not(:disabled):not(.#{$ns}-rangeslider-is-invalid) {
		&::-webkit-slider-thumb {
			border-color: $xui-range-border-hover-color;
		}

		&::-moz-range-thumb {
			border-color: $xui-range-border-hover-color;
		}

		&::-ms-thumb {
			border-color: $xui-range-border-hover-color;
		}
	}

	&:focus:not(:disabled):not(.#{$ns}-rangeslider-is-invalid) {
		&::-webkit-slider-thumb {
			border-color: $xui-range-border-focus-color;
		}

		&::-moz-range-thumb {
			border-color: $xui-range-border-focus-color;
		}

		&::-ms-thumb {
			border-color: $xui-range-border-focus-color;
		}
	}


	&:active:not(:disabled):not(.#{$ns}-rangeslider-is-invalid) {
		&::-webkit-slider-thumb {
			border-color: $xui-range-border-active-color;
		}

		&::-moz-range-thumb {
			border-color: $xui-range-border-active-color;
		}

		&::-ms-thumb {
			border-color: $xui-range-border-active-color;
		}
	}
}

.#{$ns}-rangeslider-thumb-small {
	height: $xui-rangeslider-thumb-diameter-small;
}

.#{$ns}-rangeslider-thumb-xsmall {
	height: $xui-rangeslider-thumb-diameter-xsmall;
}

.#{$ns}-rangeslider-thumb-small::-webkit-slider-thumb {
	height: $xui-rangeslider-thumb-diameter-small;
	margin-top: ($xui-rangeslider-height - $xui-rangeslider-thumb-diameter-small) * 0.5;
	width: $xui-rangeslider-thumb-diameter-small;
}

.#{$ns}-rangeslider-thumb-xsmall::-webkit-slider-thumb {
	height: $xui-rangeslider-thumb-diameter-xsmall;
	margin-top: ($xui-rangeslider-height - $xui-rangeslider-thumb-diameter-xsmall) * 0.5;
	width: $xui-rangeslider-thumb-diameter-xsmall;
}
