@import "../vars";

// Disabling
//
// Flag: Under review
//
// Many components already have styles defined for their disabled state, so please refer to those guidelines first. However, this class is available as a fallback if none are available.
//
// Classes:
// xui-is-disabled: Reduce opacity and disable pointer events
//
// Styleguide: Fundamentals.Utilities.8

.#{$ns}-is-disabled {
	cursor: default;
	opacity: 0.4;
	pointer-events: none;

	&:hover,
	&:active,
	&:focus {
		background-color: inherit;
	}

	> * {
		cursor: default;
		pointer-events: none;
	}
}
