@import "../vars";
@import "../mixins";

.#{$ns}-gridarea-paneldropdown {
	top: 0;
}

@include xui-breakpoint-medium-up {
	.#{$ns}-gridarea-paneldropdown {
		background-color: $xui-panel-bg-color;
		border-radius: $xui-radius;
		box-shadow: $xui-shadow-border-all;
		position: static;
		top: auto;
	}
}
