@import '../vars';
@import '../mixins';

.#{$ns}-illustration {
  max-height: $xui-illustration-large;
  min-height: $xui-illustration-small;
  /**
   * SVGs will scale properly if they have a `viewbox` attribute.
   * Using `object-fit` is technically redundant, but it provides a safety net
   * just in case an illustration does not have the `viewbox` attribute.
   */
  object-fit: contain;
  width: 100%;

  &-small {
    height: $xui-illustration-small;
    padding: 24px;
  }

  &-medium {
    height: $xui-illustration-medium;
    padding: 40px;
  }

  &-large {
    height: $xui-illustration-large;
    padding: 56px;
  }
}
