@import '../vars';
@import '../mixins';

.#{$ns}-loader {
  align-items: center;
  color: $xui-loader-color;
  display: flex;
  justify-content: center;
}

.#{$ns}-button--loader {
  color: inherit;
}

.#{$ns}-loader-inverted {
  color: $xui-loader-inverted-color;
}

.#{$ns}-loader-retain-layout {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.#{$ns}-loader-layout {
  min-height: 140px;
  padding: $xui-s-large;
}

.#{$ns}-loader--dot {
  $dot-size-xsmall: ($xui-s-small - 2);
  $dot-size-small: $xui-s-small;
  $dot-size-medium: ($xui-s-small + 2);
  $dot-margin-small: 2px;
  $dot-margin-medium: 3px;
  @include xui-motion-animation(true) {
    $animation-time: 1.3s;
    $animation-delay: -0.16s;

    // easeInOutSine
    $animation-easing: cubic-bezier(0.455, 0.03, 0.515, 0.955);

    animation: #{$ns}-loader-animation $animation-time infinite $animation-easing;
    animation-fill-mode: both;

    &:nth-child(1) {
      animation-delay: $animation-delay * 2;
    }

    &:nth-child(2) {
      animation-delay: $animation-delay * 1;
    }

    &:nth-child(3) {
      animation-delay: $animation-delay * 0;
    }
  }
  background-color: currentColor;
  border-radius: $xui-radius-circle;
  // Gives a fake AA effect to the dot during animation
  // Needed to help fix rendering on Firefox
  box-shadow: 0 0 1px currentColor;
  display: inline-block;
  transform-style: preserve-3d; // Firefox jank fix
  vertical-align: middle;

  .#{$ns}-loader-medium & {
    height: $dot-size-medium;
    margin-right: $dot-margin-medium;
    width: $dot-size-medium;
  }

  .#{$ns}-loader-small & {
    height: $dot-size-small;
    margin-right: $dot-margin-small;
    width: $dot-size-small;
  }

  .#{$ns}-loader-xsmall & {
    height: $dot-size-xsmall;
    margin-right: $dot-margin-small;
    width: $dot-size-xsmall;
  }
}

// You wouldn't normally add rotation to something that just scales up and down.
// However in this case, Firefox has trouble rendering circles properly during
// scale animation. This helps smooth the curves.
@keyframes #{$ns}-loader-animation {
  0%,
  80%,
  100% {
    transform: scale(0.5) rotate(0deg);
  }

  40% {
    transform: scale(1) rotate(0.02deg);
  }
}
