@import "../vars";

// Motion
//
// Teaser: Communicating change over time.
//
// Introduction: XUI utilises a number of transitions to help communicate change to the customer in a meaningful way.
//
// Flag: Under review
//
// Styleguide: Fundamentals.Motion

// Common transitions
//
// For most use cases, one of the following transition classes will suffice.
//
// Definitions:
// All: Animate all properties: `.xui-transition`
// Fade in: Animate opacity in: `.xui-transition-fadein`
// Fade out: Animate opacity out: `.xui-transition-fadeout`
// Grow: Increase height to reveal content:`.xui-transition-grow`
// Shrink: Decrease height to conceal content: `.xui-transition-shrink`
// Scale up: Increase size and animate opacity in:`.xui-transition-scaleup`
// Scale down: Decrease size and animate opacity out: `.xui-transition-scaledown`
//
// Styleguide: Fundamentals.Motion.1


// Custom transitions
//
// Alternatively, you can also use a combination of the following `.xui-transition-*-*` classes for more granular control of transition properties while still retaining the recommended XUI values.
// These are also available as `$xui-motion-*-*` variables for use in keyframes.
//
// Styleguide: Fundamentals.Motion.2

// Duration
//
// Definitions:
// Fast:0.1s:`-speed-fast`
// Medium:0.3s:`-speed-medium`
// Slow:0.5s:`-speed-slow`
//
// Styleguide: Fundamentals.Motion.2.1

// Easing curves
//
// Definitions:
// Enter: Ease in: `-curve-enter`
// Standard: Ease in and out: `-curve-standard`
// Exit: Ease out:`-curve-exit`
//
// Styleguide: Fundamentals.Motion.2.2

// Delay
//
// Definitions:
// Short: 0.1s: `-delay-short`
// Medium: 0.3s: `-delay-medium`
// Long: 0.5s: `-delay-long`
//
// Styleguide: Fundamentals.Motion.2.3

// TODO: Review whether these are components or not

.#{$ns}-transition-scaleup {
	opacity: 1;
	pointer-events: auto;
	transform: scale(1);
	transition-duration: $xui-motion-speed-fast;
	transition-property: transform, opacity;
	transition-timing-function: $xui-motion-curve-enter;
}

.#{$ns}-transition-scaledown {
	opacity: 0;
	pointer-events: none;
	transform: scale(0.9);
	transition-duration: $xui-motion-speed-fast;
	transition-property: transform, opacity;
	transition-timing-function: $xui-motion-curve-exit;
}

.#{$ns}-transition-fadein {
	opacity: 1;
	pointer-events: auto;
	transition-duration: $xui-motion-speed-fast;
	transition-property: opacity;
	transition-timing-function: $xui-motion-curve-enter;
}

.#{$ns}-transition-fadeout {
	opacity: 0;
	pointer-events: none;
	transition-duration: $xui-motion-speed-fast;
	transition-property: opacity;
	transition-timing-function: $xui-motion-curve-exit;
}

.#{$ns}-transition-grow {
	max-height: 100vh;
	opacity: 1;
	overflow: hidden;
	pointer-events: auto;
	transition-duration: $xui-motion-speed-fast;
	transition-property: max-height, opacity;
	transition-timing-function: $xui-motion-curve-enter;
}

.#{$ns}-transition-shrink {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	transition-duration: $xui-motion-speed-fast;
	transition-property: max-height, opacity;
	transition-timing-function: $xui-motion-curve-exit;
}

.#{$ns}-transition {
	transition-duration: $xui-motion-speed-medium;
	transition-property: all;
	transition-timing-function: $xui-motion-curve-standard;
}

.#{$ns}-transition-speed-fast {
	transition-duration: $xui-motion-speed-fast;
}

.#{$ns}-transition-speed-medium {
	transition-duration: $xui-motion-speed-medium;
}

.#{$ns}-transition-speed-slow {
	transition-duration: $xui-motion-speed-slow;
}

.#{$ns}-transition-curve-standard {
	transition-timing-function: $xui-motion-curve-standard;
}

.#{$ns}-transition-curve-enter {
	transition-timing-function: $xui-motion-curve-enter;
}

.#{$ns}-transition-curve-exit {
	transition-timing-function: $xui-motion-curve-exit;
}

.#{$ns}-transition-delay-short {
	transition-delay: $xui-motion-delay-short;
}

.#{$ns}-transition-delay-medium {
	transition-delay: $xui-motion-delay-medium;
}

.#{$ns}-transition-delay-long {
	transition-delay: $xui-motion-delay-long;
}
