@import '../vars';
@import '../mixins';

.#{$ns}-breadcrumbs {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  list-style-type: none;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.#{$ns}-breadcrumb {
  @include xui-text-small;
  @include xui-text-truncated;
  min-width: $xui-minimum-touch-target;

  &:last-of-type {
    flex-shrink: 0;
    max-width: 100%;
  }
}

.#{$ns}-breadcrumb-arrow {
  align-items: center;
  display: flex;
  height: $xui-s-large;
  width: $xui-s-xsmall;
}

.#{$ns}-breadcrumb--icon {
  color: $xui-breadcrumb-icon-color;
}

.#{$ns}-breadcrumb-no-link {
  padding-left: $xui-s-xsmall;
}

.#{$ns}-breadcrumb--link {
  @include xui-padding-horizontal($xui-s-xsmall);
  @include xui-text-truncated;
  border-radius: $xui-radius;
  color: $xui-color-blue;
  display: block;
  outline: none;
  text-decoration: none;
  width: 100%;
  &:hover {
    color: $xui-color-blue; // overriding the a:hover color
    cursor: pointer;
    text-decoration: underline;
  }
  &:focus {
    color: $xui-color-blue; // overriding the a:focus color
    @include xui-state-focus-shadow($xui-shadow-focus-inset);
  }
}
