@import '../vars';
@import '../mixins';

.#{$ns}-pageheading {
  align-items: stretch;
  background-color: $xui-pageheading-bg-color;
  box-shadow: $xui-shadow-border-bottom;
  display: flex;
  flex-wrap: nowrap;
  min-height: $xui-navigation-height;
  overflow: hidden;
}

.#{$ns}-pageheading--content {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  min-height: inherit; // IE11 bug fix
}

.#{$ns}-pageheading--content-layout {
  flex-flow: row wrap;
  // The calc accommodates the margins specified in the following rule
  width: calc(100% - #{2 * $xui-s-xsmall});
  @include xui-margin-horizontal($xui-s-xsmall); // so page widths are not necessary
  &.#{$ns}-page-width-standard {
    @media (min-width:  #{$xui-page-width-small + 2 * $xui-s-xsmall}) {
      @include xui-margin-horizontal(auto);
    }
  }
  &.#{$ns}-page-width-large {
    @media (min-width:  #{$xui-page-width-large + 2 * $xui-s-xsmall}) {
      @include xui-margin-horizontal(auto);
    }
  }
  .#{$ns}-pageheading--title {
    @include xui-padding-left($xui-s-xsmall);
    &.#{$ns}-page-width-standard {
      @media (min-width:  #{$xui-page-width-small + 2 * $xui-s-xsmall}) {
        @include xui-padding-left(0);
      }
    }
    &.#{$ns}-page-width-large {
      @media (min-width:  #{$xui-page-width-large + 2 * $xui-s-xsmall}) {
        @include xui-padding-left(0);
      }
    }
  }
}

.#{$ns}-pageheading--title {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  font-size: $xui-font-size-large;
  font-weight: bold;
  line-height: $xui-line-height-standard;
  margin: 0;
}

.#{$ns}-pageheading--tabs {
  align-items: stretch;
  display: flex;
  .#{$ns}-picklist-horizontal {
    margin-left: $xui-s-2xlarge;
  }
}
.#{$ns}-pageheading--breadcrumbs + .#{$ns}-pageheading--title,
.#{$ns}-pageheading--breadcrumbs + .#{$ns}-pageheading--tabs {
  width: 100%;
}

.#{$ns}-pageheading--actions {
  align-items: center; /* Required for button height not to stretch */
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  margin-right: $xui-s-xsmall;

  > .#{$ns}-button {
    margin-left: $xui-s-xsmall;
  }
  > .#{$ns}-buttongroup {
    margin-left: $xui-s-xsmall;
  }
}
