@import '../vars';
@import '../mixins';

.#{$ns}-overview {
  border-radius: $xui-radius;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.#{$ns}-overview-solid {
  background-color: $xui-overview-bg-color;
}

.#{$ns}-overview-has-border {
  box-shadow: $xui-shadow-border-all;
}

.#{$ns}-overview--section {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column nowrap;
  justify-content: center;

  .#{$ns}-progress-linear {
    margin-top: $xui-s-small;
  }
}

.#{$ns}-overview--label {
  color: $xui-overview-label-color;
}

.#{$ns}-overview--value {
  font-size: $xui-font-size-xlarge;
  font-weight: $xui-font-weight-emphasis;
}

.#{$ns}-overview-layout {
  @include xui-margin-horizontal(auto);

  @include xui-breakpoint-small-down {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
  }

  .#{$ns}-overview--section {
    @include xui-padding($xui-s-large);
  }
}

.#{$ns}-overview-text-align {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}
