@import "../vars";
//Consistently sized container for the rollover component and checkbox to sit in.

.#{$ns}-rollovercheckbox {
	display: flex;
	justify-content: center;
	min-width: 50px;
	overflow: hidden;
	position: relative;
}

.#{$ns}-rollovercheckbox--target {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 100%;
	justify-content: center;
	min-height: 50px;
	width: 50px;
}

.#{$ns}-rollovercheckbox--target-disabled {
	cursor: not-allowed;
}

.#{$ns}-rollovercheckbox-small {
	min-height: 40px;
	width: 40px;
}

.#{$ns}-rollovercheckbox-large {
	min-height: 60px;
	width: 60px;
}

.#{$ns}-rollovercheckbox-xlarge {
	min-height: 70px;
	width: 70px;
}

.#{$ns}-rollovercheckbox--checkbox {
	margin-top: 5px;
}
