@import '../vars';
@import '../mixins';

// Stepper
//
// Components: Stepper
//
// Introduction: A stepper is used to indicate a workflow of sequential pages or steps. The main purpose is to display progression and completion of steps in a format that is easy to decipher and integrate into multiple page layouts.
//
// Styleguide: Compounds.Navigation.Stepper

// Best practice
//
// Tips:
// Do: Use for stepped flows such as a setup
// Do: Use in combination with `xui-isolationheader` for flows that are only ever completed once
// Do: Use progress indicator variant of stepper for steps which include nested progression
// Do: Allow the React component to determine the optimal responsive layout internally
// Warning: Keep the number of steps appropriate. Not too little or too many (3 to 6 is a good range)
// Dont: Don’t nest steppers inside of each other
//
// Styleguide: Compounds.Navigation.Stepper.1

// Anatomy
//
// To create an isolation header, use the following classes
//
// Classes:
// xui-stepper: Base class
// xui-stepper-wrapper: Container for stepper tab elements
// xui-stepper-tab: Container for stepper link element
// xui-stepper-tab-first: Removes :before line connector from tab
// xui-stepper-tab-last: Removes :after line connector from tab
// xui-stepper-link: Default button style used alongside link modifiers
// xui-stepper-link-wrapper: Container for stepper link content
// xui-stepper-link-icon: Container for link icon
// xui-stepper-link-text: Container for link text
//
// Markup:
// <div class="xui-stepper xui-padding-vertical-large">
//   <div class="xui-stepper-wrapper xui-stepper-inline" role="tablist">
//     <div class="xui-stepper-tab xui-stepper-tab-first" aria-controls="stepper-inline-standard-panel" aria-selected="true" role="tab" style="order: 0;">
//       <button class="xui-stepper-link xui-stepper-link-standard" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">1</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 1</span>
//           </div>
//         </div>
//       </button>
//     </div>
//     <div class="xui-stepper-tab" aria-controls="stepper-inline-standard-panel" aria-selected="false" role="tab" style="order: 1;">
//       <button class="xui-stepper-link xui-stepper-link-standard" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">2</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 2</span>
//           </div>
//         </div>
//       </button>
//     </div>
//     <div class="xui-stepper-tab xui-stepper-tab-last" aria-controls="stepper-inline-standard-panel" aria-selected="false" role="tab" style="order: 2;">
//       <button class="xui-stepper-link xui-stepper-link-standard" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">3</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 3</span>
//           </div>
//         </div>
//       </button>
//     </div>
//   </div>
// </div>
//
// Styleguide: Compounds.Navigation.Stepper.2

// Link modifiers
//
// Class modifiers are given to `xui-stepper-link` for additional styling. These classes also apply appropriate styling for pseudo classes.
//
// Classes:
// xui-stepper-link-standard: Standard step style
// xui-stepper-link-active: Active step style
// xui-stepper-link-disabled: Disabled step style
// xui-stepper-link-error: Error step style
//
// Markup:
// <div class="xui-stepper xui-padding-vertical-large">
//   <div class="xui-stepper-wrapper xui-stepper-inline" role="tablist">
//     <div class="xui-stepper-tab xui-stepper-tab-first" aria-controls="stepper-inline-standard-panel" aria-selected="true" role="tab" style="order: 0;">
//       <button class="xui-stepper-link xui-stepper-link-standard" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">1</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Standard</span>
//           </div>
//         </div>
//       </button>
//     </div>
//     <div class="xui-stepper-tab" aria-controls="stepper-inline-standard-panel" aria-selected="false" role="tab" style="order: 1;">
//       <button class="xui-stepper-link xui-stepper-link-active" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">2</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Active</span>
//           </div>
//         </div>
//       </button>
//     </div>
//     <div class="xui-stepper-tab" aria-controls="stepper-inline-standard-panel" aria-selected="false" role="tab" style="order: 2;">
//       <button class="xui-stepper-link xui-stepper-link-disabled" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">3</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Disabled</span>
//           </div>
//         </div>
//       </button>
//     </div>
//     <div class="xui-stepper-tab xui-stepper-tab-last" aria-controls="stepper-inline-standard-panel" aria-selected="false" role="tab" style="order: 3;">
//       <button class="xui-stepper-link xui-stepper-link-error" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">4</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Error</span>
//           </div>
//         </div>
//       </button>
//     </div>
//   </div>
// </div>
//
// Styleguide: Compounds.Navigation.Stepper.2.1

// Link text
//
// Classes:
// xui-stepper-link-heading: Used for title of step
// xui-stepper-link-description: Used for short concise description of step
//
// Markup:
// <div class="xui-stepper xui-padding-vertical-large">
//   <div class="xui-stepper-wrapper xui-stepper-inline" role="tablist">
//     <div class="xui-stepper-tab xui-stepper-tab-first xui-stepper-tab-last" aria-controls="stepper-inline-standard-panel" aria-selected="true" role="tab" style="order: 0;">
//       <button class="xui-stepper-link xui-stepper-link-standard" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">1</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Login details</span>
//             <span class="xui-stepper-link-description">Enter username and password</span>
//           </div>
//         </div>
//       </button>
//     </div>
//   </div>
// </div>
//
// Styleguide: Compounds.Navigation.Stepper.2.2

// Layout
//
// Modifiers are applied to `xui-stepper-wrapper` element to alter the format of how steps are displayed. On the React stepper component, these modifying classes are applied based on browser viewport width by default.
//
// Styleguide: Compounds.Navigation.Stepper.3

// Inline
//
// Tips:
// Do: Use for full-width page layouts
// Do: Always display inline stepper above stepped content
//
// Classes:
// xui-stepper-inline: Inline modifier
//
// Markup:
// <div class="xui-stepper xui-padding-vertical-large">
//   <div class="xui-stepper-wrapper xui-stepper-inline" role="tablist">
//     <div class="xui-stepper-tab xui-stepper-tab-first" aria-controls="stepper-inline-standard-panel" aria-selected="true" role="tab" style="order: 0;">
//       <button class="xui-stepper-link xui-stepper-link-active" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">1</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 1</span>
//             <span class="xui-stepper-link-description">Description</span>
//           </div>
//         </div>
//       </button>
//     </div>
//     <div class="xui-stepper-tab" aria-controls="stepper-inline-standard-panel" aria-selected="false" role="tab" style="order: 1;">
//       <button class="xui-stepper-link xui-stepper-link-standard" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">2</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 2</span>
//             <span class="xui-stepper-link-description">Description</span>
//           </div>
//         </div>
//       </button>
//     </div>
//     <div class="xui-stepper-tab xui-stepper-tab-last" aria-controls="stepper-inline-standard-panel" aria-selected="false" role="tab" style="order: 2;">
//       <button class="xui-stepper-link xui-stepper-link-standard" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">3</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 3</span>
//             <span class="xui-stepper-link-description">Description</span>
//           </div>
//         </div>
//       </button>
//     </div>
//   </div>
// </div>
//
// Styleguide: Compounds.Navigation.Stepper.3.1

// Inline (Stacked links)
//
// Tips:
// Do: Use for full-width page layouts
// Do: Always display inline stepper above stepped content
//
// Classes:
// xui-stepper-inline: Inline modifier
// xui-stepper-stacked-links: Link stacking modifier
//
// Markup:
// <div class="xui-stepper xui-padding-vertical-large">
//   <div class="xui-stepper-wrapper xui-stepper-inline xui-stepper-stacked-links" role="tablist">
//     <div class="xui-stepper-tab xui-stepper-tab-first" aria-controls="stepper-inline-standard-panel" aria-selected="true" role="tab" style="order: 0;">
//       <button class="xui-stepper-link xui-stepper-link-active" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">1</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 1</span>
//             <span class="xui-stepper-link-description">Description</span>
//           </div>
//         </div>
//       </button>
//     </div>
//     <div class="xui-stepper-tab" aria-controls="stepper-inline-standard-panel" aria-selected="false" role="tab" style="order: 1;">
//       <button class="xui-stepper-link xui-stepper-link-standard" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">2</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 2</span>
//             <span class="xui-stepper-link-description">Description</span>
//           </div>
//         </div>
//       </button>
//     </div>
//     <div class="xui-stepper-tab xui-stepper-tab-last" aria-controls="stepper-inline-standard-panel" aria-selected="false" role="tab" style="order: 2;">
//       <button class="xui-stepper-link xui-stepper-link-standard" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">3</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 3</span>
//             <span class="xui-stepper-link-description">Description</span>
//           </div>
//         </div>
//       </button>
//     </div>
//   </div>
// </div>
//
// Styleguide: Compounds.Navigation.Stepper.3.2

// Sidebar
//
// Tips:
// Do: Use for when you want to display step content next to sidebar
// Do: Use when there is a large number of steps
//
// Classes:
// xui-stepper-sidebar: Sidebar modifier
//
// Markup:
// <div class="xui-stepper xui-padding-vertical-large">
//   <div class="xui-stepper-wrapper xui-stepper-sidebar" role="tablist" style="grid-template-rows: auto auto auto 1fr;">
//     <div class="xui-stepper-tab xui-stepper-tab-first" aria-controls="stepper-inline-standard-panel" aria-selected="true" role="tab" style="order: 0;">
//       <button class="xui-stepper-link xui-stepper-link-active" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">1</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 1</span>
//             <span class="xui-stepper-link-description">Description</span>
//           </div>
//         </div>
//       </button>
//     </div>
//     <div class="xui-stepper-tab" aria-controls="stepper-inline-standard-panel" aria-selected="false" role="tab" style="order: 1;">
//       <button class="xui-stepper-link xui-stepper-link-standard" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">2</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 2</span>
//             <span class="xui-stepper-link-description">Description</span>
//           </div>
//         </div>
//       </button>
//     </div>
//     <div class="xui-stepper-tab" aria-controls="stepper-inline-standard-panel" aria-selected="false" role="tab" style="order: 2;">
//       <button class="xui-stepper-link xui-stepper-link-standard" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">3</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 3</span>
//             <span class="xui-stepper-link-description">Description</span>
//           </div>
//         </div>
//       </button>
//     </div>
//     <div class="xui-stepper-tab" aria-controls="stepper-inline-standard-panel" aria-selected="false" role="tab" style="order: 3;">
//       <button class="xui-stepper-link xui-stepper-link-standard" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">4</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 4</span>
//             <span class="xui-stepper-link-description">Description</span>
//           </div>
//         </div>
//       </button>
//     </div>
//     <div class="xui-stepper-tab xui-stepper-tab-last" aria-controls="stepper-inline-standard-panel" aria-selected="false" role="tab" style="order: 4;">
//       <button class="xui-stepper-link xui-stepper-link-standard" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">5</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 5</span>
//             <span class="xui-stepper-link-description">Description</span>
//           </div>
//         </div>
//       </button>
//     </div>
//     <div id="myCustomStepperId-panel" class="xui-stepper-section" role="tabpanel" aria-labelledby="myCustomStepperId-tab-0" style="order: 0;">
//       <h3 style="padding: 20px 20px 100px; width: 100%;">Step content goes here</h3>
//     </div>
//   </div>
// </div>
//
// Styleguide: Compounds.Navigation.Stepper.3.3

// Stacked
//
// Tips:
// Do: Responsively apply for small browser viewport widths
// Don't: Don’t use in larger browser viewport widths
//
// Classes:
// xui-stepper-stacked: Stacked modifier
//
// Markup:
// <div class="xui-stepper xui-padding-vertical-large">
//   <div class="xui-stepper-wrapper xui-stepper-stacked" role="tablist">
//     <div class="xui-stepper-tab xui-stepper-tab-first" aria-controls="stepper-inline-standard-panel" aria-selected="true" role="tab" style="order: 0;">
//       <button class="xui-stepper-link xui-stepper-link-active" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">1</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 1</span>
//             <span class="xui-stepper-link-description">Description</span>
//           </div>
//         </div>
//       </button>
//     </div>
//     <div class="xui-stepper-tab" aria-controls="stepper-inline-standard-panel" aria-selected="false" role="tab" style="order: 1;">
//       <button class="xui-stepper-link xui-stepper-link-standard" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">2</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 2</span>
//             <span class="xui-stepper-link-description">Description</span>
//           </div>
//         </div>
//       </button>
//     </div>
//     <div class="xui-stepper-tab xui-stepper-tab-last" aria-controls="stepper-inline-standard-panel" aria-selected="false" role="tab" style="order: 2;">
//       <button class="xui-stepper-link xui-stepper-link-standard" tabindex="0">
//         <div class="xui-stepper-link-wrapper">
//           <div class="xui-stepper-link-icon">
//             <span class="xui-stepper-link-step">3</span>
//           </div>
//           <div class="xui-stepper-link-text">
//             <span class="xui-stepper-link-heading xui-heading-small">Step 3</span>
//             <span class="xui-stepper-link-description">Description</span>
//           </div>
//         </div>
//       </button>
//     </div>
//   </div>
// </div>
//
// Styleguide: Compounds.Navigation.Stepper.3.4o
