@import '../vars';
@import '../mixins';

@mixin xui-tablewrapper-scrollcontainer {
  background: $xui-dropzone-active-background-color;
  border-radius: $xui-radius;
  box-shadow: 0 0 0 1px $xui-standard-border-color inset;
  display: block;
  overflow-x: auto;
}

@mixin xui-table-overflow($border-adjustment, $top) {
  content: '';
  display: block;
  height: calc(100% - #{var(--xui-editableoverflow--scrollbar-height)} - #{$border-adjustment});
  pointer-events: none;
  position: absolute;
  top: $top;
  width: $xui-s-standard;
  z-index: $xui-z-index-responsiveoverlay;
}

@mixin xui-table-overflow-shadow-left($border-adjustment: 0px, $top: 0px) {
  @include xui-table-overflow($border-adjustment, $top);
  background: linear-gradient(
    90deg,
    rgba($xui-color-black, 0.2) 0%,
    rgba($xui-color-black, 0) 100%
  );
}

@mixin xui-table-overflow-shadow-right($border-adjustment: 0px, $top: 0px) {
  @include xui-table-overflow($border-adjustment, $top);
  background: linear-gradient(
    270deg,
    rgba($xui-color-black, 0.2) 0%,
    rgba($xui-color-black, 0) 100%
  );
}

@import 'table.editable';
@import 'table.readonly';
