@import '../vars';
@import '../mixins';

@mixin xui-tablewrapper-scrollcontainer {
  background: $xui-dropzone-active-background-color;
  border-radius: $xui-radius;
  box-shadow: 0 0 0 1px $xui-standard-border-color inset;
  display: block;
  overflow-x: auto;
}

@import 'table.editable';
@import 'table.readonly';
