@import "../vars";
@import "../mixins";

// Capsule
//
// Teaser: Used to highlight placeholders that will be replaced with data.
//
// Introduction: Capsules are used to draw attention to placeholders that will be replaced with data.
//
// Components: Capsule
//
// Styleguide: Building Blocks.Identifiers.Capsule

// Best practice
//
// Tips:
// Do: Use capsules to indicate that an element will be replaced with data.
//
// Styleguide: Building Blocks.Identifiers.Capsule.1

// Anatomy
//
// At the very minimum, a capsule contains a text value.
// To create one, use the following classes.
//
// Classes:
// xui-capsule: Base class
//
// Markup:
// A standard <a class="xui-button xui-capsule">capsule</a>
//
// Styleguide: Building Blocks.Identifiers.Capsule.2

// Interactive capsules
//
// In some cases, clicking a capsule triggers an action, such as opening a link or calling a callback function.
// To indicate that a capsule is interactive, apply the following class:
//
// Classes:
// xui-capsule-interactive: Indicates that a capsule is interactive
//
// Markup:
// An interactive <a class="xui-button xui-capsule xui-capsule-interactive">capsule</a>
//
// Styleguide: Building Blocks.Identifiers.Capsule.3

// Invalid capsules
//
// In some cases, a capsule may contain a formula or similar element that is invalid for some reason.
// To indicate that a capsule is invalid, apply the following class:
//
// Classes:
// xui-capsule-invalid: Indicates that a capsule is invalid
//
// Markup:
// An invalid <a class="xui-button xui-capsule xui-capsule-invalid">capsule</a>
//
// Styleguide: Building Blocks.Identifiers.Capsule.4

.#{$ns}-capsule {
	border-radius: $xui-radius;
	box-shadow: 0 0 0 1px $xui-color-grey-alpha-5;
	display: inline;
	padding: 0.01em 0.1em;

	.#{$ns}-icon {
		vertical-align: bottom;
	}
}

.#{$ns}-capsule-interactive {
	color: $xui-capsule-interactive-color;
}

.#{$ns}-capsule-invalid {
	background: $xui-invalid-bg-color;
	color: $xui-capsule-invalid-color;
}

.#{$ns}-capsule:focus {
	$xui-capsule-focus-bg-color: $xui-color-blue;
	color: $xui-capsule-focus-color;
}

.#{$ns}-capsule-invalid:focus {
	background-color: $xui-invalid-bg-color;
	box-shadow: $xui-shadow-focus;
}
