@import '../vars';
@import '../mixins';

$capsule-border-shadow: 0 0 0 1px $xui-capsule-border-color;
$capsule-combined-focus-border: $capsule-border-shadow, xui-focus-box-shadow-shift(1px);

.#{$ns}-capsule {
  border-radius: $xui-radius;
  box-shadow: $capsule-border-shadow;
  display: inline;
  padding: 0.01em 0.1em;

  .#{$ns}-icon {
    vertical-align: bottom;
  }

  &:hover {
    box-shadow: 0 0 0 1px $xui-capsule-hover-border-color;
  }

  &:focus {
    @include xui-focus-direct($capsule-combined-focus-border);

    color: $xui-capsule-interactive-color;
  }
}

.#{$ns}-capsule-interactive {
  color: $xui-capsule-interactive-color;
}

.#{$ns}-capsule-invalid {
  background: $xui-invalid-bg-color;
  color: $xui-capsule-invalid-color;

  &:hover {
    background-color: $xui-invalid-hover-bg-color;
    color: $xui-capsule-invalid-color;
  }

  &:focus {
    @include xui-focus-direct($capsule-combined-focus-border);

    background-color: $xui-invalid-bg-color;
    color: $xui-capsule-invalid-color;
  }
}
