@import "../vars";
@import "../mixins";

// Text Content

.#{$ns}-textcontent {
	@include xui-text-line-height; // 1.5
	font-size: $xui-font-size-medium;

	* {
		margin: 1em 0 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 2em;
	}

	h1 {
		@include xui-text-spacing-tight;
		@include xui-text-emphasis;
		@include xui-text-line-height-tight;
		@include xui-text-proportional-nums;
		font-size: $xui-font-size-extended-4xlarge;
	}

	h2 {
		@include xui-text-spacing-tight;
		@include xui-heading-large;
	}

	h3 {
		@include xui-heading-medium;
	}

	h4 {
		@include xui-heading-small;
	}

	h5 {
		@include xui-text-line-height-compact;
		@include xui-text-muted;
		@include xui-text-deemphasis;

		font-size: $xui-font-size-medium;
	}

	h6 {
		@include xui-heading-xsmall;
	}

	hr {
		background: $xui-color-grey-6;
		border: 0;
		height: 1px;
		margin: 3rem 0;
		width: 100%;
	}

	dt {
		font-weight: bold;

		&::after {
			content: ":";
		}
	}

	dd {
		margin-left: 1em;
	}
}
