@import "../vars";

// Links

.#{$ns}-text-link {
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.#{$ns}-text-minorlink {
	color: inherit;

	&:hover,
	&:focus {
		color: $xui-color-xero-blue;
		text-decoration: underline;
	}
}
