@import "../vars";
@import "../mixins";

// Standard Text

.#{$ns}-text-label {
	@include xui-text-emphasis;
	@include xui-text-muted;
	font-size: $xui-font-size-small;
}

.#{$ns}-text-secondary {
	@include xui-text-muted;
	font-size: $xui-font-size-small;
}

.#{$ns}-text-minor {
	@include xui-text-muted;
	font-size: $xui-font-size-xsmall;
}

@import "typography.capsules";
@import "typography.headings";
@import "typography.textcontent";
@import "typography.links";
@import "typography.utilities";
@import "typography.tags";
