@import "../mixins";
@import "../vars";


// Alignment


.#{$ns}-text-align-left {
	text-align: left;
}

.#{$ns}-text-align-center {
	text-align: center;
}

.#{$ns}-text-align-right {
	text-align: right;
}

// Truncation


.#{$ns}-text-truncated {
	@include xui-text-truncated;
}

// TODO: remove width from xui-text-truncated in in XUI 14 because it messes with display: flex
// (see isolation header story: "jam-packed")
.#{$ns}-isolationheader .#{$ns}-text-truncated {
	width: auto;
}

// Word-break


/* doiuse-disable */
.#{$ns}-text-wordbreak {
	@include xui-text-wordbreak;
}
/* doiuse-enable */


// Emphasis

.#{$ns}-text-emphasis {
	font-weight: $xui-font-weight-emphasis;
}

.#{$ns}-text-deemphasis {
	font-weight: $xui-font-weight-deemphasis;
}

// Letter Spacing

.#{$ns}-text-spacing-tight {
	@include xui-text-spacing-tight;
}

.#{$ns}-text-spacing-loose {
	@include xui-text-spacing-loose;
}

// Line Height
.#{$ns}-text-reset {
	@include xui-text-line-height-reset;
}

.#{$ns}-text-tight {
	@include xui-text-line-height-tight;
}

.#{$ns}-text-compact {
	@include xui-text-line-height-compact;
}

// Color

.#{$ns}-textcolor-standard {
	color: $xui-color-black;
}

.#{$ns}-textcolor-muted {
	@include xui-text-muted;
}

.#{$ns}-text-placeholder,
.#{$ns}-textcolor-faint {
	color: $xui-color-grey-alpha-3;
}

.#{$ns}-textcolor-icon {
	color: $xui-color-grey-alpha-2;
}

.#{$ns}-textcolor-positive {
	@include xui-text-positive;
}

.#{$ns}-textcolor-negative {
	@include xui-text-negative;
}

// Inverted colors


.#{$ns}-textcolor-inverted {
	color: $xui-color-white;
}

.#{$ns}-textcolor-inverted-muted {
	color: $xui-color-white-muted;
}

.#{$ns}-textcolor-inverted-faint {
	color: $xui-color-white-faint;
}
