@import '../vars';
@import '../mixins';

.#{$ns}-tag {
  display: inline-grid; // now long tags without parents take only screen width, not more.
  max-width: 100%;
  min-width: $xui-minimum-touch-target;

  .#{$ns}-tooltip {
    cursor: initial;
  }

  .#{$ns}-tagcontent {
    display: inline-block;
  }

  .#{$ns}-tag-is-block {
    display: block;
  }
}

.#{$ns}-tagcontent {
  @include xui-text-truncated;
  background-color: $xui-tag-bg-color;
  border-radius: $xui-radius;
  box-shadow: inset 0 0 0 1px $xui-tag-shadow-color;
  color: $xui-tag-color;
  display: inline-block;
  max-width: 100%;
  min-width: $xui-minimum-touch-target;
  padding: 0 $xui-s-2xsmall;
  text-align: center;
  vertical-align: middle;

  .#{$ns}-tag-medium & {
    @include xui-text-medium;
  }

  .#{$ns}-tag-small & {
    @include xui-text-small;
  }

  .#{$ns}-tag-xsmall & {
    @include xui-text-xsmall;
  }

  .#{$ns}-tag-neutral & {
    background-color: $xui-tag-neutral-bg-color;
    box-shadow: inset 0 0 0 1px $xui-tag-neutral-shadow-color;
  }

  .#{$ns}-tag-positive & {
    background-color: $xui-tag-positive-bg-color;
    box-shadow: inset 0 0 0 1px $xui-tag-positive-shadow-color;
    color: $xui-tag-positive-color;
  }

  .#{$ns}-tag-warning & {
    background-color: $xui-tag-warning-bg-color;
    box-shadow: inset 0 0 0 1px $xui-tag-warning-shadow-color;
    color: $xui-tag-warning-color;
  }

  .#{$ns}-tag-negative & {
    background-color: $xui-tag-negative-bg-color;
    box-shadow: inset 0 0 0 1px $xui-tag-negative-shadow-color;
    color: $xui-tag-negative-color;
  }
}
