@import "../vars";
@import "../mixins";

$toast-max-width: 400px;

.#{$ns}-toast {
	@include xui-clearfix;
	background: $xui-toast-bg-color;
	border-radius: $xui-radius;
	box-shadow: $xui-shadow-depth-lift;
	color: $xui-toast-color;
	display: inline-block;
	max-width: $toast-max-width;
	opacity: 1;
	position: relative;
	transition: opacity $xui-motion-speed-fast $xui-motion-curve-standard;
	z-index: 10;
	@include xui-breakpoint-narrow {
		border-radius: 0;
	}
}

// Fix for problem with IE11 not understanding that containers don't need a set width
// To be able to correctly calculate the following (calc(100% - 45px));
// This sets the width to be a hard width and the calculations all work again
// With the side-effect of forcing the toasts to all be 400px in size.
@media all and (-ms-high-contrast:none) {
	*::-ms-backdrop, .#{$ns}-toast {
		width: $toast-max-width;
	}
}

.#{$ns}-toast-positive {
	@include xui-highlight-left($xui-banner-positive-bg-color, $xui-radius, true);
}

.#{$ns}-toast-negative {
	@include xui-highlight-left($xui-bannger-negative-bg-color, $xui-radius, true);
}

.#{$ns}-toast-layout {
	margin: 0 $xui-s-large $xui-s-large $xui-s-large;
	padding: $xui-s-small $xui-s-small $xui-s-small $xui-s-xsmall;

	@include xui-breakpoint-narrow {
		margin: 0;
		max-width: none;
		width: 100%;

		&::before {
			border-radius: 0;
		}
	}

	.#{$ns}-toast--message {
		float: initial;
		margin: 0;
		// The 6 and 7px values align the message height with the actions and close
		// buttons. This ensures that the float system does not get interfered with
		// when we responsively reflow the tooltip content.
		padding: 6px $xui-s-small 7px;
	}

	.#{$ns}-toast--actions {
		line-height: initial;
		margin: 0;
		padding: 0;
	}

	// Standardise the line height between these two elements as they were misaligned
	// vertically (which became very obvious if the user had their browser UI zoomed in).
	.#{$ns}-toast--message,
	.#{$ns}-toast--action {
		line-height: $xui-line-height-compact;
	}

	.#{$ns}-toast--close ~ .#{$ns}-toast--message {
		max-width: calc(#{$toast-max-width} - 50px);
	}
}

.#{$ns}-toastwrapper {
	bottom: 0;
	display: flex;
	flex-flow: column nowrap;
	left: 0;
	position: fixed;
	z-index: 8000;

	@include xui-breakpoint-narrow {
		width: 100%;
	}
}

.#{$ns}-toast--message,
.#{$ns}-toast--actions,
.#{$ns}-toast--action {
	display: inline-block;
}

.#{$ns}-toast--message {
	float: left;
}

.#{$ns}-toast--close,
.#{$ns}-toast--actions {
	float: right;
}

.#{$ns}-toast-is-hidden {
	@include xui-margin-vertical(0);
	@include xui-padding-vertical(0);
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
}
