@import "../vars";
@import "../mixins";

// Banner
//
// Teaser: To provide in-page feedback or introduce additional actions.
//
// Introduction: Banners are used to provide in-page feedback or introduce additional actions.
//
// Components: Banner
//
// Language: https://docs.google.com/document/d/1YDv-SISe90GmHcnmy24A5KauSQHSbfivP9DXtkCZygI/edit#bookmark=id.yhnmgwweghhm
//
// Flag: Under review
//
// Styleguide: Building Blocks.Alerts.Banner

// Best practice
//
// Tips:
// Do: Use banners when inline validation is not possible
// Do: Use banners at the top of page content
// Do: Actions that relate to the task at hand may be included
// Dont: Don't use banners for client-side validation
// Warning: Avoid banners for non-blocking actions – use a toast instead
// Warning: Avoid hiding banners automatically – use a toast instead
// Warning: Avoid more than two actions, excluding the close button
//
// Styleguide: Building Blocks.Alerts.Banner.1

// Anatomy
//
// To create a banner, use the following classes.
// Note that close buttons must come first in the DOM order to provide the correct conditional formatting.
//
// Classes:
// xui-banner: Base class
// xui-banner-layout: Default layout for banners
// xui-banner--message: Primary message
// xui-banner--messagedetail: Optional secondary message
// xui-banner--actions: Container for actions
// xui-banner--action: Banner actions
// xui-banner--close: Close button
//
// Markup:
// <div class="xui-banner xui-banner-layout" role="status">
//   <button type="button" class="xui-button xui-button-icon xui-banner--close" title="Close" aria-label="Close">
//       <svg focusable="false" class="xui-icon" title="Close" aria-label="Close"> <use xlink:href="#xui-icon-cross" role="presentation" /></svg>
//   </button>
//   <p class="xui-banner--message">Standard banner</p>
// </div>
// <div class="xui-banner xui-banner-layout" role="status">
//   <button type="button" class="xui-button xui-button-icon xui-banner--close" title="Close" aria-label="Close">
//       <svg focusable="false" class="xui-icon" title="Close" aria-label="Close"> <use xlink:href="#xui-icon-cross" role="presentation" /></svg>
//   </button>
//   <p class="xui-banner--message">Banner with actions</p>
//   <ul class="xui-banner--actions">
//     <li class="xui-banner--action"><button class="xui-button xui-button-borderless-main xui-button-small" type="button">Action</button></li>
//     <li class="xui-banner--action"><button class="xui-button xui-button-borderless-main xui-button-small" type="button">Action</button></li>
//   </ul>
// </div>
// <div class="xui-banner xui-banner-layout" role="status">
//   <button type="button" class="xui-button xui-button-icon xui-banner--close" title="Close" aria-label="Close">
//       <svg focusable="false" class="xui-icon" title="Close" aria-label="Close"> <use xlink:href="#xui-icon-cross" role="presentation" /></svg>
//   </button>
//   <p class="xui-banner--message">Banner with secondary message</p>
//   <div class="xui-banner--messagedetail">Secondary message</div>
//   <ul class="xui-banner--actions">
//     <li class="xui-banner--action"><button class="xui-button xui-button-borderless-main xui-button-small" type="button">Action</button></li>
//     <li class="xui-banner--action"><button class="xui-button xui-button-borderless-main xui-button-small" type="button">Action</button></li>
//   </ul>
// </div>
//
// Styleguide: Building Blocks.Alerts.Banner.2

// Sentiment
//
// Tips:
// Do: When using sentiment, use descriptive text like "We are unable to load your data due to a problem with your internet connection"
// Dont: When using sentiment, avoid vague text like "Internet connection"
//
// Positive and negative sentiment can be applied to banners by adding the following modifiers to `xui-banner`.
//
// Use descriptive text alongside colour sentiment to convey information so it’s still meaningful to people who can’t discern colour.
//
// Definitions:
// Positive: Adds green border: `-positive`
// Negative: Adds red border: `-negative`
//
// Markup:
// <div class="xui-banner xui-banner-layout xui-banner-positive" role="status">
//   <button type="button" class="xui-button xui-button-icon xui-banner--close" title="Close" aria-label="Close">
//       <svg focusable="false" class="xui-icon" title="Close" aria-label="Close"> <use xlink:href="#xui-icon-cross" role="presentation" /></svg>
//   </button>
//   <p class="xui-banner--message">Banner message</p>
// </div>
// <div class="xui-banner xui-banner-layout xui-banner-negative" role="status">
//   <button type="button" class="xui-button xui-button-icon xui-banner--close" title="Close" aria-label="Close">
//       <svg focusable="false" class="xui-icon" title="Close" aria-label="Close"> <use xlink:href="#xui-icon-cross" role="presentation" /></svg>
//   </button>
//   <p class="xui-banner--message">Banner message</p>
// </div>
//
// Styleguide: Building Blocks.Alerts.Banner.3

// Animation
//
//
// To draw attention to banners on entry, animate them by adding the following modifier to `xui-banner`.
//
// Classes:
// -animated: Animates vertical position
//
// Styleguide: Building Blocks.Alerts.Banner.3

// Accessibility
//
// It is recommended to use the `alert` role when using the error banner variant.
// Only use this role when you require the user's immediate attention.
// For further information about this role, refer to the [MDN documentation](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_alert_role).
//
// Use the `status` role when presenting any other information that doesn't justify using the alert role.
// For further information about this role, refer to the [MDN documentation](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_status_role).
//
// Styleguide: Building Blocks.Alerts.Banner.4

.#{$ns}-banner {
	background-color: $xui-banner-bg-color;
	border-radius: $xui-radius;
	box-shadow: $xui-shadow-border-all;
	color: $xui-banner-color;
	opacity: 1;
	position: relative;
	transition: opacity $xui-motion-speed-fast $xui-motion-curve-standard;
}

.#{$ns}-banner-positive {
	@include xui-highlight-left($xui-banner-positive-bg-color, $xui-radius, true);
}

.#{$ns}-banner-negative {
	@include xui-highlight-left($xui-bannger-negative-bg-color, $xui-radius, true);
}

.#{$ns}-banner-layout {
	@include xui-padding($xui-s-2xsmall);
	@include xui-margin-bottom($xui-s-large);
	@include xui-margin-horizontal(auto);

	display: inline-block;
	width: 100%;

	@include xui-breakpoint-small-down {
		border-left: 0;
		border-right: 0;
		border-top: 0;
		margin-top: 0;
		width: 100%;

		&::before {
			border-radius: 0;
		}
	}

	.#{$ns}-banner--message {
		margin: 0;
		padding: $xui-s-xsmall $xui-s-small;
	}

	.#{$ns}-banner--messagedetail {
		@include xui-margin-vertical($xui-s-xsmall);
		@include xui-margin-horizontal($xui-s-xsmall);
	}

	.#{$ns}-banner--action {
		margin: $xui-s-2xsmall;
	}

	.#{$ns}-banner--close ~ .#{$ns}-banner--message {
		max-width: calc(100% - #{$xui-control-size-small + $xui-s-xsmall});
	}

	.#{$ns}-banner--close ~ .#{$ns}-banner--messagedetail {
		max-width: calc(100% - 40px);
	}
}


.#{$ns}-banner--message,
.#{$ns}-banner--actions {
	display: inline-block;
}

.#{$ns}-banner--messagedetail {
	color: $xui-banner-message-color;
}

.#{$ns}-banner--actions,
.#{$ns}-banner--close {
	float: right;
}

.#{$ns}-banner--actions {
	margin: 0;
	padding: 0;
}

.#{$ns}-banner--close {
	margin: $xui-s-2xsmall;
}

.#{$ns}-banner--action {
	display: inline-block;
	font-weight: bold;
}

@keyframes #{$ns}-banner-animation {
	0% {
		margin-top: -$xui-s-large;
		opacity: 0;
	}

	100% {
		margin-top: 0;
		opacity: 1;
	}
}
