$initialGroups: (
	ab: 	#F6534E,
	cd: 	#FA8100,
	ef: 	#F8A900,
	ghi:	#57C40A,
	jkl: 	#51DAAF,
	mno: 	#3ADCF6,
	pqr: 	#2BAAED,
	st: 	#5C5CE6,
	uvw: 	#A352CC,
	xyz: 	#FF66CC
);

.c-avatar {
	border-radius: 50%;
	color: #FFFFFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	display: block;
}

.c-avatar--initials {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	font-weight: 500;
}

.has-image {
	background-size: cover;
}

@each $group, $color in $initialGroups {
	.c-avatar-#{$group} {
		background: $color;
	}
}



